[2018-02-28 13:59] StephMSlack commented on #104
thanks @pipe-manta

[2018-02-28 14:13] angievanhegan commented on #101
@StephMSlack I think this is a bug. I'm going to log it as a new issue.

[2018-02-28 14:18] angievanhegan opened #163 "Title for download not overriding file name"
The file name is always displaying and it won't display the description field. I thought it was just on this resource,
http://bgs-dev.mrmdev.co.uk/dysphagia-management-for-older-people-towards-the-end-of-life but I've had a look and I think it might be everywhere.

![screen shot 2018-02-28 at 09 19 40](https://user-images.githubusercontent.com/3796718/36792447-9d71832c-1c68-11e8-88f6-348bfab339c6.

[2018-02-28 14:22] StephMSlack commented on #56
@angievanhegan This is huge!

Is it possible to be able to choose a size? EG - this size would probably work really well for a series of posters from our conference.

But if we wanted a slideshow of event images with some text shaping around it, the images would be way too large. (I assume we could have it left or right aligned with text shaping around it?)

[2018-02-28 14:33] angievanhegan commented on #56
@StephMSlack It's just a full column slideshow (with a right hand column), like the design. But I know what you mean! I'd assumed that if you have a slideshow it's because you're wanting to really show off the images and have people look at them. If the images are to add colour and interest to a page, I'd imagine that you'd be adding static images with the text flowing around them. Do you need us

[2018-02-28 14:59] meldera commented on #162
![please-f5](https://user-images.githubusercontent.com/29143534/36794337-f8398140-1c97-11e8-9978-dd389bce558f.png)

[2018-02-28 15:02] cat-manta commented on #130
@StephMSlack All the colours I have used are from the branding guidelines, are you having issues creating new images for the promos?

[2018-02-28 15:06] meldera commented on #97
try username instead (angietheadmin)

[2018-02-28 15:11] meldera commented on #161
Current functionality requirements are not compatible with formats other than .pdf
If this has to be changed, they will loose the automatic cover generation.
Otherwise attachments will have to be used for formats other than .pdf

[2018-02-28 15:42] angievanhegan commented on #160
@cat-manta I think:

1. We should lose the CPD points thing (it's too much detail here)
2. We ought to make it clear whether a card is a resource, an event, a blog item, a news item or a policy update
3. Blog posts will always have an image
4. Policy updates and news items may have an image
5. What do you think about making sure that dates are all placed more consistently?
6. Would it look better

[2018-02-28 15:47] #162 closed

[2018-02-28 15:48] angievanhegan commented on #136
@StephMSlack This is ready for you to review/sign off. Thanks

[2018-02-28 15:51] angievanhegan commented on #161
@meldera So if it's a word doc it would require a cover image? Or we'd have to rebuild it to enable Drupal to create a cover image from a Word doc?

[2018-02-28 15:53] pipe-manta commented on #141
@angievanhegan ISSUE 1 done

[2018-02-28 15:55] angievanhegan commented on #143
@pipe-manta This looks great. Thanks 👍

@StephMSlack This is ready for you to sign off. You can make a policy page sticky by ticking the box in the 'publishing options' tab.

![screen shot 2018-02-28 at 10 53 35](https://user-images.githubusercontent.com/3796718/36797400-d9137496-1c75-11e8-950f-6ee90d912c42.png)

[2018-02-28 15:59] cat-manta commented on #160
1. Sure can do
2. Maybe we need to look at tagging the type of content, because this makes sense but we would lose the type of resource and event
3. Do I need to add images to the design?
4. Ditto ^
5. The dates weren't placed properly because I hadn't updated the title text, have done this now :)
6/7. @ican-icant ?

[2018-02-28 16:22] angievanhegan opened #164 "Migrate resources from XML file"
Estimated at 3 days @ £560 + VAT

[2018-02-28 16:23] meldera commented on #161
@angievanhegan All resources will require cover images to be manually uploaded, regardless of what the file format is.

[2018-02-28 16:30] russ-manta commented on #138
@meldera is it possible to use this module for this? https://www.drupal.org/project/filefield_sources

[2018-02-28 16:46] angievanhegan commented on #163
@StephMSlack This has been fixed now.

[2018-02-28 16:50] angievanhegan commented on #77
@pipe-manta Can you look at issue 4 please? Thanks

[2018-02-28 17:04] pipe-manta commented on #77
@angievanhegan ISSUE 4 done

[2018-02-28 17:25] angievanhegan commented on #141
@pipe-manta thank you.

[2018-02-28 17:49] angievanhegan commented on #142
@pipe-manta A little bit more for you

[2018-02-28 17:51] angievanhegan commented on #140
@pipe-manta See issue 1 (please) thank you

[2018-02-28 18:03] angievanhegan commented on #160
@cat-manta

1. Ta
2. I think the type of content is more important than the sub type
3. yes please
4. Ditto
5. I don't think you updated it...

[2018-02-28 18:08] angievanhegan commented on #163
@pipe-manta this was fixed and now it's broken again

![screen shot 2018-02-28 at 13 07 39](https://user-images.githubusercontent.com/3796718/36804370-62a347c4-1c88-11e8-9d5c-8082d533720e.png)

[2018-02-28 18:11] angievanhegan opened #165 "Migrate content for archive section"
Estimate: 1/2 day for this at £560 (+VAT) per day

**BLOCKER** What to do about filter pages
- [About us > Archive > Biographies](http://www.bgs.org.uk/geriatricmedicinearchive/bgsarchive/biographies)
- [About us > Archive > Geriatric history](http://www.bgs.org.uk/geriatricmedicinearchive/bgsarchive/geriatricshistory)

[2018-02-28 18:18] angievanhegan opened #166 "Enable a google map to be added as a resource"
A resource would be created as normal, instead of having text content in the main body, it should show a google map. BGS would like to do this to show all the research centres.

Drupal link: http://bgs-dev.mrmdev.co.uk/resources/princesa-the-pooch (2 maps added in 2 regions)

[2018-02-28 18:21] angievanhegan opened #167 "Logging into content gives error message"
![screen shot 2018-02-28 at 13 19 04](https://user-images.githubusercontent.com/3796718/36805074-67d2fee0-1c8a-11e8-8e92-b05751a218e7.png)

Also, if you're looking at a resource which prompts you to log in, it take you to the login page, then when you login you end up at the home page and have to find the resource again. Please can you be returned back to the page which prompted the login.

[2018-03-01 10:32] StephMSlack commented on #161
@angievanhegan I've added an attachment nugget to this resource http://bgs-dev.mrmdev.co.uk/how-to-get-funding-and-fellowship-applications
The attachment nugget within the main content block hasn't been styled to fit our design (we haven't needed it so far!) but if we could update the look a bit, we should be able to make it work (v's using the attachment nugget in the RHS). See what you think

[2018-03-01 10:37] StephMSlack commented on #143
@pipe-manta @angievanhegan Could I have permission to edit the text on the landing page?

[2018-03-01 14:13] pipe-manta commented on #134
@angievanhegan You can check all the tasks, but need all the Civi staff and Events card/landing page to be finished.

[2018-03-01 14:23] #163 closed

[2018-03-01 14:32] angievanhegan commented on #161
@StephMSlack Yes@ The nugget in main content seems to work fine to me. I'll pass it to Cat to ask for some design.

@cat-manta Some of the resources are going to need a couple of additional documents. We don't want to add them to the right hand column because the sticky nav will mean people can't get to it.  We'd like to add a nugget in the main content. I've added content, but it needs a bit of d

[2018-03-01 14:39] meldera commented on #138
@russ IMCE won't work with paragraph fields. Only autocomplete could be considered if such experience would be acceptable.

[2018-03-01 14:53] angievanhegan commented on #140
@ican-icant are you happy with this presentation of the [topics links](http://bgs-dev.mrmdev.co.uk/the-other-%E2%80%9Cf%E2%80%9D-word)?  We tried to make it like the [resources page](http://bgs-dev.mrmdev.co.uk/dysphagia-management-for-older-people-towards-the-end-of-life), but it doesn't look quite right

[2018-03-01 15:56] angievanhegan commented on #143
@pipe-manta see issue 7. Thanks

[2018-03-01 15:59] angievanhegan commented on #134
@pipe-manta Would you be able to tick all the boxes on here to show what's been done?  Thanks.

[2018-03-01 16:05] angievanhegan commented on #141
@pipe-manta Why is this one in blocked? And can issue 3 be done? Thanks

[2018-03-01 16:11] angievanhegan opened #168 "Explanatory text for resource type not appearing"
http://bgs-dev.mrmdev.co.uk/quick-guide-to-support-patients%E2%80%99-choices-to-avoid-long-hospital-stays

![Screen Shot 2018-03-01 at 11.11.07.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/bc5446b8-4a78-4759-8d8c-56be41297ec0)

[2018-03-01 16:17] ican-icant commented on #140
@angievanhegan     @pipe-manta @cat-manta

 I agree it doesn't look right and I suggest removing it as it's obvious they are tagged. The only way this will be OK is to add, like resources, a Date published title too and display the date under it

[2018-03-01 16:20] angievanhegan commented on #77
@pipe-manta I'm not sure ISSUE 3 is quite right. For example: [Princesa the pooch](http://bgs-dev.mrmdev.co.uk/princesa-the-pooch) suggests [NICE quality page](http://bgs-dev.mrmdev.co.uk/nice-quality-standard-on-transient-loss-of-consciousness) and I can't see they have a topic or a document type in common.

[2018-03-01 16:22] angievanhegan commented on #140
@pipe-manta Sorry about this, please can you remove the topic heading from the Blog page, the news page and the policy update page (so that they look like they did before. Sorry.

[2018-03-01 16:25] cat-manta commented on #160
@angievanhegan I've updated the design

[2018-03-01 16:26] cat-manta commented on #160
@angievanhegan Steve doesn't think images should go on this page, not sure if that's possible though

[2018-03-01 16:33] angievanhegan commented on #97
@StephMSlack I have created this resource with my editor login. Do you want to see if you can publish it as you have a web admin login.

[2018-03-01 16:34] angievanhegan commented on #134
@ican-icant So, are we putting a pink line at the top of call the cards on this page? Rather than different colours for each of the four types? Thanks

[2018-03-01 16:49] angievanhegan opened #169 "Make sure all landing pages default list is most recent first"
# Done criteria
- [x] Policy and Media - http://bgs-dev.mrmdev.co.uk/policy-and-media
- [x] Blog - http://bgs-dev.mrmdev.co.uk/blog
- [x] Resources - http://bgs-dev.mrmdev.co.uk/resources

(Groups are sorted alphabetically)

[2018-03-01 16:51] angievanhegan commented on #160
@StephMSlack This is ready for you to sign off. As per Cat's comment above, Steve is keen that we don't use images on this page to keep it uncluttered and easier to read and understand what’s what.

[2018-03-01 17:14] cat-manta commented on #161
@angievanhegan I've added extra attachments to the bottom of the resource node design:
https://invis.io/4EDQ458R5#/266499635_Resource-Node

[2018-03-01 17:26] angievanhegan commented on #161
@cat-manta Lovely. Thank you. @pipe-manta A little bit more work for you! Thank you both.

[2018-03-01 20:34] StephMSlack commented on #160
Thanks @angievanhegan @cat-manta
One thing - could we lose the section label on the image? Speaking to the team here they have agreed that we don't need to highlight/differentiate between a SIG & a Section except in the relevant SIG/Section page title.
I'll circulate to the team for review

[2018-03-01 20:50] StephMSlack commented on #136
@angievanhegan @cat-manta - this feels a little lopsided to me. The email address is indented but then flows over the to right while the beginning of the 3 buttons below are in alignment with the login title, but then runs short of the password field above.

Sorry it just feels a little skewed to me, would you mind having another look?

[2018-03-01 21:06] StephMSlack commented on #104
@angievanhegan is there anyway that for topics you can only choose from the topics taxonomy? I just added new topics in the content page which ended up replicating one topic and creating another (with a spelling mistake :) )

I think it might be wise to lock things down a little so people don't accidentally add new topics or replicate them as I assume these are the fields we are using for the topi

[2018-03-01 21:51] StephMSlack commented on #56
@angievanhegan will we be able to add the photo gallery nugget to an event page? We are looking at using the gallery nugget as post event content where we can add our event abstract posters.

With that in mind - is there anyway that we can add PDFs to the gallery? turning a pdf into a jpeg/png that is readable becomes a very large file, which becomes very slow to load on the page.

Also is there a

[2018-03-01 21:55] StephMSlack commented on #130
Hi @cat-manta Doh, not thinking! My colleagues have access to photoshop & had a go at adding the colour wash to an image, but it didnt quite look the same :) The sample is on the bottom of my test page http://bgs-dev.mrmdev.co.uk/about/sandbox/stephs-test-page

[2018-03-01 22:00] StephMSlack commented on #130
@angievanhegan this is good to go as the static version - I cant seem to get the parallax version working?

[2018-03-01 22:16] StephMSlack commented on #137
@dilwarhussain @angievanhegan Sorry, I just tried to add a member update and don't seem to be able to find where to add it to the page

[2018-03-01 22:27] StephMSlack commented on #153
@angievanhegan tried adding this to test group 2 and it didn't work. But, I think I may have convinced them to do away with the section label on the site except in the title of the group, so we may not need this!

[2018-03-01 22:35] StephMSlack commented on #152
@angievanhegan @dilwarhussain this is much better, thanks!

[2018-03-01 23:03] StephMSlack commented on #150
@angievanhegan @dilwarhussain thanks for this. all good from here

[2018-03-01 23:24] StephMSlack commented on #107
@angievanhegan
should it grab your email automatically if you are logged in?
could I update the thank you message?
once the user has entered their email (or not) the download opens in the current tab - could it open in a new tab?
destination emails - not sure how long they should take to come through, but at this point they don't seem to be arriving
Once you have submitted your email, you see than

[2018-03-01 23:30] StephMSlack commented on #135
@angievanhegan - what order do the items appear in? Do I select what appears on the page or is it automatic? If automatic, there is the possibility that blog overwhelms any policy information relevant to the group, even though the policy information is older. If the editor can choose the content displayed & in what order, then combining is fine, but if automatic, then we might need to keep the blo

[2018-03-02 10:00] pipe-manta commented on #143
@angievanhegan  The body text come from the system page, they only need to change the boy field on the main content/content block. I have added a link on the top (only visible for editors) to edit the node.

http://bgs-dev.mrmdev.co.uk/node/299/edit

Any other field or nugget will be displaying.

[2018-03-02 10:48] pipe-manta commented on #140
@angievanhegan ISSUE 1 and Topic label done

[2018-03-02 10:52] cat-manta commented on #130
@StephMSlack I've put together a Photoshop file in your Google Drive Design folder (below) with each colour promo so you can just swap out the image easily :) I've added comments on how to use each layer in the layer names, so hopefully it's straightforward to use, but I'm happy if you or anyone else wants a quick zoom chat to go through the file.

https://drive.google.com/file/d/1Iq_Cu4K4eIeksJRv

[2018-03-02 13:03] angievanhegan commented on #133
@StephMSlack Can you confirm whether or not you want the section label on here too. Thanks

[2018-03-02 13:18] angievanhegan commented on #136
@cat-manta Can you have a look at this with regard to Steph's feedback? Thanks very much.

[2018-03-02 13:23] angievanhegan commented on #104
@meldera At the moment, people can add a topic by adding a word into the 'topics' field on the content page. Are we able to prevent people from doing this and make sure they can only be added via Structure > Taxonomy > Topics in the Drupal Nav? Thanks

[2018-03-02 13:28] angievanhegan opened #170 "Ensure slideshow meets needs for events content"
@angievanhegan will we be able to add the photo gallery nugget to an event page? We are looking at using the gallery nugget as post event content where we can add our event abstract posters.

With that in mind - is there anyway that we can add PDFs to the gallery? turning a pdf into a jpeg/png that is readable becomes a very large file, which becomes very slow to load on the page.

Also is there a

[2018-03-02 13:30] angievanhegan commented on #56
@StephMSlack I've created a new issue (#170 and captured all these requirements in it so that when we come to the events section we can make sure it can take a PDF, a portrait image (and we can tweak the text alignment while we're at it). I'm assuming I can sign this off for now though so I'm moving it to done.

[2018-03-02 13:30] #56 closed

[2018-03-02 13:36] angievanhegan commented on #137
@StephMSlack I put a note at the top, but with hindsight it's not very clear! If you search for the content type 'member update' you see it (there's only one). If you edit that you'll see the fields to add it to a group:
![screen shot 2018-03-02 at 08 34 34](https://user-images.githubusercontent.com/3796718/36901344-d7072a8c-1df4-11e8-8e1c-8b1153013342.png)

[2018-03-02 13:38] angievanhegan commented on #153
@StephMSlack OK - I'll wait until you confirm if we need it or not. As long as you know there might not be space to add it onto the card title in the text (but it'd almost certainly be fine in the page title at the top of the group page)

[2018-03-02 13:39] #152 closed

[2018-03-02 13:39] #150 closed

[2018-03-02 13:43] angievanhegan commented on #107
@StephMSlack

1. Can we let people provide their own email? Just to keep it simple
2. Please can you provide new thank you text?

[2018-03-02 13:48] angievanhegan commented on #135
@StephMSlack This issue is about enabling tagging by group. Let's discuss this issue in the group pages issue #134. Are you happy to sign this issue off?

[2018-03-02 13:51] angievanhegan commented on #134
(comment from  @StephMSlack) @angievanhegan - what order do the items appear in? Do I select what appears on the page or is it automatic? If automatic, there is the possibility that blog overwhelms any policy information relevant to the group, even though the policy information is older. If the editor can choose the content displayed & in what order, then combining is fine, but if automatic, then

[2018-03-02 13:51] angievanhegan commented on #134
@ican-icant Are we putting the pink lines at the top of all these cards?

[2018-03-02 13:53] ican-icant commented on #134
@angievanhegan I would

[2018-03-02 13:54] angievanhegan commented on #143
@StephMSlack See not from pipe above on how to edit the content at the top of the page.

[2018-03-02 13:54] ican-icant commented on #134
@angievanhegan do I need to do anything else?

[2018-03-02 13:55] angievanhegan commented on #140
@pipe-manta Thank you so much! @StephMSlack this is ready for you to sign off.

[2018-03-02 14:00] angievanhegan commented on #141
@StephMSlack Ready for you to sign off.

[2018-03-02 14:01] angievanhegan commented on #130
@pipe-manta Can you show us how to make the parallax version work please? Thanks

[2018-03-02 14:01] #168 closed

[2018-03-02 14:03] angievanhegan commented on #142
@StephMSlack This is ready for you to sign off.

[2018-03-02 14:04] angievanhegan commented on #161
@pipe-manta Nice! @StephMSlack Ready for you to sign off.

[2018-03-02 14:09] angievanhegan commented on #134
@pipe-manta I think there's still some styling tweaks for the cards:

![screen shot 2018-03-02 at 09 08 37](https://user-images.githubusercontent.com/3796718/36902699-68618398-1df9-11e8-8fad-547b55fac6d6.png)
![screen shot 2018-03-02 at 09 08 44](https://user-images.githubusercontent.com/3796718/36902700-68809774-1df9-11e8-8842-4685a316aea3.png)

[2018-03-02 14:10] #112 closed

[2018-03-02 14:10] #94 closed

[2018-03-02 14:13] angievanhegan commented on #104
@meldera that isn't a good solution as there's going to be a hundred or so topics.

[2018-03-02 14:33] cat-manta commented on #136
@StephMSlack I've cleaned up the layout a bit

[2018-03-02 14:38] pipe-manta commented on #130
@angievanhegan It's the same functionality for all the promos, we just need to know if we can applied everywhere

[2018-03-02 14:44] russ-manta commented on #95
@meldera can you take another look?  It still seems to log me in the the remote journal even when logged out and I click the promo

[2018-03-02 14:47] angievanhegan commented on #45
I'm closing this

[2018-03-02 14:47] #45 closed

[2018-03-02 14:52] ican-icant commented on #136
deleting the thin grey line will help too @cat-manta

[2018-03-02 14:57] angievanhegan commented on #104
@meldera That is perfect. Thanks. Can you confirm the places it's been added, or do you need me to list where it needs to go?

[2018-03-02 15:00] russ-manta commented on #103
@meldera the sticky nav is definitely not wokring correctly on this page: http://bgs-dev.mrmdev.co.uk/boxni-the-dog  and it's not obviously a problem with content as I've tried swapping the body and summsry content over from this working page http://bgs-dev.mrmdev.co.uk/dysphagia-management-for-older-people-towards-the-end-of-life and it didn't make a difference.
Can you advise what's wrong with t

[2018-03-02 15:08] russ-manta commented on #138
@StephMSlack @angievanhegan  the only way we can do this is to add an autocomplete field to the image upload field which means you can add existing images providing you know the name of the image file - see the example in the attached 'Existing file auto-complete' - does this work for you?
![filefield-sources](https://user-images.githubusercontent.com/25846670/36905444-4534a5f8-1e2b-11e8-818c-e4a0

[2018-03-02 15:24] meldera commented on #103
Please schedule a meeting and I'll explain...

[2018-03-02 15:29] pipe-manta commented on #134
@angievanhegan Resources are done (fixed high as on the other places), but Latest events feed need to be done after Event's landing page

[2018-03-02 15:45] meldera commented on #166
Correct. Give permission to use the iframe paragraph and restrict allowed domains on the front end.

[2018-03-02 15:46] meldera commented on #104
Added everywhere.

[2018-03-02 16:12] angievanhegan commented on #104
@StephMSlack This is ready for you to sign off.

[2018-03-02 18:24] angievanhegan commented on #130
@pipe-manta So, do they have to be parallax or all normal?

[2018-03-02 18:26] angievanhegan commented on #103
@russ-manta can you call Arseni please?

[2018-03-02 18:29] angievanhegan opened #171 "Ensure events cards look ok on group landing page"

[2018-03-02 18:31] angievanhegan commented on #134
@pipe-manta As per the wireframe, this should be able to show a twitter feed at the top. The box above is ticked so I think it's already done, I just can't see how to add it. Please can you add one to show me? Thank you very much.

[2018-03-02 18:34] angievanhegan commented on #166
@russ-manta Can this be enabled please? It'd be great if you can add an example for me/Steph to see. Thanks

[2018-03-05 17:47] angievanhegan commented on #77
@StephMSlack Steve has confirmed that building this to enable you to have programatic AND manual selection of related resource is out of scope. You can either choose which one you'd rather have, or we can give you a quote for having it to do both. Thanks

[2018-03-05 17:49] angievanhegan commented on #130
@StephMSlack Steve has confirmed that having the option to have parallax OR normal view is out of scope. You can choose the one you prefer, or we can provide a quote for giving you the option to do both. Thanks.

[2018-03-06 09:48] StephMSlack commented on #77
@angievanhegan @ican-icant - Could you give me a quote to have both? thanks

[2018-03-06 11:07] StephMSlack commented on #130
@angievanhegan @ican-icant - Parallax version please. Could you let me know how much for the static option and I can see if it makes financial sense to have both?

[2018-03-06 11:07] StephMSlack commented on #130
thanks @cat-manta

[2018-03-06 11:20] StephMSlack commented on #138
@russ-manta I need to show this to Recia and get her thoughts as she will be the one using the system on a daily basis. Is there somewhere in drupal that I can have a look/try how it works?

[2018-03-06 11:32] StephMSlack commented on #138
@russ-manta - from Recia
Hopefully Recia has interpreted your comment correctly (see below). If so, then yes, that should be fine.
If you have a few minutes to talk through it this afternoon, that would be helpful as well.

"This looks okay, I think. I’m prepared to try anything that doesn’t involve uploading the same image over and over again. If I understand Russ correctly, we will just need to

[2018-03-06 11:54] StephMSlack commented on #136
Thanks @cat-manta, I'll take it to the team to review

[2018-03-06 12:08] StephMSlack commented on #142
@angievanhegan we will need more than 4 blogs on the landing page before pagination. Ideally at least 12, preferably 16...

[2018-03-06 14:15] angievanhegan opened #172 "Problem adding email address when creating a team page"
the link is turning into “s [dot] slack [at] bgs [dot] org [dot] uk (subject: Contact%20fromBGS%20website) (Email Stephanie) for more information”

Example: - http://bgs-dev.mrmdev.co.uk/mrs-stephanie-slack

[2018-03-06 16:12] angievanhegan commented on #130
@russ-manta please can you provide a quote as per Blocker 1 above

[2018-03-07 14:33] angievanhegan opened #173 "Breadcrumb not working"
News and policy updates appear as: home > home > content
Blog appear as: home > content
Resources appear as:  home > content

[2018-03-07 14:34] angievanhegan opened #174 "Block quote overlapping image"
http://bgs-dev.mrmdev.co.uk/%3Cfront%3E/palliative-care-provisions-are-not-meeting-the-needs-of-an-ageing-population

![Screen Shot 2018-03-07 at 09.34.11.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/fc258e20-568a-43d9-b723-d3d1773c9a22)

[2018-03-07 15:07] angievanhegan opened #175 "Type ahead function (for authors dropdown in search pages)"
Question from Steph: looking at the authors in the search  - the drop down might start to get quite messy once we have lots of authors in the database. I know we use the type ahead function in drupal - is it a lot of work to add this to the front end? Or somethign else that the devs think of?

[2018-03-07 17:15] angievanhegan commented on #151
@StephMSlack following on from the feedback today, is this the proposal for the global nav?
![screen shot 2018-03-07 at 12 11 41](https://user-images.githubusercontent.com/3796718/37106993-2b9475f4-2201-11e8-8a06-d18af97e1ba0.png)

[2018-03-08 14:23] russ-manta commented on #138
@StephMSlack I've now added this functionality to the image field on the Conten block nugget. If you create some content with a Content block you should see a link for 'reference existing' on the image field.  Click this and start entering a file name (just type 'a') in the autocomplete field to select an existing image and then crop etc as normal.  See what you think..
![select-existing-image](ht

[2018-03-08 15:02] StephMSlack commented on #104
@angievanhegan - this is now working & good to go.
Re:  "ISSUE: When a user clicks the link to a topic, the search results page is displayed showing all the resources tagged with that topic (not sure how they should be sorted)" they should default sort to the most recently published.

[2018-03-08 15:31] StephMSlack commented on #82
@angievanhegan - re: authors - at the moment it doesn't de-dupe authors so I have accidentally added the same author twice. Is there a way that we can avoid this happening? Not sure if this should link to #92?

[2018-03-08 15:36] StephMSlack commented on #101
@angievanhegan I'm having problems with

[2018-03-08 15:52] StephMSlack commented on #79
@angievanhegan Some odd things on the landing page:
Different numbers of resources appearing when logged in v's logged out
![screen shot 2018-03-08 at 15 46 26](https://user-images.githubusercontent.com/32127102/37160347-ea138c9a-22e7-11e8-8d72-8aff889770c4.png)
When moving to a new page, the search is automatically opening, even though the user hasnt used the search function (both card and list v

[2018-03-08 16:00] StephMSlack commented on #96
@angievanhegan email is still showing as mandatory when providing feedback
![screen shot 2018-03-08 at 15 58 53](https://user-images.githubusercontent.com/32127102/37161136-cc54b308-22e9-11e8-8b3e-781d3ff932e8.png)

[2018-03-08 16:06] StephMSlack commented on #102
@angievanhegan the card content is now visible on the series landing page - is it supposed to be this way? The impact is that the cards are now all different sizes
![screen shot 2018-03-08 at 16 05 31](https://user-images.githubusercontent.com/32127102/37161439-99bf04e2-22ea-11e8-9f8d-45ebc9a9b303.png)

[2018-03-08 16:12] angievanhegan commented on #151
@cat-manta Steph has confirmed that these wireframes are right. She'd prefer it to be on one line if possible.

[2018-03-08 16:27] angievanhegan commented on #136
Steph's going to give us some feedback from Colin and Geraint.

[2018-03-08 16:44] angievanhegan opened #176 "External event payment"
Estimate: 5 days at £560 + VAT
**There's a line in the proposal for event submission and payment (non BGS events) for 5 days @ £500. This covers the entirety of this work**

# Done criteria
- [x] Payment
- [ ] ~Build and style landing page (no search or filters needed)~
- [ ] ~Events furthers into the future are at the bottom of the page (soonest events at the top)~
- [ ] ~Build and style node pag

[2018-03-08 16:44] angievanhegan commented on #176
@russ-manta This one also needs costing and estimating please. Thanks

[2018-03-08 16:57] StephMSlack commented on #133
@angie just looking at the groups page - we will need to be able to add content/images potentially beyond the feeds. Can the additional or top content have the standard content nuggets enabled as well (and possibly the box links?)
The type of content could be:
- Mini article specific to the SIG - eg the Diabetes SIG has a session at the BGS conference in April, here is what we are discussing and w

[2018-03-08 16:59] StephMSlack commented on #133
@angievanhegan - no we do not want the section label on these boxlinks

[2018-03-08 17:02] StephMSlack commented on #134
@angie just looking at the groups page - we will need to be able to add content/images potentially beyond the feeds. Can the additional or top content have the standard content nuggets enabled as well (and possibly the box links?)
The type of content could be:

Mini article specific to the SIG - eg the Diabetes SIG has a session at the BGS conference in April, here is what we are discussing and wh

[2018-03-08 22:55] #104 closed

[2018-03-08 22:57] angievanhegan commented on #104
@StephMSlack I just tried to log the issue and tested it to confirm and it seems to already do what you want already. See POPS for example

http://bgs-dev.mrmdev.co.uk/resources?tag=788

[2018-03-08 22:58] angievanhegan commented on #82
@StephMSlack I'll add this as a new issue which we can do if it's a quick one.

[2018-03-08 22:58] #82 closed

[2018-03-08 23:00] angievanhegan opened #177 "Prevent editors from creating duplicate authors"
Is there a simple way to prevent BGS from accidentally creating duplicate authors?  If it's more involved, please can you provide a quote? If it can be done, please add an estimate.

http://bgs-dev.mrmdev.co.uk/admin/structure/taxonomy/authors

[2018-03-08 23:04] angievanhegan opened #178 "Resources - filter by latest"
- [ ] ~**ISSUE 1** Please make the 'latest' filter sort on last edited date (not published date). ~
- [x] ~~The filter seems to show the oldest first. Please can it show the most recently published first.~~
- [x] ~~Please can the blog filter say 'latest' rather than 'date' so that it's working in exactly the same way as Resources and Policy & Media~~

Drupal link:http://bgs-dev.mrmdev.co.uk/resour

[2018-03-08 23:06] #79 closed

[2018-03-08 23:08] angievanhegan opened #179 "Number of resource results different whether the user is logged in out"
Logged out see 21 resources, logged in users see 25. These numbers should be exactly the same.

[2018-03-08 23:16] #133 closed

[2018-03-08 23:18] angievanhegan commented on #134
@StephMSlack Isn't this exactly why we've created the member alert on a group page?

[2018-03-09 10:01] meldera commented on #179
Some are unpublished

[2018-03-09 14:59] angievanhegan commented on #179
@StephMSlack Simple answer! See Arseni's comment above.

[2018-03-09 16:12] angievanhegan commented on #134
Angie to check the twitter feed.
Issue 2 still needs doing.

[2018-03-09 16:30] angievanhegan commented on #177
Angie and Dilwar to talk to Russ. Could we just lose the taxonomy.

[2018-03-09 16:31] angievanhegan commented on #102
@StephMSlack This is so easily solved! You just don't put any text into the card summary field! :D

[2018-03-09 16:33] angievanhegan commented on #109
Dupe of #164

[2018-03-09 16:33] #109 closed

[2018-03-12 14:31] #173 closed

[2018-03-12 14:42] angievanhegan commented on #142
@StephMSlack there are now 20 blogs on a page. Are you happy to sign this off?

[2018-03-12 14:47] angievanhegan commented on #178
@dilwarhussain Please can the dropdown filter on blog say 'latest' instead of 'date' so that the filters on Blog, Resources and Policy & Media are all the same. Thanks

[2018-03-12 15:02] angievanhegan commented on #174
This is ready to sign off.

[2018-03-12 15:03] angievanhegan commented on #178
This is ready to sign off.

[2018-03-12 15:06] angievanhegan commented on #96
@StephMSlack Email is no longer mandatory. This can be signed off. Thanks

[2018-03-12 15:45] #169 closed

[2018-03-12 15:50] angievanhegan opened #180 "Policy & media landing page to show 20 results"
So that it's the same as the blog landing page. Thanks

Drupal link: http://bgs-dev.mrmdev.co.uk/policy-and-media

[2018-03-12 17:52] angievanhegan commented on #166
@dilwarhussain lovely. Thanks.
@StephMSlack This is ready for you to review. You can edit/add a map in the postscript section using the iframe nugget.

[2018-03-12 17:53] #180 closed

[2018-03-12 18:06] angievanhegan commented on #134
@StephMSlack The event cards and the officers (coming in from Civi) will be part of other tickets. Can the rest of this be signed off now? Thanks

[2018-03-12 18:09] angievanhegan opened #181 "Display officers on BGS group landing page"
# Done criteria
- [ ]  Pull through **officers and contacts** from Civi (display name (prefix, firstname, lastname, suffix) and email address
  - [ ] editors can edit the top content block for the group page but nothing else
  - [ ] editors cannot publish any changes
- [ ] **Group node** should link to the group in Civi.

# Links
- [Group in Drupal](http://bgs-dev.mrmdev.co.uk/proactive-care-of-ol

[2018-03-13 10:06] russ-manta commented on #165
@angievanhegan @StephMSlack I reckon 1/2 day for this at £560 (+VAT) per day

[2018-03-13 10:08] russ-manta commented on #157
@angievanhegan @StephMSlack I reckon 1/2 day for this at £560 (+VAT) per day

[2018-03-13 10:10] russ-manta commented on #164
@StephMSlack can you remind me where all the resources live by sending some links please?

[2018-03-13 11:28] dilwarhussain opened #182 "Rename feed dropdown options for Group latest/curated feeds"
# Done criteria
- [x] Separate names for Events/Resources/Blogs, News & Policy updates for both curated and latest feeds.

[2018-03-13 13:10] StephMSlack commented on #135
@angievanhegan can Policy & Media be combined with blog being that they sit in different parts of the site? It will look better if they are combined, but then we will need to show a combined 'see more' page. Is that possible?

[2018-03-13 13:26] StephMSlack commented on #107
@angievanhegan Colin would like a small text change. I've managed to change the title, but need to update the text below. Can you/one of the devs show me how?
Yes, can provide own email
Have updated the thank you text in the form.
Just need the other issues resolved now (5-7)

[2018-03-13 13:28] StephMSlack commented on #153
@angievanhegan I have confirmed, we dont need the section label on the group card. BGS have agreed not to use Section in the card title, it will just be used in the full title on their page.

[2018-03-13 13:33] StephMSlack commented on #137
@angievanhegan we need to be able to add an email address link to the member update

[2018-03-13 13:45] angievanhegan commented on #165
@StephMSlack Please let us know if you'd like us to go ahead with this.

[2018-03-13 13:48] angievanhegan commented on #164
@russ-manta Steph is going to put them all into an XML file as they are in various places. There is a top level 'Resources' section on the site which contains most of them. But this is a good start:

http://www.bgs.org.uk/publicationfind-2/resources/resourcesgeneralinfo/findapublicaton

[2018-03-13 13:49] #69 closed

[2018-03-13 13:50] angievanhegan commented on #100
see #166

[2018-03-13 13:50] #100 closed

[2018-03-13 13:53] angievanhegan commented on #135
@StephMSlack You're absolutely right. They're going to need to be separate. I'll create a new issue.

[2018-03-13 14:00] angievanhegan opened #183 "Add Blog updates to BGS group landing page"
At the bottom of the page the heading is 'Latest news, blogs & policy updates' but it's only showing the updates from the Policy and Media. We'll need to add another section for the Blog updates as we don't have a combined 'see latest' section to take them both too.

# Done criteria
- [x] Update heading 'Latest news, blogs & policy updates' to 'Latest news and policy updates'
- [x] Add new section

[2018-03-13 14:01] angievanhegan commented on #183
@dilwarhussain I think I could probably do some of this myself, but I got confused when looking at which feeds to select so I thought it was better to ask for help. Thanks

[2018-03-13 14:10] StephMSlack commented on #137
@angievanhegan I just need Recia to have a look at this and confirm she is happy with the functionality. As soon as I have that it will be all good to go

[2018-03-13 14:14] angievanhegan commented on #107
@dilwarhussain There's still some outstanding issues for this one. Thanks

[2018-03-13 14:14] #153 closed

[2018-03-13 14:15] angievanhegan commented on #137
@StephMSlack Great. There appears to be two on there just now. It's only designed to show one.

[2018-03-13 15:06] dilwarhussain commented on #103
Working as designed, only an issue when there are many navigation and download links and the sidebar goes beyond the viewport. Will come back to this depending on how much of an issue this is with real content/how many times this occurs.

[2018-03-13 15:27] StephMSlack commented on #137
@angievanhegan I know, but you can add two accidentally :) I was experimenting with how they look and the potential length of these. The expectation is that you would only ever have 1 alert per group.

Recia was asking if it is possible to add an image to the alert?

[2018-03-13 15:31] StephMSlack commented on #165
@angievanhegan @russ-manta is the back-up file from our current site useful at all in terms of extracting data?

[2018-03-13 15:38] russ-manta commented on #165
@StephMSlack it will be quicker to input the content manually, that's what my quote is based on

[2018-03-13 15:43] StephMSlack commented on #165
OK, thanks @russ-manta
@angievanhegan I'll let you know

[2018-03-13 16:04] StephMSlack commented on #134
@angievanhegan - cant seem to add a twitter feed. Am I missing something?

[2018-03-13 16:14] StephMSlack commented on #133
@angievanhegan Sorry - looking at the landing page, there no explanation about the groups - who they are and why they exist. I think we need to be able to add a few lines of content (as per blog and Policy landing pages) to provide more information.

[2018-03-13 16:40] StephMSlack commented on #135
@angievanhegan I cannot seem to add more than one group to a news page. eg if the NW thames group want the article on their feed and the Falls & bones group want it on theirs, I'd need to add both groups to the News page for it to show up in their feed. Is that correct?

[2018-03-13 16:44] StephMSlack commented on #133
@angievanhegan also the cards are not rendering very well in safari -
<img width="1440" alt="screen shot 2018-03-13 at 16 44 14" src="https://user-images.githubusercontent.com/32127102/37356402-c948ff0a-26dd-11e8-82cc-62008e1a7c2f.png">

[2018-03-13 17:02] StephMSlack commented on #137
@angievanhegan I've discussed the comments from you and Steve with Recia and she has agreed to go without the image.
this is fine to go

[2018-03-13 17:08] StephMSlack commented on #97
@angievanhegan I managed to publish the resource you added. Could I also have an alternate account to test this myself?

[2018-03-13 17:14] angievanhegan commented on #137
@StephMSlack thanks. I'm assuming it's signed off then - I'll move it to closed. One down...

[2018-03-13 17:14] #137 closed

[2018-03-13 17:15] angievanhegan opened #184 "Make sure you can only add one member alert at a time in the BGS groups"

[2018-03-13 17:16] StephMSlack commented on #143
@angievanhegan the search is feeling really unbalanced on this page. Its because the free text has been added (v's being above the advanced search options) and so the length of that column is different from the others and the search/clear buttons dont align with anything either.
<img width="1440" alt="screen shot 2018-03-13 at 17 14 08" src="https://user-images.githubusercontent.com/32127102/37358

[2018-03-13 17:18] StephMSlack commented on #143
Also, the cards aren't rendering well on Safari
<img width="1440" alt="screen shot 2018-03-13 at 17 16 51" src="https://user-images.githubusercontent.com/32127102/37358213-67b392f0-26e2-11e8-8a01-c132357cb8e3.png">
<img width="1440" alt="screen shot 2018-03-13 at 17 16 54" src="https://user-images.githubusercontent.com/32127102/37358219-6befc104-26e2-11e8-948d-ae43459a3a98.png">

[2018-03-13 17:18] angievanhegan commented on #134
@dilwarhussain can you show @StephMSlack and I how to add a twitter feed to this page please? Thanks

[2018-03-13 17:20] StephMSlack commented on #143
@angievanhegan the cards are all different sizes on mobile (iphone 6)

[2018-03-13 17:21] angievanhegan commented on #135
@StephMSlack Yes, that's right, you'd need to add both groups to the news page. Is that ok?

[2018-03-13 17:23] angievanhegan opened #185 "Check BGS Groups landing page in Safari"
http://bgs-dev.mrmdev.co.uk/bgs-groups

[2018-03-13 17:25] StephMSlack commented on #135
Hi @angievanhegan - at the moment I can only add 1 group on the news page. I've tried to add a second group to the article but the system will not let me add the second group.
<img width="1440" alt="screen shot 2018-03-13 at 17 23 55" src="https://user-images.githubusercontent.com/32127102/37358629-79e45b84-26e3-11e8-8e98-747334774f91.png">

[2018-03-13 17:25] angievanhegan opened #186 "Add a editable content block to the top of the BGS groups landing page"
http://bgs-dev.mrmdev.co.uk/bgs-groups

To enable an explanation of the groups to be added.

[2018-03-13 17:27] angievanhegan commented on #97
@dilwarhussain Please can you create an editor account for Steph (in addition to her Web Admin account)? Thanks

[2018-03-13 17:31] angievanhegan commented on #143
@ican-icant Please see Steph's comment on the alignment of the search fields on the Policy and Media landing page (the blog landing page also has the same alignment) and advise - I know they were tweaked before, but I do think they could probably look a bit neater. Thanks

[2018-03-14 09:53] StephMSlack commented on #142
@angievanhegan Just edited the Blog intro - the in-page link styling is off
![screen shot 2018-03-14 at 09 52 45](https://user-images.githubusercontent.com/32127102/37395170-8191d52a-276d-11e8-9627-223dd8d2347c.png)

[2018-03-14 09:56] dilwarhussain commented on #142
Thanks @StephMSlack we'll take a look at this.

[2018-03-14 10:36] StephMSlack commented on #140
@angievanhegan Sorry, a couple of things

**Comments**
the comment function is not working from a visual point of view.
Comments (I assume this is for comments that have been posted and approved) should only show if there has been a comment on this post. Otherwise it should not be visible.

The Title Comments / Add a new comment are very large and seem to be out of context with the rest of the pag

[2018-03-14 11:04] StephMSlack commented on #140
@angievanhegan Also, when I use a full width image, it isnt stretching across the width of the site and the rounded corners of the image are missing on the RHS.
http://bgs-dev.mrmdev.co.uk/blog/creating-a-%E2%80%98frail-friendly%E2%80%99-acute-medical-unit-not-rocket-science

[2018-03-14 11:16] StephMSlack commented on #140
@angievanhegan - should I be using the body field in the overview section for blogs, or should all content go in a content block in the main content section?
Currently there is very little space between the text added in the overview section and then the text in the main content section
An example is here http://bgs-dev.mrmdev.co.uk/blog/spring-speakers-series-developing-an-intervention-for-falls-

[2018-03-14 11:20] StephMSlack commented on #142
@angievanhegan @pipe-manta - Also, I'm not sure how the sort function works on this page and if its enabled yet? The sort options dont seem that suitable at the moment

[2018-03-14 11:44] StephMSlack commented on #140
@angievanhegan Does the related content function work for blogs? Or should we be using the RHS nuggets?

[2018-03-14 12:09] StephMSlack commented on #179
@angievanhegan thanks - I was hoping for the simple answer.

[2018-03-14 12:12] StephMSlack commented on #177
@angievanhegan @dilwarhussain I think this change has impacted the page somehow as you now see the author showing at the bottom of each page on the front end. It just seems to be happening in resources
![screen shot 2018-03-14 at 12 10 35](https://user-images.githubusercontent.com/32127102/37401676-c76e49d0-2780-11e8-8122-63e58fc1f026.png)
![screen shot 2018-03-14 at 12 10 44](https://user-images.

[2018-03-14 12:25] dilwarhussain commented on #177
@StephMSlack Sorry about that, should be fixed now 👍

[2018-03-14 12:26] dilwarhussain commented on #185
@angievanhegan @StephMSlack Can you guys check this on your versions of Safari, should be looking good now, thanks.

[2018-03-14 12:32] StephMSlack commented on #177
@dilwarhussain @angievanhegan
we also use authors in blog and policy. Could this be applied to these as well?

Also, is there a way to separate out the prefix/first name/surname? Otherwise we are going to get to the point in the list where all you will see is Dr XXXX XXXX as many of our authors will be Drs or professors

[2018-03-14 13:19] StephMSlack commented on #141
@angievanhegan the RHS related content nugget should not be sticky

[2018-03-14 13:22] StephMSlack commented on #174
@angievanhegan @dilwarhussain Sorry, now its not stretching full width when used further down the page
![screen shot 2018-03-14 at 13 21 15 2](https://user-images.githubusercontent.com/32127102/37404760-b1c49a6c-278a-11e8-8192-542ac8072b6b.png)

[2018-03-14 13:26] StephMSlack commented on #102
@angievanhegan -re: last comment - but we do want to tell people what the series is about, so card content is very helpful to have. Not sure why this page is working one way and the rest of the site differently?

[2018-03-14 14:03] russ-manta commented on #130
@angievanhegan  1 day for this

[2018-03-14 14:10] angievanhegan commented on #130
@StephMSlack Please can you let us know if you want us to go ahead with this option for you to be able to choose parallax or not on a promo by promo basis. Thanks

[2018-03-14 14:13] angievanhegan commented on #135
@StephMSlack I've checked this and it works. It's ready for you to sign off.

[2018-03-14 14:37] angievanhegan commented on #142
@StephMSlack At the moment we have latest, relevant (only useful when you've done a search as it will refer back to the search criteria and override the date sort) and popularity (based on hits to the page, which will make more sense once we're not on a dev site).

These are the standard ones we use and work in most scenarios. Is there any key search missing?

[2018-03-14 14:43] russ-manta commented on #77
@angievanhegan 1/2 day for this

[2018-03-14 14:43] #179 closed

[2018-03-14 14:43] StephMSlack commented on #97
@angievanhegan @dilwarhussain With this login, I could still edit and move the menu, add all types of content and publish a policy update & a blog. I couldn't publish resource.

How does the BGS web editor get notified that a resource has been created?

[2018-03-14 14:48] angievanhegan commented on #141
@dilwarhussain See issue 3. Thanks

[2018-03-14 14:49] angievanhegan commented on #174
@dilwarhussain please see Steph's comment above about the block not stretching full width. thanks

[2018-03-14 14:52] angievanhegan commented on #77
@StephMSlack This 'blocker' functionality has been estimated at 1/2 day which is £280 + VAT. Would you like us to go ahead with it? Thanks

[2018-03-14 14:58] #182 closed

[2018-03-14 14:59] angievanhegan commented on #97
@StephMSlack I've raised an issue for the first part. Sorry I didn't think to check all of that myself. I'm not sure why you couldn't publish though.

@dilwarhussain I've added issue 1 above.

[2018-03-14 15:08] StephMSlack commented on #161
@angievanhegan this download function is working fine
Is it possible for the attachment nugget to have its title left aligned? It starts to look out of place when centred on the page

[2018-03-14 15:17] StephMSlack commented on #140
@angievanhegan the blog and other pages are also going to need the scheduling function. Currently this has only been enabled on the resources.

[2018-03-14 15:21] angievanhegan commented on #161
@StephMSlack Sorry Steph, can you send me a screen grab so I know what you mean. Thanks.

[2018-03-14 15:44] russ-manta commented on #176
@angievanhegan 5 days for this

[2018-03-14 15:49] dilwarhussain commented on #107
Hey @StephMSlack
ISSUE 5 - I'll need @russ-manta to see if you can receive the emails while the site is in development.
ISSUE 6 - Downloads are opening in a new tab now
ISSUE 7 - I’ve removed the back to form button and placed a close button in its place
ISSUE 8 - The text above the form is embedded in a template, this means we need to make and text changes for this particular text, if you could s

[2018-03-14 15:54] StephMSlack commented on #161
![screen shot 2018-03-14 at 15 53 42 2](https://user-images.githubusercontent.com/32127102/37413909-ec334602-279f-11e8-93b2-6dcfc2a49bc1.png)

Supporting documents is the title of the attachment nugget.

[2018-03-14 15:59] russ-manta commented on #156
@angievanhegan @StephMSlack quote 1.5 days

[2018-03-14 16:19] dilwarhussain commented on #141
@StephMSlack ISSUE 3 fixed. Sticky sidebars only appearing on Resource nodes now.

[2018-03-14 17:25] angievanhegan opened #187 "Enable right hand modules on group landing page"
# Done criteria
- [x] **ISSUE 1** Remove popular links functionality from Group landing page (see comments below)
- [x] Text (and image)
- [x] Card link
- [x] Attachment

# Designs & Docs
- [Examples on Falls and Bone health group page](http://bgs-dev.mrmdev.co.uk/falls-and-bone-health)
- [Sample right hand modules](http://bgs-dev.mrmdev.co.uk/about/examples/right-hand-column)

[2018-03-14 17:28] angievanhegan commented on #176
@StephMSlack Russ has estimated this (see the top of the issue). Please let us know if you'd like us to go ahead with this. Thanks

[2018-03-14 17:30] angievanhegan commented on #156
@StephMSlack Please see the estimate at the top of the issue and let us know if you'd like us to go ahead. Thanks

[2018-03-14 17:37] angievanhegan commented on #102
@dilwarhussain See issue 6 about displaying summary text on hover.

[2018-03-14 17:41] angievanhegan commented on #159
Angie, Steve, Steph and Recia to talk about using 6 categories in the navigation, creating 6 topics pages (dynamically) with filters for the topics within the page

[2018-03-14 18:01] angievanhegan commented on #140
If you're not having an image, you can put the content into the Overview section in the body field, and use the 'larger text' formatting for the first paragraph. If you want to include images, then you can use content blocks in the main content section.

[2018-03-14 21:21] angievanhegan opened #188 "Change the name of the groups to Nation and Region"
BGS call them Nation and Region rather than National and Regional.

[2018-03-14 21:23] angievanhegan opened #189 "Control publish and expiry date for specified content types"
# Done criteria
- [x] Blog posts
- [x] Policy updates
- [x] Member update
- [x] News articles

[2018-03-14 21:23] angievanhegan commented on #189
@dilwarhussain please can you let me know if this is more than a 2. Thanks

[2018-03-15 10:21] dilwarhussain commented on #174
@angievanhegan This is fixed now, it means any blockquotes used near the image (at the top) will clear the image and appear under so this works responsively.
Here are two examples:

1. http://bgs-dev.mrmdev.co.uk/policy-and-media/palliative-care-provisions-are-not-meeting-the-needs-of-an-ageing-population
2. http://bgs-dev.mrmdev.co.uk/policy-and-media/number-of-older-people-with-four-or-more-dise

[2018-03-15 11:06] StephMSlack commented on #135
@angievanhegan @dilwarhussain thanks for this
Just using the function at the moment - the blogs and news/policy are repeating on the new group  page I'm creating
http://bgs-dev.mrmdev.co.uk/bgs-scotland
![screen shot 2018-03-15 at 11 03 51 2](https://user-images.githubusercontent.com/32127102/37459739-f24d825e-2840-11e8-98c0-133a8f8515ef.png)

[2018-03-15 11:43] StephMSlack commented on #134
@dilwarhussain the content block at the top should have the show more function, but this doesn't seem to be working at the moment.

[2018-03-15 14:13] StephMSlack commented on #156
@angievanhegan @russ-manta Does this include moving the images across as well? Currently some of the images on the blog are small and dont meet our minimum specs for the cards.

[2018-03-15 15:08] angievanhegan opened #190 "Add content block to the top of the regions/nations page"
Please add a content block at the top of this page:

http://bgs-dev.mrmdev.co.uk/about/national-regional-groups

[2018-03-15 15:09] angievanhegan opened #191 "Reduce image size for card image"
BGS are struggling to find image big enough for the cards, please can you reduce the minimum size requirement to whatever you feel it could go down to. Thanks

Let me know if you need help listing all the content types with cards.

[2018-03-15 15:36] pipe-manta commented on #102
@angievanhegan Issue 6 done

[2018-03-15 16:08] StephMSlack commented on #185
@angievanhegan @dilwarhussain thanks! its looking better - though a new issue has arisen - the second block of groups no longer stretches across the page
<img width="1280" alt="screen shot 2018-03-15 at 14 57 20" src="https://user-images.githubusercontent.com/32127102/37471268-3f0727c4-2861-11e8-8742-fef7d7082e82.png">

[2018-03-15 16:13] dilwarhussain commented on #185
@StephMSlack Just noticed this myself, should be fixed now 👍

[2018-03-15 16:34] dilwarhussain commented on #191
@StephMSlack Would 640(w) x 360(h) minimum size make it easier to find images?

[2018-03-15 17:33] dilwarhussain commented on #161
@StephMSlack I've aligned the title to the left for the attachments

[2018-03-15 17:39] dilwarhussain commented on #177
@StephMSlack I've added the new functionality to the authors fields on blogs and policy.

I'm not sure what you mean about the separation but the list that appears on those fields is just a list of all taxonomy names from here: http://bgs-dev.mrmdev.co.uk/admin/structure/taxonomy/authors
So whatever each taxonomy term is saved as on the list is what appears on the dropdown. Let me know if I've mis

[2018-03-15 17:40] dilwarhussain commented on #135
@StephMSlack Duplication issue should be fixed for latest and curated feeds now.

[2018-03-15 17:51] angievanhegan commented on #102
@StephMSlack This is ready for you to sign off now.

[2018-03-15 17:57] angievanhegan commented on #187
I added some right hand modules here, but they're not appearing. What am I doing wrong?

http://bgs-dev.mrmdev.co.uk/falls-and-bone-health

[2018-03-15 18:00] angievanhegan commented on #174
@StephMSlack This is ready for you to check and sign off.

[2018-03-15 18:03] angievanhegan commented on #107
@StephMSlack Can you send over the text for the form please? Thanks

[2018-03-16 11:08] russ-manta commented on #138
@StephMSlack I've now created you a folder called 'images' within the content folder and you can browse this when adding a new image to a content block and upload an image here at the same time if adding a completely new one.  It's currently only on the content block nugget but we can roll it out further once you confirm you are happy with ti

[2018-03-16 12:33] dilwarhussain commented on #134
@StephMSlack

- The 'show more' is dependant on the number of characters in the body text. We have the limit at 600, above that the 'show more' button will show. Working fine here: http://bgs-dev.mrmdev.co.uk/bgs-scotland
- We also have the twitter hashtag view working, it's currently using the Manta Ray Media twitter feed. See here: http://bgs-dev.mrmdev.co.uk/falls-and-bone-health
- What would y

[2018-03-16 14:21] angievanhegan commented on #143
@StephMSlack Would this alignment be better?

![screen shot 2018-03-16 at 09 18 24](https://user-images.githubusercontent.com/3796718/37525488-01c238d2-28fb-11e8-84d2-0219b75261e5.png)

[2018-03-16 14:23] angievanhegan commented on #187
@dilwarhussain They're appearing now. Did you fix it?

[2018-03-16 16:18] russ-manta commented on #164
@angievanhegan I think 3 days for this

[2018-03-16 18:24] angievanhegan commented on #164
@StephMSlack This has been estimated. Let us know if you'd like us to go ahead.

[2018-03-16 18:45] angievanhegan commented on #177
@StephMSlack I think that amending the presentation of the list is probably out of scope. Let me know if you'd like me to double check that with Steve.

[2018-03-16 19:06] angievanhegan commented on #102
@StephMSlack  you just need to check issue 6

[2018-03-20 09:55] StephMSlack commented on #164
@angievanhegan - Unfortunately we have just found that we wont be able to get the files out of our current site. So this issue will be managed manually. Thanks for the quote

[2018-03-20 10:04] StephMSlack commented on #176
Hi @angievanhegan Going through budgets at the moment - could we talk about this one?

[2018-03-20 14:25] angievanhegan commented on #164
@StephMSlack what a shame about the extract.

[2018-03-20 14:25] #164 closed

[2018-03-20 14:46] angievanhegan commented on #176
@StephMSlack If you want to use the 5 days allocated to Event submission and payment (non BGS events) then that's fine with us.

[2018-03-20 16:46] angievanhegan commented on #77
Steph confirmed that we can go ahead with this - bGS would like to be able to set related links programatically, or manually.

[2018-03-20 16:49] angievanhegan commented on #156
Steph has confirmed this can be done.

[2018-03-20 16:49] angievanhegan commented on #165
Steph has confirmed this can be done.

[2018-03-20 16:50] angievanhegan commented on #157
Steph has confirmed this can be done.

[2018-03-21 13:09] StephMSlack commented on #138
@russ-manta @angievanhegan thanks for this. I tried adding an image from the file manager into a content block in the policy and media section. The file manager showed an images folder, but I couldn't access the image I had uploaded previously. Not sure if this issue is because I am trying to use the functions in a different content type? The ability to browse for the file was available and I coul

[2018-03-21 13:14] StephMSlack commented on #138
@russ-manta @angievanhegan aside from the above, happy with how it functions and how you can preview things. I managed to add an image to the file manager and could add that image to a content block in a new resource I was creating.
![screen shot 2018-03-21 at 13 12 03 2](https://user-images.githubusercontent.com/32127102/37711735-96bacadc-2d09-11e8-9e72-a235bdd0db4e.png)

[2018-03-21 13:22] StephMSlack commented on #186
@angievanhegan Yes this works, yes it is editable, thanks

[2018-03-21 14:22] StephMSlack commented on #161
thanks @dilwarhussain
@angievanhegan one small thing I noticed - the size of the dividing line between documents (when you more than one) seems to be set to the height of the image rather than the height of the box (which includes the image and the download text). Is there anyway we can make it consistent?
![screen shot 2018-03-21 at 14 17 42](https://user-images.githubusercontent.com/32127102/377

[2018-03-21 14:37] StephMSlack commented on #166
@angievanhegan thanks, this is fine

[2018-03-21 14:48] #186 closed

[2018-03-21 14:50] angievanhegan commented on #161
@StephMSlack i wonder if it would be better to lose the line? I think it might just look better without it.

[2018-03-21 14:50] #166 closed

[2018-03-21 14:50] StephMSlack commented on #102
@angievanhegan @dilwarhussain thanks for the change, signed off.

[2018-03-21 14:54] #102 closed

[2018-03-21 15:03] StephMSlack commented on #96
@angievanhegan design and user input is fine.

@dilwarhussain @angievanhegan
I assume this form is the one called 'feedback on this resource". When I look at the form in the CMS it doesn't seem to be capturing any submissions. Also, I think the email is set to go to Dilwar, so I cannot check if the emails are sending.

[2018-03-21 15:09] StephMSlack commented on #161
@angievanhegan if @cat-manta is happy to lose the line, we can lose the line :)

[2018-03-21 15:23] cat-manta commented on #161
@angievanhegan @StephMSlack I think it would be better for clarity to keep the line, but maybe the line should go all the way down past both resources, and have another horizontal line to separate the resources on the top and bottom?

[2018-03-21 15:35] StephMSlack commented on #178
@angievanhegan This is still showing inconsistently. There are 2015 resources mixed with 2018 and 2017 resources.

I think it is linked to the date published/date updated fields. I think we are using the last updated field for ordering the display, but showing the published date on the card.

Can we use the same field for both? I think we should display last updated on the card as well as using th

[2018-03-21 16:12] StephMSlack commented on #185
thanks @angievanhegan @dilwarhussain this is showing correctly on Safari now.

[2018-03-21 16:59] StephMSlack commented on #187
@angievanhegan I can add these and edit the newly added sidebar/RH nuggets.

@dilwarhussain this seems to have had an impact on the popular links function. The option to add the URL has disappeared & the spacing of the box has changed on the front end. Screen shots below

Group steph editing (recently added)
![screen shot 2018-03-21 at 16 53 52](https://user-images.githubusercontent.com/32127102/3

[2018-03-21 17:01] StephMSlack commented on #190
this is fine thanks @angievanhegan @dilwarhussain

[2018-03-21 17:07] angievanhegan commented on #96
@StephMSlack In the requirements we said that the details just need to be sent by email to a specified email address. This will be done and tested when we're moving the site over to production.

[2018-03-21 17:14] angievanhegan commented on #161
@cat-manta Do you have time to update the design? Thanks

[2018-03-21 17:27] #185 closed

[2018-03-21 17:30] angievanhegan commented on #187
@StephMSlack Sorry, I should have explained. I think the popular links right hand module was made in error. The plan had been to use the standard right hand modules to give you that functionality. You can either feature one resource (with a card link) or you can add a bulleted list (with a text rhs) if you wanted to link to two or three different resources. The only think the popular links gives y

[2018-03-21 17:30] #190 closed

[2018-03-21 17:49] angievanhegan opened #192 "External courses (landing page and node)"
There are 4 days in the proposal for this.

# Done criteria
- [x] TWEAK remove card images from landing page
- [x] TWEAK create editor account for Steph
- [ ] ~TWEAK maintain card size (on landing page) - see images below~
- [ ] ~TWEAK Update the button on the landing page to go [here](http://bgs-dev.mrmdev.co.uk/events/external-courses/add-an-external-course)~
- [ ] ~TWEAK confirmation email  to

[2018-03-21 17:49] angievanhegan commented on #192
@StephMSlack Can you check these done criteria are ok please? Thanks

[2018-03-22 11:14] cat-manta commented on #161
@angievanhegan @StephMSlack I've updated the design, I thought it might be easier, and didn't take long

[2018-03-22 12:05] StephMSlack commented on #187
@angievanhegan OK, that is fine. Could the popular links in the CMS sidebar be removed then? Or at least minimised. It is really large and overwhelms the page in the CMS, and as the button cannot be used to direct the user anywhere, its probably best not to have it.
![screen shot 2018-03-22 at 12 04 18](https://user-images.githubusercontent.com/32127102/37769541-44bce9c0-2dc9-11e8-8dfe-c13db79b898

[2018-03-22 12:16] StephMSlack commented on #174
@angievanhegan @dilwarhussain thank you, this is fine now

[2018-03-22 12:31] cat-manta commented on #151
@angievanhegan All the designs should be updated now

[2018-03-22 12:39] StephMSlack commented on #183
@angievanhegan I can add the blog to a group page, but the display is showing incorrectly on this page http://bgs-dev.mrmdev.co.uk/peri-operative-care-of-older-people-undergoing-surgery-pops

![screen shot 2018-03-22 at 12 26 26 2](https://user-images.githubusercontent.com/32127102/37770471-706c9cde-2dcc-11e8-9ab2-28e571bf7f8b.png)

The headings for the feeds do not display automatically on the gr

[2018-03-22 12:49] StephMSlack commented on #96
@angievanhegan OK, I just assumed it would also automatically populate the form. This is fine

[2018-03-22 13:56] StephMSlack commented on #172
Fixed. thanks @angievanhegan

[2018-03-22 14:35] StephMSlack commented on #134
thanks @dilwarhussain.

I've added a twitter hashtag to http://bgs-dev.mrmdev.co.uk/peri-operative-care-of-older-people-undergoing-surgery-pops but it doesn't seem to be showing up. Am I missing a step?

Can we set the name of the twitter feed ourselves, as it may change depend on the group?

Also, the blog feed doesnt seem to be displaying correctly on http://bgs-dev.mrmdev.co.uk/peri-operative-c

[2018-03-22 15:00] StephMSlack commented on #142
@angievanhegan I was having fun creating blogs to make sure the pagination worked...

When I didn't add a pic in the card content for a couple of blogs, the boxes resized and the roll over content didn't fully show. Screen shot below

Also, the submit a blog button currently goes to a blank page (when logged out) or a CMS page (when logged in). Will this go to a form in the future?

![screen shot

[2018-03-22 15:33] StephMSlack commented on #143
@angievanhegan I'd prefer not to have you change it too much unless essential - have added this as a note to chat to you about.

[2018-03-22 15:51] StephMSlack commented on #191
@angievanhegan @dilwarhussain that would be better, thanks.

[2018-03-22 15:56] StephMSlack commented on #107
@angievanhegan sorry for the delay
Header text - Please help us evaluate this resource
Text below - If you are happy to be contacted for feedback on this resource, probably in 6-12 months' time, please submit your name and email address.

[2018-03-22 16:12] StephMSlack commented on #151
@angievanhegan @cat-manta They wanted to have the blog as part of the social media aspect of the header, keeping the separation between the social media and the join/login/my account. Also they were happy to lose the Linked in function if it started to look cluttered.

[2018-03-22 16:27] StephMSlack commented on #192
@angievanhegan just clarified default view - event happening soonest should be at the top, event further away (in terms of date) should be last.

[2018-03-22 16:35] StephMSlack commented on #192
@angievanhegan fields for the form below. All fields are mandatory except the reciprocal marketing checkbox.

Event title (maximum characters to be decided)
Start date
End date
Venue - specific address inc postcode
Venue - City/Country
Organiser
Information about your event - Free text box, limit to 150 words)
Intended audience - Free text box
Cost
Weblink or email address for programme and regist

[2018-03-23 02:27] angievanhegan commented on #183
@StephMSlack you just needed to set it for four wide to get the right format. So, I'm assuming it's ok to sign this off.

[2018-03-23 02:27] #183 closed

[2018-03-23 02:28] angievanhegan commented on #96
@StephMSlack Sure. I've updated the issue.

[2018-03-23 02:28] #96 closed

[2018-03-23 02:29] #172 closed

[2018-03-23 02:32] angievanhegan opened #193 "Hover problem on BGS group page"
If you hover over the news story 'consultation on the regulation of medical associate professions in the UK' on http://bgs-dev.mrmdev.co.uk/peri-operative-care-of-older-people-undergoing-surgery-pops it starts flashing like crazy! I'm using Chrome. I can show you on screen share if that helps.

[2018-03-23 02:36] angievanhegan commented on #134
@StephMSlack I think you've created it correctly. It may be a problem with the hashtag as #malaria works fine. @dilwarhussain What do you think?

[2018-03-23 02:39] angievanhegan commented on #142
@StephMSlack This is the way we usually build cards, so that they resize to fit. I think it looks worse here as the blog titles are so short. I'm assuming that you'd nearly always have images. However, if you think you'd prefer for the heights to be fixed as they are in the resources section, I suggest we wait until that has real content too, then we can fix all the heights together. Is that ok?

[2018-03-23 02:40] angievanhegan opened #194 "Create form to enable someone to submit a blog"
# Done criteria
- [ ] The button should now open an email window and send an email to pr@bgs.org.uk.
Thanks

[2018-03-23 02:44] angievanhegan commented on #107
@dilwarhussain Please see issue 8.

[2018-03-23 02:45] angievanhegan opened #195 "Check emails for resources feedback is being sent"
See issue #107

- [ ] ~Not working to multiple addresses~

[2018-03-23 02:48] angievanhegan commented on #151
@cat-manta Are you ok to work with that feedback from Steph?

[2018-03-23 02:50] #135 closed

[2018-03-23 09:29] dilwarhussain commented on #107
@StephMSlack I've changed the text for the form 👍

[2018-03-23 10:19] cat-manta commented on #151
@StephMSlack What do you think about these layouts?

![screen shot 2018-03-23 at 10 16 55](https://user-images.githubusercontent.com/29398815/37824149-96a22740-2e83-11e8-9edb-149adee12f95.png)
![screen shot 2018-03-23 at 10 17 36](https://user-images.githubusercontent.com/29398815/37824150-96b5609e-2e83-11e8-98b3-0fe0c61f8a7c.png)
![screen shot 2018-03-23 at 10 18 25](https://user-images.githubuse

[2018-03-23 11:48] dilwarhussain commented on #191
@StephMSlack All card images minimum size requirements have been reduced.

[2018-03-23 12:01] dilwarhussain commented on #130
@StephMSlack All promos are parallax on the site now.

[2018-03-23 13:03] dilwarhussain commented on #161
@StephMSlack New lines applied to attachments view. http://bgs-dev.mrmdev.co.uk/resources/how-to-get-funding-and-fellowship-applications

[2018-03-23 15:26] dilwarhussain commented on #187
@StephMSlack RHS poular links field removed.

[2018-03-23 15:30] cat-manta commented on #116
@StephMSlack @angievanhegan There's a link to view past events next to the 'Upcoming events' title, maybe this is too subtle though?

Also, while doing a review of the tag styles that exist, we changed the 'updated with content' tag to be consistent with the other tags and changed the text to something shorter.

[2018-03-23 17:00] angievanhegan opened #196 "Design event node"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Event node](https://invis.io/B3GI8K9SP57)

[2018-03-23 17:49] russ-manta commented on #138
@StephMSlack @angievanhegan  @dilwarhussain I think the issue here is we only set the functionality up on the content block nugget for you to test. If you are happy with that then we just need to roll it out further to the card content image and other image fields

[2018-03-26 16:59] dilwarhussain commented on #140
@StephMSlack Issue 6 and 7 are ready to look at, thanks.

[2018-03-26 17:02] dilwarhussain commented on #138
Hey @StephMSlack I've rolled this functionality out to all the image files. Please try and let me know if it is working as desired, thanks.

[2018-03-27 09:17] StephMSlack commented on #159
@angievanhegan The significantly reduced list is here:
https://docs.google.com/spreadsheets/d/11hHBYGcKRz9DVlWtJaTyrK1oc7JZYTD78DF5dTA_Pn8/edit?usp=sharing
Down to 4 topic areas and removed duplicates. Will be discussing with Geraint and Colin tomorrow

[2018-03-27 12:26] StephMSlack commented on #116
thanks @cat-manta I think I just missed the past events link (possibly I assumed it would be at the bottom!). I think the past event link we have should be fine.

[2018-03-27 12:28] StephMSlack commented on #187
thanks @dilwarhussain much less confusing

[2018-03-27 12:28] StephMSlack commented on #187
@angievanhegan this is fine now

[2018-03-27 13:24] StephMSlack commented on #161
thanks @dilwarhussain could the margin for the line be changed slightly as currently in the lower two have the title partly hidden. I think it relates to when the title is using the document name rather than a title being added.
<img width="821" alt="screen shot 2018-03-27 at 14 21 02" src="https://user-images.githubusercontent.com/32127102/37970066-649d6e22-31ca-11e8-825c-fd2581262991.png">

[2018-03-27 13:30] #187 closed

[2018-03-27 14:15] StephMSlack commented on #97
@angievanhegan @dilwarhussain
Could we also remove access to the topics and resource type taxonomy from this login type?

I could publish both a news article and policy update (this should be create and save only, no publishing to live site)

Could we remove access to the event content type from this login type?

[2018-03-27 14:18] StephMSlack commented on #130
@angievanhegan @dilwarhussain these look great, thanks!

[2018-03-27 14:20] angievanhegan commented on #97
@StephMSlack  Can we look at all the access in this spreadsheet then set them all at the same time? https://docs.google.com/spreadsheets/d/1UUJRooiPsyaohSc-AL9U2ZeWj8H35gS8uGy_fIaCe-4/edit

[2018-03-27 14:21] angievanhegan opened #197 "Setup permissions"
This spreadsheet needs to be approved by BGS first.

https://docs.google.com/spreadsheets/d/1UUJRooiPsyaohSc-AL9U2ZeWj8H35gS8uGy_fIaCe-4/edit#gid=1470448264

[2018-03-27 14:27] StephMSlack commented on #191
thanks @dilwarhussain

[2018-03-27 14:41] StephMSlack commented on #151
thanks @cat-manta. Could you do me a favour and remove Careers & Education from the main nav in these examples? We've decided to reallocate the content to other parts of the site.

[2018-03-27 14:52] StephMSlack commented on #107
thanks @dilwarhussain
@angievanhegan this is good to go

[2018-03-27 14:56] StephMSlack commented on #142
Ok @angievanhegan. I'm scheduled to go through this with the Comms & Policy team first thing Thurs morning, so will feed back/sign off then.

[2018-03-27 15:08] StephMSlack commented on #107
@dilwarhussain the PDF is opening in a new tab, but it is also opening in the same tab (so it is open twice). Is there anyway to stop this happening?

[2018-03-27 15:20] angievanhegan commented on #151
@cat-manta A small amend for you.  Thanks

[2018-03-27 15:24] StephMSlack commented on #95
@angievanhegan I'm not sure how I can test this one. Do I need a specific account? Also, the SSO is linked to BGS membership levels, which is linked to CiviCRM. Thoughts on best next steps?

[2018-03-27 15:27] StephMSlack commented on #138
Thanks @dilwarhussain, this seems to be working fine.

[2018-03-27 16:05] angievanhegan opened #198 "Update layout of search boxes (with shorter date fields always on the right hand side)"
Note: Please don't change the fields used, just the alignment/order of the ones that are already there.

# Done criteria
- [ ] ~News and Policy landing page http://bgs-dev.mrmdev.co.uk/policy-and-media~
- [ ] ~Blog http://bgs-dev.mrmdev.co.uk/blog~
- [ ] ~Resources http://bgs-dev.mrmdev.co.uk/resources~

(this layout will also be used on events and topics pages later

![search](https://user-images

[2018-03-27 16:08] angievanhegan commented on #143
@StephMSlack I've added a new issue for this #198

[2018-03-27 16:09] angievanhegan commented on #95
@russ-manta I'm assuming we need to park this until we've got the members section built until we can properly test it.

[2018-03-27 16:09] #138 closed

[2018-03-28 09:17] cat-manta commented on #151
@StephMSlack Sure here you go:

![screen shot 2018-03-28 at 10 14 56](https://user-images.githubusercontent.com/29398815/38019993-09aa55e6-3271-11e8-9d5e-11dd8693988d.png)
![screen shot 2018-03-28 at 10 15 18](https://user-images.githubusercontent.com/29398815/38019994-09bfdbb4-3271-11e8-9e4a-655778d92d59.png)
![screen shot 2018-03-28 at 10 15 36](https://user-images.githubusercontent.com/29398815

[2018-03-28 09:39] cat-manta commented on #151
@StephMSlack Steve and I prefer the first option with the login buttons underneath

[2018-03-28 13:35] dilwarhussain commented on #189
@angievanhegan I've set this up on all the content types above, but it needs a cron job set up to work, this usually is done on the live site. Might need help from Russ if we need to enable to test on the dev site.

[2018-03-28 13:39] dilwarhussain commented on #161
@StephMSlack You're correct it was to do with using the file name instead of a title, so I've made the filename wrap round to the second line when it's longer than the area available to render. Best practice to use the title field to keep these looking great.

[2018-03-29 08:23] StephMSlack commented on #161
thanks @dilwarhussain
@angievanhegan signed off

[2018-03-29 09:50] StephMSlack commented on #141
@angievanhegan this is fine

[2018-03-29 09:58] StephMSlack commented on #142
@angievanhegan this is fine, thanks

[2018-03-29 15:03] angievanhegan commented on #156
@meldera Are the details at the top enough to make a start on this, or do you need server access/details?

[2018-03-29 15:04] angievanhegan commented on #165
@StephMSlack Please can you provide details/access for the server? Thanks

[2018-03-29 15:05] angievanhegan commented on #157
@StephMSlack Please can you provide details/access for the server? (also for #165 ) Thanks

[2018-03-29 15:06] #161 closed

[2018-04-03 12:50] StephMSlack commented on #159
@angievanhegan final list of topics available in the google drive. All have content and there are no duplicates.
https://docs.google.com/spreadsheets/d/11hHBYGcKRz9DVlWtJaTyrK1oc7JZYTD78DF5dTA_Pn8/edit?usp=sharing

[2018-04-03 13:01] StephMSlack commented on #160
@angievanhegan - Could we increase the number in the display to 12 or 20 (in line with resources/blog display)
If there are 3 SIGs linked to that topic, I assume it would move onto another line (v's showing 3 across).

[2018-04-03 13:05] StephMSlack commented on #157
@angievanhegan see comment for #165

[2018-04-03 13:47] angievanhegan commented on #159
@StephMSlack Excellent. So, which way are we going:

A) Four category pages with filters for topics (with only the categories displaying in the nav)
B) A page for each topic (with a mega drop down in the nav)

[2018-04-03 14:47] StephMSlack commented on #159
@angievanhegan - Option B please

[2018-04-03 15:44] angievanhegan commented on #159
@StephMSlack OK, great. Let's start working on the design for the topics. Once we have the design we'll ask for a quote.

@cat-manta Over to you, please see the notes at the top of the page.

[2018-04-04 09:37] cat-manta commented on #159
@angievanhegan @StephMSlack I've added 2 versions of the topics nav to the description at the top

[2018-04-04 10:08] StephMSlack commented on #136
@angievanhegan This has been sitting with me, sorry. Design wise, Colin and Geraint would like to combine the two options - login at the top (email and password) then 2 options below (not 3) . One option to become a member, the other to create a website account.
The text around this is currently wordy and I am trying to simplify it, but that would be the basic structure of the login page

[2018-04-04 10:13] StephMSlack commented on #159
thanks @cat-manta I'm preferring option 1 at the moment (with the topic area title in purple).

[2018-04-04 11:39] dilwarhussain opened #199 "Linking box links to view pages"
# Done criteria
- [ ] ~Link off to views pages for 'Policy & Media', 'Blog' & 'Resources' using box links~

[2018-04-04 12:40] StephMSlack commented on #136
@angievanhegan this is how BGS would like the login page structured.

But, will it potentially be possible to add more text later (not changing the layout) or possibly removing the register button and text entirely?

I've agreed this layout with Geraint, but Colin is on holiday and may wish to make text changes

PS please excuse the poor wireframe/design

![screen shot 2018-04-04 at 13 33 53](http

[2018-04-04 14:10] angievanhegan commented on #159
@cat-manta what's your preference? And do you think we should get Steve's opinion on this before we go ahead?

[2018-04-04 14:14] angievanhegan commented on #136
@StephMSlack The wording can definitely be changed. Can I leave this with you until Colin has seen it, then we'll ask Cat to update the design. Thanks

[2018-04-04 17:45] angievanhegan commented on #159
@russ-manta Please can you provide a quote and a points estimate for this? Thanks

[2018-04-04 17:45] angievanhegan commented on #160
@russ-manta Please can you provide a quote and a points estimate for this? Thanks

[2018-04-04 18:08] angievanhegan opened #200 "Decrease indent button on WYSIWYG"
on the WYSIWIG when creating a page, the decrease indent button is not available. Could that be included in the WYSIWIG please?

[2018-04-04 18:21] angievanhegan opened #201 "Email address formatting problem on RH nugget"
http://bgs-dev.mrmdev.co.uk/media-enquiries

![screen shot 2018-04-04 at 13 20 32](https://user-images.githubusercontent.com/3796718/38326287-0e7c7726-380b-11e8-962d-3e4879ca3e70.png)

[2018-04-05 09:44] dilwarhussain commented on #198
Hey @StephMSlack Could you take a look at the filters please. Thanks.

[2018-04-05 09:57] dilwarhussain commented on #193
@angievanhegan @StephMSlack This has been fixed. We've had to make a small change to avoid this happening again with the summaries on cards. If the 'Equal heights' checkbox is not checked for feeds, the summaries will not show, they will work as any other card with no summary text. We think that 'Equal heights' will be used more often than not as the cards looks much nicer when they are all the sa

[2018-04-05 11:30] StephMSlack commented on #165
@angievanhegan @cutlern
Recia has given me the details to access the FTP site if that is of help?
Host: sftp://104.236.241.214
user: ftp-recia
pass: 7Sds3c#b%ph2toEz4kh
port: 22

[2018-04-05 12:49] StephMSlack commented on #193
Thanks @dilwarhussain
does the resource feed work differently? Currently the equal heights box is not ticked, but you can still see the card content. The feed isn't fluttering anymore which is the main thing.

If the equal heights box always needs to be ticked to ensure the feed works correctly, can it be ticked by default?

[2018-04-05 13:03] StephMSlack commented on #198
@dilwarhussain
Could you remove the 's' in the authors field (it should be author)

@angievanhegan
this still feels out of alignment and I realised that we have search/clear all at a certain distance from the left, then the dates at a different distance from the left and then the lines/centre of the cards below at a different distance  from the left.
![screen shot 2018-04-05 at 14 01 52](https://u

[2018-04-05 14:46] angievanhegan commented on #140
@dilwarhussain I think the image should probably have more space around it? See issue 8.

@cat-manta design-wise is it ok for us to have full width images do you think? We hadn't originally built them for this, but could we? Thanks

[2018-04-05 14:47] cat-manta commented on #140
@angievanhegan Yeah I think that's fine

[2018-04-05 14:48] angievanhegan commented on #178
@StephMSlack Which date would you like this to sort on? Date created or last edited?

[2018-04-05 15:09] angievanhegan commented on #140
@dilwarhussain Issue 4 is good to go. Thanks

[2018-04-05 15:10] dilwarhussain commented on #193
@StephMSlack Yes the Resources/Blog/Policy & Media pages are different as they are custom built for those specific pages, they all have equal/specific heights set up for the cards.

When displaying feeds of content around the site you have the option to use equal heights. Disabling equals heights will come in handy if you decide to display some content with 1 item per row, that way you won't get s

[2018-04-05 15:48] russ-manta commented on #159
@angievanhegan  1/2 day - £280 + VAT

[2018-04-05 15:56] russ-manta commented on #160
@angievanhegan   3 days @ £560 per day = £1680 +VAT

[2018-04-05 16:05] angievanhegan opened #202 "Event node (including tabs and concertinas for event content in Civi)"
- [x] TWEAK Fix right hand download link (see notes below)
- [x] TWEAK Fix repeating content blocks (see notes below)
- [x] TWEAK Add 'Session overview' as title (see notes below)
- [ ] ~BLOCKER Can Veda hide excess cost tables~
- [ ] ~Style session information (concertina ok, but tabs very difficult)~
- [ ] ~ISSUE 1 Styling box links in content additional~
- [ ] ~Event node created with link to e

[2018-04-05 16:10] angievanhegan commented on #202
@russ-manta Can you estimate how much time in total this tabbed and show/hide navigation in this context would take? Thanks

[2018-04-05 16:46] pipe-manta commented on #77
Hi @angievanhegan There is an example on this page http://bgs-dev.mrmdev.co.uk/resources/boxni-the-dog with both options of the Related resources

[2018-04-06 14:06] dilwarhussain opened #203 "Taxonomy terms not updating"

[2018-04-06 19:42] angievanhegan commented on #203
yes, that's a secret setting I've added to make sure I remain, as a topic.

[2018-04-06 20:08] angievanhegan commented on #77
@pipe-manta @dilwarhussain I don't think issue 4 is working as it should, probably because we didn't specify it very clearly. I've added 6 and 7 to try to explain. Call me if it's not clear

[2018-04-06 20:38] angievanhegan opened #204 "Headings in Video nugget not working in sticky nav"
The resource contains a content block and a video block. The titles are being taken from the title field for each nugget and displaying perfectly. Neither of the headings are appearing in the sticky nav on the right hand side.

http://bgs-dev.mrmdev.co.uk/resources/patient-pathways-to-identify-unmet-need

[2018-04-06 20:44] angievanhegan commented on #198
@ican-icant can you have a catch up with @StephMSlack about the alignment of these when you have a minute. You're the best person to discuss options. Thanks

[2018-04-10 09:13] StephMSlack commented on #204
@angievanhegan @dilwarhussain thanks a lot, this is great

[2018-04-10 09:24] StephMSlack commented on #107
thanks @dilwarhussain @meldera

[2018-04-10 09:29] StephMSlack commented on #200
thanks @dilwarhussain

[2018-04-10 09:45] StephMSlack commented on #201
thanks @dilwarhussain

[2018-04-10 09:47] StephMSlack commented on #151
@angievanhegan please can we go with the option with all the buttons in a row (option 3). thanks

[2018-04-10 09:48] StephMSlack commented on #193
thanks @dilwarhussain

[2018-04-10 13:44] #204 closed

[2018-04-10 14:09] angievanhegan commented on #151
@dilwarhussain This is signed off and ready to build. Let me know if it's not clear what needs changing. Thanks

[2018-04-10 16:26] angievanhegan commented on #202
From Russ: I don't think we can quote properly until Veda have finished at least the first stage of events which they are due to do by the end of the week

[2018-04-10 16:29] #201 closed

[2018-04-10 16:29] #200 closed

[2018-04-10 16:30] #107 closed

[2018-04-10 16:30] #193 closed

[2018-04-10 16:30] angievanhegan commented on #198
@StephMSlack @ican-icant What did you guys agree with this?

[2018-04-11 14:48] angievanhegan commented on #165
@cutlern Are we too late in the process to migrate the geriatric histories into resource pages? Steph would like to create a new resource type called 'history' and possibly put them into a series.

For the biographies, they can stay as standard pages, Steph is going to list them with FAQ nuggets (e.g. A - G, H - M etc)

[2018-04-12 06:42] cutlern commented on #165
@angievanhegan No, that's fine :)

[2018-04-12 08:36] matty-manta commented on #142
@pipe-manta

The text search doesn't seem to be working properly.

[2018-04-12 16:16] pipe-manta commented on #77
@angievanhegan @russ-manta You can heck the related resources view on this pages:

Programatically selected http://bgs-dev.mrmdev.co.uk/resources/boxni-the-dog

Manually selectec http://bgs-dev.mrmdev.co.uk/resources/princesa-the-pooch

[2018-04-16 16:52] angievanhegan commented on #165
@cutlern Is it all done now? Can I move it to BGS review for Steph to check over? Thanks

[2018-04-16 16:58] cutlern commented on #165
@angievanhegan yeah it's ready for checking, there were some missing images/broken links though:

News/policies

Will have broken links once site is transferred

http://bgs-dev.mrmdev.co.uk/policy-and-media/future-of-health-and-social-care-in-england

http://bgs-dev.mrmdev.co.uk/policy-and-media/national-assembly-for-wales-health-social-care-and-sport-committee-inquiry-into / http://www.bgs.org.uk

[2018-04-16 18:06] angievanhegan opened #205 "Style arrows for scrolling on contact page"
These arrows should be styled in the same way as the results feed (pink):

http://bgs-dev.mrmdev.co.uk/about/contact

![screen shot 2018-04-16 at 13 06 05](https://user-images.githubusercontent.com/3796718/38826952-fa181eaa-4176-11e8-8b2a-7fc8aef51a06.png)
![screen shot 2018-04-16 at 13 05 39](https://user-images.githubusercontent.com/3796718/38826953-fa331e62-4176-11e8-88de-74219d0d1ed4.png)

[2018-04-17 09:15] #142 closed

[2018-04-17 10:38] dilwarhussain commented on #203
@StephMSlack This is fixed now.

[2018-04-17 14:28] dilwarhussain commented on #134
@angievanhegan @StephMSlack The current way this works is to look at hashtags from one specific account. In this case it's currently looking at Manta Ray, when we get BGS's twitter info we can authenticate and it will only look at BGS twitter.

To allow this view to look at multiple accounts and hashtags on different pages would require further development.

[2018-04-17 14:36] angievanhegan commented on #77
![screen shot 2018-04-17 at 09 36 12](https://user-images.githubusercontent.com/3796718/38876776-cc986082-4222-11e8-89be-865b5df3241c.png)

[2018-04-17 15:13] pipe-manta commented on #77
@angievanhegan Issue 6,7 and 8 are done

[2018-04-17 15:25] angievanhegan commented on #77
@dilwarhussain Steph's confirmed that we can just have them programatically showing topics. We can forget about showing the same content type. :o)

[2018-04-17 15:30] angievanhegan commented on #156
@russ-manta Can we re-do the import and remove all the topics? Steph would like to use the [new list(https://projects.invisionapp.com/share/4EDQ458R5#/screens/289094992_Topics-Menu-V0-1) which is much more concise

[2018-04-17 15:43] pipe-manta commented on #77
@angievanhegan Perfect, it's done

[2018-04-17 15:46] angievanhegan opened #206 "Home page"
# Done criteria
- [x] ~~TWEAK Make sure twitter feed shows BGS tweets~~
- [x] ~~TWEAK The feed under the membership banner runs off the page when on a mobile~~
- [x] ~~BLOCKER With Colin for review~~

# Designs & Docs
- [Design - version 6](https://invis.io/A4I94W3DU8X)

[2018-04-17 15:47] angievanhegan commented on #206
@StephMSlack Over to you to get feedback from your team.

[2018-04-18 08:56] pipe-manta commented on #77
Hi @angievanhegan , yes, the number 8 it's done

[2018-04-18 10:09] dilwarhussain commented on #205
@StephMSlack Slider buttons have been styled.

[2018-04-18 14:16] angievanhegan commented on #140
@pipe-manta I've just found an example of how this should look in invision (on the blog page)

![screen shot 2018-04-18 at 09 15 13](https://user-images.githubusercontent.com/3796718/38937590-27a2a1a6-42e9-11e8-9900-6dae80bf4fb2.png)

[2018-04-18 14:29] StephMSlack commented on #151
@dilwarhussain its not looking quite like the design in my browser
![screen shot 2018-04-18 at 15 26 00](https://user-images.githubusercontent.com/32127102/38938361-3d05ca58-431d-11e8-8726-e55e4ecffa7d.png)

[2018-04-18 14:35] dilwarhussain commented on #151
@StephMSlack Sorry that should only be the active state for when you're in the blog section. Fixed now.

[2018-04-18 14:37] StephMSlack commented on #205
thanks @dilwarhussain

[2018-04-18 14:38] StephMSlack commented on #151
thanks @dilwarhussain that is looking better now.

Though somewhere along the way we have lost the join button - @angievanhegan is that part of this issue or somewhere else?

[2018-04-18 14:47] dilwarhussain commented on #151
@StephMSlack I've added in a placeholder button with no link for the meantime so you can see how it functions. It is only showing for anonymous users and any users that do not have the 'member' role.

[2018-04-18 14:48] #205 closed

[2018-04-18 15:03] StephMSlack commented on #151
thanks @dilwarhussain

[2018-04-19 08:04] StephMSlack commented on #198
@angievanhegan we have had to leave this one as the layout changes due to the responsive nature of the styling. so this is fine.

[2018-04-19 09:02] StephMSlack commented on #77
@angievanhegan @pipe-manta
Where do we add the information text?
![screen shot 2018-04-19 at 09 50 43](https://user-images.githubusercontent.com/32127102/38981378-2919de54-43b7-11e8-94a3-f2dc02585d68.png)

can we reduce the space between the end of the comment box and then 'you may be interested in/in this series' boxes? there is a lot of white space which makes the page really long

the text you

[2018-04-19 09:05] StephMSlack commented on #203
thanks @dilwarhussain @angievanhegan

[2018-04-19 09:27] StephMSlack commented on #178
@angievanhegan @dilwarhussain sorry for the delay. Last edited please

[2018-04-19 10:34] pipe-manta commented on #77
Hi @StephMSlack You can add the description on each term of Resource type vocabulary.

[2018-04-19 10:36] pipe-manta commented on #140
@angievanhegan you can find all the examples on http://bgs-dev.mrmdev.co.uk/pipe-test-page

The way to use the full width image is with the nugget Photo gallery and including only one image with Free crop.

[2018-04-19 10:42] StephMSlack commented on #165
@angievanhegan
Archive - All the biographies have come through.
We are missing the following from the resources section:
http://www.bgs.org.uk/geriatricmedicinearchive/bgsarchive/geriatricshistory/brief-history-care-elderly
http://www.bgs.org.uk/geriatricmedicinearchive/bgsarchive/geriatricshistory/md-early-surveys
http://www.bgs.org.uk/geriatricmedicinearchive/bgsarchive/geriatricshistory/the-maj

[2018-04-19 10:48] StephMSlack commented on #77
thanks @pipe-manta

[2018-04-19 10:56] StephMSlack commented on #156
@angievanhegan @russ-manta the final list of topics is in the tab 19.04.18 in this google doc
https://docs.google.com/spreadsheets/d/11hHBYGcKRz9DVlWtJaTyrK1oc7JZYTD78DF5dTA_Pn8/edit#gid=1575467942

[2018-04-19 11:35] cutlern commented on #165
Hi @StephMSlack Sorry about that, don't know how I missed them!! They've been added now if you'd like to check them :)

[2018-04-19 13:16] #198 closed

[2018-04-19 13:27] StephMSlack commented on #165
thanks @cutlern this is great

[2018-04-19 13:41] angievanhegan commented on #140
@StephMSlack this is ready for you to review.

[2018-04-19 13:42] angievanhegan commented on #77
@StephMSlack can I move this to done? Thanks

[2018-04-19 13:43] #165 closed

[2018-04-19 13:48] StephMSlack commented on #77
@angievanhegan there were other comments
can we reduce the space between the end of the comment box and then 'you may be interested in/in this series' boxes? there is a lot of white space which makes the page really long

the text you may also be interested in is appearing when there is no programatic feed below

[2018-04-19 14:02] angievanhegan commented on #77
@dilwarhussain please see issue 9 and 10. Thanks

[2018-04-19 14:05] angievanhegan commented on #202
@russ-manta is Veda's stuff progressed enough to look at this issue yet? Thanks

[2018-04-19 15:29] dilwarhussain commented on #178
'Latest' sorting is now using the 'Last updated*' field on the resource content type with most recent at the top.

[2018-04-19 15:49] angievanhegan opened #207 "Search results not being displayed after using the back button"
If you:

The search criteria still displays, but you need to press search again to get the results again. You shouldn't need to press the search button again to see the filtered results.

This happens on all search pages: News and policy and Blog

[2018-04-20 10:25] russ-manta opened #208 "SIG join link behaviour"
# Done criteria
- [x] BLOCKED  SIG selection is via code on live on Civi profile 19 -  Need Veda to add this code up to the staging site/server
- [ ] ~Style checkboxes for SIG selection~
- [ ] ~If logged out the link should redirect the user to login and then onto the SIG join page once logged in~
- [x] Login to lvei to try and unpick

[2018-04-20 15:11] angievanhegan opened #209 "Members directory (search page)"
3 days in the proposal - Russ confirmed it should be do-able in 3 days

- [ ] ~ISSUE Change text on checkboxes and have checkboxes unchecked on page load~
- [ ] ~Blurb up top~
- [ ] ~Filters for users~
- [ ] ~Change placeholder text to 'search by name/title/hospital'~
- [ ] ~Filters for search results - add Region/Special Interest Group~
- [ ] ~Checkboxes for 'Research expertise' / 'Speaking'~
- [

[2018-04-23 16:04] pipe-manta commented on #207
Hi @angievanhegan, this is ready to check

[2018-04-24 13:32] StephMSlack commented on #207
thanks @angievanhegan @pipe-manta

[2018-04-24 13:50] #207 closed

[2018-04-24 14:28] StephMSlack commented on #134
sorry @dilwarhussain I didn't specify which join button I was talking about (definitely not helpful). I meant the join the group button within the page. Screenshot below when logged in and then logged out (when the join the group button doesn't seem to be visible).
![screen shot 2018-04-24 at 15 26 04](https://user-images.githubusercontent.com/32127102/39193765-2bbb20ac-47d4-11e8-8b49-5839fa3b9686

[2018-04-24 14:33] dilwarhussain commented on #134
@StephMSlack Ah right sorry, I had just been working on the Join link in the header and just assumed it was regarding that. I'll take a look at the RHS join link.

[2018-04-24 16:39] russ-manta opened #210 "Become a member page"
# Done criteria
- [ ] ~TWEAK Steph can't access  join form/process unless logged in to the CMS.~
- [x] Recreate stepped workflow with webforms
- [x] Copy webforms over from the BGS staging site
- [x] Enable login without confirmation and add anti-spam
- [x] Fix direct debit not appearing in webform
- [ ] check payment amounts for retired member

# BGS review criteria
[Link to review goes here](htt

[2018-04-24 16:39] russ-manta opened #211 "Create a website account"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-04-24 16:40] russ-manta opened #212 "Renew membership"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-04-25 11:28] StephMSlack commented on #77
@angievanhegan I'll have to test the programatic feed and spacing once the topics have been cleaned up and added to the resources.

[2018-04-25 13:44] StephMSlack commented on #140
@angievanhegan @pipe-manta
1) happy with the images options
2) comments function is behaving erratically. When logged out the comments option is not showing at all (on Safari and Chrome). When logged in, the comments are open, and appearing in different places. Screen shots below. All are for blogs with comments turned on.

Blog imported from WP site, logged in
![screen shot 2018-04-25 at 14 40 11

[2018-04-25 13:49] StephMSlack commented on #157
thanks @angievanhegan

[2018-04-25 13:49] angievanhegan commented on #209
Steph has confirmed this can go ahead. @dilwarhussain Let me know when you're reading to start this and I can explain everything

[2018-04-25 14:44] StephMSlack commented on #77
@dilwarhussain @angievanhegan I've just added some attachments in the body content of a resource. The lines are not meeting (screen shot below).

Also I thought the PDFs were supposed to take the first page of the attachment as the cover image automatically. Is this still the case?

![screen shot 2018-04-25 at 15 41 49](https://user-images.githubusercontent.com/32127102/39253342-8c955cd2-489f-11e8

[2018-04-25 15:23] russ-manta opened #213 "Create new html format for blog summary field to exclude links"
# Done criteria
- [x] Create new html format and apply to summary field as in the title

[2018-04-26 15:47] StephMSlack commented on #136
@angievanhegan
Slightly simpler version than above - remove the register/create a web account element. People can sign up to newsletters/e-bulletins in the footer and create a web account there, and those attending an events will create a registration/web account as part of booking an event.

Slight change to join text as well - Not a member of the British Geriatrics Society? Learn more about our

[2018-04-26 16:01] angievanhegan commented on #136
@cat-manta Over to you to design. Please can you run it by Steve too? Thanks very much

[2018-04-26 16:03] angievanhegan commented on #157
@StephMSlack This can be closed? Thanks

[2018-04-27 10:01] dilwarhussain commented on #140
@StephMSlack When logged out, the comments section will only show for blogs that have comments on them. Test comment on this blog: http://bgs-dev.mrmdev.co.uk/blog/asking-the-big-questions-in-dublin%E2%80%99s-fair-city-%E2%80%93-part-2

[2018-04-27 10:12] dilwarhussain commented on #160
@angievanhegan @russ-manta The 'sort' options here contain filters for content types. This will have to be separated out into another filter option. I need to know what that's going to look like, where it's going to go.

[2018-04-27 20:31] angievanhegan commented on #160
@dilwarhussain How's this? I think the default sort should be most recent first. We don't actually need a sort by drop down - we'll only be putting in options for the sake of it.

<img width="954" alt="screen shot 2018-04-27 at 15 30 07" src="https://user-images.githubusercontent.com/3796718/39383709-e990d498-4a2f-11e8-9ac3-0f76cf54a750.png">

[2018-04-30 16:49] pipe-manta commented on #159
Hi @angievanhegan At the moment there is no limit of 20 topics to display on each category, but it's possible to manage that easy on the vocabulary.

[2018-04-30 23:07] angievanhegan commented on #159
@pipe-manta Is there a topic page ready that we can get it linking to so that we can show it working? Thanks

[2018-05-01 08:53] StephMSlack commented on #140
@dilwarhussain Sorry - when I looked at your test blog I got this
![screen shot 2018-05-01 at 09 46 54](https://user-images.githubusercontent.com/32127102/39467217-cbae0d18-4d24-11e8-894e-9f5fe604d0eb.png)
All users should be able to comment on a blog (logged in or not)

This blog has comments on but they are not appearing when logged out
http://bgs-dev.mrmdev.co.uk/blog/the-lonely-brain
![screen

[2018-05-01 14:07] angievanhegan opened #214 "Directory cards to appear on my account page"
@StephMSlack In the original design or the 'my account page' we had cards displaying for members in the directory. If you'd like to include this functionality (in addition to there being a link to the member directory) Russ has estimated this at 1/2 day of development time £280 + VAT

Let me know if you'd like to go ahead with this.

- [ ] ~TWEAK  Make sure the members job title running off the en

[2018-05-01 14:10] angievanhegan opened #215 "A member's blog posts displaying on their member's directory page"
@StephMSlack  If you'd like a member's blog posts to appear on their directory page, Russ has estimated this at 1 days work £560 + VAT.

[2018-05-01 14:55] angievanhegan commented on #160
@StephMSlack This is ready for you to review. We'll make it 20 per view when you've seen it

http://bgs-dev.mrmdev.co.uk/topics-test/cga-in-community-settings

[2018-05-01 17:06] angievanhegan commented on #136
@StephMSlack Ready for you to review. https://invis.io/E2HTJPGD9Q7

[2018-05-01 17:14] #74 closed

[2018-05-01 17:14] #43 closed

[2018-05-02 12:38] StephMSlack commented on #157
yes @angievanhegan

[2018-05-02 13:50] #157 closed

[2018-05-02 13:51] angievanhegan commented on #77
@dilwarhussain There's problems with the lines now

[2018-05-02 13:53] angievanhegan commented on #206
@cat-manta What was the outcome of your conversation?

[2018-05-02 15:53] StephMSlack commented on #160
@angievanhegan @dilwarhussain one issue - all the page & group content automatically falls to the back of the content listing - I assume as this content type doesn't have a date associated with it. But some of those pages will be more up to date/recent compared to a blog from 2013 or earlier. Is there anything we can do about this?
![screen shot 2018-05-02 at 16 51 18](https://user-images.githubus

[2018-05-02 16:41] angievanhegan commented on #160
@StephMSlack The SIG shouldn't actually appear in that list, It should only appear at the top! Also, I'm not sure if 'page' content should be appearing on here either - we didn't add it into the requirements. Can you think of any page content that would be particularly relevant?

[2018-05-03 13:04] dilwarhussain commented on #77
@StephMSlack Can you send me a link to the resource please?

[2018-05-03 13:29] StephMSlack commented on #77
@dilwarhussain I updated the look of that page so its not there anymore (sorry, forgot I used it as a sample!) Tried to add some attachments to recreate the issue but currently have dial-up style upload speeds. Will send a sample as soon as I can

[2018-05-03 14:38] dilwarhussain commented on #160
@StephMSlack @angievanhegan I've limited the content to the ones listed above and also added pages (I can remove if not needed). The sort order is using the last updated date from the content. This is why all the blogs are appearing at the top all together, because they were very recently imported/edited.

[2018-05-03 14:39] dilwarhussain commented on #159
@angievanhegan @StephMSlack Links in the mega menu are linking off to the new topics page now.

[2018-05-03 15:10] dilwarhussain commented on #77
@StephMSlack I've tried to recreate on the test resource here: http://bgs-dev.mrmdev.co.uk/resources/boxni-the-dog
Thought the issue may be to do with the long filenames so I copied them from your screenshot above but I could not recreate, it's looking fine on my browser here.
<img width="1039" alt="screen shot 2018-05-03 at 16 09 37" src="https://user-images.githubusercontent.com/29142647/3958532

[2018-05-03 15:14] angievanhegan commented on #199
@pipe-manta is this still blocked?

[2018-05-03 15:15] #156 closed

[2018-05-03 15:41] StephMSlack commented on #77
thanks @dilwarhussain this is also displaying correctly on my browser. No idea what happened with the other version then...

@angievanhegan @dilwarhussain Do the pdfs uploaded in the sidebar nugget automatically grab the cover of the PDF if one is not uploaded separately? See http://bgs-dev.mrmdev.co.uk/resources/effective-healthcare-for-older-people-living-in-care-homes

[2018-05-03 15:55] dilwarhussain commented on #77
@StephMSlack No, this is using the standard attachment nugget where you can attach all types of files, you can manually add a cover using the cover field for these. The only field that uses the auto cover is on resources in the overview tab just above the card content.

[2018-05-03 16:00] StephMSlack commented on #77
@dilwarhussain thanks! I'm putting the download content in the wrong place then....

@angievanhegan I just need to add topics to resources to check the programatic feed at the bottom of the page and then this is good to go

[2018-05-04 11:52] #213 closed

[2018-05-04 15:04] angievanhegan opened #216 "Make topics menu behave like Kings Fund topics menu"
Request from Steve

https://www.kingsfund.org.uk/

- [ ] ~TWEAK - Need to reduce the padding between items~
- [ ] ~TWEAK - Needs a few design tweaks @cat-manta (Steve will discuss with Cat)~
- [ ] ~TWEAK - No cursor needed on 'Topics' rollover cos you can't click it!~
- [ ] ~TWEAK - Cannot scroll screen when hovering on menu item~

[2018-05-08 08:27] StephMSlack commented on #159
thanks @dilwarhussain

@angievanhegan @dilwarhussain - Its looking great on a widescreen, but had a look at it on a mobile/tablet and it wasn't really readable. Any thoughts on alternate solutions for mobile/tablet?
![img_8824](https://user-images.githubusercontent.com/32127102/39746227-9fda8b9e-52a1-11e8-9a21-34c3941c0ef6.PNG)
![img_8825](https://user-images.githubusercontent.com/32127102/3974636

[2018-05-08 08:54] StephMSlack commented on #77
@dilwarhussain I've started adding topics to the CGA resource pages (CGA in community settings) but the programatic feed is not showing up at this point? Is there something else I need to do?

[2018-05-08 09:05] StephMSlack commented on #160
@dilwarhussain could I check which field you are using to sort the content by date?
The resources have a last updated field as well. For example the introduction to CGA has a last updated date of 04 Feb 2016, but it is appearing at the top of the list on the topic node page.

![screen shot 2018-05-08 at 10 02 56](https://user-images.githubusercontent.com/32127102/39748177-5b033e0c-52a7-11e8-984a-1

[2018-05-08 09:19] dilwarhussain commented on #160
@StephMSlack I'm using the last updated date, so it's not a field that appears on the content, it's just the timestamp that's created when one of the content types are saved.

[2018-05-08 10:03] dilwarhussain commented on #160
@StephMSlack The issue is that the content types do not have one uniform date field across them to be used to sort by.

i.e. Only the resource content type has the last updated field. Events have a start date, end date and display date. The page content type does not have date fields at all, which may be why it wasn't included in the initial list of content types.

Have a look through the content

[2018-05-08 10:16] StephMSlack commented on #160
Thanks @dilwarhussain, I thought that might be the case.

I think the results are too bitty right now -is it possible to add the last updated field to the blog and news/policy content types  and when they come online the events pages? And is it possible to auto-populate this field with the date published (when you add the field to those content types in the CMS? Otherwise I'll need to edit all 800

[2018-05-08 10:27] dilwarhussain commented on #160
That's cool @StephMSlack. I'll discuss with @angievanhegan later today 👍

[2018-05-08 10:37] StephMSlack commented on #134
thanks @dilwarhussain
@angievanhegan this is working now

[2018-05-08 11:13] pipe-manta commented on #77
@StephMSlack Sorry, we were applying some changes. Now the programmatic feed is showing again automatically.

[2018-05-08 15:07] dilwarhussain opened #217 "Add members directory to Member account page"
# Done criteria
- [x] TWEAK Synch
- [x] Search on full name in view
- [ ] ~TWEAK Ensure breadcrumb includes members's name (see comments below)~
- [ ] ~Add view to members page~
- [ ] ~Add Speaking/teaching expertise to header~
- [ ] ~Region can come off SIG group area at the bottom~
- [ ] ~Members should be able to contact other members. 'Get in touch' button should bring up~
- [ ] ~Can only cont

[2018-05-09 09:13] StephMSlack commented on #214
@angievanhegan yes we would like the member directory to show on the my account page. This does not need to include the member images (as we doubt there will be many images available and a row of avatars may look odd) but should include name and job title/organisation.

Could you confirm what parameters you will use to decide which members to show? ie will it be location or similar specialty?

[2018-05-09 09:47] StephMSlack commented on #215
@angievanhegan at this point we will not go ahead with this function but may look at adding it later.

[2018-05-09 11:45] StephMSlack commented on #178
thanks @dilwarhussain @angievanhegan this is fine

[2018-05-09 11:51] dilwarhussain opened #218 "Cannot add existing images from file browser"
An update - I can see the images in the file manager when accessing it from the  content section (in the black ribbon at the top of the CMS) but when I go to add an image in a content nugget using the file browser function, I cannot see the images. Odd!

# Done criteria
- [ ] Be able to add images in a content nuggets using the file browser function

[2018-05-09 11:52] StephMSlack commented on #77
@dilwarhussain question about the programatic feed using topics. Does it focus on the first topic in that resource? eg some resources might have 3 topics listed, so how/which order does the programatic feed choose which resources to feature on another page?

[2018-05-09 12:01] StephMSlack commented on #159
thanks @dilwarhussain.
the menu looks much better now!

still seeing the random peach when moving to a different item on the menu

![img_8827](https://user-images.githubusercontent.com/32127102/39813628-16606350-5389-11e8-8fb1-c415b756c458.PNG)

[2018-05-09 13:33] dilwarhussain commented on #77
@StephMSlack The 4 resources in the programatic feed are ordered by 'last updated', so the 4 latest resources will show.

[2018-05-09 13:34] angievanhegan opened #219 "Add a button to the Civi join page"
We need to be able to add a button to the top of this membership page to appear in the same way it does as on the BGS groups page ([example here](http://bgs-dev.mrmdev.co.uk/peri-operative-care-of-older-people-undergoing-surgery))

This is a one off, we won't be adding buttons like this on other pages.

# Designs & Docs
- [Become a member page](http://bgs-dev.mrmdev.co.uk/about/become-a-member)
-

[2018-05-09 13:34] angievanhegan commented on #219
@dilwarhussain Another issue

[2018-05-09 13:41] StephMSlack commented on #77
thanks @dilwarhussain

@angievanhegan I think this is finally good to go!

[2018-05-09 13:53] #219 closed

[2018-05-09 15:34] #77 closed

[2018-05-09 15:37] angievanhegan commented on #159
@dilwarhussain There's another tweak for you (listed at the top). Don't forget to use strikethrough to show when the done criteria are done :o) Thanks

[2018-05-09 15:37] #178 closed

[2018-05-09 15:55] angievanhegan commented on #214
@StephMSlack We suggest that it shows people in the same SIGs as you, in a random order. Then on refresh, you'd get another random group from this set. I suspect related interests is more important the geography. Let me know if this works for you and we'll confirm we can do it!

[2018-05-09 16:04] StephMSlack commented on #214
@angievanhegan had a chat to geraint about this and he highlighted that many members choose to join multiple SIGs. so he wanted to know how the random criteria would be applied. eg seeing random members of the first alphabetical SIG they have joined, or randomly from all the SIGs they are a member of? Ideally we would choose from their list of interests (which they can highlight) but these have no

[2018-05-09 16:15] pipe-manta commented on #199
@russ-manta @angievanhegan The new flexible box links nugget is working, now is possible to combine entity reference with custom content on the same view.

http://bgs-dev.mrmdev.co.uk/pipe-new-box-links

[2018-05-09 16:54] dilwarhussain opened #221 "Old topic terms still appearing in filter list"
# Done criteria
- [ ] Remove old (empty) topic terms from drop down list

[2018-05-09 17:06] angievanhegan commented on #214
@dilwarhussain Can you answer Steph's questions please? I can't!

[2018-05-10 13:03] dilwarhussain commented on #216
@ican-icant Can you check the drop down on the main menu items now please.

[2018-05-10 13:15] angievanhegan commented on #136
@dilwarhussain This design is signed off so it's now ready to build. Thanks

[2018-05-10 15:15] dilwarhussain commented on #160
@StephMSlack I've added the 'last published' date field to blog, news and policy update. We will add to events too when we begin work on those. I've also auto-populated the field on all 800 blogs to use the existing date field. The page is being sorted by the new field now so all should be working fine.

[2018-05-10 16:25] dilwarhussain opened #222 "Check events cards on feeds"
# List of views
- [ ] ~Home page featured (Latest)~
- [ ] ~Home page header (Curated links)~
- [ ] ~Home page (Nugget)~
- [ ] ~Topics~
- [ ] ~Resources 'You may be interested in'~ They don't appear here, only resources.

[2018-05-10 16:27] dilwarhussain commented on #222
Create concatenated conditionals to print 'Resource type', 'Event type' or content type.

[2018-05-10 17:49] angievanhegan commented on #160
@cat-manta @StephMSlack Didn't we decide that we wouldn't display any images on the topics pages? Even or the blogs? Although  we love having images, it looks quite messy that some have images and some don't, esecially if this combination is on the same line. @dilwarhussain This is entirely my fault for forgetting to pass this on. Sorry.

[2018-05-10 18:17] angievanhegan opened #223 "Homepage"

[2018-05-11 08:46] ican-icant commented on #216
@dilwarhussain @pipe-manta a few issues:

[2018-05-11 09:52] cat-manta opened #224 "Header and menu updates"
# Done criteria
- [x] ~Mobile - move 'Join' and 'Blog' buttons to dropdown menu when logged in~
- [x] ~Desktop - menu dropdown has an active state design, and general design has been updated~

# Designs & Docs
- [Mobile logged in header](https://invis.io/4EDQ458R5#/296384372_Home-Mobile-3)
- [Desktop menu dropdown](https://invis.io/4EDQ458R5#/289094992_Topics-Menu-V0-1)

[2018-05-14 09:43] dilwarhussain commented on #123
@angievanhegan @russ-manta Not sure where 'BGS roles' are being pulled in from. Can't see anything on CIVI. Is this a new field on Drupal user maybe?

[2018-05-14 09:50] dilwarhussain commented on #126
@angievanhegan @russ-manta Any more info on pulling through social media account details?

[2018-05-15 01:11] angievanhegan commented on #126
@dilwarhussain What do you need to know? I'm guessing we need to ask @StephMSlack to have Veda add them in Civi?

[2018-05-15 01:18] angievanhegan commented on #159
@pipe-manta Is this still in progress, or can we move it to done? Thanks

[2018-05-15 09:26] dilwarhussain commented on #121
@russ-manta "Test request new password, create an account, become a member buttons" - Does this need to be done anymore. I think these were just in the old versions of the design?

[2018-05-15 12:53] cat-manta commented on #159
@pipe-manta Can you get rid of the white line at the top of the menu? I think it makes more sense without it, then the background of the menu icon can go back to the light purple.
Can you add more space to the right of the arrows please.

[2018-05-15 13:06] #216 closed

[2018-05-15 13:17] pipe-manta commented on #159
@cat-manta done the latest changes

[2018-05-15 14:30] russ-manta commented on #121
@StephMSlack here is the URL to the login page to check: http://bgs-dev.mrmdev.co.uk/user

[2018-05-15 14:30] StephMSlack commented on #136
@angievanhegan @dilwarhussain could there be a little more space between the request new password paragraph and the join information? They seem to run together slightly.

The learn about our membership options should link to our become a member page (can I update this?) http://bgs-dev.mrmdev.co.uk/about/become-a-member

The become a member link should take you to first page of the membership proce

[2018-05-15 14:44] StephMSlack commented on #199
@angievanhegan this is fine

[2018-05-15 15:04] #199 closed

[2018-05-15 15:07] angievanhegan commented on #136
@dilwarhussain A couple of tweaks for you

[2018-05-15 15:09] angievanhegan opened #225 "Check login page links"

[2018-05-15 15:11] angievanhegan commented on #121
This is a dupe of #136

[2018-05-15 15:11] #121 closed

[2018-05-15 15:18] russ-manta opened #226 "Redirect to privacy page after login"
# Done criteria
- [ ] For GDPR redirect to a page to accept the privacy policy when logging in for the first time, keep redirecting here until privacy policay checkbox has been accepted
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-05-15 15:52] #29 closed

[2018-05-15 15:54] angievanhegan commented on #86
This has been done.

[2018-05-15 15:54] #86 closed

[2018-05-15 15:54] #88 closed

[2018-05-15 15:54] #22 closed

[2018-05-15 15:55] #108 closed

[2018-05-15 15:55] #155 closed

[2018-05-15 18:25] #70 closed

[2018-05-16 09:37] StephMSlack commented on #140
thanks @dilwarhussain
When a comment has been posted, have you set who the message goes to? If its an email, for testing purposes could you set it to go to me?

The comments all in the box is great and the submission message is fine.

[2018-05-16 09:47] StephMSlack commented on #136
@dilwarhussain - sorry I don't think my comment re: spacing was that clear - could you create more space between the last line of the Are you a member paragraph and the join information directly below? See the arrow on the screen shot below :)

![screen shot 2018-05-16 at 10 40 13](https://user-images.githubusercontent.com/32127102/40109756-042eaac6-58f6-11e8-8bc6-927428aeb083.png)

[2018-05-16 09:52] StephMSlack commented on #159
@angievanhegan this is fine

[2018-05-16 09:55] dilwarhussain commented on #140
@StephMSlack I've changed the email to go out to you. Let me know if any of the text needs to be changed. Did you say you want all comments to require approval? Including editors?

[2018-05-16 10:03] dilwarhussain commented on #136
@StephMSlack Sorry about that, I've added the padding to the correct place now.

[2018-05-16 10:49] StephMSlack commented on #160
@angievanhegan @dilwarhussain - please could we follow up the slack discussion and look at how to include a promo on the topic node to push users to a page (eg the topic Age & ageing journal also needs to show the Age & ageing page in about us)

[2018-05-16 11:33] StephMSlack commented on #140
@dilwarhussain thanks, this is great

Yes all comments should require approval, even editors...

[2018-05-16 12:52] StephMSlack commented on #224
@angievanhegan the design change is fine.
The blog/join buttons on mobile are in the dropdown menu when logged out as well as when logged in.

[2018-05-16 12:52] StephMSlack commented on #136
thansk @dilwarhussain

[2018-05-16 13:14] angievanhegan commented on #160
@StephMSlack I'll create new cards for this it's a new issue. Fingers crossed they'll both be little ones.

[2018-05-16 13:14] #160 closed

[2018-05-16 14:55] #159 closed

[2018-05-16 14:55] #158 closed

[2018-05-16 14:56] angievanhegan opened #229 "Enhancements"

[2018-05-16 15:11] angievanhegan commented on #140
@dilwarhussain Is there any chance you can do this tweak today so we can mark this epic as DONE for the demo tomorrow?

[2018-05-16 15:13] dilwarhussain commented on #140
@angievanhegan This is already done 🥇

[2018-05-16 15:14] #224 closed

[2018-05-16 15:24] russ-manta opened #230 "Past events"
# Done criteria
- [ ] TWEAK the event summary from Civi should remain on the page when the event expired.
- [ ] ~Register and download links on top right should be removed when date is in past~
- [ ] ~Hide view of where\what\rate etc + any other fields not present in past events wireframe according to if date is past~
- [ ] ~Show programme info~
- [ ] ~Post event content - Drupal (Content block nu

[2018-05-16 15:26] StephMSlack commented on #140
thanks @dilwarhussain @angievanhegan. Superstars!

[2018-05-16 15:27] russ-manta opened #231 "Events landing page"
# Done criteria
- [ ] ~Add filter for date (Need rule to populate Drupal date field before this can be done)~
- [ ] ~Add filters for topics, Region, City~
- [ ] ~Search by name~
- [ ] ~Event type on Card - from Civi~
- [ ] ~City field on card - from Civi~
- [ ] ~Coverage - is this required? If so perhaps add a coverage checkbox to the event content type~

# Designs & Docs
# Wireframes and Designs

[2018-05-16 15:46] angievanhegan opened #232 "When there's only one SIG on a topic page it should go full width"
http://bgs-dev.mrmdev.co.uk/topics/cardiovascular

[2018-05-16 15:46] angievanhegan opened #233 "QA"

[2018-05-16 15:49] angievanhegan opened #234 "Check group feeds are pulling through correct related content"

[2018-05-16 17:57] #139 closed

[2018-05-16 17:58] #140 closed

[2018-05-17 14:41] angievanhegan opened #235 "Remove the ability for people logging in to change their time zone"
Do we lose the option or the alert?

[2018-05-17 15:02] angievanhegan opened #236 "Intro text and member sign up on Members Directory page"
# Done criteria
- [x] Add editable text field at the top of the members directory page
- [x] Enable members to join the directory from the members directory page (it'll also need to show if you're already a member or not) - now being done via a civi profile on my account

[2018-05-17 15:51] #83 closed

[2018-05-17 16:02] #229 closed

[2018-05-17 16:09] #196 closed

[2018-05-17 16:12] #117 closed

[2018-05-18 15:07] angievanhegan opened #237 "Add events to home page"

[2018-05-21 09:50] mrm-git commented on #206
@pipe-manta No 'hand rollover' on Latest tabs

[2018-05-21 16:08] pipe-manta commented on #206
@cat-manta Done the buttons with another colour on hover for all the promos

@ican-icant Hand cursor on hover ready

[2018-05-22 09:06] StephMSlack commented on #236
@angievanhegan @russ-manta - yes this is what we need. thanks

[2018-05-22 10:39] StephMSlack commented on #236
@russ-manta Just confirming the opt in process with Geraint. It may be as simple as a link to the civi profile that the user needs to update in the My Account section.

[2018-05-23 13:38] dilwarhussain opened #238 "Menu position rules stray menu item"
# Done criteria
- [x] Current node page showing in main menu

[2018-05-23 13:45] angievanhegan commented on #85
@StephMSlack @dilwarhussain  So can I update this issue to reflect the conversation in Slack?

[2018-05-23 13:59] angievanhegan opened #239 "Add a feed for ALL the latest blogs (not tagged by group)"
@russ-manta Please can you provide a quote for this?

[2018-05-23 15:29] StephMSlack commented on #85
@angievanhegan @dilwarhussain Apparently (due to GDPR) we are changing the newsletter sign up process. There is also a plan to change from Mailchimp to Mosaic, but this is likely to happen after go-live.
All people signing up to receive the e-bulletin will now need to create a web account and choose their comms preferences. The sign-up for newsletter link will need to take someone to the basic web

[2018-05-23 15:41] StephMSlack commented on #176
@angievanhegan I'm double checking with Geraint and Recia. This one links to the event listing process diagram I sent through on slack (below).

![external event listing process 1](https://user-images.githubusercontent.com/32127102/40435083-c8d8c38c-5ea7-11e8-83da-c44c1c70874f.png)

We need to take a payment from for-profit users. I'm clarifying with Geraint/Daniella whether this can go through Ci

[2018-05-23 16:03] StephMSlack commented on #176
@angievanhegan the fields above are correct

[2018-05-23 17:38] angievanhegan commented on #192
@pipe-manta @russ-manta I've updated the done criteria with the fields from Steph. @russ-manta Do you know about integrating payment for this?

[2018-05-24 13:29] angievanhegan opened #240 "Asterisk (to show mandatory field) appears on new line"
![Screen Shot 2018-05-24 at 08.28.27.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/e1f63a02-1b72-47e4-b2e3-963ab3d17329)

[2018-05-24 13:55] angievanhegan commented on #206
@StephMSlack This is ready for you to review

[2018-05-24 13:57] angievanhegan opened #241 "Not all roles to be displayed on Account page"
Where a person is a member of a SIG, it doesn't need to be shown, it's only intended to show if people are a chair, secretary etc.

![Screen Shot 2018-05-24 at 08.55.02.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/b5e9d9a7-f63f-4720-a65d-db077e6b6424)

[2018-05-24 13:58] angievanhegan commented on #241
@StephMSlack can you confirm that this is correct?

[2018-05-24 14:16] StephMSlack commented on #241
@angievanhegan yes this is correct - for the BGS roles we just want to show if they are a
committee member (chair/secretary etc)

[2018-05-29 10:36] StephMSlack commented on #206
thanks @pipe-manta

[2018-05-29 15:36] StephMSlack commented on #206
@angievanhegan - happy with how to change featured articles and that the look matches the design.

The feed under the membership banner runs off the page when on a mobile
the twitter feed still links to MRM - I've updated the twitter # info, but still have your feed...

[2018-05-29 17:31] angievanhegan commented on #214
@StephMSlack Dilwar confirmed it'd be easy enough to change the filter criteria later on.

[2018-05-29 18:52] angievanhegan opened #242 "Topics link from Resources, News, Policy, Groups and Events to link to relevant topic page"
At the moment, they all link to search results showing only the same type of content (e.g. link on resource page shows all resources with the same topic). Now that we have topic pages, please can these links go directly to them?

- [x] ~Resources~
- [x] ~News and Policy~
- [x] ~Blog~
- [x] ~Group pages~
- [ ] ~Events~

[2018-05-29 18:53] angievanhegan commented on #242
@dilwarhussain Please let me know if this isn't a quick job. Thanks

[2018-05-29 18:55] angievanhegan opened #243 "New promos not becoming parallax by default"
Let me know if there's actually something that the editors should be doing. Thanks

[2018-05-30 09:16] dilwarhussain commented on #241
@StephMSlack Attached is the full list of relationship types being used in civi. Can you tell me which ones you would like me to limit the BGS roles list to please, thanks.

[bgs_roles.txt](https://github.com/MantaRayMedia/bgs/files/2053235/bgs_roles.txt)

[2018-05-30 09:33] StephMSlack commented on #192
@angievanhegan could we also add a step at the end sending a confirmation of submission email to the event submitter? Geraint will be supplying the text.

[2018-05-30 09:39] dilwarhussain commented on #243
@StephMSlack Can you send me a link to a node where this isn't working please. Just added a promo to this test page and it looks okay to me: http://bgs-dev.mrmdev.co.uk/dh-page-test

[2018-05-30 09:46] StephMSlack commented on #241
@dilwarhussain just confirming this with Geraint will get back to you soon

[2018-05-30 09:50] StephMSlack commented on #243
@dilwarhussain it is the one on the homepage (autumn meeting) and the membership directory - but I cannot remember where I put it!

[2018-05-30 09:54] StephMSlack commented on #243
@dilwarhussain and typically, I've added the member directory to http://bgs-dev.mrmdev.co.uk/about/why-we-do-it and it is parallax now....

[2018-05-30 10:17] dilwarhussain opened #244 "Clear out topics"
# Done criteria
- [x] Topic list showing all empty tags in search dropdown: http://bgs-dev.mrmdev.co.uk/blog - via database

[2018-05-30 10:26] StephMSlack commented on #241
@dilwarhussain here is the updated list.
[bgs_roles.txt](https://github.com/MantaRayMedia/bgs/files/2053528/bgs_roles.txt)

Are the fields being displayed as in the doc? if so, we may need to do some editing so they make sense from a user point of view (eg changing PAC to policy and communications). Will renaming the fields impact what you are doing?

[2018-05-30 10:28] dilwarhussain commented on #242
@StephMSlack Topics are now linking to the topic page.

[2018-05-30 10:39] StephMSlack commented on #242
thanks @dilwarhussain this is great

[2018-05-30 11:28] dilwarhussain commented on #122
@StephMSlack As web admin you now have the ability to edit user accounts and change the member alert field for users. List of users here: http://bgs-dev.mrmdev.co.uk/admin/people
So you can edit this per user or you can use the 'Operations' dropdown on the People page to update multiple user accounts at once. Do this by selecting/filtering and then selecting the user accounts with checkboxes then

[2018-05-30 12:52] StephMSlack commented on #122
thanks @dilwarhussain I also need to use this function to add an alert to the my account page of all BGS members within Civi and ideally (if this is not additional work out of scope) differentiate between member roles (eg create an alert that only shows on the my account pages of members who are in Category A with journal). Does that make sense?

[2018-05-30 13:05] StephMSlack commented on #241
thanks @dilwarhussain
i'm getting a number of error messages on my login of the my account page, so cant see the changes at the moment

[2018-05-30 13:36] StephMSlack commented on #206
@angievanhegan how do we fix the twitter feed?

[2018-05-30 13:44] angievanhegan commented on #242
@StephMSlack This is done. you can move it to closed once you've checked it. Thanks

[2018-05-30 13:52] angievanhegan commented on #206
@pipe-manta One more for you. Thanks

[2018-05-30 13:54] angievanhegan commented on #122
@StephMSlack That's definitely out of scope. Sorry. Do you want me to get a quote for doing that? And, can this one be signed off?

[2018-05-30 15:04] #242 closed

[2018-05-30 15:55] angievanhegan commented on #122
@dilwarhussain We're discussed this with Steph and we think the tweak listed above is the simplest solution that meets their needs. Let me know if this is more than an hours work. Thanks

[2018-05-30 16:03] #243 closed

[2018-05-30 16:03] angievanhegan commented on #192
@russ-manta How much extra work will Steph's request be please? Thanks

[2018-05-31 10:54] pipe-manta commented on #206
@StephMSlack I have requested on Slack your twitter login details, please don't include them here.

[2018-05-31 13:09] angievanhegan opened #245 "Costing needed: Enable content to be sticky on topics page"
This would include: Resources, Events, News, Policy, Blog

[2018-05-31 13:44] StephMSlack commented on #214
@angievanhegan @dilwarhussain - is there a way to stop the members job title running off the end of the card? And if they have two hospitals listed, only showing the first? The card becomes very cluttered with more than that.
Could we reduce the space between the lines of text when a name runs onto a second line?
thanks!

[2018-05-31 14:15] StephMSlack commented on #241
thanks @dilwarhussain
Is there anyway that we can put a hyphen in when you show two fields? Eg Secretary of SIG - Anaemia. It would just make the text read better. Most of the other fields in the relationship list are singular and wouldn't need it.

[2018-05-31 14:17] StephMSlack commented on #214
@angievanhegan @dilwarhussain could we also change the text slightly? Directory should have a capital and could the text below read - members who share common interests with you
Thanks

[2018-05-31 14:36] StephMSlack commented on #95
Pages where promo/SSO appears:
My Account page (sidebar nugget)
A&A page (sidebar nugget) http://bgs-dev.mrmdev.co.uk/about/what-we-do/age-and-ageing
Resources landing page (promo)
Homepage (Promo)

[2018-05-31 14:38] pipe-manta commented on #206
@angievanhegan Twitter feed is displaying now @gerisoc tweets

[2018-05-31 14:44] dilwarhussain commented on #241
@StephMSlack I've added a hyphen in between.

[2018-05-31 14:47] StephMSlack commented on #241
thanks @dilwarhussain

Also, we dont need to show the speaking/research expertise fields on this page, only for the members directory

[2018-05-31 14:52] dilwarhussain commented on #241
@StephMSlack Gone!

[2018-05-31 15:39] StephMSlack commented on #241
thanks @dilwarhussain

[2018-05-31 16:21] angievanhegan commented on #206
@StephMSlack This is ready for you to sign off

[2018-05-31 17:33] angievanhegan commented on #214
@dilwarhussain Some tweaks listed out above. Thanks

[2018-05-31 17:35] angievanhegan commented on #241
@StephMSlack Can this be signed off now?

[2018-06-01 08:49] dilwarhussain commented on #214
@StephMSlack @angievanhegan Fixed with a few comments above.

[2018-06-04 14:00] russ-manta opened #246 "Styling issue on costs table"
# Done criteria
- [x] TWEAK Issue still occurring in [other places](http://bgs-dev.mrmdev.co.uk/events/british-geriatrics-society-spring-meeting-2019) see notes below
- [x] Under FAQ section
http://bgs-dev.mrmdev.co.uk/about/become-a-member

[2018-06-05 10:11] StephMSlack commented on #206
@angievanhegan @pipe-manta when we pull through the tweets, could we remove the image/not show the image. It starts to look messy
![screen shot 2018-06-05 at 11 09 54](https://user-images.githubusercontent.com/32127102/40969968-284212ca-68b1-11e8-800b-bb4fb6ce845d.png)

[2018-06-05 10:16] StephMSlack commented on #206
@pipe-manta is there any way that we can ensure that the bottom of the top left box (with the larger image) aligns with the bottom of the promo? I know the boxes are responsive so this may not be possible, but is there any way we can set the height so they align?

![screen shot 2018-06-05 at 11 14 05](https://user-images.githubusercontent.com/32127102/40970249-ea2c128c-68b1-11e8-843e-f832d453d0fb.

[2018-06-05 10:17] StephMSlack commented on #241
Yes @angievanhegan

[2018-06-05 10:19] StephMSlack commented on #214
Thanks @dilwarhussain

[2018-06-05 10:21] StephMSlack commented on #209
@dilwarhussain Could you give me access to the member directory?

[2018-06-05 10:22] StephMSlack commented on #217
@dilwarhussain I'm not sure what this links to/what I should be seeing. I don't seem to have access to the member directory either. Thanks Steph

[2018-06-05 10:27] StephMSlack commented on #214
@angievanhegan this is fine to sign off

[2018-06-05 10:31] StephMSlack commented on #95
@angievanhegan @russ-manta just looking at the member directory pages - is it possible to have the A&A SSO promo sitting at the bottom of each of the directory pages?

[2018-06-06 14:03] StephMSlack commented on #217
@dilwarhussain the Get in touch button shouldn't be on the my account page
![screen shot 2018-06-06 at 14 59 18](https://user-images.githubusercontent.com/32127102/41042804-7b70ed4c-699a-11e8-988d-422059f76c2d.png)

[2018-06-06 14:33] dilwarhussain commented on #217
@StephMSlack Do you mean that shouldn't when looking at your own user account page?

[2018-06-06 14:43] StephMSlack commented on #217
@dilwarhussain yes. when it pops up its sending an email to myself :).

It made me think I could get in touch with the BGS. Could it be turned into a way to contact the BGS if it appears on your own My Account page? Not sure if that would be a simple or more complex thing...

[2018-06-06 14:51] StephMSlack commented on #209
@dilwarhussain the text in the search for the check boxes needs to change to
Interest in research
interest in speaking at events.

Also these boxes are automatically ticked when I open the search + sign. The checkboxes should be empty until the user completes them

[2018-06-06 15:35] #241 closed

[2018-06-06 15:36] #214 closed

[2018-06-06 17:22] angievanhegan commented on #240
Done

[2018-06-06 17:22] #240 closed

[2018-06-07 08:08] pipe-manta commented on #206
Hi @StephMSlack I have removed the images on the twitter feed.

[2018-06-07 09:45] StephMSlack commented on #209
@dilwarhussain is it possible to add some tags/interests to some of the users in the directory? I cannot access other contacts in Civi to do this myself, so I cannot check if the interests search works

[2018-06-07 09:48] StephMSlack commented on #217
@angievanhegan not exactly sure what I am signing off - is this the pages users see once they have searched the member directory?

[2018-06-07 09:49] StephMSlack commented on #217
@angievanhegan I think I need to access a couple of different logins and populate some more info about the users in Civi before I can be happy that this all works.

[2018-06-07 09:59] dilwarhussain commented on #209
@StephMSlack I've changed some permissions to allow you to edit contacts. Can you try again for me please, if it still doesn't allow I can add some tags to the users for you.

I've made a note about changing the filters.

[2018-06-07 10:12] StephMSlack commented on #206
thanks @pipe-manta
Any chance we can set the height of the boxes as we have done with the feeds on the Groups pages?
![screen shot 2018-06-07 at 11 11 11](https://user-images.githubusercontent.com/32127102/41093551-8858fd84-6a43-11e8-854c-32ce15925edb.png)

And is there anything we can do about the height of the boxes in the top section of the page?

[2018-06-07 10:41] dilwarhussain commented on #209
I can see the same error as an admin actually, when clicking on 'edit' on the profile and making changes there. I've been using the inline editing on civi, so you just click on the field you want to change and make changes there (see below).

<img width="1073" alt="screen shot 2018-06-07 at 11 38 26" src="https://user-images.githubusercontent.com/29142647/41094888-b12eea44-6a47-11e8-84d6-69fe9e373

[2018-06-07 10:44] StephMSlack commented on #209
And here I was hoping I would get SUPER rights...
I can edit these now. thanks @dilwarhussain

[2018-06-07 10:51] dilwarhussain commented on #217
@StephMSlack I've made the contact button only appear on other users pagers.

Also your account has opted in for directory member, I've changed the 'hussaind' account to not be opted in. Will these two accounts be okay to test the functionality?

[2018-06-07 11:16] StephMSlack commented on #217
Thanks @dilwarhussain
Could you let me know what page/system am I testing here? is it seeing other directory members, their directory page (layout and content pulling from CIvi) or something else?

[2018-06-07 11:30] dilwarhussain commented on #217
Yes I think this is slightly similar/overlapping with #214 which is signed off. I think the main thing to test here is the functionality around messaging other directory members. You should get the form to message if you are a directory member, otherwise you should get a box saying you need to opt in to message other users.

[2018-06-07 15:29] angievanhegan opened #247 "Style pages in the 'join' process"
These are Civi pages so probably won't be able to look quite as styled as the rest of the site, but we should do what we can. Steve will advise on how much we'll do.

http://bgs-dev.mrmdev.co.uk/civicrm/membership-rates

Steph will confirm what to do with the banner on the first page.

[2018-06-07 15:30] angievanhegan commented on #247
@dilwarhussain This is in the scope of the proposal Dilwar. I suggest we do the styling we can, then review it with Steve. Let me know if you want me to organise that. Thanks

[2018-06-07 15:33] angievanhegan opened #248 "Style the pages in the 'register for an event' process"
This is in the proposal. They are civi pages so they won't be able to be styled as much as the rest of the site, but we should do what we can.

[2018-06-07 15:34] angievanhegan commented on #248
@dilwarhussain I suggest we do the styling we can, then review it with Steve. Let me know if you want me to organise that. Thanks

[2018-06-07 15:51] russ-manta commented on #210
here is the form: http://bgs-dev.mrmdev.co.uk/bgs_membership

[2018-06-07 15:52] #35 closed

[2018-06-07 15:52] #126 closed

[2018-06-07 15:59] russ-manta commented on #245
@StephMSlack @angievanhegan this is now done on the topics pages. Just make an item sticky and it will appear at the top.
It was quicker to do than to cost.
If we need to make any more changes to this then I will quote.

[2018-06-08 11:07] russ-manta commented on #239
@angievanhegan we reckon 1/2 a day for this

[2018-06-08 12:21] russ-manta commented on #202
Waiting on view from VEda to be able to show the schedule

[2018-06-08 17:43] angievanhegan commented on #206
@pipe-manta Can you answer Steph's question please? Thanks

[2018-06-08 17:49] angievanhegan commented on #176
@russ-manta Can I pass this over to you to sort out the payment aspect please?

[2018-06-08 17:54] angievanhegan commented on #239
@StephMSlack Here's the estimate for you. I don't know if we'll also have time for this before go live. Let me know if you'd like to go ahead.

@russ-manta Thanks.

[2018-06-08 17:56] angievanhegan commented on #235
@russ-manta I suspect you'll know where to look to check this.

[2018-06-08 17:57] angievanhegan commented on #209
@StephMSlack Does that mean this can be closed? Thanks

[2018-06-08 17:58] angievanhegan commented on #248
@StephMSlack This is ready for you to review

[2018-06-08 18:01] angievanhegan commented on #171
@StephMSlack This is ready for you to review.

http://bgs-dev.mrmdev.co.uk/peri-operative-care-of-older-people-undergoing-surgery

[2018-06-08 18:02] angievanhegan commented on #231
@StephMSlack This is ready for you to review

http://bgs-dev.mrmdev.co.uk/events

[2018-06-08 18:02] angievanhegan commented on #230
@StephMSlack This is ready for you to review: http://bgs-dev.mrmdev.co.uk/events/past-events

[2018-06-08 18:17] angievanhegan commented on #197
@StephMSlack Is this right now? Can we go ahead and set it up?

[2018-06-08 18:18] #223 closed

[2018-06-08 18:19] #124 closed

[2018-06-08 18:23] angievanhegan commented on #188
@StephMSlack Do you still need this doing?

[2018-06-08 18:57] #93 closed

[2018-06-08 19:02] angievanhegan commented on #237
@pipe-manta Why is this blocked? Can it be done now?

[2018-06-08 19:04] angievanhegan commented on #192
@pipe-manta Can you put a line through all the things that are done?

[2018-06-11 08:22] StephMSlack commented on #188
@angievanhegan yes please - it is the heading text within the page (which I cannot change) not the menu/page name

[2018-06-11 09:31] StephMSlack commented on #226
@angievanhegan @russ-manta - See slack discussion below. Colin has decided that BGS do not need users to sign up to the privacy policy when first logging in, so this task can be removed from the backlog.

Steph

Russ [1:23 PM]
@Steph @G are you creating a privacy page/form which we can redirect to after login?

G [3:06 PM]
@Daniella please can you share the GDPR module information with Russ. The p

[2018-06-11 09:42] russ-manta commented on #226
no longer needed - from steph ' Due to Colin’s decision we no-longer require users to be redirected to the privacy policy when first logging into the website. So this issue can be removed from the github list. FYI'

[2018-06-11 09:42] #226 closed

[2018-06-11 09:55] StephMSlack commented on #210
@angievanhegan @russ-manta Thanks for moving this across.

At the moment I cannot access the join form/process unless logged in to the CMS.

There are some styling issues - @angievanhegan I've added them here, but let me know if they need to move elsewhere.

Membership Rates Page

1. can we add a promo to the bottom of the form?
2. is it possible for BGS to edit this page? Not sure where it sits/h

[2018-06-11 10:16] StephMSlack commented on #217
@dilwarhussain I've used an incognito window to sign in as you and test the member contact function.
In Civi your record (Helen Rodgers) has opted out of the directory but when I am signed using the helen rodgers account I can still contact users in the directory using the contact form.

[2018-06-11 10:30] StephMSlack commented on #217
@dilwarhussain Are changes that are being made in CiviCRM on the members record updating in Drupal? I changed the member directory opt-out in Civi, but in Drupal you are still a directory member.

[2018-06-11 10:34] dilwarhussain commented on #217
@StephMSlack Seems we lost the sync between this field and the role in Drupal when we updated the civi database. Just working on this now.

[2018-06-11 10:34] StephMSlack commented on #217
@dilwarhussain Also, when I am logged in as me, then view a different contact in the member directory, the breadcrumb trail changes to welcome "Name of other contact"

This shouldn't happen (though is it happening now as I am a web admin? In which case we need to set up a basic member account for testing)

![screen shot 2018-06-11 at 11 31 49](https://user-images.githubusercontent.com/32127102/412

[2018-06-11 10:39] StephMSlack commented on #209
@angievanhegan not yet - The top point hasnt been completed - _the text hasn't been changed and the check boxes are still ticked._

[2018-06-11 10:58] StephMSlack commented on #245
Thanks so much @russ-manta really appreciate  it!
@angievanhegan this is fine to close

[2018-06-11 11:14] StephMSlack commented on #171
@angievanhegan @dilwarhussain this looks good. \

Can we set the size of the boxes so they are the same as the resource boxes? Events is one of the key things we need to push, but they are looking a little small next to the larger resources boxes and then the cards with images in the blog/news

[2018-06-11 11:27] StephMSlack commented on #231
@dilwarhussain could you let me know when you have had a chance to add the date filters for the search?

[2018-06-11 11:30] dilwarhussain commented on #231
@StephMSlack The event type label is being pulled in from civi.
I will let you know when the date filters are added.

[2018-06-11 13:28] angievanhegan commented on #247
@dilwarhussain some comments from Steph:

There are some styling issues - @angievanhegan I've added them here, but let me know if they need to move elsewhere.

Membership Rates Page

can we add a promo to the bottom of the form?
is it possible for BGS to edit this page? Not sure where it sits/how it is put together.
Linked to 2 - does the content need to sit in a table? Or can I display it in a di

[2018-06-11 13:30] angievanhegan commented on #210
@dilwarhussain Steph can't access  join form/process unless logged in to the CMS.

[2018-06-11 13:30] dilwarhussain commented on #247
@angievanhegan I haven't done any styling on these pages yet, but will keep this in mind. Thanks.

[2018-06-11 13:31] angievanhegan commented on #209
@dilwarhussain See Steph's comment above about the first TWEAK

[2018-06-11 13:32] angievanhegan commented on #217
@dilwarhussain A tweak for you. Thanks

[2018-06-11 13:47] StephMSlack commented on #248
@dilwarhussain there seem to be some random extra fields displaying which are not in the profile. Am I missing something? Search for address is not one of the profile fields

![screen shot 2018-06-11 at 14 32 13](https://user-images.githubusercontent.com/32127102/41234539-65113230-6d84-11e8-8366-91a9a200d12d.png)

The continue button at the bottom left of the form - can this be in Pink as with the

[2018-06-11 13:48] angievanhegan commented on #170
@StephMSlack What did you have in mind for the slideshow displaying PDFs? That a one page PDF is used for an image, or that the slideshow would take people through every page of a PDF? I'm a bit worried that this will be work that wasn't really in scope. Angie

[2018-06-11 13:51] angievanhegan commented on #194
@StephMSlack Is this still required for the launch? Thanks

[2018-06-11 14:20] StephMSlack commented on #171
@angievanhegan @dilwarhussain I've used the upcoming events - latest feed on the trainee group page - we'll need the event happening soonest (eg the September one) to show before the November meeting. I assume this sorting may be linked to the event dates which are not coming into drupal properly at the moment?

[2018-06-11 15:13] dilwarhussain commented on #171
@StephMSlack I've changed the height of the event cards to work like the resource cards. And I've fixed the ordering by using the start date in civi.

[2018-06-11 15:39] pipe-manta commented on #206
Hi @StephMSlack On the curated links, at the moment only the left box can adapt the height when the boxes on the right are higher, but not on the other way. It's working to keep the consistency with the design and looks responsive.

We can create another solution with an extra development time, but losing the proportion 16:9 of the image on the left, in some cases, it will be cropped on the sides

[2018-06-11 15:45] #211 closed

[2018-06-11 15:47] russ-manta commented on #176
@angievanhegan yes I've now added a new task to this card for that

[2018-06-11 15:47] pipe-manta commented on #192
@angievanhegan Done!

[2018-06-11 15:47] #212 closed

[2018-06-11 15:53] StephMSlack commented on #171
Great, thanks @dilwarhussain
@angievanhegan this is fine to close

[2018-06-11 16:01] #238 closed

[2018-06-11 16:01] #235 closed

[2018-06-11 16:05] #171 closed

[2018-06-11 16:33] angievanhegan commented on #192
@pipe-manta There's one more tweak from Steph. Is this something you can do?

[2018-06-11 16:34] dilwarhussain commented on #85
@StephMSlack Can you send the page you'd like the button to link off to?

[2018-06-11 16:35] angievanhegan commented on #206
@StephMSlack Let us know what you'd like us to do with this.

[2018-06-11 16:46] dilwarhussain opened #249 "Ensure people can add themselves to the members directory"
# Done criteria
- [x] TWEAK Add membership number to account page
- [x] BLOCKED WE're missing a profile for this - Civi profiles with membership fields don't seem to display on Drupal user tabs - this occurs in both Veda and Manta Ray staging sites
- [x] Check manage my account page to include the 'opt in to the members directory checkbox'.
- [x] Ensure blocks on my account page display according

[2018-06-11 16:52] dilwarhussain commented on #209
@StephMSlack I've changed the text for the two filters. I've also had to change them from a single on off switch to a drop down list. Because the field in civi is created with multiple options, me trying to force it to display as a single on off switch was causing problems. Let me know if this is okay or if we need to continue looking at this.

[2018-06-11 16:53] angievanhegan opened #250 "External vacancies (to be charged for) to be accessed from the footer"
https://docs.google.com/document/d/1abF-5MFPZlK03jdTH8FRcdCTIm0m81yyhFdKLj8Dv6A/edit

[2018-06-12 08:13] StephMSlack commented on #188
Thanks @dilwarhussain
@angievanhegan this is good to go

[2018-06-12 09:01] dilwarhussain commented on #247
@StephMSlack Is there a specific promo you'd like to show on the 'Membership Rates' page? It's not a Drupal page so unfortunately you won't have the flexibility of nuggets, but I should be able to add a specific promo to the page manually.

[2018-06-12 09:06] StephMSlack commented on #247
@dilwarhussain I'd have to create one for you. I'll look at doing that now. Is this page editable for the BGS staff? The membership rates all change to 50% discount on the 1st July, so we'll need to be able to change the content then...

[2018-06-12 09:06] pipe-manta commented on #192
Hi @StephMSlack and @angievanhegan, for external free events, paid events and courses, we have this steps for the process:

Free events and courses:
1. After submission: the web editor and submitter receive an email with the notification of the new submission. Status: Not processed.
2. After reviewing the content, the status can be changed to "Approved, payment not required" and the content will b

[2018-06-12 09:09] StephMSlack commented on #247
@dilwarhussain could you use the become a member promo - http://bgs-dev.mrmdev.co.uk/become-a-member

[2018-06-12 12:57] StephMSlack commented on #230
@dilwar - could we keep the event summary field in the past event content?

[2018-06-12 13:01] StephMSlack commented on #230
@dilwarhussain How do we show the related events? do we need to add them or do they appear automatically (as with resources) and if so, are they linked to topics?

[2018-06-12 13:05] angievanhegan opened #251 "COSTING: Add professional groups to topic pages"
These can be presented alongside the SIGs and all the groups can be given the title 'Relevant BGS groups'

[2018-06-12 13:20] #188 closed

[2018-06-12 13:54] russ-manta commented on #248
@StephMSlack the registration error should now be fixed.  To  remove the none option you just need to make the price set field required - does this work for you?

[2018-06-12 14:00] angievanhegan commented on #246
@StephMSlack This is ready for you to sign off. You can close it.

[2018-06-12 15:37] StephMSlack commented on #247
@dilwarhussain when you get to the option to join a group, we are getting a lot of extra options (Veda Scratch Group etc) which are the smart groups.
This should show the Organisations - SIG (will show as ORGSIG) and for anyone who joins as a GP member, we need to show BGSGroup.

[2018-06-12 15:38] StephMSlack commented on #210
thanks @dilwarhussain I can now access this when not logged in.

[2018-06-12 15:39] StephMSlack commented on #210
@dilwarhussain @angievanhegan I'm walking through the forms - should I add all comments on the forms to #247 or this issue?

[2018-06-12 15:49] angievanhegan commented on #210
@StephMSlack Add them all here and we'll go through them later and maybe divide them out.

[2018-06-12 15:50] angievanhegan commented on #232
@StephMSlack This is ready for you to check. You can close it.

[2018-06-12 15:53] StephMSlack commented on #232
this is fine

[2018-06-12 15:53] #232 closed

[2018-06-12 16:02] dilwarhussain commented on #231
@StephMSlack The date filters are now working.

[2018-06-12 16:02] angievanhegan opened #252 "Enable ordering of groups changes"
Need to be able to control the order of the Professional groups as they appear on the BGS Groups landing page.

If it's easier, the change can be applied to the SIGs too.

[2018-06-12 16:03] dilwarhussain commented on #230
@StephMSlack We can keep the event summary. The related events should be working automatically now, just need some styling to finish off.

[2018-06-12 16:04] angievanhegan commented on #252
@russ-manta Is there any way that this is quicker to do than to quote?

[2018-06-12 16:12] angievanhegan opened #253 "Check all breadcrumbs are right"
http://bgs-dev.mrmdev.co.uk/gerigps

[2018-06-12 16:20] dilwarhussain opened #254 "Spacing on event series resources"
# Done criteria
- [ ] Add alt spacing for resources on a Resource series page (http://bgs-dev.mrmdev.co.uk/resources/resource-series/bgs-newsletter-may-2018)

[2018-06-12 16:21] dilwarhussain opened #255 "Summary text on hover"
# Done criteria
- [ ] ~Get rid of transition for when cursor leaves card. ( http://bgs-dev.mrmdev.co.uk/bgs-groups)~

[2018-06-12 16:38] angievanhegan opened #256 "Remove white background from box links within additional content"
(feedback from Steve)

These box links shouldn't be on a white background.
http://bgs-dev.mrmdev.co.uk/about

Do you think it's because they had to do them within Additional Content and not in Main content? (they're not available there)

Thanks

[2018-06-12 16:41] angievanhegan opened #257 "Group pages not appearing in search results"
Group pages are not coming up in the search

[2018-06-12 16:43] dilwarhussain commented on #256
@angievanhegan Putting these in the postscript region fixes this. Have a look on the page, I've added some under the additional region. Main content and Additional content always have white backgrounds as thats the main content region.

[2018-06-12 16:44] angievanhegan opened #258 "Search on global nav not working"
- [ ] ~TWEAK Advanced search is available to all users~

With the advanced search, we dont need the following content types to show:

- [ ] ~Country~
- [ ] ~organisation~
- [ ] ~organisation group~
- [ ] ~peer-reviewed article~
- [ ] ~system page~

NEW I have also excluded these ones:
- [ ] ~Slide~
- [ ] ~Form~
- [ ] ~Footer~
- [ ] ~Promo~
- [ ] ~Home page~

[2018-06-12 16:51] dilwarhussain commented on #257
@angievanhegan Should be able yo find groups in site search now. http://bgs-dev.mrmdev.co.uk/search/node

[2018-06-12 17:11] angievanhegan commented on #256
@dilwarhussain Thanks - I didn't know that. All sorted now.

[2018-06-12 17:13] angievanhegan commented on #257
@dilwarhussain I tried looking for this and it didn't come up.
Nurse and AHP council

[2018-06-12 17:17] angievanhegan opened #259 "Change presentation of topics"
Estimated at 1.5 days @£560 per day plus VAT

BGS would like to show the content by content type (groupings Resources, News & Policy then Blogs) with a header for each content type. Could use the tab design from the home page?

Also, Can we give the ability to add the professional groups to the top of the page, alongside the SIGs? These can be all the groups can be given the title 'Relevant BGS gr

[2018-06-13 08:11] StephMSlack commented on #85
@dilwarhussain  this needs to go to the basic create an account/GDPR profile - This will be in the Veda version of Civi being installed today. Communication Preferences - GDPR ID 32. This should allow the user to create a very basic account and then they need to see the GDPR module to choose what they want to receive.

[2018-06-13 09:00] StephMSlack commented on #170
@angievanhegan - I was hoping to use the slideshow to display some of the posters that we have from events. The posters are clearer and smaller in PDF format v's as images. I have put some samples up as PNGs, but because of the format of the slideshow, they aren't working too well visually -http://bgs-dev.mrmdev.co.uk/events/mersey-region-autumn-meeting

[2018-06-13 09:01] dilwarhussain commented on #257
Works fine for me, logged in and out. I've flushed the caches. Could try once more for me please!

![screen shot 2018-06-13 at 09 59 53](https://user-images.githubusercontent.com/29142647/41341023-9895638e-6ef0-11e8-926b-d786887d6815.png)

[2018-06-13 09:02] StephMSlack commented on #206
@angievanhegan @pipe-manta lets leave it as it is for now and if I need you to do extra work following feedback from the team we can re-look at it then.

[2018-06-13 09:04] StephMSlack commented on #206
@angievanhegan I'm happy with the function of this and how it is looking. We can close this as there is another ticket to add the event feed to the homepage

[2018-06-13 09:08] StephMSlack commented on #231
@dilwarhussain sorry I didnt notice this before - could we have the date fields on the right of the search and the other fields in the left column? Then we have consistency regarding how the search looks across events/Media & Policy/Resources.

Otherwise, happy with the styling and information. We will be updating the event labels in Civi once the staging version is installed on your server (annua

[2018-06-13 09:13] StephMSlack commented on #230
@dilwarhussain yes please, they should have exactly the same filters as the upcoming events page

[2018-06-13 09:38] StephMSlack commented on #202
@dilwarhussain on the RHS nugget - we currently add abstract information as a content nugget, but that is getting pushed down the page with the logo/related links/programme etc. Is it possible to add abstracts in the overview section of the CMS as one of the links? Or is there another way we can get it to sit higher on the RHS?

[2018-06-13 11:01] dilwarhussain commented on #231
@StephMSlack Filters are consistent with Resources etc. now.

[2018-06-13 11:02] dilwarhussain commented on #230
@StephMSlack The past events view now has the same filters as upcoming.

[2018-06-13 13:16] #206 closed

[2018-06-13 13:16] #256 closed

[2018-06-13 13:17] angievanhegan commented on #125
Had a review with Steve and Cat

[2018-06-13 13:17] #125 closed

[2018-06-13 13:17] angievanhegan commented on #119
Had a review with Steve and Cat

[2018-06-13 13:17] #119 closed

[2018-06-13 13:32] angievanhegan commented on #192
@StephMSlack This is ready to review. Can you also confirm which email the submission confirmation for events should go to? Thanks

[2018-06-13 13:32] #255 closed

[2018-06-13 13:34] angievanhegan commented on #194
@StephMSlack This is ready for you to review.

[2018-06-13 13:37] angievanhegan commented on #202
@dilwarhussain @russ-manta I this still blocked?

[2018-06-13 13:45] russ-manta opened #260 "Civi - add member roles sync rules with Drupal"
- [x] Create drupal sync rules so that drupal roles are updated in sync with membership types and statuses in civi
- [x] Add renew button to expired members profiles

[2018-06-13 14:01] angievanhegan opened #261 "Email address getting mangled in content nugget in sidebar"
http://bgs-dev.mrmdev.co.uk/remember-bgs-in-your-will

![Screen Shot 2018-06-13 at 09.00.53.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/dc628dd3-46fa-4c87-8714-bd1affe8bb15)

[2018-06-13 14:55] StephMSlack commented on #258
@angievanhegan @pipe-manta the groups are not coming up in the search - they will need to. EG if I search for trainee, the first result I'd like to see is the trainee group - http://bgs-dev.mrmdev.co.uk/trainees

Also with the advanced search, we dont need the following content types to show:
Country
organisation
organisation group
peer reviewed article
system page

Thanks

[2018-06-13 14:56] angievanhegan commented on #170
@StephMSlack OK. I understand the requirement now. Can you attach any PDF or PNG posters here and we'll see what we can do.

[2018-06-13 14:58] angievanhegan commented on #258
@StephMSlack Try clearing your cache. The search works for me exactly as you'd like it to. I'll add the other things as a TWEAK

[2018-06-13 14:59] angievanhegan commented on #258
@pipe-manta Can you look at these done criteria please? Thanks

[2018-06-13 15:01] StephMSlack commented on #194
@angievanhegan this is fine, thanks. I'll close the issue

[2018-06-13 15:01] #194 closed

[2018-06-13 15:23] angievanhegan opened #262 "Style external courses form"
- [ ] ~TWEAK Don't need to show title (only full title)~
- [ ] ~TWEAK 'Title' should say 'Course title'~
- [ ] ~TWEAK Hide the time field~
- [ ] ~TWEAK Hide 'display date as' field~
- [ ] ~TWEAK Hide the card content details~
- [ ] ~TWEAK Hide the 'summary' field~
- [ ] ~TWEAK add the instructions for the cost field (e.g. number in GBP only, no £ needed)~ **Please enter the cost in GBP, no £ symbo

[2018-06-13 15:32] angievanhegan commented on #246
@dilwarhussain I've added a TWEAK

[2018-06-13 15:34] StephMSlack commented on #257
@dilwarhussain @angievanhegan sorry, this isnt working for me
Ideally the user should see the group, even if they just type Nurse (and then see the Nurse and AHP Council)

[2018-06-13 15:40] StephMSlack commented on #258
@angievanhegan I cleared my cache and still didnt get them coming up I was getting the team appearing but not the group

[2018-06-13 15:44] StephMSlack commented on #258
All the trainee council results are going to the team page, and nothing is appearing in the results for the group.
Have tried other groups as well

![screen shot 2018-06-13 at 16 43 38](https://user-images.githubusercontent.com/32127102/41362328-02914b58-6f29-11e8-86d5-b93db20f6566.png)

[2018-06-13 15:48] StephMSlack commented on #192
The confirmation email should go to Recia (editor@bgs.org.uk) and for now a cc to me s.slack@bgs.org.uk

[2018-06-13 16:03] russ-manta opened #264 "Create Basic user registration form"
# Done criteria
- [ ] Include GDPR
- [ ] Name and email
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-06-13 16:31] angievanhegan commented on #257
@StephMSlack Did you flush your local cache?

Also, Steve confirmed that setting particular priority results would be part of an enhanced search and isn't in scope. Shall we talk more about enhanced search when you're back?

[2018-06-13 16:45] angievanhegan commented on #258
@StephMSlack The group is appearing 7th down the list. If I type 'Researchers and Academics' or 'GeriGPs' They come up top.

[2018-06-14 09:37] dilwarhussain commented on #195
@StephMSlack What email address should these be going to? Just tested with my email address and they are sending fine.

<img width="1175" alt="screen shot 2018-06-14 at 10 34 28" src="https://user-images.githubusercontent.com/29142647/41404353-e5d8955c-6fbe-11e8-9400-b1d85e0852e8.png">

[2018-06-14 09:39] dilwarhussain commented on #144
@StephMSlack I see the email should be Editor@bgs.org.uk so this is ready for you to test as anonymous user.

[2018-06-14 09:41] dilwarhussain commented on #167
@StephMSlack This is fixed now.

[2018-06-14 09:47] dilwarhussain commented on #261
@angievanhegan Fixed now.

[2018-06-14 10:01] pipe-manta commented on #258
@angievanhegan at the monent only the editor and webadmin have access to the advanced search

[2018-06-14 10:17] dilwarhussain commented on #246
@angievanhegan @StephMSlack This is fixed now.

[2018-06-14 10:33] StephMSlack commented on #195
@dilwarhussain please could they go to editor@bgs.org.uk and s.slack@bgs.org.uk
thanks

[2018-06-14 10:36] dilwarhussain commented on #195
@StephMSlack Done

[2018-06-14 10:38] StephMSlack commented on #246
thanks @dilwarhussain

[2018-06-14 10:42] #246 closed

[2018-06-14 11:44] dilwarhussain commented on #85
@StephMSlack Can you let me know if the link in the footer is linking off to the correct civi profile page please. Thanks.

[2018-06-14 13:43] angievanhegan commented on #248
@StephMSlack The styling here is done.

[2018-06-14 15:09] russ-manta opened #265 "Events - sync dates between drupal node and civi event"
# Done criteria
- [ ] Sync after drupal node is first saved, test rule here: http://bgs-dev.mrmdev.co.uk/admin/config/workflow/rules/reaction/manage/rules_drupal_event_saved

[2018-06-14 17:00] dilwarhussain commented on #237
There is a specific feed that needs to be selected on the homepage to display this view.

[2018-06-14 17:46] #261 closed

[2018-06-14 17:47] angievanhegan commented on #258
@pipe-manta Please can it be available to all users, including anonymous ones? Thanks

[2018-06-14 17:48] dilwarhussain commented on #234
Latest and curated lists are pulling through correctly depending on what group they have referenced. Just need to make sure you are using the correct feed to show the tagged content only.

[2018-06-14 17:56] angievanhegan commented on #222
@StephMSlack These have all been checked now.

[2018-06-14 17:57] angievanhegan opened #266 "Events are being displayed at the bottom of the homepage (below the promo)"
![Screen Shot 2018-06-14 at 12.56.41.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/0be5f527-8f99-40d2-80ea-a7092064ee23)

[2018-06-14 18:34] dilwarhussain commented on #266
Forgot to delete that. Fixed!

[2018-06-14 19:03] #266 closed

[2018-06-15 09:06] russ-manta commented on #95
@meldera as discussed - see the one remaining task at the top of this issue

[2018-06-15 13:21] #244 closed

[2018-06-15 13:48] angievanhegan commented on #192
I get the access denied message still.

![screen shot 2018-06-15 at 08 47 37](https://user-images.githubusercontent.com/3796718/41471298-df74eeb2-7078-11e8-8b11-ee7c4b8468bb.png)

And I see two join buttons...

![screen shot 2018-06-15 at 08 47 48](https://user-images.githubusercontent.com/3796718/41471308-e5630566-7078-11e8-9d93-47e8a4ba62bd.png)

[2018-06-15 14:02] russ-manta opened #267 "Civi event dates sync with date fields on related drupal events on creation"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-06-15 14:32] russ-manta commented on #95
@StephMSlack @angievanhegan we've done some more testing on this and unfortunately we can't link directly from more than one page on the bgs site to the journal and use SSO.  Only one URL is allowed and we are unable to trick the journal site into accepting a redirect from another url.  So the options are either just have the SSO promo link on the resources page or perhaps have some kind of interm

[2018-06-15 14:43] #267 closed

[2018-06-15 18:09] angievanhegan commented on #192
@pipe-manta Looks good! There are some tweaks to the fields though. The person submitting the details doesn't need all the info. See the list above.

@StephMSlack What is the registration address? What information are you looking for here?

[2018-06-18 16:23] angievanhegan commented on #192
@pipe-manta It looks exactly the same. I've cleared the cache too. Am I looking in the wrong place?
http://bgs-dev.mrmdev.co.uk/events/external-courses/add-an-external-course

[2018-06-19 13:14] StephMSlack commented on #95
@russ-manta   I assume this means we cannot put the SSO on the members my account page as each URL is different (helpful!).
I am leaning towards the jump point option - though I will need to update the text on the promo that signs people in to OUP.

[2018-06-19 13:20] #265 closed

[2018-06-19 14:05] russ-manta opened #268 "Events issues"
# Done criteria
- [x] Can't appear to save events in Civi (although sometimes appears to save if you revisit the event in a new window) - hangs when saving location screen: eg. http://bgs-staging.mrmdev2.co.uk/civicrm/event/manage/settings?reset=1&action=update&id=20
- [ ] ?
- [ ] ?

[2018-06-19 14:29] russ-manta commented on #208
@daniellaveda could Veda upload/release this code to the staging server (from live) please?

[2018-06-19 14:37] russ-manta commented on #202
@daniellaveda is there any feedback on whether the costing tables at the top of an event can be hidden? Thanks
![bgs-sessions](https://user-images.githubusercontent.com/25846670/41604268-b2e47438-73d6-11e8-8a5d-f86611848753.jpg)

[2018-06-19 14:40] russ-manta commented on #249
@daniellaveda could someone take a look at why Civi profiles with membership fields within them do not show up as tabs on the Drupal user account?  Seems to affect your staging environment and ours

[2018-06-19 14:44] russ-manta commented on #123
@daniellaveda this issue is for displaying CPD points and My events on pages linked form the user profile

[2018-06-19 15:08] russ-manta opened #269 "Civi profiles settings for drupal"
# Done criteria
- [ ] display on Drupal register/account - ensure these are  correct

[2018-06-19 15:13] dilwarhussain commented on #181
@StephMSlack Can you let me know which relationship types in civi these "officers and contacts" will have? I have the same relationship types that are being used to show the 'BGS roles' on the my account page (Chair of sig etc) at the moment.

[2018-06-19 16:34] angievanhegan commented on #262
@pipe-manta Same tweaks as for conferences. Thanks

[2018-06-19 16:37] angievanhegan commented on #264
1. Do we need to have the prefix and if we do it should be styled
2. What is 'Opt in'? There's no explanation.
3. When I press the 'create account' button I get an error message

![screen shot 2018-06-19 at 11 35 44](https://user-images.githubusercontent.com/3796718/41611341-2d383066-73b5-11e8-93c5-6c8502f0fb07.png)
![screen shot 2018-06-19 at 11 35 48](https://user-images.githubusercontent.com/37

[2018-06-19 16:56] pipe-manta commented on #264
@angievanhegan the styles are done, but the explanation and error comes from civi, @russ-manta any idea?

[2018-06-20 03:17] StephMSlack commented on #237
@dilwarhussain does this feed only show the 3 next events? We need to be able to use this to promote specific events as well - eg the Autumn Meeting should be on the home page even if there are 5 smaller events taking place before this.

[2018-06-20 03:20] StephMSlack commented on #85
@dilwarhussain I tried this and I kept getting an error on submission.
We need to change the prefix order - I assume we do this in Civi?
![image](https://user-images.githubusercontent.com/32127102/41635542-5b5eca6a-7417-11e8-922b-2fab1b2db1c7.png)

[2018-06-20 03:33] StephMSlack commented on #181
@dilwarhussain the group types should be one of the following (note the groups are the SIGS but also the nations/regions and professional groups)

Chair National Council
Chair of Nurses and AHPs Council
Chair of SIG
Chair Scotland   Council
Deputy Honorary   Secretary
Deputy Honorary   Treasurer
England Council   Chair
England Council   Deputy Chair
England Region   Chair
England Region   Secretar

[2018-06-20 03:50] StephMSlack commented on #248
@angievanhegan @dilwarhussain I've started to look at the event page styling - could the first landing page be styled to align with the rest of the site as well?

![image](https://user-images.githubusercontent.com/32127102/41636300-96af0766-741b-11e8-9e87-cc59aa2084d1.png)

[2018-06-20 03:57] StephMSlack commented on #248
@angievanhegan when I went to check the styling for the register process, I couldn't get beyond the page above when logged out

[2018-06-20 10:55] pipe-manta commented on #262
@angievanhegan I have created the same page for both, http://bgs-staging.mrmdev2.co.uk/thank-you-for-your-submission They will be able to edit that page and include more text.

[2018-06-20 14:09] daniellaveda commented on #202
Question is if we can split the price set out - sessions/fees

[2018-06-20 14:32] pipe-manta commented on #264
@angievanhegan About the error, my account has been created correctly, I can't reproduce the error

 ![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/40e7173b-23c2-4304-9559-c751ffdf6149)

[2018-06-20 15:04] dilwarhussain commented on #264
@angievanhegan The opt in button is a placeholder while we work out how to sync with the opt in button on civi. This will not show here when it's ready, but if we need to show it here, I'll make sure there's a description to explain this is to opt in to the members directory.

[2018-06-20 15:40] pipe-manta commented on #264
@angievanhegan I have used this "Opt in to the members directory" for the field's title

[2018-06-20 16:29] dilwarhussain commented on #181
@angievanhegan @StephMSlack What is meant by "Group node should link to the group in Civi."?

[2018-06-21 01:17] StephMSlack commented on #258
@angievanhegan @pipe-manta is there are reason that some results have additional information about the content in the search result but others don't? I've had a look at these resources and they all have intro text and card content and there doesn't seem to be anything different between the resources, but only the title appears in the search result for two and the title and some additional text for

[2018-06-21 01:43] StephMSlack commented on #231
thanks @dilwarhussain

@dilwarhussain since the site move on Monday, we are now getting the event heading showing below the cards
![image](https://user-images.githubusercontent.com/32127102/41693360-f6f34b5c-74d2-11e8-8a0c-fb711e7b9aad.png)

[2018-06-21 01:44] StephMSlack commented on #231
@angievanhegan I'm having trouble adding events to Civi at the moment, so until I can add new events to the system and check how things look (eg that the scrolling and pagination work) I wont be able to sign this off

[2018-06-21 02:04] StephMSlack commented on #257
@angievanhegan yes, lets talk about enhanced search next week. In the meantime, the search is now working and I'm happy to close the ticket

[2018-06-21 02:11] StephMSlack commented on #195
@dilwarhussain Sorry to say, but I didnt receive an email letting me know that feedback on a resource has been submitted. I commented on the hospital wide geriatric assessment and received an error message on submission
![image](https://user-images.githubusercontent.com/32127102/41694144-ceb85aa2-74d6-11e8-86b6-9be161efbf36.png)

[2018-06-21 02:15] StephMSlack commented on #167
thanks @dilwarhussain
@angievanhegan this is fine to close

[2018-06-21 02:30] StephMSlack commented on #85
@dilwarhussain it allowed me to complete my prefix, name, surname and email, but then the GDPR module which allowed me to choose my communications preferences was not available to use/choose from.

[2018-06-21 08:59] dilwarhussain opened #270 "Civi smartgroups module fix"
# Done criteria
- [x] Run script to fix module
- [x] Ensure smart groups are being pulled through to the my account page

[2018-06-21 10:03] ican-icant commented on #136
@StephMSlack A little background; we've been struggling from a usability perspective with the login page since it was changed a while ago. When we need to add the new register button we took the opportunity to revise this in line with the majority of other website login pages. We think thisis SO much clearer and will be easier for people to login and sign up. Very happy to discuss whn you return f

[2018-06-21 10:30] pipe-manta commented on #258
@StephMSlack The additional information is displaying just part of the text where the keyword is prsent, in this case, "frailty".

We originally used the summary and body fields to display the keyword highlighted, but I have enabled also the paragraphs and now all the results include an additional text

![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/a03c201d-fefa-4e1f-8

[2018-06-21 10:40] daniellaveda commented on #268
Can't replicate on our staging site. Event ID 27 saved without hanging. Cant access MRM staging environment, access denied @Russ

[2018-06-21 10:47] daniellaveda commented on #268
Getting the attached errors when accessing  New event then after trying to save
![screen shot 2018-06-21 at 11 46 00](https://user-images.githubusercontent.com/27422088/41714627-dccf32d8-7548-11e8-980c-46b86ca0996c.png)
![screen shot 2018-06-21 at 11 45 18](https://user-images.githubusercontent.com/27422088/41714628-dcea7714-7548-11e8-9b99-da207b9462ec.png)

[2018-06-21 11:03] daniellaveda commented on #268
![screen shot 2018-06-21 at 12 02 00](https://user-images.githubusercontent.com/27422088/41715315-ed8d7eca-754a-11e8-9452-9e7c831e3bdb.png)
Hangs after adding online registration to event in your environment, but not in ours

If i dont enable online registration
![screen shot 2018-06-21 at 12 02 58](https://user-images.githubusercontent.com/27422088/41715369-20a7d864-754b-11e8-9939-e9bdfecb6d3e.pn

[2018-06-21 13:28] dilwarhussain commented on #195
@StephMSlack The error message will not show once live.

@russ-manta It seems emails are only working to mataraymedia.co.uk accounts at the moment? Just tried with my personal email and it didn't come through. Steph didn't get the email either.

[2018-06-21 13:43] dilwarhussain opened #271 "New CIVI event rule causing issues for saving events"
# Done criteria
- [ ] Fix rule

[2018-06-21 13:57] daniellaveda commented on #202
@russ-manta

Price options can be limited to sessions only - by applying more filters on child view (based on price field) on :
amount (== zero) and
label (~Day).

Using regex on label to display even Symposium - Day|Symposium.

E.g - https://bgs-civicrm.vedacrm.co.uk/event-sessions/17. See screenshot:
![red-7806-views-eid17-only-sessions](https://user-images.githubusercontent.com/27422088/4172361

[2018-06-21 14:49] dilwarhussain commented on #237
@StephMSlack There is now a 'Featured homepage events' nugget where you can pick which events show on the feed and also where it should be placed on the homepage.

[2018-06-21 19:06] #257 closed

[2018-06-21 19:06] #167 closed

[2018-06-21 19:06] #234 closed

[2018-06-21 19:11] angievanhegan commented on #192
@StephMSlack This is ready for you to review

[2018-06-21 19:13] angievanhegan commented on #258
@StephMSlack This is ready for you to sign off

[2018-06-21 19:14] angievanhegan commented on #262
This overlaps with #192

[2018-06-21 19:14] #262 closed

[2018-06-21 19:18] angievanhegan commented on #264
@pipe-manta Please can you hide the title: Communication Preferences - GDPR
Thanks

[2018-06-21 19:27] angievanhegan opened #272 "Enable resource series to be tagged with topics"

[2018-06-21 19:45] angievanhegan commented on #264
@pipe-manta There's another tweak from Steph - they also need to be able to update their comms preferences. Thanks

[2018-06-22 01:05] StephMSlack commented on #136
@ican-icant @angievanhegan I appreciate you re-looking at it, but this version caused confusion at BGS (especially with Colin) and it took me weeks and multiple iterations to get a version that everyone at BGS was happy with. We can discuss on my return, but it is likely that we will need to return to the version we had on the dev site.

[2018-06-22 01:18] StephMSlack commented on #181
@dilwarhussain I'm afraid this is a query for @angievanhegan as I didn't add that request to the task and I am not exactly sure what it means either

[2018-06-22 01:22] StephMSlack commented on #85
@angievanhegan I cant sign this off until the other elements are complete

[2018-06-22 01:28] StephMSlack commented on #258
thanks @pipe-manta

[2018-06-22 01:28] #258 closed

[2018-06-22 01:49] angievanhegan commented on #181
@russ-manta I think you wrote the mystery criteria. Can you help?
@dilwarhussain Where can we see an example of this working?

[2018-06-22 01:51] angievanhegan commented on #85
@dilwarhussain See Steph's comments. Thanks

[2018-06-22 01:57] StephMSlack commented on #237
thanks @dilwarhussain

[2018-06-22 02:03] StephMSlack commented on #237
@dilwarhussain when we re-order the events in the CMS, the display on the homepage is not changing.

order within the nugget
<img width="623" alt="screen shot 2018-06-21 at 21 59 35" src="https://user-images.githubusercontent.com/32127102/41754078-cf218dce-759e-11e8-88ff-3a503d1e8d8a.png">

order on homepage view
<img width="1280" alt="screen shot 2018-06-21 at 21 59 55" src="https://user-images.g

[2018-06-22 02:05] StephMSlack commented on #222
thanks @angievanhegan

[2018-06-22 02:05] #222 closed

[2018-06-22 03:14] StephMSlack commented on #192
@angievanhegan @pipe-manta do we have a login for a non-admin user with an BGS account that I can use to test this process as well and make sure thay can see all the fields etc. Not everyone who is adding an event/course for promotion will be a web admin/admin. thanks

[2018-06-22 03:17] StephMSlack commented on #192
@pipe-manta the size of the card for the landing page (on events and courses) change depending on what filter is used. The default (soonest) show the cards all the same size, then when a different filter is used the cards re-size to fit the content. The cards should always be the same size.

<img width="1280" alt="screen shot 2018-06-21 at 23 10 05" src="https://user-images.githubusercontent.com/3

[2018-06-22 08:31] dilwarhussain commented on #181
@StephMSlack @angievanhegan http://bgs-staging.mrmdev2.co.uk/bgs-northern-ireland

[2018-06-22 08:46] dilwarhussain commented on #237
@StephMSlack Order is being reflected on the homepage now.

[2018-06-22 09:46] daniellaveda commented on #249
@russ-manta
Any profile of type other than contact or individual will not work with drupal user account (due to the fact there could be multiple possible memberships)

Profile ID 24 is membership profile, and because contact could have multiple memberships, profile won't work with user account.

I think possible solutions for memberships are:
1. use views to display membership related information,

[2018-06-22 10:22] russ-manta commented on #249
@daniellaveda Thanks, ok I think we should remove those items from the Civi profile then as it seems a bit odd to have items there that they can't shouldn't edit anyway and we are already pulling membership number etc through on the RH sidebar on the user profile: http://bgs-staging.mrmdev2.co.uk/user

[2018-06-22 10:47] #270 closed

[2018-06-22 10:58] dilwarhussain commented on #122
@StephMSlack As a web admin you can now filter users for roles here: http://bgs-staging.mrmdev2.co.uk/admin/people

Once users are filtered (for members/directory members etc) you can use the Operations dropdown to change value. Here you select the member alert field and put in what you would like the alert to say. This will change it for all the users selected.

[2018-06-22 11:57] ican-icant commented on #136
@StephMSlack we had to revisit the login page because we need somewhere for users to register when they want to add events etc. This was dropped from the original version we had and we've had to re-add it. We are going round in circles with this and can return it to the previous version but we need to add another login link to register on this page whatever the outcome.

A pragmatic approach might

[2018-06-22 12:01] daniellaveda commented on #85
@russ-manta What do you need from us? To access GDPR page: Contacts menu>GDPR Dashbaord>Click here to update Communications Preferences settings>Configure the display of the Communications Preferences page: https://bgs-civicrm.vedacrm.co.uk/civicrm/gdpr/comms-prefs/update?reset=1&cid=16407&cs=99c865a3016d56f4d2a2c65ac1a48419_1529663475_1440

[2018-06-22 12:03] daniellaveda commented on #123
@russ-manta Im unclear on what the request is here?

[2018-06-22 12:04] daniellaveda commented on #208
@russ-manta we spoke about this Wednesday - did you find the code in live?

[2018-06-22 12:35] russ-manta commented on #208
![my-bgs-sigs](https://user-images.githubusercontent.com/25846670/41776801-0676e620-7621-11e8-8709-40bb33a83b56.jpg)

@daniellaveda I've just been having a look with the 'colin member' login I'm not really any the wsier (I might be being dumb!). Which template is used to embed the code?

[2018-06-22 12:38] angievanhegan commented on #85
@daniellaveda

[2018-06-22 12:46] angievanhegan commented on #181
@dilwarhussain Looks great! The idea was to have it under the join button so it's always in a consistent place. That's how it looks on the wireframe, but I forgot to ask for it explicitly here. Is it a big job to tweak it?

[2018-06-22 12:48] russ-manta commented on #217
@StephMSlack @dilwarhussain I think the simplest thing for the breadcrumb would just be to remove 'Welcome' for all

[2018-06-22 12:49] angievanhegan commented on #192
@pipe-manta A couple more tweaks for you. Thanks

[2018-06-22 12:51] russ-manta commented on #217
@StephMSlack the members directory sync should now be working on staging

[2018-06-22 13:49] dilwarhussain commented on #181
@angievanhegan My bad, I hadn't moved style across to staging. Fixed now.

[2018-06-22 13:55] angievanhegan commented on #181
@StephMSlack I think this is ready to sign off.

[2018-06-22 14:01] russ-manta commented on #249
@StephMSlack  to get this profile to work under manage my account we've had to remove the fields that were showing membership info such as membership type etc. Most of this is already being on the account page anyway  http://bgs-staging.mrmdev2.co.uk/user . We are still showing the membership number of the profile but perhaps this could be moved to the my account page too?
The fields we have had t

[2018-06-22 14:05] #131 closed

[2018-06-22 14:53] dilwarhussain commented on #85
@StephMSlack Should be linking to the correct profile/form now!

[2018-06-22 16:02] daniellaveda commented on #208
Code is here @russ-manta
https://bitbucket.org/vedanfpconsultingltd/bgs/commits/dd2e2a99c1f32f3c4609b40472f81379bd1fd5c6

[2018-06-25 14:45] pipe-manta opened #273 "Auto-publishing revisions on external content"
This issue was happening the last weeks and has been fixed with a new rule, but now the auto-publishing is overriding the rule.

# Done criteria
- [ ] External content is auto-publishing after made any change, like update the status.

[2018-06-25 14:45] pipe-manta commented on #273
![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/693f961d-7a71-41af-bf1a-3ff333475a8b)

[2018-06-25 16:04] russ-manta commented on #260
@StephMSlack @conferences-BGS can you confirm which membership statuses in Civi are 'current' and which ones are expired and which statuses we should show a renew button to?  We need to add a sync to the Drupal roles for each of these. Let me know if that doesn't make sense

[2018-06-25 16:11] conferences-BGS commented on #260
Current
Pending
Expired
On hold
Cancelled
Maternity

From memory
Can you detail any which are missing from this list in the staging environment and I'll say if active or not

Geraint Collingridge. Sent from mobile

________________________________
From: Russell Urwin <notifications@github.com>
Sent: Monday, June 25, 2018 5:04:37 PM
To: MantaRayMedia/bgs
Cc: Geraint Collingridge; Mention
Subject: R

[2018-06-25 16:15] conferences-BGS commented on #260
See attached Russ
All active
I think I missed

New
GDPR cancelled
Decreased
[Image]

Geraint Collingridge. Sent from mobile

From: Geraint Collingridge
Sent: Monday 25 June, 17:11
Subject: Re: [MantaRayMedia/bgs] Civi - add member roles sync rules with Drupal (#260)
To: MantaRayMedia/bgs, MantaRayMedia/bgs
Cc: Mention, daniella@vedaconsulting.co.uk

Current
Pending
Expired
On hold
Cancelled
Matern

[2018-06-25 17:23] angievanhegan commented on #202
@dilwarhussain this is looking so much better!

Is there any way that we could make this table full width?

![screen shot 2018-06-25 at 12 22 20](https://user-images.githubusercontent.com/3796718/41865393-859d8442-7872-11e8-9b11-76af29efc987.png)

And remove the space between these tables?

![screen shot 2018-06-25 at 12 23 14](https://user-images.githubusercontent.com/3796718/41865414-9a0b1b60-78

[2018-06-25 17:28] angievanhegan opened #274 "Event being added to the title navigation"
I've seen this happen a couple of times, when I'm viewing an event, it gets added to the nav

![screen shot 2018-06-25 at 12 26 05](https://user-images.githubusercontent.com/3796718/41865612-41e3b6ee-7873-11e8-9fc2-de238420341b.png)

[2018-06-25 17:33] angievanhegan opened #275 "Yellow line (?) on join button"
There's a vertical yellow line along the right hand size of the join button

![screen shot 2018-06-25 at 12 32 45](https://user-images.githubusercontent.com/3796718/41865867-0780c770-7874-11e8-8f30-72909ed6cdb1.png)

[2018-06-25 17:34] #275 closed

[2018-06-25 17:37] angievanhegan opened #276 "Layout issues on Dignity topic page"
http://bgs-staging.mrmdev2.co.uk/topics/dignity

![screen shot 2018-06-25 at 12 36 34](https://user-images.githubusercontent.com/3796718/41866016-8771ff8a-7874-11e8-9135-71039194482e.png)

[2018-06-25 17:37] angievanhegan commented on #276
@dilwarhussain a funny layout bug. Not sure if it happens elsewhere.

[2018-06-25 17:41] angievanhegan opened #277 "Resources breadcrumb not working"
They're all saying the same thing: Home > Resources> Resources (menu position rule)

![screen shot 2018-06-25 at 12 40 22](https://user-images.githubusercontent.com/3796718/41866199-155d6bcc-7875-11e8-820c-bafaa6bd230b.png)

[2018-06-26 09:53] dilwarhussain commented on #277
@angievanhegan This is fixed.

[2018-06-26 10:04] dilwarhussain commented on #202
@angievanhegan The top table is being pulled through from civi with widths already in the styles of the table. The gap between the other two tables are just in the content block. I deleted the space between the tables.

[2018-06-26 10:51] dilwarhussain commented on #274
@angievanhegan Can't replicate this on staging site. Try hard refresh?

[2018-06-26 11:38] russ-manta commented on #276
@dilwar this is something to do with the content. Pipe and me saw this issue before and fixed the content I think. Try looking at the content for this node: http://bgs-staging.mrmdev2.co.uk/blog/the-geriatric-5ms-%E2%80%93-the-five-simple-words-every-geriatrician-needs-to-know

[2018-06-26 11:56] russ-manta commented on #260
@conferences-BGS thanks, a few omre questions then..
1. presumably only New, Current, Grace and Current Until Renewal count as active memberships?
2. Which membership statuses should we show a Renew button for?  Pending / Cancelled / Expired / On hold?
3. What do we do with GDPR_Cancelled? are they people that have requested removal?
4. We don't have Maternity - is that needed and do they have act

[2018-06-26 12:19] conferences-BGS commented on #260
New, grace, current, pending, current until renewal are ACTIVE

Expired and on hold - show button for renewal

GDPR cancelled - I would suggest show RENEW but if GDPR cancelled it's likely because they've unsubscribed or asked to be forgotten.
Parvezcan you suggest here

For cancelled or no membershi - JOIN

Ignore maternity - this is not a membership status but custom data and if they have this s

[2018-06-26 13:11] russ-manta opened #278 "Membership signup & renewal process"
# Done criteria
- [x] How are the contribution fields displayed on the webform in the last step of the membership signup process? These aren't showing on the last step of our webform - is there a configuration step we are missing?
- [x] How does the renewal process work?  We need to provide a button to renew on the Drupal user page(s) should this just link straight through to the Contribution page

[2018-06-26 13:12] #268 closed

[2018-06-26 13:29] #277 closed

[2018-06-26 13:30] angievanhegan commented on #202
@StephMSlack This is ready for you to to sign off. Thanks

[2018-06-26 13:31] #274 closed

[2018-06-26 13:44] russ-manta commented on #192
@StephMSlack there's a new account for you on the staging site. I'll send the details over slack

[2018-06-26 13:47] russ-manta commented on #192
@dilwarhussain can you look at the card height issue after you have looked at all other issues?

[2018-06-26 14:48] #233 closed

[2018-06-26 16:02] dilwarhussain commented on #195
@StephMSlack Emails are being sent out to the correct addresses now.

[2018-06-26 16:03] dilwarhussain commented on #276
Thanks @russ-manta

[2018-06-26 16:18] russ-manta opened #279 "Past events coverage permissions"
# Done criteria
- [ ] Ensure only members and attendees of a particular event can view past event coverage

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-06-26 16:38] russ-manta commented on #208
@daniellaveda thanks, got it.  @dilwarhussain could you have a look at styling the SIG checkboxes on this page: http://bgs-staging.mrmdev2.co.uk/user/1/edit/Personal_Details_28

For reference, this is how they look on the live mybgs site at the moment:
![bgs-sig-groups](https://user-images.githubusercontent.com/25846670/41926624-c9bd5044-7967-11e8-80e8-c1b7acad2f2f.jpg)

[2018-06-26 17:21] #276 closed

[2018-06-27 09:47] #273 closed

[2018-06-27 09:53] StephMSlack commented on #181
thanks @dilwarhussain @angievanhegan - can we remove the email field? We decided not to share the email addresses of the committee members and I will add a Contact button below to send an email to the group