[2017-09-14 20:06] angievanhegan opened #1 "Get Steph setup on GitHub + ZenHub"
- [x] Steph to confirm she can edit issue and move between columns
- [x] Give her an overview of how it works and what it does

[2017-09-14 20:08] angievanhegan opened #2 "Create BGS client Slack Channel"
# Done criteria
- [x] Make sure Steph can access it ok
- [x] Angie, Steve, Dave, Steph, Russ
- [x] Make sure Steph knows how to use key features (threads!)

[2017-09-14 20:09] angievanhegan opened #3 "Check meeting notes"
- [ ] Add in Steve's notes (you'll need to get them from him)
- [ ]  Make any necessary changes with 'suggestions' feature (so that Angie can see what she got wrong
- [ ] Let Angie know you've done it.

https://docs.google.com/document/d/145Mj-h7wswn-mOXxwiiLu4xzKyDw58MjMdNYp9rbz04/edit#

[2017-09-14 20:12] angievanhegan opened #4 "Planning for KO part 2"
- [ ] Agenda and papers sent to Colin
- [ ] We know what we want to get out of it

[2017-09-14 20:13] angievanhegan opened #5 "Decide if we're going to use User Stories for this project"
- [ ] Get previous work from Steph
- [ ] Discuss with Steve and Dave
- [ ] Discuss with Steph
- [ ] Document

[2017-09-14 20:14] angievanhegan opened #6 "Create labels"
- [ ] Migratio

[2017-09-14 20:15] angievanhegan opened #7 "Create a summary of the priorities"

[2017-09-14 20:16] angievanhegan opened #8 "Update permissions on Realtime board"

[2017-09-14 20:17] angievanhegan opened #9 "Confirm requirements for devolved content management AND migration from external sites"
Links to #26 #27 #28 #29 #30

# Done criteria
- [x] Tick the sites which are **KEEN** so we can focus on them - Steph to confirm
  - [ ] BGS Cardiovascular SIG
  - [x] Movement Disorder SIG
  - [ ] Scotland BGS
  - [x] West Midland BGS
  - [x] Mersey
- [x] Agree approach (focus on keen ones!)
- [x] Confirm if all the content currently on bgs.org.uk is managed by Recia
- [x] Confirmed likely conten

[2017-09-14 20:21] angievanhegan opened #10 "Make sure Steph knows 'What goes where'"
- [x] Ensure she has access to Google Docs (Slack and ZenHub are covered on other issues)

[2017-09-14 20:23] angievanhegan opened #11 "Project setup"

[2017-09-19 13:21] angievanhegan opened #12 "Archive BGS Active Collab project"
- [x] Check Cat's ok with it

So that people don't put stuff in the wrong place accidentally, please can you either archive this AC project, or remove edit rights and add a note directing people to:

What goes where? (on the Realtime board)
https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345903003498

Thanks

[2017-09-19 14:54] angievanhegan opened #13 "Agree where designs and wireframes will go"
- [x]  Invision
- [x] [Update RT board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345903003498)

[2017-09-20 01:03] angievanhegan opened #14 "BGS to prioritise Audiences and website goals on the RT board"
- [x] Ask Steph to do it!
- [x] Share the results with the team

[2017-09-20 01:04] angievanhegan commented on #7
Decided that there wasn't a clear enough one to do this! Tried to loosely incorporate it into the sprint planning and will refer back to the work we did in the meeting.

[2017-09-20 02:24] angievanhegan opened #15 "Confirm developers for BGS"
- [x] Tell Angie
- [ ] Tell the developers!

[2017-09-20 02:26] angievanhegan opened #16 "Create Roadmap and book sprint ceremonies and regular client meetings"
- [x] Create Roadmap
- [x] Plan for regular meetings
- [x] Book regular meetings

[2017-09-20 02:42] angievanhegan opened #17 "Check what's out of scope on the RT board"
- [x]  ask Steph to do this

[2017-09-21 18:28] angievanhegan opened #18 "Create a Google Doc for each sprint goal (once the goals have been agreed)"
- [x] Goals agreed
- [x] Create docs
- [x] Add links from the RT board

[2017-09-21 18:29] #3 closed

[2017-09-21 18:31] angievanhegan opened #19 "Confirm Colin has enough information on what's in and out of scope"
@StephMSlack Let me know if you need any more information in order to be able to do this one.

[2017-09-21 18:50] angievanhegan opened #20 "Confirm the list of topics"
[List of topics](https://drive.google.com/open?id=1omI5mQUYSdAMJuZ-UGSP8Aiv3zL3gtxzDVo5HKV-xik) likely to be updated in the future.

[2017-09-21 18:51] angievanhegan opened #21 "Confirm if people have to pay to put courses on the site"
Steph confirmed that the aim is for them to pay

[2017-09-21 18:54] angievanhegan opened #22 "Clarify how we differentiate between the range of events/courses"
- [ ] Provide a sample showing the range
- [ ] Confirm the relevant meta data

[2017-09-21 19:00] angievanhegan opened #23 "Clarify requirement for grants and prizes content"
1. Small BGS grants to people (travel or study).
2. People will need to fill in a form online to requst this
3. Need to have an info page about the grant
4. They *may* relate to a speciality or a region
5. What content type do we use? Where does it live?
6. Do we want an award winners archive?
7. We can ignore the word prizes for now

[2017-09-21 19:03] angievanhegan opened #24 "Create a summary of the migration requirements on the RT board"
- [ ] update board

[2017-09-22 15:02] angievanhegan commented on #8
@dave-manta can this be moved to 'done this sprint'?

[2017-09-22 16:04] dave-manta commented on #8
I believe @angievanhegan

[2017-09-25 17:18] angievanhegan opened #25 "Research and start design process"
# Done criteria
- [x] Talk to Angie to work out what the done criteria are for this task
- [x] Decide on style guide approach
- [ ] Had a meeting with Mar Munoz
- [x] Create style guide 'template' (based on example Cat found) [link here](https://invis.io/4EDQ458R5)
- [x] Add info from BGS branding guidelines to style guide (colours, fonts etc)
- [ ] Read a book?
- [x] Gather requirements with Stev

[2017-09-25 17:23] angievanhegan commented on #25
Hi @cat-manta - I've created this task as part of this first setup sprint. As you can see from the 'done criteria' - I'm not totally sure what we should put in this one. Do you want to call me when you've got a minute and we can talk it through and work it out together. It's fine to work this out as we go. You're a brilliant designer, so it will all be fine - all we're changing here is the approac

[2017-09-25 17:32] angievanhegan opened #26 "Create first draft of content model"
# Done criteria
- [x] Created first draft in the software we use (with help from Nelle)
- [x] Clarity on what the gaps or confusions are in the model: groups and topics
- [x] Confirm that aggregate pages are in scope: topics, SIG/Section, member focussed group, branches
- [x] Confirm that this is all correct so far (with emphasis on problem areas)

[2017-09-25 17:37] angievanhegan opened #27 "Update IA"
# Done criteria
- [x] Update the IA after solving Group/Speciality issues - STEVE

# BGS review
- [x] Review and feedback on current version (this is the main IA doc on the board)

[2017-09-25 17:39] angievanhegan opened #28 "Create first draft of migration plan"
**Approach is to migrate content as part of each sprint goal.**

# Done criteria
- [x] Make sure sure BGS know if it's going to have to be mostly manual
- [x] BGS Agree approach to migrate content within the relevant sprint
- [x] Russ confirmed he's happy with this plan

[2017-09-25 17:43] angievanhegan opened #29 "First round of usability testing"
# Done criteria
- [x] Make a plan (two nav options, topics and group labels)
- [ ] Agree nav options
- [ ] Create tests in Optimal sort

# BGS review
- [ ] Approval plan
- [ ] Approve tests
- [ ] Send out tests

[2017-09-25 17:46] angievanhegan opened #30 "Create content access model"
# Done criteria
- [x] Review draft document from [BGS](https://drive.google.com/open?id=0B83TljygKW8SMHkwWEYxRjJzNE0)
- [x] Read [persona documents](https://drive.google.com/drive/folders/0BxTZOVint_EpOWNCNmhOUXNsNnc)
- [x] Complete document
- [x] Gaps recorded in requirement docs
- [x] Development team reviewed it
- [x] Ensure it works with Content Model #26
# BGS review
- [x] Review draft [conte

[2017-09-25 17:56] angievanhegan opened #31 "BGS decision on sites to migrate and devolved content"
Links to #26 #27 #28 #29 #30

# Done criteria
- [ ] Confirmation from BGS on which sites will be incorporated INTO bgs.org.uk:
  - [ ] BGS Cardiovascular SIG
  - [ ] Movement Disorder SIG
  - [ ] Scotland BGS
  - [ ] West Midland BGS
- [ ] Create document detailing which content on bgs.org.uk has devolved access and broadly the nature of that content
- [ ] Ensure this is reflected in migration pla

[2017-09-25 18:03] angievanhegan opened #32 "Scope topics and confirm if they're in scope or not"
We think they need something almost exactly the same as ALNAP, a set of resources, events, news etc bought together under a common theme and displayed from one page.

# Done criteria
- [ ] Create proposal/quote for BGS for programatic and manual collation

# BGS review
- [ ] Approve/decline/delay proposal

[2017-09-25 18:05] angievanhegan opened #33 "Make a plan for how we'll work with Veda"
# Done
- [x] Setup meeting with Veda
- [x] Agree an approach
- [ ] Get access to their repo
- [x] Communicate plan to BGS

[2017-09-25 18:07] angievanhegan opened #34 "Setup environments"
# Done criteria
- [x] Create dev server
- [x] Setup remora/drupal
- [x] Setup git
- [x] Passwords in LastPass

[2017-09-25 18:08] angievanhegan opened #35 "Finalise hosting setup"
# Done criteria
- [x] **TRICKSY** finalising contract and cost (including Moodle and support details)
- [x] Make recommendation to BGS
- [x] Russ to send maintenance SLA
- [x] Russ to send costs for hosting with High Availability (could use AWS calculator)
- [x] ISSUE: Confirm our proposal has been approved by Veda as fit for their purposes
- [x] Plan architecture
- [x] Agree any early milestones

[2017-09-25 18:10] angievanhegan opened #36 "Decide how to use Remora"
# Done criteria
- [ ] Decide how to use Remora
- [ ] Tell the people that need to know

[2017-09-26 10:18] cat-manta commented on #25
@angievanhegan Yes sure, I'll probably be available for a call anytime today, so just give me call whenever you're free :)

[2017-09-26 14:41] StephMSlack commented on #9
Can editorial workflows be added at a later date?

[2017-09-26 16:17] angievanhegan commented on #9
@StephMSlack Russ has said that he'd prefer to know this sooner rather than later as it will affect how he'll build the site.

@russ-manta Can we work on the assumption that we'll have devolved content management at some point, or do you need more detail?

Thanks

[2017-09-26 17:00] angievanhegan commented on #13
@cat-manta Would it be ok for you if we put the designs and wireframes for this project into the Google Drive folders? It’d be great to use as few tools as possible. I’d like to avoid using the discussions in Invision and try to keep all detailed discussions in ZenHub so that all feedback and actions are in one place. What do you think?

[2017-09-27 10:17] cat-manta commented on #13
I'm not sure we could use only Google Drive, as the devs use InVision to get information from the designs e.g. fonts, sizes, colours. Happy for feedback to stay in ZenHub though.

[2017-09-27 15:33] cat-manta commented on #25
@angievanhegan What does 'Add info from BGS style guide to MRM style guide' mean?

[2017-09-27 15:35] angievanhegan opened #37 "Steph to give feedback on Goals and priorities for the BGS website"
# BGS review
https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345905627397
- [x] Feedback to Angie if these priorities are ok or need amending.

[2017-09-27 15:38] angievanhegan commented on #13
@cat-manta I didn't know that! if your'e creating a style guide for the developers to use, won't they take the information from that?

[2017-09-27 15:41] #31 closed

[2017-09-27 15:52] cat-manta commented on #13
@angievanhegan Yes but they can't get specific information from it, if you scroll down to 'A magical new design to development workflow' on [this page](https://www.invisionapp.com/) you can see the sort of information they can get from invision, which we couldn't do without invision unless I put all the information onto the designs, which would be **way** more work. There is now a plugin for Sketc

[2017-09-27 15:58] angievanhegan opened #38 "New issue - testing the template"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?
- [ ] ?

[2017-09-27 17:24] angievanhegan commented on #25
@cat-manta good questions! I meant adding things like the colours and fonts and anything else that's useful. Logo's and their restrictions perhaps. Basically, taking whatever you can out of the print style guidelines and transferring it across to the Digital Style guide.

[2017-09-28 16:28] angievanhegan commented on #13
@dave-manta @russ-manta @StephMSlack @cat-manta We're going to keep putting the wireframes in invision. I've updated the RT board to show this.

[2017-09-28 17:00] angievanhegan commented on #25
@cat-manta Please could you add a link to the style guide template in here when you're ready? Thanks

[2017-09-28 17:04] angievanhegan commented on #25
@cat-manta  Please could you add a link to the style guide template in here when you're ready? Thanks

[2017-09-29 09:37] cat-manta commented on #13
@angievanhegan Yep that's fine!

[2017-09-29 09:38] cat-manta commented on #25
@angievanhegan Ahh I see, so you mean copy things from BGS' branding guidelines to the style guide that we're creating?
And sure.

[2017-10-04 18:55] angievanhegan opened #39 "Clarify what is members only content"
- [x] Steph clarify requirement
- [x] Angie captured requirement for inclusion into sprint goals
- [x] Russ knows about this requirement

# Requirements
### Examples of member only content FOR GO LIVE would be:
- BGS Newsletter
- Online grant application forms
- Information page about reduced hotel rates for members and other member benefits-
- Event archives with video/powerpoint files from the e

[2017-10-06 14:50] angievanhegan opened #40 "Plan url structure"
# Done criteria
- [ ] structure documented and shared with the team

[2017-10-06 17:47] #40 closed

[2017-10-06 17:47] #36 closed

[2017-10-17 15:29] angievanhegan commented on #35
@russ-manta updated done criteria for you. @StephMSlack FYI

[2017-10-17 18:37] angievanhegan opened #41 "Project intro for Arseni and Pipe"
# Done criteria
- [x] Decide what  to update them on (IA, Content Model, mood boards, RT board)
- [x] Do it

[2017-10-19 11:20] StephMSlack commented on #9
Devolved Content:
BGS do wish to provide specific external users access to the CMS.
External users:
- can create and edit content
- would not have publishing rights
- can have access to the entire website when adding/editing content (they do not need to be restricted to accessing only certain areas of the website)

[2017-10-19 11:27] StephMSlack commented on #39
BGS do wish to create member only content. As per proposal, ability to preview and prompt to sign in to see more is required.
Examples of member only content would be:
o	E-learning resources (free or reduced rate fee)
o	BGS Newsletter **For go live**
o	Online grant application forms **For go live**
o	Standard content pages (e.g. information page about reduced hotel rates for members and other memb

[2017-10-19 11:29] StephMSlack commented on #39
May also need to display minutes of meetings, but further discussion required about whether this information should be member only and whether it would sit on the Nation/Region/SIG page or the members profile page.

[2017-10-19 11:32] ican-icant commented on #27
@angievanhegan I've added the updated IA into Realtime, but couldn't delete the old one, which is sitting underneath.

[2017-10-20 13:57] angievanhegan opened #42 "Make a note of likes and dislikes on competitors' websites"
# Done criteria
- [ ] Discuss with Steve and make notes

[2017-10-20 17:09] #32 closed

[2017-10-20 17:10] angievanhegan commented on #32
incorporated int content access model tasks #26

[2017-10-20 22:08] angievanhegan commented on #39
@StephMSlack Thanks for this. Can you just clarify that you're going to make all resources/fact sheets and good practice guides member only?

[2017-10-20 22:12] angievanhegan commented on #19
@StephMSlack I'm closing this because you said that what's on the RT board should be enough. Let me know if it needs opening again. Thanks

[2017-10-20 22:17] angievanhegan commented on #9
@StephMSlack Fantastic that you've been able to clarify this much. And it feels like a step in the right direction too. It would seem to me that in order to avoid the well known pit fall of having an organic site structure, it's well worth ensuring that devolved content users can only create specific types of content (i.e. where there is a 'pot' of content and they're just creating another example

[2017-10-20 22:23] angievanhegan commented on #28
@StephMSlack I think the best way forward here would be to incorporate the migration of content into the relevant sprint goal. I think it'll break it down into a more manageable task. Are you (and Recia) happy with that? Thanks

[2017-10-20 22:24] angievanhegan commented on #24
Recommend doing this on a sprint goal by sprint goal basis.

[2017-10-20 22:24] #24 closed

[2017-10-20 22:24] angievanhegan commented on #33
Waiting to hear from Veda.

[2017-10-20 22:25] #5 closed

[2017-10-20 22:26] angievanhegan commented on #12
@dave-manta Would you mind archiving the AC project for BGS so that people don't use it accidentally? Thanks

[2017-10-20 22:30] angievanhegan opened #43 "About us section (Standard page)"

[2017-10-24 08:50] StephMSlack commented on #39
@angievanhegan re: resources/fact sheets/good practice guides etc. not all will be member only, but they want the ability to make them member only if required.

[2017-10-24 12:53] StephMSlack commented on #9
@angievanhegan yes, that is fine. Will check with Recia types of content, but would expect:
- event
- resource/ good practice guide/ fact sheet
- group (group page/SIG page etc)
- archive
- research centre

[2017-10-24 13:11] StephMSlack commented on #30
@angievanhegan we reviewed this at our web development meeting last week. Colin had a query about the term committee member and who that relates to/how it would work and what they could access. Could we reconfirm the definition of this group of users?

[2017-10-24 13:40] StephMSlack commented on #28
@angievanhegan Sounds like a good plan - Recia also thinks this sounds reasonable. We might need  to do some deadline juggling for content updates, depending on when they fit within the sprint schedule.

[2017-10-24 13:51] StephMSlack commented on #9
Nothing else to add from Recia at this point re: specific types of content that can be created by an devolved content user.

[2017-10-27 17:50] angievanhegan commented on #12
@cat-manta Are you ok with having no AC for this project? If you are, can you tick the box above and move this task into 'Done this sprint'. Thanks

[2017-10-27 17:53] angievanhegan commented on #42
@cat-manta Can this be moved over to the 'done this sprint' column?

[2017-10-27 18:03] angievanhegan opened #44 "Create visual designs for About us pages"
# Done criteria/BGS review criteria
- [x] [Masthead and navigation](https://invis.io/4EDQ458R5#/261765900_About_Us)
   - [x] **ISSUE** Can there be slightly more space between the bottom of the logo before the lighter colour of the navigation begins (assuming it looks ok)
   - [x] **ISSUE** Add FB icon to mast head
- [ ] Select fonts:
  - [x] [Option A](https://invis.io/4EDQ458R5#/263586181_Our_Pu

[2017-10-27 18:05] angievanhegan opened #45 "Agree draft IA for About us section"
# Done criteria
- [x] Angie and Steve created proposal

# BGS review criteria
[See IA on Realtime Board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345929454461)
- [ ] BGS agree that draft IA is good enough as a working model (list of nuggets #46 is more important here)

[2017-10-27 18:08] angievanhegan opened #46 "Finalise list of nuggets for About us section (standard page)"
NOTE: This is not all the nuggets that we'll build for the site, **just the ones we need to create the About us section.**

# Done criteria
- [x] Angie/Steve confirm all nuggets required for IA
- [x] Russ to confirm the nugget list below
### Nuggets
  - social_links
  - wysiwyg
  - video
  - team
  - team_member
  - map_world
  - links
  - FAQ
  - feed?
  - attachments?
### Next step
- [x] Angie t

[2017-10-30 14:43] cat-manta commented on #12
@angievanhegan Yep that's fine!

[2017-11-02 15:21] angievanhegan commented on #33
We're going to speak to Veda with BGS every other Thursday at 4. They are invited to the demo.  We've got access to repo on the meeting agenda

[2017-11-02 15:28] angievanhegan commented on #29
Draft tests have been created in optimal workshop. We still need to agree draft Nav options. @StephMSlack  is working on this with BGS.

[2017-11-02 15:33] angievanhegan commented on #26
First version has been created and reviewed by Steph. This will be developed with each sprint goal. Steph has produced documents that we'll refer to as we go.

[2017-11-03 15:38] angievanhegan opened #47 "Design/Style attachment nuggets"
# Manta Ray and BGS Done criteria
- [x] Style nugget
- [x] ISSUE there's going to be an image added to this. (see issue #44) NOTE the client has selected the version with the SMALLER IMAGE
- [x] **ISSUE** Ensure all the text aligns with the same margin (including doc type and file size)
- [x] **ISSUE** If there's no cover the text should align left (as per the design)
- [x] **ISSUE** move the cove

[2017-11-03 15:42] angievanhegan opened #48 "Style FAQ nugget"
# Done criteria
- [x] Style nugget
- [x] ISSUE Line appears between each Q
- [x] **ISSUE** Make hover colour #F0F6FD

To check on [text-formats](http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete) page

# Designs
Appears on [Our Purpose page design](https://invis.io/4XEFPWI2B)

# BGS review criteria
To check on [text-formats](http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete) page

[2017-11-03 15:44] angievanhegan opened #49 "Style Box links"
# Done criteria
- [x] Style nugget - 4 across
- [x] Style nugget - 3 across
- [x] Style nugget - 2 across
- [x] Style nugget - 1 across
- [x] **ISSUE** text remaining at bottom with grey above
- [ ] **ISSUE** text in pink box is very close to the lower margin of the box on the 2, 3 and 4 wide (should we put a character limit on this field?)
- [x] **ISSUE** make the hover colour for these white

Yo

[2017-11-03 15:46] angievanhegan opened #50 "Style quote nugget"
# Done criteria
- [x] Style nugget
- [x] **ISSUE** Make quote marks blue (as per the updated design)

# Designs
Appears on [Our Purpose page design](https://invis.io/YZEOPK1BT)

# BGS review criteria
Appears on [text-formats](http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete) page
- [x] Matches design

[2017-11-03 15:47] angievanhegan opened #51 "Style social links nugget"
# Done criteria
- [x] Style nugget
- [x] **ISSUE** Nugget follows the users as they scroll on the page (it only moves over the white space in the left hand margin and will now move to cover any box links, promos or the footer)
- [x] **ISSUE** Share icon should be the envelope and not an @ sign (see design( icon is in var/icons

To check on [Sample news page](http://bgs-dev.mrmdev.co.uk/%3Cfront%3E

[2017-11-03 15:48] angievanhegan commented on #51
@ican-icant @cat-manta do we really want these to follow people? Are they important enough?

[2017-11-03 15:49] angievanhegan opened #52 "Style person page"
# Manta Ray done criteria
- [x] Style page to match design
- [x] **ISSUE** check size of social media icons (see Stephs comments)

To check on [Person](http://bgs-dev.mrmdev.co.uk/mr-dilwar-hussain) node page

# Designs
Appears on [Person page design](https://invis.io/KUEAEFQWN)

# BGS review criteria
To check on [Person](http://bgs-dev.mrmdev.co.uk/mr-dilwar-hussain) node page
- [x] Matches desig

[2017-11-03 15:50] angievanhegan opened #53 "Style content block nugget"
# Done criteria
- [x] Style nugget
- [x] Ensure images can be added with caption
- [x] **ISSUE** confirm that text size of summary text is the same size in Drupal as it is in the design
- [x] **ISSUE** make the references text 1 pt bigger

To check on [text](http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete) page

# Designs
Appears on [Our purpose page design](https://invis.io/4XEFPWI2B)

[2017-11-03 15:51] angievanhegan opened #54 "Style video nugget"
# Done criteria
- [x] Style nugget
- [x] **ISSUE** please make video size one grid size smaller so that they are the same width as the images
- [x] **ISSUE** Can you put the video player on a background?

Appears on [Images and videos page](http://bgs-dev.mrmdev.co.uk/examples/images-and-videos)
# Designs
Appears on [Our Purpose page design](https://invis.io/3PEAE33G4)

# BGS review criteria
[Link

[2017-11-03 15:52] angievanhegan opened #55 "Iframe nugget"
# Done criteria
- [x] test by adding google map and style if necessary

http://bgs-dev.mrmdev.co.uk/examples/contact-us

# BGS review criteria
http://bgs-dev.mrmdev.co.uk/examples/contact-us

- [x] Can create Contact us page with Google map in it

[2017-11-03 15:53] angievanhegan opened #56 "Slideshow nugget"
# Done criteria - MRM and BGS
- [x] Build and style nugget
- [ ] Enable a slide show to be created an published at a later date (@russ-manta can this be incorporated? NO. only scheduling of nodes can be implemented, not fields.

# Designs
- Design for [slideshow nugget](https://invis.io/4EDQ458R5#/273192591_Slideshow-Nugget)
- Also appears on [Resources](https://invis.io/4EDQ458R5#/272049140_Resou

[2017-11-03 15:54] angievanhegan opened #57 "Style team nugget"
# Done criteria
- [ ] Style nugget

# Designs
[TBC](https://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] Matches design

[2017-11-03 15:55] angievanhegan opened #58 "Build and style header"
# Done criteria
- [x] Build and style header
- [x] Contains the nav options [shown here](https://invis.io/3PEAE33G4)
- [x] **ISSUE** they'd like a FB icon at the top (Cat is designing it)
- [x] **ISSUE** they'd like a bit more vertical space between the logo and the nav (cat is designing it)
- [x] **ISSUE FOR DEMO** Make sure join button is white
- [x] **ISSUE FOR DEMO** Make sure Google+  button

[2017-11-03 15:55] angievanhegan opened #59 "Build and style footer"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs
Design  [TBC](https:)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-03 17:11] #4 closed

[2017-11-03 17:11] #7 closed

[2017-11-03 17:11] #8 closed

[2017-11-03 17:11] #10 closed

[2017-11-03 17:11] #12 closed

[2017-11-03 17:11] #42 closed

[2017-11-03 17:11] #1 closed

[2017-11-03 17:11] #2 closed

[2017-11-03 17:11] #6 closed

[2017-11-03 17:11] #13 closed

[2017-11-03 17:11] #14 closed

[2017-11-03 17:11] #15 closed

[2017-11-03 17:11] #17 closed

[2017-11-03 17:11] #18 closed

[2017-11-03 17:11] #20 closed

[2017-11-03 17:11] #21 closed

[2017-11-03 17:11] #23 closed

[2017-11-03 17:11] #16 closed

[2017-11-03 17:11] #19 closed

[2017-11-03 17:11] #25 closed

[2017-11-03 17:11] #30 closed

[2017-11-03 17:11] #33 closed

[2017-11-03 17:11] #41 closed

[2017-11-03 17:11] #26 closed

[2017-11-03 17:11] #37 closed

[2017-11-03 17:11] #46 closed

[2017-11-03 17:20] angievanhegan commented on #57
@cat-manta Please can you add a link when the design is done and has been agreed by @StephMSlack in #44 . Thanks

[2017-11-03 17:20] angievanhegan commented on #56
@cat-manta Please can you add a link when the design is done and has been agreed by @StephMSlack in #44 . Thanks

[2017-11-03 17:21] angievanhegan commented on #59
@cat-manta Please can you add a link when the design is done and has been agreed by @StephMSlack in #44 . Thanks

[2017-11-03 17:26] angievanhegan commented on #44
@cat-manta When you've done all these, please can you untick all the done criteria and assign this issue to @StephMSlack so she can tick the boxes to confirm she's happy with them. Thanks

[2017-11-08 17:10] StephMSlack commented on #44
**Masthead**
There was a query about accessibility and how easy it is to read the navigation when on the lighter purple. Would be curious to see how it worked with only one colour rather than 2.

**Navigation**
Is it possible to restrict the length of the navigation text so it doesn't event move to go underneath the the logo or strapline?

**Fonts**
would it be possible to increase the font size s

[2017-11-13 16:54] angievanhegan commented on #47
Boxes on RHS
Is there a limit to how many options/links that we could add within the box? Eg could we have 3 links for related content and 6 attachments listed. If not - should we set a limit to maintain the integrity of the design?
Can the boxes:

contain more than 2-3 lines of text per link?
have images within them (eg is the attachment is a printed document, we would have the document cover art

[2017-11-13 17:17] cat-manta commented on #44
**Masthead**
I have done an alternative version of the header on the [Governance page](https://invis.io/4EDQ458R5#/263039958_Governance), however white text on the lighter purple is fully accessible, so we would recommend the current version of the header.

**Nav**
We can restrict the length of navigation, however we would advise against this as it would mean the header would need to change to a m

[2017-11-13 17:21] angievanhegan opened #60 "Design hover styles"
# Done criteria/BGS review criteria
- [ ] [Hover style](https://invis.io/4EDQ458R5#/263586181_Our_Purpose_W-Content):
  - [ ] share icon
  - [ ] link text/attachment

**Icons on header** (Steph would like to try another colour on the header - she's not sure about pink on purple) - see issue #81

[2017-11-13 17:28] angievanhegan opened #61 "Design and style related content nugget"
# Manta Ray done criteria
- [x] Use 'short title' for title field
- [x] Shows maximum 3 lines of text
- [x] Shows publication date
- [x] Shows document type
- [x] Maximum of 3 related links
- [x] **ISSUE** Where a related link uses a 'page' content type, please don't display the label and/or date.  If possible make the page title (link text) use this space (so there doesn't appear to be a gap)
- [

[2017-11-13 17:50] angievanhegan opened #62 "Hide all nav options except About create one content page within about"
@russ-manta Would this be possible/quick?

[2017-11-14 14:36] angievanhegan commented on #59
This has been incorporated into #44

[2017-11-14 14:36] #59 closed

[2017-11-14 14:36] angievanhegan commented on #57
This has been incorporated into #44

[2017-11-14 14:36] #57 closed

[2017-11-14 15:08] angievanhegan opened #63 "Style footer"
# Done criteria
- [x] Style footer
- [x] **ISSUE** RHS alignment of the footer menu with the top menu ( join/log out buttons)
- [x] **ISSUE** Social menu in the footer was the same as the design
- [x] **ISSUE** LHS alignment between the logo, breadcrumbs, footer information and footer menu
- [x] **ISSUE** The amount of space around the elements on the additional section has been removed.
- [x] **I

[2017-11-14 15:08] angievanhegan opened #64 "Style team nugget"
# Done criteria
- [x] Style nugget
- [x] Show the roles people have
- [x] **ISSUE** names being cut off at the bottom using Chrome (see image below)
- [x] **ISSUE** add checkbox to display the team role on the image
- [x] **ISSUE** ensure that the field under their name is their job title (not their role on the board)
- [x] **BLOCKER** when adding 3 across, the images appear much too large.
- [x]

[2017-11-14 15:10] angievanhegan opened #65 "Apply hover styles (in Drupal)"
# Done criteria/BGS review criteria
- [ ] [Hover style](https://projects.invisionapp.com/share/4EDQ458R5#/screens/263586181_Our_Purpose_W-Content)
  - [x] share icon
  - [x] link text
  - [x] attachment text (all right hand side) should be the same as the link text (see notes below)

Appears on:
- http://bgs-dev.mrmdev.co.uk/examples/text-styles
- http://bgs-dev.mrmdev.co.uk/examples/right-hand-co

[2017-11-14 15:12] angievanhegan commented on #63
@russ-manta Please can you estimate this? Thanks

[2017-11-14 15:13] angievanhegan commented on #64
@russ-manta Please can you estimate this?

[2017-11-14 15:14] angievanhegan commented on #65
@russ-manta Please can you estimate this? Thanks

[2017-11-14 15:17] angievanhegan commented on #44
@StephMSlack I've moved this into your column for you to sign off. Thanks

[2017-11-14 15:45] russ-manta commented on #35
@StephMSlack is there any feedback on a proposed way forward with hosting based on our/veda's options?

[2017-11-14 15:56] StephMSlack commented on #44
**Masthead**
Yes, go with the first version with two colours (navigation the lighter purple)

Can there be slightly more space between the bottom of the logo before the lighter colour of the navigation begins? just to give more prominence to the logo should the navigation extend the length of the page (assuming this looks OK from a visual point of view)

**Navigation**
We will combine Clinical Qua

[2017-11-14 15:58] StephMSlack commented on #44
Hi @cat-manta and @angievanhegan I've managed to get sign off for the above. A few additional comments/questions but hopefully they dont impact the development too much. Steph

[2017-11-14 16:05] angievanhegan commented on #35
@russ-manta - @StephMSlack was thinking that we need to confirm with Veda that what we're proposing will work for Civi. Sounds like a good plan, what do you think? Thanks

[2017-11-14 16:06] angievanhegan commented on #35
Steph confirmed that we're going to need to have more detail with the SLA contract to make it comparable with the Veda proposal. Steph to upload the document.

[2017-11-14 16:11] angievanhegan commented on #44
Actually @cat-manta before we move this to done, there's a couple of minor things for you to do.

[2017-11-14 17:01] angievanhegan commented on #58
@pipe-manta I'm moving this into blocked/tricksy as there are a couple of amends from the client and you'll need designs from cat (issue #44)

[2017-11-15 08:57] cat-manta commented on #44
@StephMSlack @angievanhegan I have updated the header designs with more space above and below the logo and added the facebook icon.

[2017-11-15 10:17] StephMSlack commented on #35
Hi @russ-manta and @angievanhegan, I had put the draft SLA (as prepared by Adapta for Veda Consulting) up on Slack, rather than here. A copy now attached. Steph
[Draft Schedule 3 - Hosting.docx](https://github.com/MantaRayMedia/bgs/files/1474229/Draft.Schedule.3.-.Hosting.docx)

[2017-11-15 14:20] angievanhegan commented on #44
@StephMSlack The first two issues are all ready for you to sign off - Cat's still working on the PDF change. If you can sign these off and move it back to the In progress column (and take yourself off as assigned, that would be great). Thanks

[2017-11-15 14:22] StephMSlack commented on #44
@angievanhegan I had ticked and completed the first two issues this morning (not sure why it didnt save!). completed now

[2017-11-15 14:39] angievanhegan commented on #58
@pipe-manta This is now unblocked - the two amends (shown as ISSUES at the top of here) have now been signed off.

[2017-11-15 14:44] angievanhegan opened #66 "Design and style header and footer for tablet"
# Manta Ray done criteria
- [x] Header styled for tablet
- [x] Footer styled for tablet

Link to check: http://bgs-dev.mrmdev.co.uk/examples
(although any page on the site will do!)

# Designs & Docs
https://invis.io/4EDQ458R5#/265157140_Our_Purpose_Tablet_V0-2
(version with the BGS strapline and no social media icons in the header)

# BGS review criteria
Appears as per design
- [x] Header styled

[2017-11-15 15:20] angievanhegan opened #67 "Design promos"
# Manta Ray and BGS done criteria
- [x] **Age and Age promo** (specifically for Resources landing page)
Text: Read our international journal publishing refereed original articles and commissioned reviews on geriatric medicine and gerontology
- [x] **Become a member promo** (specifically for Events section)
Text: Join a multidisciplinary professional organisation improving healthcare for older peop

[2017-11-15 15:43] angievanhegan opened #68 "Design and style table formatting"
NOTE: This is issue is just for the TABLE design - please ignore the rest for now!

# Done criteria - Manta Ray and BGS
- [x] Header and rows style

# Designs & Drupal links
- Can be seen on [Event node](https://invis.io/4EDQ458R5#/272769970_Event-Node)
- Drupal link: http://bgs-dev.mrmdev.co.uk/dilwar-test-page

<img width="863" alt="screen shot 2018-02-20 at 07 50 59" src="https://user-images.gi

[2017-11-16 16:55] angievanhegan opened #69 "Enable a box link to link to a new site"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-17 16:16] #9 closed

[2017-11-17 16:16] #28 closed

[2017-11-17 16:16] #39 closed

[2017-11-17 16:16] #62 closed

[2017-11-17 16:16] #34 closed

[2017-11-17 16:20] angievanhegan opened #70 "Resources section"

[2017-11-17 16:22] angievanhegan opened #71 "Create wireframes for Resources section"
# Done criteria
- [x] Landing page
- [x] Resource page
- [x] Search results page

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-20 12:04] cat-manta commented on #44
@StephMSlack I have updated [Our Purpose](https://invis.io/4EDQ458R5#/263586181_Our_Purpose_W-Content) to include attachment images. The smaller image works better, however long titles become difficult to read as the width is so narrow. I have included the same long title on the current attachment design to compare.

[2017-11-20 14:25] angievanhegan opened #72 "Build and style resources page"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-20 14:26] angievanhegan opened #73 "Build and style resource landing page"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-20 14:27] angievanhegan opened #74 "Ensure we have all nuggets for archive content in About us section and plan for IA"
# Done criteria
- [x] Person page
- [x] Sharing icons on the left – for sharing new articles
- [x] Related content
- [x] Standard content page (using headers, quotes, images video etc)
- [ ] Tables
- [x] Attachments
- [ ] Content type (most will be articles)
- [ ] Topics
- [x] FAQ
- [ ] Image gallery

[2017-11-21 10:30] ican-icant commented on #58
@pipe-manta I've just noticed the crumbs bar is too high - please see the design and reduce the height of it. It has too much prominence.

[2017-11-21 12:18] ican-icant commented on #53
@pipe-manta please check the text sizes in summary text bar against the design. The font appears smaller on the site.

[2017-11-21 12:22] pipe-manta opened #75 "Title alignment depending of the page"
# Done criteria
- [x] Centre for Landing
- [x] Left for other pages

# Designs & Docs
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [x] tiles on landing pages align centre: http://bgs-dev.mrmdev.co.uk/examples
- [x] titles on content pages align left:  http://bgs-dev.mrmdev.co.uk/examples/text-styles

[2017-11-21 12:29] StephMSlack commented on #44
Hi @cat-manta Thanks for this. Yes, please go with the smaller image. I assume when there is no image uploaded it will look like the original design? We will ensure that the titles for attachments are shorter so that they are readable.

[2017-11-22 16:46] StephMSlack commented on #58
@ican-icant Hi Steve, screen shots of how the page is looking on my screen. Likely due to elements of the page not being fully styled as yet. Here are the notes I made:

RHS Alignment of the nav bar - should line up with the join/log out button above
RHS social media buttons feel more prominent than in design
BGS logo - too left aligned (impacts footer, breadcrumb trail (should start below logo, c

[2017-11-22 16:49] StephMSlack commented on #63
@angievanhegan See comment on #58 re: alignment of footer text

[2017-11-22 16:58] StephMSlack commented on #49
@ican-icant The boxlinks on the designs had the text remaining at the bottom of the box when no image was added (text then a grey box above). This hasn't been replicated in the build.

Also, the team box links with portrait images - the images look too big in comparison with the other images on the site.

<img width="1440" alt="screen shot 2017-11-22 at 16 52 35" src="https://user-images.githubuse

[2017-11-22 17:39] pipe-manta commented on #58
Hi @StephMSlack and @ican-icant, I have checked the following points and looks fine now:

- RHS alignment of the footer menu with the top menu ( join/log out buttons)
- Social menu in the footer was the same as the design
- LHS alignment between the logo, breadcrumbs, footer information and footer menu
- The amount of space around the elements on the additional section has been removed.

All the b

[2017-11-22 18:08] pipe-manta commented on #49
Hi @StephMSlack, I'm going to move this card to "In progress" to add the grey space above the text.

About the colour of the boxes, at the moment with nuggets you can choose different palettes with different combinations of colours. Only the Default has been currently designed, which has the light background and white boxes. I have updated the palette on "Who we are" section and now it looks fine.

[2017-11-23 14:33] angievanhegan commented on #44
@cat-manta I put this back into the 'in progress' column so that you can update the design so it only shows the one they'll use.

[2017-11-23 14:35] angievanhegan commented on #47
@pipe-manta This is unblocked now as the client has selected one from the options that Cat gave her. It's ready to work on when you are.

[2017-11-23 14:44] angievanhegan commented on #51
Hi @pipe-manta can you assign these to the person who needs to review them when you put them into this column? Ta :o)

[2017-11-23 14:48] angievanhegan commented on #58
I moved these issues to #58 which relates to the footer

[2017-11-23 14:50] angievanhegan commented on #63
@pipe-manta I moved over the comments from issue #58 as they related to the footer. I think they are all done. I just added a new one! Thanks

[2017-11-23 16:23] pipe-manta commented on #49
Hi @StephMSlack and @ican-icant , the grey background looks fine, but I'm still waiting the confirmation to proceed with the changes on the team nugget.

All the best,
Pipe

[2017-11-23 16:29] pipe-manta commented on #51
Sorry @angievanhegan, I have forgotten assign this card :P

[2017-11-23 16:57] angievanhegan commented on #53
Hi @pipe-manta Is the content block not the normal content area (on here: http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete) with the headings and images etc?

[2017-11-23 17:11] angievanhegan commented on #49
@pipe-manta Is it possible for all the people images to be exactly the same size as they appear in the design? (https://invis.io/FWEFPVKRA) regardless of of they're 2, 3 or 4 wide? Ideally the 3 person team would just show 3 people then a blank for the 4th person.

[2017-11-23 17:13] angievanhegan commented on #48
@pipe-manta The link to review it isn't working. I looked at the text format page and I can't see the FAQ links on there.

[2017-11-23 17:15] pipe-manta commented on #53
Hi @angievanhegan Yes, I have used the content block nugget to made an example with all the headings and quote styles

[2017-11-23 17:15] angievanhegan commented on #51
@cat-manta @ican-icant @StephMSlack do you think we really want the social media icons to follow the users as they scroll? I don't feel like social media is a top priority for these users...

[2017-11-23 17:16] angievanhegan commented on #71
@StephMSlack approved these! Woop!

[2017-11-23 17:23] angievanhegan commented on #64
@pipe-manta Is it possible for all the people images to be exactly the same size as they appear in the design? (https://invis.io/FWEFPVKRA) regardless of of they're 2, 3 or 4 wide? Ideally the 3 person team would just show 3 people then a blank for the 4th person.

[2017-11-23 17:25] angievanhegan commented on #49
@StephMSlack We'll look at the images sizes for people/teams in the relevant issue (#64 and #52).

[2017-11-23 17:47] angievanhegan opened #76 "Design resources page"
# Done criteria
- [x] Create design as per wireframes on RT board
- [x] **BLOCKER** need to resolve sticky heading navigation issue

# Designs
- [Wireframes on RT board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345944839528)
- [Design](https://invis.io/DQEPLPAY4)

[2017-11-23 17:48] angievanhegan opened #77 "Build resources page"
# Done criteria
- [x] ~~**ISSUE 11** Additional docs lines not aligning~~
- [x] ~~BLOCKER - topics need tidying first~~
- [x] ~**ISSUE 10** can we reduce the space between the end of the comment box and then 'you may be interested in/in this series' boxes? there is a lot of white space which makes the page really long~
- [ ] ~**ISSUE 9** The text you may also be interested in is appearing when the

[2017-11-23 17:48] angievanhegan commented on #77
@russ-manta Please can you estimate this?

[2017-11-23 17:51] angievanhegan opened #78 "Design resources landing/search/results page"
# Done criteria for Manta Ray and BGS
- [x] A version with the search options open https://invis.io/4EDQ458R5#/275012709_Resources-Search-Open_Space
- [x] A version with the search options closed https://invis.io/4EDQ458R5#/275020851_Resources-Space
- [x] Has a reset button for the search
- [x] Show more search results
- [x] Has the promo below the results
- [x] ISSUE: More space between the searc

[2017-11-23 17:53] angievanhegan opened #79 "Build/style resources landing/search/results page"
Note: Does not include:
- Promo for Age and Ageing #95

# Done criteria
- [x] **ISSUE 18**: All box links should be the same height.
  - [x] They will display a maximum of three labels (members only, in a series, resource type)
  - [x] There should be room for four lines of title - the character limit should be set in Drupal
  - [x] A character limit should be set for the card summary so that it d

[2017-11-23 17:53] angievanhegan commented on #79
@russ-manta please could you estimate this? Thanks

[2017-11-23 18:03] angievanhegan opened #80 "Create dividing line"
# Done criteria
- [x] Able to insert line using WYSIWYG

See [example here](http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete)

<img width="713" alt="screen shot 2017-11-23 at 13 00 43" src="https://user-images.githubusercontent.com/3796718/33185103-6a59ced8-d04e-11e7-9d5d-aad95a2980f3.png">

# Designs & Docs
- [Line appears on Our Purpose page](https://invis.io/4XEFPWI2B)

# BGS review c

[2017-11-23 18:03] angievanhegan commented on #80
@pipe-manta I created a new issue for creating this purple line. I didn't know what to call it! You may want to revise the estimate. Thanks

[2017-11-23 22:45] StephMSlack commented on #51
Hi @angievanhegan, @cat-manta  - yes I think we do want the social media icons to follow the users. BGS is looking to keep growing these comms channels and I think they are likely to get a fair bit of use around the blog or new campaigns/guides we produce.

[2017-11-24 13:58] angievanhegan commented on #75
@pipe-manta Please can you add an estimate to this issue? Thanks

[2017-11-24 13:59] angievanhegan commented on #72
@russ-manta please can you estimate this after our briefing meeting? Thanks

[2017-11-24 14:03] angievanhegan commented on #73
@russ-manta please can you estimate this after our briefing meeting? Thanks

[2017-11-24 14:05] angievanhegan commented on #72
Dupe of #77

[2017-11-24 14:05] #72 closed

[2017-11-24 14:06] angievanhegan commented on #73
Dupe of #79

[2017-11-24 14:06] #73 closed

[2017-11-27 10:47] cat-manta commented on #66
@StephMSlack @angievanhegan Here are the links for the tablet footer and header, with two versions of the header (with and without the strapline and social media icons).

https://invis.io/4EDQ458R5#/265000035_Our_Purpose_Tablet
https://invis.io/4EDQ458R5#/265157140_Our_Purpose_Tablet_V0-2

[2017-11-27 16:37] cat-manta commented on #60
@StephMSlack @angievanhegan I haven't done the header hover styles, but have done the rest of the hovers. I have put the link in the top comment.

[2017-11-27 16:39] cat-manta commented on #61
@StephMSlack @angievanhegan These have been updated, as well as the attachments. I have also changed a few things on Our Purpose, e.g. adding more blue to the design.

[2017-11-27 16:59] pipe-manta commented on #80
Hi @angievanhegan , we already have that line between each nugget on the main section. The best way to separate texts is using multiple nuggets like "content block" instead the line on the WYSIWYG.

There is an example on this page, http://bgs-dev.mrmdev.co.uk/about/text-formats-dont-delete

[2017-11-28 13:49] angievanhegan commented on #64
@pipe-manta Please can you put in an example of a team of 2, 3 or 4 people so that Steph can see that too? Thanks.

[2017-11-28 13:50] angievanhegan commented on #64
<img width="417" alt="screen shot 2017-11-28 at 08 50 30" src="https://user-images.githubusercontent.com/3796718/33323039-3ab3018a-d419-11e7-9cbd-dca8533f45ae.png">

[2017-11-28 13:52] angievanhegan commented on #80
@pipe-manta It'll get annoying for them though if every time they want to add a line they have to add a content nugget. Is there any way that we can add this line as a style? Thanks

[2017-11-28 13:55] angievanhegan commented on #63
@pipe-manta why is this is blocked/tricksy? If you can added something like this at the top that'd be great

- [ ] **BLOCKED** then add a description of why it's blocked.

[2017-11-28 13:56] angievanhegan commented on #51
@ican-icant Can you look at this issue please and tell us what to do. Thanks

[2017-11-28 14:23] angievanhegan commented on #49
@pipe-manta The four wide ones aren't looking that much like the design in Invision. Is it just a case of editing the content?

Also, the text on the pink background is coming very close to the bottom of the box. I added an issue above.  Thanks

[2017-11-28 14:29] angievanhegan commented on #66
@ican-icant Please can you sign off these designs, then we can put them over into steph's column for her to sign off. Thanks

[2017-11-28 15:22] ican-icant commented on #51
@StephMSlack Having social share icons fixed on the page means the page is more likely to be shared. An icon that follows users down the page doesn't necessarily facilate what you're after - the stats on this site are poor http://www.malariavaccine.org/

I think it would work best keeping the share icons where they are.

FYI @angievanhegan

[2017-11-28 16:16] angievanhegan opened #81 "Design hover style for header buttons"

[2017-11-28 16:49] ican-icant commented on #66
@StephMSlack let us know what version you prefer. Cheers

[2017-11-28 17:30] angievanhegan commented on #77
@russ-manta I have added all the things that need to appear on the page in the done criteria. I'm guessing this is too much for the 'build' task though and that the full list should be in the styling issues.

[2017-11-28 17:31] angievanhegan opened #82 "Style resources page"
# Manta Ray done criteria
- [x] Title
- [x] Document type (with popup)
- [x] Published date
- [x] Last updated date
- [x] Summary (300 words max)
- [x] Section divide (for use within wysiwyg)
- [x] Section highlight style
- [x] Sticky RHS heading links (see #103 if needed)
- [x] References (with or without jump links)
- [x] You may also be interested in (related content) + see all link (based on t

[2017-11-28 17:37] angievanhegan commented on #61
Feedback from Steph - Boxes on RHS

Is there a limit to how many options/links that we could add within the box? Eg could we have 3 links for related content and 6 attachments listed. If not - should we set a limit to maintain the integrity of the design?
Can the boxes:

contain more than 2-3 lines of text per link?
have images within them (eg is the attachment is a printed document, we would have

[2017-11-28 17:42] angievanhegan commented on #61
@StephMSlack Can I recommend:

- you have no more than 3 related links (any more and it's just going to become noise)
- you keep the number of lines to a maximum of 3 (same reason as above)
- we don't add images to the related content links (same reason as above - less is more) they could always be added in the downloads section if they're very important - I just think it's better not to mix up th

[2017-11-29 09:26] pipe-manta commented on #54
@angievanhegan We are embedding videos from Vimeo and YouTube with his own player and colours

[2017-11-29 10:31] StephMSlack commented on #58
Hi @cat-manta - could you confirm what the hover colour should be for the masthead & footer? Feedback from a couple of staff here is that the pink is looking too 'girly'. Plus it doesn't feel that strong with the pink on top of the purple.

[2017-11-29 10:41] StephMSlack commented on #53
Hi @pipe-manta and @angievanhegan - the line which separates content feels like it should be wider (across the screen) and a heavier point size when compared to the designs.
The FAQs in the designs had a coloured background, and it doesn't on the site
Have the font sizes for the summary text been changed? they are the same size on the test page
The reference/footer text is too small
![screen shot

[2017-11-29 10:43] StephMSlack commented on #48
@pipe-manta The FAQs in the designs had a coloured background, and it doesn't on the site

[2017-11-29 10:59] StephMSlack commented on #61
@angievanhegan As we wont be able to tell in the CMS when the title is likely to run over 3 lines, can we make sure that
a) words dont get cut off part way through
b) we have some visual indicator on the site so that people know there is more information / text

[2017-11-29 11:01] StephMSlack commented on #61
@angievanhegan
happy with all other points (3 related links, no images in related content)

[2017-11-29 11:04] StephMSlack commented on #60
Hi @cat-manta - not sure about the pink hover over the purple promo

[2017-11-29 11:10] StephMSlack commented on #52
@angievanhegan the Social media icons look too small. The connect box to the RHS seems too wide in comparison to content on left when compared to design - it looks like it should be one grid  further to the right. On site the connect box extends past social media icons in header and past newsletter sign up in footer, in designs the box aligns with newsletter sign up in footer and partway along the

[2017-11-29 11:11] StephMSlack commented on #27
@angievanhegan @ican-icant - updated on realtime - SIGS, Groups and councils has been updated to BGS Groups. Still working on Events, learning and careers (but may be making progress)

[2017-11-29 11:16] StephMSlack commented on #66
@cat-manta @ican-icant please use the version with the BGS strapline and no social media icons in the header. V0.2
Also see query re: colour of social media icons in footer

[2017-11-29 11:23] pipe-manta commented on #48
Hi @StephMSlack That is part of the new hover design, I'm working on that. It will be ready at lunch time.

[2017-11-29 11:57] StephMSlack commented on #51
Hi @pipe-manta @ican-icant @angievanhegan, I'm sorry, I'm not sure I understand the issue - what is the difference between the http://www.malariavaccine.org/ site where the icons stay at the top of the page and what is being proposed for the BGS site with icons sitting at the top left?  I have spoken to our comms manager and we both feel that it is important that the user can share content from wh

[2017-11-29 12:33] StephMSlack commented on #74
@angievanhegan - still to be confirmed by Recia, but this is the initial list for the archive:
Person page (for biographies, without the connect nugget on the RHS) http://bgs-dev.mrmdev.co.uk/dr-eileen-burns
Sharing icons on the left – for sharing new articles
Related content – for pushing people to other archive content or other parts of the site
Standard content page (using headers, quotes, imag

[2017-11-29 12:52] StephMSlack commented on #49
@pipe-manta - the portrait for people in the box links when 6 across looks fine, but when it drops to 2/3/4 across the images become too large and overwhelm the rest of the page. Is there a way to keep the images in portrait format without this happening?
Also when you get to styling the slider option for the box links, could the arrows encouraging the user to scroll sit over the images on the rig

[2017-11-29 12:58] StephMSlack commented on #51
@pipe-manta could the share icon for email be the envelope please, not the @ symbol? and the G+ symbol should be removed

[2017-11-29 13:55] angievanhegan commented on #58
@StephMSlack I've put that specific challenge into a new issue (#81) for @cat-manta to focus on later. Are you ok to sign the rest off? Thanks

[2017-11-29 13:58] angievanhegan commented on #53
@StephMSlack

- the dividing line in a separate issue (#80)
- the FAQ background colour is part of the hover styling (#60 ready for you to sign off)
- the font size for summary and footer I will send back for @ican-icant to confirm

[2017-11-29 14:38] angievanhegan commented on #61
@StephMSlack I'm assuming we'll use the 'short title' we talked about with Recia so it might be good to make sure that the short title fits here.  Let's build it and see! Over to you @pipe-manta!

[2017-11-29 14:45] pipe-manta commented on #48
Hi @angievanhegan The new hover colour is done.

[2017-11-29 14:46] angievanhegan commented on #60
Sorry @StephMSlack that wasn't a hover style to check!  We should probably have taken it out of the design (it's part of #67). Are you ok to sign off the ones listed at the top? Just let me know if it's not clear what's what. Thanks

[2017-11-29 14:49] angievanhegan commented on #52
@ican-icant Can you look at @StephMSlack feedback and check this please? thank you

[2017-11-29 14:50] angievanhegan commented on #48
@pipe-manta lovely! Thanks

[2017-11-29 14:57] angievanhegan commented on #66
- @pipe-manta Steph has selected her preferred version (this is the only design link which appears at the top)
- @cat-manta Please can you update the files in Invision to show which one Steph has approved
- @StephMSlack Sorry, which issue has your comments about the colour of the social media icons in the footer? (bear in mind that Cat is introducing more blue on the site and the purple, pink and

[2017-11-29 14:59] angievanhegan commented on #54
@pipe-manta Please can you add an example video (and a link to it at the top to the page it appears on) so that we can show @StephMSlack? Thanks very much.

[2017-11-29 15:00] angievanhegan commented on #50
@pipe-manta I really like it blue! Thanks

[2017-11-29 15:03] angievanhegan commented on #80
Hi @pipe-manta if this if for you then I'm assuming it should be in the in progress column?

[2017-11-29 15:50] angievanhegan commented on #80
@StephMSlack Just to clarify, you've got two things here:

1.  the FAQ nugget contains quite a heavy dividing line above it. This is to denote it as a new section.

2. We've created a much softer line which you can use if you like as an optional section divide (which is what this issue is). Perhaps if you have a very long section of text and it needs breaking up. I've seen these as symbols or much

[2017-11-29 15:53] angievanhegan commented on #51
@StephMSlack Please can you confirm you're happy with the criteria for the behaviour of the SM links at the top of this issue? Thanks

[2017-11-29 16:18] angievanhegan opened #83 "Design hover style for the box link"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-11-29 17:14] angievanhegan commented on #60
FAQ hover moved to #48

[2017-11-29 17:18] angievanhegan commented on #80
@pipe-manta can you explain how Steph would add this please ?

[2017-11-29 17:23] angievanhegan commented on #49
@pipe-manta Steph is happy with the size of the images on these box links on this about us. This can go for sign off once you're ready. Thanks

[2017-11-29 17:26] pipe-manta commented on #49
@angievanhegan Done on white

[2017-11-29 17:34] angievanhegan commented on #49
Thanks @pipe-manta - I really like them white!!

[2017-11-29 17:38] pipe-manta commented on #80
@StephMSlack You can find the option "Insert Horizontal Line" on the WYSIWYG, just need to add a new paragraph and then click on that button.

![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/ee9e7544-39c6-48f5-a13e-74bb531d8f21)

Let me know if you have any question.

[2017-11-29 18:08] angievanhegan commented on #76
Feedback from @StephMSlack on design so far:

- content top of the page looks good (doc type and dates etc)
- there's a lot going on when scanning across the top part of this page (different background colours, greys especially)
- likes the blue colours for the heading nav, but preferred the tab style used in the black and white version
- 'feedback on this resource' should have much less emphasis.

[2017-11-29 18:17] angievanhegan commented on #54
@pipe-manta please can you show me how I can log in and amend this so that we can display the video alongside text (in the way that Steph will use it when she's creating real content) so that she can be sure this is going to work ok for her. Thanks

[2017-11-29 18:47] angievanhegan opened #84 "Review page layout/margins for smaller screen sizes?"
# Done criteria for MRM and BGS
- [x] **ISSUE** Update the logo/straplink with the [new size in the design](https://invis.io/YZEOPK1BT)

[check here on the site](http://bgs-dev.mrmdev.co.uk/)

**TRICKSY** The difference between the left/right hand side page margins on the design in invision and on Drupal (when viewed on a laptop screen) is quite considerable. See images below. Should  we try incre

[2017-11-29 19:30] angievanhegan commented on #27
@StephMSlack That's fantastic news!!

[2017-11-30 01:49] angievanhegan commented on #65
@pipe-manta I you've done this already?

[2017-11-30 09:46] russ-manta commented on #65
@angievanhegan pipe is not sure the design is decided yet. Can you confirm?

[2017-11-30 10:09] StephMSlack commented on #49
@angievanhegan @pipe-manta happy with the box size in landscape and the white hover

[2017-11-30 10:31] pipe-manta commented on #54
@angievanhegan I have created more examples of the video on different positions with text. To add this videos is the same as other nuggets, just choose Video and then complete the text fields, paste the link to YouTube or Vimeo and choose the video position. Let me know if you have any question and we can share screens.

[2017-11-30 11:11] meldera commented on #47
@angievanhegan @russ This isn't "adding an image", but completely rebuilding how attachments work. OK to proceed?..

[2017-11-30 11:43] StephMSlack commented on #54
@pipe-manta @angievanhegan I hope you don't mind, I switched the videos to align more with the kind of videos we might have on-site. I think it is safe to say that we are unlikely to use the full size centre aligned video option - it gets too big!

[2017-11-30 11:56] StephMSlack commented on #54
@pipe-manta @angievanhegan I also tried adding an FAQ straight after inserting a video. I was thinking that we may need to add a transcript for a video in case someone cannot use sound. I used the FAQ nugget (which may not be the best option), as I just wanted something that would open/close so you would not see the transcript unless it was needed.

The line for the FAQ showed directly beneath the

[2017-11-30 12:05] StephMSlack commented on #74
@angievanhegan Recia has checked this list and signed it off

[2017-11-30 12:25] angievanhegan commented on #54
@ican-icant The heavy line above the FAQ nugget is causing problems for Steph. Do you think we should take it out? Thanks

[2017-11-30 12:27] angievanhegan commented on #63
@StephMSlack Can you give us the mailchimp details to embed in the subscription form please? Thanks

[2017-11-30 12:28] angievanhegan commented on #65
@pipe-manta Yes, the two listed above are signed off. Thanks

[2017-11-30 12:33] angievanhegan commented on #74
@StephMSlack Thanks for this. I've put it on our agenda for things to talk about.

[2017-11-30 12:36] angievanhegan commented on #47
@russ-manta Can you let us know how much work this is please? Thanks

[2017-11-30 12:39] StephMSlack commented on #63
@angievanhegan - Matty asked me to respond to this one in Slack
The newsletters will be managed through CiviCRM and either via Mailchimp or Mandrill (tbc). We have a members only newsletter, then different e-bulletins so any e-newsletter sign up will need to go to a communications management page which will be managed through Civi.

[2017-11-30 12:43] pipe-manta commented on #54
@StephMSlack yes, you can use the FAQ. The issue with the line is fixed.

[2017-11-30 12:49] StephMSlack commented on #54
thanks @pipe-manta

[2017-11-30 12:50] StephMSlack commented on #54
@angievanhegan just showing the sample page to Recia - worried that the videos might be too big on the page so looking for some alternate feedback

[2017-11-30 13:59] russ-manta commented on #47
@angievanhegan what's the scope here? Is it that they can add their own custom image to the attachment or is this an image of the first page of the attachment?

[2017-11-30 14:00] russ-manta commented on #61
@angievanhegan can you remind me what the short title is again?

[2017-11-30 14:04] angievanhegan commented on #63
@StephMSlack ok - I'll create another issue to get this connected up later on. I'll assume the rest is ok and move this one to done. Thanks

[2017-11-30 14:06] angievanhegan commented on #61
@russ-manta If full title is the long and descriptive title of an article or a resource (etc) then the short title will be the one that gets used on cards and any summary page. Is that ok?

[2017-11-30 14:07] angievanhegan commented on #47
@russ-manta sorry, it'll be the first page of the attachment. Thanks

[2017-11-30 14:08] russ-manta commented on #47
@angievanhegan either way Arseni thinks 1/2 day for this

[2017-11-30 14:10] russ-manta commented on #47
@angievanhegan @ican-icant  Arseni can work on this today if we're happy to procees

[2017-11-30 14:12] StephMSlack commented on #54
Hi @angievanhegan @pipe-manta - both Recia and I are thinking that the video boxes feel too big. I think this may be because while we may have videos from conferences, they are likely to be a mix of heads talking and powerpoint slides (not the most visually amazing!). Could we try 1 grid section narrower?

Also, we hope to be in a situation in the future where we would display a number of videos o

[2017-11-30 14:17] ican-icant commented on #47
@meldera @russ-manta Please proceed

[2017-11-30 14:24] angievanhegan commented on #53
@ican-icant can you confirmed you checked the two issues and they're correct? Thanks

[2017-11-30 14:24] angievanhegan commented on #52
@ican-icant can you confirm that you've checked these issues too? Thanks very much.

[2017-11-30 14:27] angievanhegan commented on #54
@StephMSlack Can we tackle the requirement for displaying a larger set of videos later on? I'll create an issue for it so that we can look at it properly.

@ican-icant Are you ok for us to go ahead and make the videos smaller or do you want to get involved? Thanks

[2017-11-30 14:28] ican-icant commented on #54
@angievanhegan agree we need to make full screen videos smaller

[2017-11-30 14:33] angievanhegan commented on #54
@pipe-manta over to you - please see issue at the top

[2017-11-30 14:52] StephMSlack commented on #53
@ican-icant @angievanhegan Should the text on this page go all the way to the edge of the white box? It does on the our purpose page in the designs, but that sample page had attachment/related links boxes on the right.

The page in development doesn't have these boxes, but the text seems to stop 3/4 of the way across and leave some dead white space before changing to the other background colour.

[2017-11-30 14:58] angievanhegan commented on #53
@russ-manta can you explain this please? Is this how this should work? Thanks

[2017-11-30 15:35] angievanhegan commented on #53
@StephMSlack this has been sorted!

[2017-11-30 16:18] angievanhegan commented on #84
Steph and I felt that what makes a difference is the relative size between the content and the masthead at smaller screen sizes (which the majority of NHS users might see). Can we try increasing the size of the strapline slightly to address this balance. Thanks.

[2017-11-30 16:21] StephMSlack commented on #52
Fine

[2017-11-30 16:23] StephMSlack commented on #53
Fine

[2017-11-30 16:37] angievanhegan commented on #64
@ican-icant advises using 4 in a row layout but only inserting 3 pics. Steph is checking with Recia. This will most likely work ok in the about section but we may need to revisit for the 'BGS groups' pages where teams are often of 3.

[2017-11-30 16:45] angievanhegan commented on #54
@pipe-manta Please can you make the video a bit smaller still? Thanks

[2017-11-30 16:49] pipe-manta commented on #54
@angievanhegan Yes, it was BIG, now is using the 70% on normal and over.

[2017-11-30 17:32] angievanhegan opened #85 "Setup newsletter in footer"
Note from Steph:

The newsletters will be managed through CiviCRM and either via Mailchimp or Mandrill (tbc). We have a members only newsletter, then different e-bulletins so any e-newsletter sign up will need to go to a communications management page which will be managed through Civi.

NOTE: There's no single newsletter so this will have to be something different.

- [ ] Need details from Veda o

[2017-11-30 17:34] angievanhegan opened #86 "Enable a boxlink to link directly to a new site"
A example of where this will be needed is on the About us landing page. Under a 'what we do' heading, there will be a box link to Age and Ageing (which will use single sign on to allow members to access the journal.

# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
-

[2017-12-01 10:55] meldera commented on #47
http://bgs-dev.mrmdev.co.uk/attachments

[2017-12-01 11:45] russ-manta commented on #77
@angievanhegan I've just been speaking with @meldera about this. He's starting but we have a few questions (maybe I have forgotten some stuff!).
1. Document type popup - can you confirm what should be in the popup?
2. Summary should this be a separate field to the main content block and/or is this different from the card summary?
3. Jump links in content block - are these anchor links or something

[2017-12-01 21:54] angievanhegan commented on #65
@pipe-manta looking at this on the site, I know this is what we said we wanted on Thursday, but I realised that we've now got the link colours in the main text and the right hand side changing in exactly the opposite way:

- Content area: Pink link -  dark purple on hover
- Right hand side: Dark purple links - pink on hover

I think we should choose one, or it's a bit confusing for the user. I thi

[2017-12-01 21:57] angievanhegan commented on #54
@StephMSlack this is ready for you to sign off now.

[2017-12-01 22:00] angievanhegan commented on #47
@russ-manta all the text (doc title and doc type) needs to align with the same vertical margin. The file type is currently wrapping under the image.  Thanks

<img width="297" alt="screen shot 2017-12-01 at 17 00 22" src="https://user-images.githubusercontent.com/3796718/33505407-29262af8-d6b9-11e7-9563-6067d3edd561.png">

[2017-12-04 14:45] angievanhegan commented on #77
@russ-manta

- Document type popup - it just needs to be one or two sentences of plain text.
- Summary - this may need to be a new field? It's a (up to) 300 word summary of the document.
- Jump links in content block - these are probably anchor links. We realised we're going to have to revisit the design of the page though as these really don't work here in the middle of the page.
- References jum

[2017-12-04 15:38] #44 closed

[2017-12-04 15:38] #49 closed

[2017-12-04 15:38] #50 closed

[2017-12-04 15:38] #52 closed

[2017-12-04 15:38] #58 closed

[2017-12-04 15:38] #60 closed

[2017-12-04 15:38] #63 closed

[2017-12-04 15:38] #71 closed

[2017-12-04 15:38] #27 closed

[2017-12-04 15:38] #48 closed

[2017-12-04 15:38] #53 closed

[2017-12-04 15:38] #80 closed

[2017-12-04 20:09] angievanhegan commented on #55
@russ-manta I can't make the google map iframe work in here. Can you try please? Thanks

[2017-12-04 20:16] angievanhegan opened #87 "Page title for person page should be left aligned"
# Done criteria
- [x] Title left aligned [see example](http://bgs-dev.mrmdev.co.uk/professor-barseni-melder)

# Designs & Docs
https://invis.io/KUEAEFQWN

[2017-12-04 20:34] angievanhegan opened #88 "Design colours for background palattes for landing pages"
# Manta ray and BGS done criteria
- [ ] Highlight colour
- [ ] Alt 1
- [ ] Alt 2

# Designs & Docs
- [Link goes here](http://)

[2017-12-05 09:56] StephMSlack commented on #54
Hi @pipe-manta @angievanhegan  the videos we wanted to be smaller were the Left/right ones. They currently take up 50% of the width of the page. Could these please be reduced please?

[2017-12-05 11:22] StephMSlack commented on #64
@angievanhegan @pipe-manta for some reason, both Recia and I are seeing a small white space underneath some images before the hot pink line. It shows on different box links - Screen shot 1 is from Recia, 2 is from my screen. Happy with either view, but just want to make sure it will be consistent.

![screenshot1](https://user-images.githubusercontent.com/32127102/33604597-77629466-d9ae-11e7-8e12-c

[2017-12-05 13:39] angievanhegan commented on #54
@StephMSlack why did you put this one into the sprint backlog again? What did I miss? Ta

[2017-12-05 13:44] angievanhegan commented on #64
@russ-manta See Steph's images where a space is being added. I've added an issue into the done criteria. When I was building the page, sometimes it asked me to do the card crop and sometimes it insisted on the other crop (person portrait?) Might that be the source of the problem? Thanks

[2017-12-05 13:47] StephMSlack commented on #54
Hi @angievanhegan I'd like the videos to be smaller (not as wide) - ideally 1 grid point - so the same width as the images.

[2017-12-05 13:48] angievanhegan commented on #47
@StephMSlack This is ready for you to sign off. Note that it doesn't include the Related Content nugget. That's on a separate issue.

[2017-12-05 13:51] angievanhegan commented on #55
@StephMSlack This is ready for you to sign off.

[2017-12-05 13:53] angievanhegan commented on #54
@StephMSlack Got it, I thought they'd already been made smaller! Oops.

[2017-12-05 14:06] angievanhegan commented on #61
@ican-icant @StephMSlack I'm not sure that the document type is adding much here? Also, where we're using a standard page it's not very helpful to have the label 'page'. We could:

1. Remove the content type for 'page' if that's the type used
2. Remove all the content type lables
3. Something else?

What do you think?

[2017-12-05 14:24] angievanhegan opened #89 "Right hand nuggets"
# Done criteria - Manta Ray and BGS
- [x] Content block (with and without image)
- [x] Box link
- [x] Attachment nugget
- [x] Related content nugget
- [x] **ISSUE** reduce title/link text to 22px within the right hand nuggets

(NOTE - this issue doesn't related to attachments #47 and related content #61)

# Designs and Drupal links
- Drupal:  http://bgs-dev.mrmdev.co.uk/examples/right-hand-column

[2017-12-05 15:12] angievanhegan commented on #54
@pipe-manta That has made the images smaller too!

[2017-12-05 15:19] angievanhegan opened #90 "Page title not centred"
- [ ] **ISSUE**: Work out if this page heading should be centred or not

http://bgs-dev.mrmdev.co.uk/examples/teams-page

It's entirely likely that I've done something here to mess this up!

[2017-12-05 15:23] StephMSlack commented on #61
@angievanhegan Option 1 please - dont display the content type for page. But I do want it to display for article, blog, resource etc

[2017-12-05 15:42] StephMSlack commented on #61
@angievanhegan also the date is showing inconsistently - one is 24 Dec 2017 other is 12-15 October 2017. Can we use the full name of the month as default?

[2017-12-05 15:44] StephMSlack commented on #47
@angievanhegan Recia had commented this morning that the text for the headings on all the right hand column nuggets seems very large. I'm waiting for her to review the updated page so will confirm when I have heard back from her

[2017-12-05 15:50] angievanhegan commented on #65
@StephMSlack This is ready to sign off. We've just made sure that the links are all the same colour so that it's consistent for the user. We can revisit this in Jan  if we do a colour (de-pinking) review. Thanks

[2017-12-05 15:53] angievanhegan commented on #54
@StephMSlack At the moment, both the video and images are at 40%. The images were originally 50%. You can have them different if you like. Let us know what you want to try.

[2017-12-05 16:13] angievanhegan commented on #47
@StephMSlack Bear in mind that they appear much bigger on the smaller screen. When you see them on a bigger screen they don't look big at all. I'd just want to make sure we're not penalising people with big screens!

[2017-12-05 16:42] meldera commented on #90
this is not a top-level page

[2017-12-05 16:46] meldera commented on #77
@angievanhegan Regarding "Document type popup"  -  what is being meant by a "popup"?

[2017-12-05 17:06] angievanhegan commented on #90
@meldera only pages appearing in the top nav have centred headings?

[2017-12-05 17:30] angievanhegan commented on #61
@StephMSlack this is ready for you to review now. Thanks

[2017-12-05 17:48] angievanhegan commented on #77
@meldera Like the box you see if you click the  'i' on this page
https://wellcome.ac.uk/funding/hub-award

[2017-12-05 17:49] angievanhegan commented on #77
@meldera I just want to check you know that we don't have a signed off design for this, we just want to enable the client to add their content in the short term? Thanks

[2017-12-05 17:57] meldera commented on #90
according to this, yes

https://github.com/MantaRayMedia/bgs/issues/75

[2017-12-06 09:38] StephMSlack commented on #89
@angievanhegan @pipe-manta Please could we make the text smaller for the nuggets, once they are one the live site they feel too large.
Also on the designs the colour for the titles is purple, but on the live site it is pink.

[2017-12-06 10:24] StephMSlack commented on #65
Hi @angievanhegan  I appreciate we need the consistency between all the hover styles, but turning the attachment text pink (so we have a purple hover) is drawing the reader away from the content on the page. Sorry, but I think we need to change it back.

Also links to my comment on #89 re reducing the size of the text in the Right columns

[2017-12-06 10:25] StephMSlack commented on #61
@angievanhegan see comment on #89 re reducing text size

[2017-12-06 10:28] StephMSlack commented on #47
@angievanhegan please can we reduce the size of the text - it feels very large compared to the rest of the body text. Also see my comment on #65 re: changing the text colour to pink

Also a query from Recia - would it be a big job to have the images sitting to the right of the attachment title (v's the current option of to the left)

[2017-12-06 10:56] StephMSlack commented on #55
@angievanhegan I've tried adding a map to the site and I keep getting an error. http://bgs-dev.mrmdev.co.uk/sandbox/stephs-test-page

[2017-12-06 11:16] StephMSlack commented on #54
@angievanhegan is the play button on the video supposed to be the YouTube grey & red? Could it be one of the BGS colours (as styled by Cat?)

[2017-12-06 12:04] StephMSlack commented on #55
@angievanhegan figured it out!

[2017-12-06 12:06] StephMSlack commented on #65
@angievanhegan - have followed this up with a discussion with colin who is not as worried about the pink. Can we revisit this when we have reduced the text size in the right hand column? Hopefully it wont pull attention as much and we can keep the hover consistent.

[2017-12-06 13:47] angievanhegan commented on #64
@StephMSlack this looks fixed to me, but you and Recia should check too. Thanks

[2017-12-06 13:49] angievanhegan commented on #54
@pipe-manta can you confirm that if we're embedding the videos then we don't get chance to style the play button? @StephMSlack that's my understanding. Sorry.

[2017-12-06 13:58] angievanhegan commented on #89
@StephMSlack Do you mean the link text is a different colour? The title for each box is the same as the design.

When we spoke to you last week about removing some pink, Cat did some extra work to remove pink and this is one of the thing that we thought we could change. However, if you change the link text as per the design, then it's a) not very obvious that it's a link and b) it's the exactly op

[2017-12-06 14:02] angievanhegan commented on #47
@cat-manta please can we try putting the cover image on the right hand side? It'd be good just to see how this looks in the design. Thank you

[2017-12-06 14:03] angievanhegan commented on #47
@StephMSlack I've incorporated the rh nugget text size issue into #89 so that that issue covers all rh nuggets

[2017-12-06 14:05] angievanhegan commented on #65
@StephMSlack Yes, we'll revisit in Jan when there's more content in :o)

[2017-12-06 14:57] angievanhegan opened #91 "Make space between content blocks the same size and space between paragraphs"
# Manta Ray and BGS done criteria
- [x] Spaces between content block the same as between paragraphs

# Drupal link to review
http://bgs-dev.mrmdev.co.uk/examples/images-and-videos

[2017-12-06 15:12] #38 closed

[2017-12-06 16:15] angievanhegan opened #92 "Author links on resource page"
# Done criteria
Note: Might be best to do this just with multi link field rather than entity references to Authors to provide all the flexibility they need
Could use taxonomy term with link field and entity reference field

- [ ] **If author has a person page**
  - [x] Display author's name
  - [x] Enable the editor to amend the text (so that name can be replaced with details on title and/org)
  -

[2017-12-06 16:20] StephMSlack commented on #64
thanks guys

[2017-12-06 16:49] angievanhegan commented on #92
@StephMSlack Please can you check these requirements when you have a second. Thanks.

[2017-12-06 17:08] pipe-manta commented on #54
@angievanhegan That is correct, we are using the embedding players

[2017-12-06 17:10] angievanhegan commented on #54
Thanks @pipe-manta. Sorry @StephMSlack - it was a bit of a mix up. It's a shame, but I reckon the benefits of using YouTube probably outweigh the benefits of having a styled play button. Are you ok with that?

[2017-12-07 13:35] StephMSlack commented on #92
Hi @angievanhegan these look good.

[2017-12-07 13:56] #51 closed

[2017-12-07 13:56] #54 closed

[2017-12-07 13:56] #55 closed

[2017-12-07 13:56] #61 closed

[2017-12-07 13:56] #64 closed

[2017-12-07 13:56] #65 closed

[2017-12-07 13:56] #66 closed

[2017-12-07 13:56] #75 closed

[2017-12-07 13:56] #87 closed

[2017-12-07 13:59] angievanhegan commented on #81
Cat has designed a style. This may be covered in the highlight colour review later on.

[2017-12-07 13:59] #81 closed

[2017-12-07 17:38] angievanhegan opened #93 "Global issues"

[2017-12-07 17:38] angievanhegan opened #94 "Add favicon"
# Done criteria
- [x] Favicon designed
- [x] Upload new favicon using the code below (it has a colour correction)

# Designs & Drupal link
- Favicon location:
Files/PROJECTS/British Geriatric Society [585]/Branding/Favicon/favicons

- Favicon code:
[code]

[2017-12-07 17:40] angievanhegan commented on #67
This is the main clinical resource so it's very important it can be featured on the resources landing page.

[2017-12-07 17:44] angievanhegan opened #95 "Age and Ageing promo with SSO"
# Done criteria
- [x] Steph to provide a list of pages where the rh promo and full width promo will appear
- [x] **ISSUE 2** Get and add urls of SSO/login pages from journal provider (requested 20 Feb)
- [x] **ISSUE 1**: @StephMSlack  to get a technical contact at Age and Ageing
- [x] Age and Ageing promo works as single sign on for Age and Ageing journal (this is the only promo that behaves like

[2017-12-07 17:52] angievanhegan opened #96 "Build/style Feedback for resources"
The CAPTCHA or RECAPTCHA has been added as  go live task. We will style it when it's been added.

# Done criteria
- [x] ISSUE: Shading and plus/minus sign don't appear for the feedback heading (FAQ style)
- [x] ISSUE: The checkbox for adding the feedback section should go within the main column of editing options in Drupal rather than on the right hand side (ideally it would be below resource type

[2017-12-07 17:57] angievanhegan opened #97 "Devolved content management for resources content type"
# Done criteria
- [ ] Enable an editor to create/edit a resource
- [ ] Enable an editor to send the resource to an admin for review and to be published
- [ ] Enable the admin to amend and then publish the page

# Designs & Drupal pages
- [Link goes here](http://)
- [Link goes here](http://)

[2017-12-07 17:58] angievanhegan opened #98 "Set publish and expiry dates for resources"
# Done criteria
- [x] Enable the editor/admin to set a publish date for a resource
- [x] Enable the editor/admin to set an expiry date for a resource

CRON job needs setting up (on live site)
Need to decide how often it runs

[2017-12-07 18:20] angievanhegan commented on #74
@StephMSlack I wasn't expecting we'd use the topics tags in this section, or the article content type. If you think it's something we'll need, can you tell me more? Thanks

[2017-12-08 13:58] angievanhegan opened #99 "Put the related links nugget into the sidebar section so that their position can be moved"
# Done criteria
- [ ] Related links appearing in Sidebar section
- [ ] Find out if we want to add this to the remora build

[2017-12-08 13:58] angievanhegan commented on #99
@russ-manta please can you estimate this so we can decide if we're going to do it or not? Thanks

[2017-12-08 15:00] angievanhegan opened #100 "Interactive map for resources"
# Done criteria
- [ ] Show's map of the UK
- [ ] 15 (?) Research centres appears as pins on the map
- [ ] What happens when you click on a pin?

---

Arseni has produced two examples that we could do in Drupal.
- http://bgs-dev.mrmdev.co.uk/custom-google-map
- http://bgs-dev.mrmdev.co.uk/map (not sure if we have budgeted for Cat to produce this graphic)

[2017-12-08 15:04] angievanhegan commented on #100
Copied from SLACK

**Angie**:  I’m just going through our documentation and I can’t find any reference to the interactive map (for the research section) in the ITT or our proposal. I’ve asked Dave to send me the latest version of the contract. Steve suggested I contact Arseni to find out what we could do. Perhaps there’s time allocated for migration we could use on this? He also mentioned that whe

[2017-12-08 15:07] angievanhegan commented on #100
@StephMSlack Let me know what you think of these two options.

[2017-12-08 16:48] angievanhegan opened #101 "Members only resources"
# Done criteria
- [ ] Editor can label resources as members only
- [ ] Member only resources can only be viewed when logged in
- [ ] Member resources had a label when they appear in the resources search results
- [ ] Member resources had a label when they appear on the resource page as related resources
- [ ] Member only resources appear in search results and as related resources for all users, bu

[2017-12-08 16:59] angievanhegan opened #102 "Resource series"
# Done criteria
- [x] **ISSUE 6** [Display card summary text on hover](http://bgs-dev.mrmdev.co.uk/resources/resource-series) (the same as the Resources, Policy & Media and Blog landing pages)
- [x] **ISSUE 5** Remove the right hand side download link from the [series page](http://bgs-dev.mrmdev.co.uk/angies-first-test-series) and the [series landing page](http://bgs-dev.mrmdev.co.uk/series-landin

[2017-12-08 17:01] angievanhegan opened #103 "Stick nav headings"
# Done criteria
- [ ] lable
- [ ] behaviour
- [ ] ?

[2017-12-08 17:15] angievanhegan opened #104 "Tags/topics on resource page"
# Done criteria
- [x] Resources can be tagged with any topic from the taxonomy (none, one or many)
- [x] When a resource is tagged as being in a topic, a link to that topic appears on the resource page (see design)
- [x] ISSUE: When a user clicks the link to a topic, the search results page is displayed showing all the resources tagged with that topic (not sure how they should be sorted)
- [x] ISS

[2017-12-11 16:23] angievanhegan opened #105 "Remove vertical space and horizontal line from connect nugget"
- [x] ISSUE - remove the space between the title and the icons
- [x] ISSUE - remove the link from underneath the connect nugget

<img width="304" alt="screen shot 2017-12-11 at 11 21 55" src="https://user-images.githubusercontent.com/3796718/33841468-cbd07e6c-de65-11e7-839d-1926507c49af.png">

#38 http://bgs-dev.mrmdev.co.uk/professor-barseni-melder

[2017-12-11 17:29] cat-manta commented on #47
@StephMSlack I have moved the attachment image to the right of the text if you could see which you prefer:
https://invis.io/4EDQ458R5#/266149708_Our_Purpose

[2017-12-11 17:40] angievanhegan commented on #47
@cat-manta That cover looks really tiny...

[2017-12-14 00:21] StephMSlack commented on #47
Thanks @cat-manta and @angievanhegan I'm keeping Recia in the loop as she was the one who had asked about the change.

[2017-12-14 05:46] StephMSlack commented on #100
Thanks @angievanhegan I've sent this on to Recia for feedback and comments

[2017-12-14 14:10] StephMSlack commented on #100
Hi @angievanhegan Recia is preferring the Google Map. I'll need to have a look at it in a bit more detail to make sure it will meet our needs (in terms of showing the correct information in the format requested). I shall look into this next week.

[2017-12-14 15:33] pipe-manta opened #106 "Position of view-header on Organisations view"
# Done criteria
- [ ] The position of the view-header need to be under view-filters on [organisations](http://eahealth-dev.mrmdev.co.uk/the-directory/search/organisations)

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2017-12-14 16:14] #106 closed

[2017-12-15 17:10] angievanhegan opened #107 "Capture email address for users requesting specific resources"
# Done criteria
- [x] **ISSUE 9** Opening in two tabs (see comment below)
- [x] **ISSUE 8** Update header text: Header text - Please help us evaluate this resource
Text below - If you are happy to be contacted for feedback on this resource, probably in 6-12 months' time, please submit your name and email address.
- [x] **BLOCKER** Steph to send text to update the form with
- [x] **ISSUE 7** Once y

[2017-12-15 17:10] angievanhegan commented on #107
@russ-manta Please can you estimate this before we confirm if it's in scope or not. Thanks

[2017-12-20 15:38] russ-manta commented on #35
@StephMSlack @angievanhegan I've updated the hosting document with our changes. Please take a look and we should then share with Veda too.
[BGS-Draft.Schedule.3.-.Hosting-MRM-edit.docx](https://github.com/MantaRayMedia/bgs/files/1576117/BGS-Draft.Schedule.3.-.Hosting-MRM-edit.docx)

[2018-01-02 15:05] cat-manta commented on #89
@angievanhegan Some of the RHS titles were bigger than others (this was on purpose for the attachment titles), so I have reduced this to be the same as the others, which is 22px. Is this enough, or do they all need to be made smaller?

[2018-01-02 15:11] cat-manta commented on #84
@angievanhegan @StephMSlack I have increased the size of the strapline in all designs

[2018-01-02 17:17] angievanhegan opened #108 "Review link colour"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

We prefer pink in the text and purple in the right hand side, but if they hover colours are opposite it become confusing. Perhaps they should have the same hover colour (blue, grey, underline?)

[2018-01-05 14:14] angievanhegan commented on #77
@russ-manta Please can you sent the names of the fields in Drupal for resources so that @StephMSlack can add them to the spreadsheet of resources she is preparing for migration. Thanks

[2018-01-05 14:16] angievanhegan opened #109 "Migrate resources data into site"
# Done criteria
- [ ] Send field titles for a resource to @StephMSlack
- [ ] Migrate data from spreadsheet into Drupal

[2018-01-05 15:56] cat-manta commented on #47
@StephMSlack Just catching up with issues from before Christmas, this one wasn't properly passed over because of the size, but we think it's the title that makes it look a bit odd and small, so have added in an extra word which should help.

[2018-01-05 17:26] angievanhegan commented on #84
How's this Steph? (you can also see it here: https://invis.io/DQEPLPAY4)

![screen shot 2018-01-05 at 12 24 43](https://user-images.githubusercontent.com/3796718/34620447-825a55ac-f213-11e7-8f15-023b65988d4c.png)

[2018-01-05 18:08] angievanhegan opened #110 "Members/users section"

[2018-01-05 18:08] angievanhegan opened #111 "Events section"

[2018-01-05 18:13] angievanhegan opened #112 "Design my account page"
# Done criteria for Manta Ray and BGS
- [x] **ISSUE 5**: Move Age and Ageing RHS to above BGS groups and add an image
- [x] **ISSUE 4**: Create a version of the design without the members directory(
- [x] **ISSUE 3** try reducing the size of the person image
- [x] **ISSUE 2** try putting the BGS groups underneath the biog in three columns, instead of on the rhs.
- [x] **ISSUE 1** Add a show more b

[2018-01-05 18:15] angievanhegan opened #113 "Design members directory page"
# Done criteria
- [x] Search area
- [x] Results icons
- [x] Pagination

# Wireframes and Designs
- [Wireframe on the RT board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345962285201)
- [Design in invison](link here)

[2018-01-05 18:17] angievanhegan opened #114 "Design manage my account page"
NOTE: Would like to group into FAQ style concertinas if possible

# Done criteria
- [x] Design for table (with very minimal formatting)
- [x] 'appear in members directory' link

# Wireframes and Designs
- [Wireframe on the RT board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345962285201)
- [Design in invison](https://invis.io/4EDQ458R5#/274219385_Manage-My-Account)

[2018-01-05 18:18] angievanhegan opened #115 "Design members promo"
# Done criteria
- [ ] @StephMSlack to provide text
- [ ] Design for full width promo

[2018-01-05 18:21] angievanhegan opened #116 "Design events landing page"
# Done criteria
- [ ] Search section
- [ ] Calendar area to include:
   - [ ] Marker for month
   - [ ] Highlight for BGS events
   - [ ] Show CPD point
   - [ ] Past event content highlight
   - [ ] Load more button

[2018-01-05 18:24] angievanhegan opened #117 "Past event label"
# Done criteria
Needs to work on
- [x] [Past event page](https://invis.io/4EDQ458R5#/272769970_Event-Node)

# Wireframes and Designs
- [Wireframe on the RT board](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345967174273)
- [Design - Event node](https://invis.io/B3GI8K9SP57)
- [Design - Events landing](https://invis.io/8AFNAIKSM73)
- [Design - Events landing with filters](

[2018-01-08 15:09] russ-manta commented on #98
@meldera I think there's a module for this?

[2018-01-08 15:17] angievanhegan commented on #100
Steph confirmed on Slack that the Google map will be fine.

[2018-01-09 12:07] meldera commented on #98
https://www.drupal.org/project/scheduler can schedule automated publishing/unpublishing of nodes

[2018-01-09 14:37] angievanhegan opened #118 "Setup development/Civi environment"
# Done criteria
- [x] Build dev environment on AWS with access for MRM and VEDA
- [x] Obtain code/database from VEDA
- [x] Combine MRM drupal and VEDA civi into working setup
- [ ] Enable push/pull from git to the environment for development teams
- [ ] Setup backups
- [ ] Include New Relic

[2018-01-09 19:05] angievanhegan commented on #78
@cat-manta Please can you add a link at the top of this issue to a version with the search options open? Then you can move it over to BGS review and assign it to Steph. Thanks

[2018-01-09 20:25] angievanhegan commented on #115
I'm deleting this to use #67 as a issue for 3 promos to give us a chance to design a small range.

[2018-01-09 20:25] #115 closed

[2018-01-09 20:29] angievanhegan commented on #67
@StephMSlack I'd like for us to create 3 sample promos so that we can develop a style for them. These three seem to me the three that we need. I think we can do a better job if we have some text. Would you be able to add some at top of this issue please? I think it only needs to be a call to action.

I've added a link to the work Cat has done so far.

Thanks

[2018-01-10 11:20] cat-manta commented on #78
@angievanhegan @StephMSlack I have made some changes to the search options box, and have swapped the promo and results on the closed search options page, which Steve and I think is much clearer. I have kept it in the original order on the open search options page for comparison.

[2018-01-10 12:54] angievanhegan commented on #78
@cat-manta you two are a great team! 👍

[2018-01-10 13:14] StephMSlack commented on #76
Hi @angievanhegan @cat-manta Positive feedback regarding the resources designs. Query about whether the download image could be slightly smaller and if that image would also be a link to the file?
Colin would like to change the name sections to something else (he didnt feel it was self explanatory enough), he suggested something like content, navigate to or article content. I am sure we will be ab

[2018-01-10 13:27] angievanhegan commented on #76
@StephMSlack Excellent! Absolutely, you can pick the heading for the headings jump links. Can I suggest that we go ahead with the larger cover, then see how it all looks when it's built in Drupal? As you know, it's a quick thing to change and proportions are always going to look slightly different when you see the design in your browser window. Thanks

PS - yes, the image would be a link to the fi

[2018-01-11 09:41] meldera commented on #96
captcha + honeypot or recaptcha?

[2018-01-11 10:10] meldera commented on #92
We're looking at a multi-field paragraph for each author with current requirements. Which is definitely an overkill for this purpose...

[2018-01-11 10:16] meldera commented on #102
Current wireframes do not take into account the fact that nothing prevents a resource to be assigned to multiple series. Nor does a series filter exist on the resources search page, so the bottom link that "shows a search results page showing only the resources in this series" is invalid.

[2018-01-11 11:05] meldera commented on #96
recaptcha it is

[2018-01-11 11:22] meldera commented on #92
Author vocabulary + term fields (link & entity reference)

[2018-01-11 12:56] angievanhegan commented on #96
@meldera please can you add a link in the top box to a page in Drupal where I can see this to test it? Thanks

[2018-01-11 12:58] angievanhegan commented on #102
@russ-manta what do we do here? A resource can only be in one series, but that's not enough to solve this problem. Thanks

[2018-01-11 13:49] angievanhegan commented on #78
@cat-manta Steph end I prefer the tick boxes on the right, but you can @ican-icant can decide.

[2018-01-11 16:17] angievanhegan commented on #95
@StephMSlack Please can you give us the details for a technical contact at Age and Ageing so that Russ can talk to them about making the SSO work? Thanks

[2018-01-12 11:09] russ-manta commented on #77
@angievanhegan  can you confirm what the download field is?  Is it just a file field (single or multi value?) there is nothing in the content model

[2018-01-12 11:14] russ-manta commented on #92
@angievanhegan question to be discussed.. do we need an entity ref to the taxomony term for internal authors to work out if the author has opted into the directory  and we can therefore link to them?

[2018-01-12 14:46] angievanhegan opened #119 "Ensure consistency with use of labels"
There are several types of labels used in several places on the site. We need to make sure there's consistency, room for enough labels (where multiples are used) and that they all look good together.

**Labels include**:
- Topics
- Date
- Members only
- Resource type
- In a series
- Event type
- Past event content
- Section
- Group type
- Communication type

[All labels and their usage are listed

[2018-01-12 14:58] angievanhegan commented on #103
@meldera Can you add a link to Drupal at the top so I know where to go to see this? Thanks

[2018-01-12 15:01] angievanhegan commented on #56
@ican-icant do you like these?

[2018-01-12 16:22] russ-manta commented on #102
@meldera can we add a resource series filter to the resources search page that enables us to filter resources by a series?  Apparently resources will only ever be a part of one series - can we restrict the ability to add resources to more than 1 series?

[2018-01-12 17:17] cat-manta commented on #113
@angievanhegan I don't think this page needs designing anymore, as everything has already been designed on the Resources page (apart from the reset button). What do you think?

[2018-01-12 17:22] meldera commented on #102
@russ if, as previously agreed, there is not need to have a series page/node, this might as well be a term instead.

[2018-01-12 17:31] meldera commented on #77
[ ] "You may also be interested in (related content) + see all link (based on topic and document type) *TBC if this is done using references or just using related tags"
  -  we already have both options available in remora. how would either of these be different?

[ ] "Angie to confirm where Topic tags link to"
  -  already specified in #104 and built accordingly

[2018-01-15 11:14] ican-icant commented on #56
I do indeed @angievanhegan I prefer the resources version with the tick boxes to the right of the search box.

[2018-01-15 11:16] cat-manta commented on #78
@angievanhegan
@ican-icant prefers on the right so I have updated this, although I have just noticed the wireframes are different to the design, so do I need to update the design to match?

[2018-01-15 12:27] meldera commented on #77
[ ] "Clinical/Research resource tick box (they can select both options on one resource - it's not either/or)"
- what should this field be called?

[2018-01-15 12:29] meldera commented on #107
Should this be a modal form dialog or appear in the sidebar?

[2018-01-15 12:38] meldera commented on #97
Need more info here, i.e. name of the new role and all the differences between the two.

[2018-01-15 12:40] meldera opened #120 "Check resource indexing"

[2018-01-15 12:54] StephMSlack commented on #78
@cat-manta @angievanhegan Thanks for these. I have asked for comments from the team. From me:
Can we increase the default number of search results displayed?
Prefer the Promo below the results
we may need some explanatory text on this page and a way for people to know what the difference between a case study and a policy digest are (should be self explanatory, but maybe not).
Will feed back other

[2018-01-15 12:59] StephMSlack commented on #95
@angievanhegan @russ-manta Here you go.
The SSO contact is:
Dwyer Scullion
Senior Digital Producer, Digital Operations
Global Academic Division | Oxford University Press
Great Clarendon Street | Oxford | OX2 6DP
+44 (0)1865 354882
 dwyer.scullion@oup.com

They have asked that I keep Paul Kidd Paul.KIDD@oup.com, one of the OUP staff in the loop, so I shall email them to let you know you will be in

[2018-01-15 13:09] StephMSlack commented on #47
@cat-manta Apologies for the delay. Just checking with Recia who requested the change. Will get back to you asap. Steph

[2018-01-15 13:29] StephMSlack commented on #67
@angievanhegan @cat-manta

I have asked the team for some text, but here are some initial options. (not my strong point!)
Membership
BGS membership has been a crucial influence in my career. Professor David Oliver
Join the BGS today

Age & ageing
Read our international journal publishing refereed original articles and commissioned reviews on geriatric medicine and gerontology

[2018-01-15 13:30] StephMSlack commented on #47
@angievanhegan @cat-manta image to the right is fine and the preferred option. Thanks, Steph

[2018-01-15 14:39] angievanhegan commented on #67
@StephMSlack Thanks for these. Can you give some text for the e-learning promo too please? Thanks

[2018-01-15 14:42] angievanhegan commented on #95
@russ-manta What's the next step for this?

[2018-01-15 16:18] angievanhegan commented on #78
@StephMSlack I've added these as issue above for @cat-manta. Should we wait for all the feedback before we make these changes?

Also, can I suggest we try building the page without the additional explanations about the types then add them if you find they're needed? Thanks

[2018-01-15 19:05] angievanhegan commented on #77
@StephMSlack What should we call the field where the editor chooses if the resource is clinical or research? Thanks

[2018-01-15 19:08] angievanhegan commented on #97
@meldera The primary role is admin and the secondary role is editor. Admin has publishing rights, editor is only able to do the stuff specified above. Does that answer your question?

[2018-01-15 19:09] angievanhegan commented on #107
@meldera I'd say whichever is easier to build (as either would be fine). @russ-manta Do you agree?

[2018-01-15 19:12] angievanhegan commented on #56
@ican-icant Are you happy with the arrows below the slideshow? https://projects.invisionapp.com/share/4EDQ458R5#/273192591_Slideshow-Nugget

[2018-01-15 19:14] angievanhegan commented on #68
@russ-manta @pipe-manta This one is ready for build

[2018-01-15 19:18] angievanhegan commented on #47
@russ-manta @pipe-manta This one is ready for build.

[2018-01-16 10:03] ican-icant commented on #56
Yes, they are nice @angievanhegan

[2018-01-16 10:11] meldera commented on #97
Not really, but I've added a "web admin" role (as "administrator" already exist and is exclusive for mrm), and assumed that it should have all the permissions an "editor" has + rights to review/publish resource revisions.

[2018-01-16 14:06] angievanhegan commented on #97
@meldera that sounds about right.

[2018-01-16 14:07] angievanhegan commented on #120
@meldera should we put this in the sprint backlog and assign some points to it?

[2018-01-16 14:18] StephMSlack commented on #67
@cat-manta Updated Membership text:
  Membership
Join a multidisciplinary professional organisation improving healthcare for older people; Membership is free for medical students and foundation year doctors

Chasing on e-learning text for you

[2018-01-16 14:25] angievanhegan commented on #94
@cat-manta I'm sneaking this one in because it will make me happy!

[2018-01-16 14:25] angievanhegan commented on #113
@cat-manta I agree.

[2018-01-16 14:36] StephMSlack commented on #68
Hi @angievanhegan I had Recia look at this. She wanted to confirm that we would be able to build tables with the style of content below - greater number of columns, a larger amount of text in the columns:
http://www.bgs.org.uk/decisionaid/campaigns/dignity2006/dignitydecisionaid
http://www.bgs.org.uk/environmentaudit/campaigns/dignity2006/dignityenvironmentalaudit

She also wanted to check if we w

[2018-01-16 15:27] StephMSlack commented on #84
@angievanhegan this is OK

[2018-01-16 15:36] StephMSlack commented on #89
@angievanhegan 22px is fine for all

[2018-01-16 15:37] StephMSlack commented on #91
@angievanhegan - fine

[2018-01-16 15:59] angievanhegan commented on #68
@StephMSlack

1. Yes, you can add more columns and text (and text can be aligned to the top)
2. We wouldn't normally recommend using tables like this anymore (for issues of responsiveness). Can you send an example of the content so we can see if we can suggest another way of doing this?
3. The table style is optional, but we'd recommend using it for consistency. We can set it so it's styled by def

[2018-01-16 16:52] angievanhegan commented on #112
@cat-manta @ican-icant now that I look at it, I'm not sure about having so much content for the members directory and the events at the bottom of the page. It's not actually 'your' information. Do you think it'd be be better if we reduced these two items to something much simpler?

[2018-01-16 17:25] angievanhegan commented on #116
@cat-manta This still needs to show the CPD points and if there is past event content. Thanks

[2018-01-17 14:06] StephMSlack commented on #56
Hi @angievanhegan I'm really sorry, but I really don't like having the arrows and numbers below the slideshow. Some samples which are closer to what I was after are:
https://www.nationaltrust.org.uk/
https://www.rcplondon.ac.uk/

[2018-01-17 14:30] StephMSlack commented on #78
@angievanhegan @cat-manta Just looking at these pages again - I think we may need to review the use of colour as we discussed in December. This resource page has become very pink again. Whilst the hovers may be blue, most people are not going to be hovering over each link.

<img width="1422" alt="screen shot 2018-01-17 at 22 26 31" src="https://user-images.githubusercontent.com/32127102/35047757-d

[2018-01-18 10:23] russ-manta commented on #102
@meldera BGS have confirmed that they do want a resource series node with all related resources shown and also some kind of resource series landing page which lists all resource series.  Awaiting for @angievanhegan to provide a wireframe for these pages still I think

[2018-01-18 13:32] angievanhegan commented on #102
@meldera @russ-manta there are two wireframes on the realtime board, both have been approved by Steph:

- Resource series landing page
- Resource series node page

(thanks for the nudge to make the wireframes - we got some useful detail out of it)

[2018-01-18 15:22] angievanhegan commented on #78
@cat-manta Can we make the search options text and background blue? @StephMSlack We still have a global review of highlight colours planned. I still think it'll be better if we do this when everything has been built so that we can make sure we are using colours consistently across the site. Thanks

[2018-01-18 15:55] cat-manta commented on #112
@angievanhegan I have updated this page with the membership promo.
I think I agree about simplifying the page as well, what do you think about getting rid of Age and Ageing on the RHS?

[2018-01-18 15:57] angievanhegan commented on #112
@cat-manta Age and Ageing is a a key part of the membership. People pay extra for it, so it needs to be there.

[2018-01-18 15:58] angievanhegan commented on #112
@cat-manta I think the events and members areas should probably be on a white background though.

[2018-01-18 16:00] angievanhegan commented on #56
@russ-manta @ican-icant would we be able to modify the slideshow as per steph's request so that it just has right and left arrows on the image?

[2018-01-18 16:02] angievanhegan commented on #67
@StephMSlack You'll be able to put anything you like in a right hand banner: text, links, images, lists a 'card' for another page (see examples here http://bgs-dev.mrmdev.co.uk/examples/right-hand-column)

[2018-01-18 16:02] angievanhegan commented on #67
@cat-manta Steph's provided sample text for the promos so you can go ahead and work on the design now. Thanks.

[2018-01-18 16:34] angievanhegan commented on #67
@StephMSlack these are ready for you to review. Thanks

[2018-01-18 16:37] angievanhegan commented on #112
@StephMSlack This is now ready for you to review. Cat and I think that the members and event content is making the page looks very busy, and it's not completely content that relates to you. I think we're recommending we remove this. Your call.

[2018-01-18 16:46] angievanhegan commented on #78
@StephMSlack this is ready for you to review. Ta

[2018-01-19 11:45] cat-manta commented on #116
@angievanhegan I've changed this design quite a bit:
- I've made the month boxes much lighter and purple
- Changed the highlight line at the top of each box lilac instead of bright pink, which I think would be best on all cards except box links
- Slightly different month text
- Added 'updated with coverage' on past events
- Added CPD points

[2018-01-19 13:30] angievanhegan commented on #116
@cat-manta Nice! Would it be possible to see what it looks like without the horizontal lines on the boxes? Also, we should probably have the year written in full I think. Thank you

[2018-01-19 13:42] angievanhegan commented on #117
@cat-manta Hello. This past event label needs to appear on the events landing page too. Thanks

[2018-01-19 13:44] angievanhegan commented on #78
@cat-manta @ican-icant I just looked at this resources search/landing page again https://invis.io/NAF7LMUMY. Do you think the results should be more spaced out, vertically? I wonder if they looked a bit packed in and might be hard to scan?

[2018-01-19 13:51] angievanhegan commented on #114
@cat-manta I love the style of this. Some comments:

1. The membership details in the fields at the top are not editable. Please can you make sure the design shows that?
2. I think that people should be able to to control whether or not they're going to appear in the members directory from here. Please can you add that in where you think it fits best? Please can you remove the option to to this fr

[2018-01-19 13:52] angievanhegan commented on #117
@StephMSlack This is ready for you to review.

[2018-01-19 14:19] russ-manta opened #121 "Login page"
# Done criteria
- [ ] ~Build login page with all relevant fields & buttons~
- [ ] ~Style login page to match design~
- [ ] ~Login functionality works and are redirected to My account page after login~
- [ ] ~Link login button (in header) to login page~
- [x] Test request new password, create an account, become a member buttons

# Designs & Docs
- see wireframes

[2018-01-19 14:37] angievanhegan opened #122 "Member alert (my account page)"
# Done criteria for BGS and Manta Ray

- [x] TWEAK Member alert giving error message
- [ ] ~TWEAK - message can be everyone on Civi or members only (people with a BGS membership)~
- [x] Web admin can add a small amount of text (roughly 1 para)
- [x] Web admin can add a link to the text (may be a link to another page on the site)

# Drupal link
-

[2018-01-19 14:43] russ-manta opened #123 "My account page"
NOTE: Members directory is part of a future sprint goal and can be ignore for now

# Done criteria
- [ ] ~Summary/card details~
- [ ] ~Member alert space (see #122)~
- [ ] ~Membership promo block at bottom of page (only show to non members)~
- [ ] ~Style my account page~
- [ ] ~My BGS Groups (from Civi)~
- [ ] ~My Membership section (from Civi)~
   - [ ] ~Become a member button only if not a membe

[2018-01-19 14:56] cat-manta commented on #116
@angievanhegan I have done all of these, both links are now in the top of this card. Forgot to say I've also taken the shadow off the event cards, what do you think?

[2018-01-19 15:05] cat-manta commented on #116
@angievanhegan I've also added a little more space between cards vertically

[2018-01-19 15:59] angievanhegan commented on #79
@pipe-manta Can you put a link the Drupal page at the top? Thanks

[2018-01-19 16:09] cat-manta commented on #114
@angievanhegan Done both of these. I've also added titles to separate the forms into sections, which I think helps, and changed the heading style of the textbox titles.

[2018-01-19 17:50] pipe-manta commented on #79
@angievanhegan Done!

[2018-01-19 21:16] angievanhegan opened #124 "Members directory"

[2018-01-19 21:19] angievanhegan opened #125 "Review use of highlight colours across the site"
Include link colour

[2018-01-19 22:07] angievanhegan commented on #96
@cat-manta I thought there was a design for the feedback section, but maybe I imaged it. Can you update the design with one please? Thanks

[2018-01-19 22:40] angievanhegan commented on #104
@cat-manta @ican-icant Have a look at the Drupal page to see how it appear when there are a few topics listed together. I'm not sure it's really clear they're all different tags, it just looks like a messed up sentence to me. Issue added at the top.

@russ-manta @meldera I've added some proper topics (I renamed the test one), but when I save it deletes them and adds the old test ones. Also, when I

[2018-01-19 22:44] angievanhegan commented on #79
@pipe-manta I must be looking at the wrong thing, this isn't looking anything like the design!
![screen shot 2018-01-19 at 17 42 55](https://user-images.githubusercontent.com/3796718/35175159-6823ebac-fd40-11e7-81df-fea60138bbf3.png)

[2018-01-19 22:53] angievanhegan commented on #116
@cat-manta

1. I like it without the shadow and the line
2. I think they still look quite squashed
3. I think we need a space between the month and the year
4. The end date looks like it's floating in the middle of the screen.
5. I'm not sure about the pale purple. It looks like it's from a different site
6. we're still missing a link at the top to view past events (see the wireframe)

[2018-01-19 22:57] angievanhegan commented on #114
@cat-manta. I really like the pink lines and the non editable text at the top.

I think that having the 'apear in members directory' on the blue bit makes it look like your membership details are going to be displayed in the directory (rather than your person details - listed below). Perhaps we should move this down?

Other than that, all good! Ta

[2018-01-20 00:58] angievanhegan commented on #78
@StephMSlack if you can review and sign this one off asap that'd be great. I really want to be able to  move ahead with building and styling this page. Thanks

[2018-01-20 01:08] angievanhegan commented on #102
@meldera Can you add a link to the top where I can see this? I think I may have deleted your example.

[2018-01-20 01:22] angievanhegan commented on #107
@meldera I need to know how to add a download to the right hand side so that I can test this. Can you add one please so I can see. http://bgs-dev.mrmdev.co.uk/resource

[2018-01-22 09:40] meldera commented on #104
New revisions need to be published for changes to be applied to the current page.

[2018-01-22 11:13] cat-manta commented on #96
@angievanhegan There was a design but it was decided to keep it closed, I have updated the design with it open. @meldera I'm not sure if you've started this yet but I have also changed the colour of the feedback title background.

[2018-01-22 11:23] cat-manta commented on #114
@angievanhegan Have moved this down, do you think it makes sense just above personal information? I've also edited the design a bit, right aligning the titles of the text boxes, and moving these titles and textboxes more to the left.

[2018-01-22 12:59] russ-manta commented on #95
SSO information here:
[EXTERNAL Member access.docx](https://github.com/MantaRayMedia/bgs/files/1652001/EXTERNAL.Member.access.docx)

[2018-01-22 14:36] angievanhegan commented on #96
@cat-manta Thanks. Looks good. It also needs to have text to tell people that their comments won't be published on the site. And include the captcha stuff. Thanks

[2018-01-22 14:38] angievanhegan commented on #114
@cat-manta I really like this page. I think the location of the 'be in the directory' checkbox works well here. Thank you!

[2018-01-22 14:39] angievanhegan commented on #114
@StephMSlack Are you happy with this design? Thanks

[2018-01-22 14:41] angievanhegan commented on #104
@meldera I had published them. Most worked, the ones I mentioned don't.

[2018-01-23 15:11] StephMSlack commented on #67
@cat-manta @angievanhegan overall happy with these, except they would like to swap out one of the pictures with an alternate image. I'll be able to get one to you next week when I am back in the office. Otherwise, everyone is happy with the promo

[2018-01-23 15:14] StephMSlack commented on #78
@angievanhegan @cat-manta - My web group is happy with this page.
If we could look at increasing the space between the tiles, making the start/end date styling consistent with the event search style that would be great
If we could also look into the possibility of the card hover showing the intro text for the resource that would be helpful from a user knowledge point of view.
thanks
Steph

[2018-01-23 15:15] angievanhegan commented on #123
@StephMSlack can you confirm whether or not we're going to have the events on this page, it feels like it already has a LOT of content on here. Thanks

[2018-01-23 15:17] StephMSlack commented on #122
@angievanhegan - I'll need to speak to Geraint about this one, as he requested the feature. Will confirm

[2018-01-23 15:19] angievanhegan opened #126 "Manage my account page"
NOTE: Ignore anything to do with members directory for now
## This will now be done as a civi profile with new fields ## (not a webform)

[2018-01-23 15:29] angievanhegan opened #127 "My Certificates and CPD points[BGS: P1]"
Need to see what Veda have built

- - -
**parents:**

1. https://trello.com/c/Y2JG3a8R

[2018-01-23 17:09] angievanhegan commented on #79
@pipe-manta I added a new requirement at the bottom of the list.

[2018-01-23 17:11] angievanhegan commented on #79
@pipe-manta The design for this page has now been signed off. Please note that more space has been added between the cards. Thanks

[2018-01-23 17:12] angievanhegan commented on #67
Great! Thanks

[2018-01-23 17:43] angievanhegan opened #128 "Design My events and CPD points page"
- [x] Search area
- [x] Event name
- [x] Event type
- [x] Past event (if appropriate)
- [x] Invoice/receipt links
- [x] 'Pay' button
- [x] Download certificate
- [x] View past event content

# Designs
- [Design](https://invis.io/4EDQ458R5#/275309606_My_Events)
- [Wireframes](https://realtimeboard.com/app/board/o9J_k0NkHnc=/?moveToWidget=3074457345962285201)

[2018-01-23 17:51] angievanhegan commented on #67
@cat-manta This can move to signed off in Invision

[2018-01-23 17:51] angievanhegan commented on #78
@cat-manta These can move to signed off in Invision

[2018-01-24 12:49] cat-manta commented on #96
@angievanhegan I have updated the design with those extra bits.

[2018-01-24 13:02] cat-manta commented on #104
@angievanhegan I've added underlines to each topic, do you think this makes enough difference?

[2018-01-24 14:35] angievanhegan commented on #96
@cat-manta This all looks great. I'll remove the 'design' label. Thanks

[2018-01-24 14:36] angievanhegan commented on #96
@russ-manta This design has been fully completed now - it can be assigned to a Dev. I'm not sure if @pipe-manta is doing this one or not? Thanks

[2018-01-24 14:37] angievanhegan commented on #104
@cat-manta It works for me. Do you think it's ok that some links are underlined and others aren't? Also, did you get @ican-icant to have a quick look? Thanks

[2018-01-24 14:43] angievanhegan commented on #77
@meldera The clinical/research resources have already been given an interim name - we're just waiting for a final one from @StephMSlack .

@russ-manta Can you answer this question for @meldera please?

[ ] "You may also be interested in (related content) + see all link (based on topic and document type) *TBC if this is done using references or just using related tags"

we already have both options

[2018-01-24 14:54] angievanhegan commented on #56
@StephMSlack Do you mean like the slideshow on the home page? http://bgs-dev.mrmdev.co.uk/

[2018-01-24 16:23] cat-manta commented on #128
@angievanhegan I have added a link for this design.

[2018-01-24 17:19] meldera commented on #77
"if the resource is in a series, an additional link is displayed within the box (below the link text) with a link to 'download all the resources in this series'. There will be be one PDF doc of all the resources in the series which appears in this position on all resources in the series"

- how is this going to work?

[2018-01-25 11:52] ican-icant commented on #104
@angievanhegan @cat-manta Loving the tags but think we need a little more space at the top of the page. Have added my thoughts to the design. Very minor additions to excellent workings.

[2018-01-25 22:34] angievanhegan commented on #104
@ican-icant I love the tags too. The question here though was about the topics! In the first version, they were just link text (with no underline) but I was worried they just looked like an odd sentence and not like separate things. @cat-manta put the underline on them to make them each look more distinct. Do you think that's working? What should we do? Thanks.

[2018-01-25 22:54] angievanhegan commented on #77
@StephMSlack We need you to confirm if you want to select the related resources manually, or if they can be pre-selected based on a criteria. Thanks

[2018-01-25 22:57] angievanhegan commented on #47
@StephMSlack This last issue is ready for you to sign off (see the list at the top - the issue is to put the cover for the download on the right hand side). Thanks

[2018-01-25 23:17] angievanhegan commented on #79
@pipe-manta Looking good! See the done criteria at the top though, there's still a couple of things missing - hopefully they're all small. Also, I'm not sure the search field is working. Thanks

[2018-01-25 23:22] angievanhegan commented on #77
@meldera Resources never have an image - please can you make sure they can't be entered onto the content item by removing the fields. Thanks

[2018-01-26 00:07] angievanhegan commented on #102
@meldera

1. How do I add the link to the PDF doc which has all the files in the series?
2. How do I see the page that lists all the series? Can you add a link to the navigation please?

Also, there are some issues listed above. Thanks very much.

[2018-01-26 00:48] angievanhegan commented on #101
@StephMSlack This is ready for you to review.

[2018-01-26 00:51] angievanhegan commented on #128
thanks @cat-manta - this totally works for me.

[2018-01-26 00:57] angievanhegan commented on #116
@StephMSlack This design is ready for you to sign off. Please can you tick all the boxes at the top to confirm you're happy with them. Thanks

[2018-01-26 01:07] angievanhegan commented on #107
@meldera I'm checking it on this page but it doesn't appear to be happening:
http://bgs-dev.mrmdev.co.uk/boxni

[2018-01-26 01:12] angievanhegan commented on #97
@meldera Can you give me an editor login please and make sure I'm a web -admin so that I can test this? Thanks very much.

[2018-01-26 01:19] angievanhegan commented on #98
@meldera I set the publish and expiry dates (using UK and Mexican time) but it didn't work.

[2018-01-26 01:30] angievanhegan opened #129 "Pagination on resource landing page"
# Done criteria - Manta Ray and BGS
- [x] Numbers appear and work as expected
- [x] Navigation appears and works as expected

# Designs and Drupal links
- [Design in invision](https://invis.io/NAF7LMUMY)
- [Druapal page](http://bgs-dev.mrmdev.co.uk/resources)

[2018-01-26 03:02] StephMSlack commented on #56
Hi @angievanhegan this is definitely closer to what I was after. It depends if it is a lot of work to change the system. I'd still prefer the versions on the original links I sent through, the home page version is closer and I would prefer that to the original style. The integration work and building the other pages is a higher priority, but if this is a 1/2 day job to update, it would be good to

[2018-01-26 03:06] StephMSlack commented on #47
@angievanhegan this is fine

[2018-01-26 03:08] StephMSlack commented on #94
@angievanhegan - could you send me a copy of the favicon image?

[2018-01-26 03:12] StephMSlack commented on #128
Hi @angievanhegan @cat-manta I've sent the event pages off to Geraint and Julie (events team) for comment. I will be going through these as well and consolidate any comments and get back to you.
Steph

[2018-01-26 05:07] StephMSlack commented on #114
@angievanhegan @cat-manta this is looking great. My concern is that the page is very long, and people wont necessarily scroll all the way down to the bottom. Would it work to add accordions/FAQ nugget styling - one for each heading?
- Personal information
- career information
- contact details (include Social media in this)
- interests (I need to check, but this may be a pre-populated list linking

[2018-01-26 05:21] StephMSlack commented on #112
@cat-manta @angievanhegan could we move the Age & Ageing RHS nugget above the BGS Groups. It is a major membership benefit so we do want people to use this. Ideally it should also have an image to ensure people see it.

My events & Certificates, whilst in pink seems to get lost. Could we be showing any upcoming event (if they have registered) or the most recent event they attended?

I know the pag

[2018-01-26 05:54] StephMSlack commented on #101
@angievanhegan - is this in drupal? Not exactly sure where I should be looking at things to sign it off.

[2018-01-26 06:04] StephMSlack commented on #116
@angievanhegan @cat-manta thanks!
Could we have the start/end date as the full month not just first 3 letters
BGS watermark on the month - Can you check the guidelines, I think there is a minimum space that should be around the BGS logo
What does updated with full coverage mean?
Some are greyed out, some not and some have blue top lines, some purple - I'm not sure of the consistency of these or wh

[2018-01-26 10:13] pipe-manta commented on #129
Hi @angievanhegan, I have changed the view to display just 1 item, that will helps to display the pager and test it. Let me know when you finish to revert the changes on the view and display again 12 items per pager.

[2018-01-26 10:24] cat-manta commented on #116
@StephMSlack
I've changed the month names, added space around BGS and made all the colours consistent (I had missed a purple line when I changed them all to blue).

The difference in box colour is on purpose, to differentiate between BGS and non-BGS events, so BGS events are white and non-BGS events are grey.

'Updated with coverage' is to show when a past event has been updated with a video or ot

[2018-01-26 12:55] angievanhegan commented on #129
@pipe-manta I still see 6 results and no pagination :o(

[2018-01-26 12:58] angievanhegan commented on #56
@russ-manta the design for this slideshow has been updated (see the link at the top). Please can you estimate this please? Thanks

[2018-01-26 12:59] angievanhegan commented on #94
@cat-manta Please can you send @StephMSlack A copy of the favicon image? Thanks

[2018-01-26 13:21] angievanhegan commented on #104
@cat-manta Steve things we should lose the underline on the topics. Also, he put a request to add some more space in in Invision. Thanks

[2018-01-26 13:41] cat-manta commented on #94
@StephMSlack Is a .png okay?
![favicon](https://user-images.githubusercontent.com/29398815/35442262-87ed358e-029e-11e8-93a9-4a01109bad38.png)

[2018-01-26 14:00] russ-manta commented on #98
@angievanhegan which content was this for - it's probably becuae there is no regular scheduled job at the moment

[2018-01-26 14:06] angievanhegan commented on #77
@russ-manta Can you answer Steph's question?

[2018-01-26 14:08] angievanhegan commented on #101
@StephMSlack Yes, it's all functionality in Drupal. Shall we talk through it when you're back in the UK? It all seems to work fine to me.

[2018-01-26 14:10] angievanhegan commented on #112
@cat-manta I've distilled this down to issues at the top. Thanks

[2018-01-26 14:14] cat-manta commented on #104
@angievanhegan Done both of those.

[2018-01-26 14:14] angievanhegan commented on #114
@russ-manta How much work will it be to add the FAQ layout to this page?

[2018-01-26 14:29] cat-manta commented on #112
@angievanhegan Have updated the original design, and added a new design without the members' directory

[2018-01-26 14:34] angievanhegan commented on #77
@StephMSlack Russ and I have talked about this and the sensible option here is to have it programatically selected (by topic) but if you want, you can turn this functionality off for a particular resources and enter them manually. A hybrid of both at the same time on one resource is a bit out of scope!

[2018-01-26 14:39] angievanhegan commented on #56
@StephMSlack Russ confirmed this would be about half a days work. I'm assuming we need to add text for each image though? Especially if you're using them for the history of BGS as per Recia's comment? Thanks

[2018-01-26 14:42] angievanhegan commented on #114
@StephMSlack The reason the design is so simple is that this one is supposed to be on Veda's list to do. If we end up building it then we'll see if we can add them. It will add more time. I just noticed that the Airbnb update your details page is very similar, and if it's good enough for them...!

[2018-01-26 14:48] angievanhegan commented on #112
@StephMSlack This is ready for you to review (see the links at the top). What would you think about having 2 promos (one for age and ageing and one for membership)? or, removing the BGS groups summary on the RHS?

[2018-01-26 14:54] angievanhegan opened #130 "Full width promo"
# Done criteria
- [ ] Promo can be uploaded to Drupal
- [ ] Promo can be added to a page
- [ ] A link can be added to a promo

# Design
- [Example](https://invis.io/BSF98SH9Q)

[2018-01-26 15:44] angievanhegan commented on #95
@russ-manta Here's the file to the age and ageing promo.
![promo-purple](https://user-images.githubusercontent.com/3796718/35447511-e330bde4-0285-11e8-93ec-4fcafadd22a4.jpg)

[2018-01-26 17:39] angievanhegan commented on #129
@pipe-manta Beautiful! Thanks

[2018-01-26 17:58] angievanhegan commented on #92
When we do the members directory sprint goal we can work out how the links to members should behave

[2018-01-26 17:59] angievanhegan commented on #103
@StephMSlack This is ready for you to test.

[2018-01-26 18:02] angievanhegan commented on #107
@pipe-manta Arseni has built this, please can you style it? Obviously, it shouldn't be full width, it should just appear more like a window with very minimal formatting. It also needs to have the text as shown in the screen grab at the top. Thank you!

[2018-01-26 18:45] angievanhegan commented on #130
@cat-manta Am I just useless at cropping? I can't get the crop to match your design (or to make it look ok!) Thanks

[2018-01-29 09:58] cat-manta commented on #130
@angievanhegan I had to do them differently when I exported the images so they had more height for different screens, here are the images with the ideal crop in the middle:
![promo-blue](https://user-images.githubusercontent.com/29398815/35504384-d5d81e9c-04da-11e8-8afa-3426f413bda6.jpg)
![promo-green](https://user-images.githubusercontent.com/29398815/35504385-d5eadcb2-04da-11e8-97fd-9a0fd64645d3

[2018-01-29 15:05] angievanhegan commented on #130
@pipe-manta The shape of the promo doesn't really match the shape of the crop in Drupal so I can't seem to make this work. Can you take a look please? Thanks

[2018-01-30 10:28] meldera commented on #102
@angievanhegan do we generate a cover image for uploaded series pdf?

[2018-01-30 10:37] StephMSlack commented on #112
Hi @angievanhegan @cat-manta
Feedback from Geraint referencing both sample pages:
The biography has too much emphasis.
As this is the users account landing page, they don't need to see the entirety of their biography every time they login. They just need to be reminded that they can add one and that they can edit their current one.
The image seems very large

The priority for this page is that:
-

[2018-01-30 10:44] StephMSlack commented on #112
@cat-manta @angievanhegan
RE: events on the page, greater emphasis needs to be on the events people have registered for. This information is lost on the page.

[2018-01-30 10:49] StephMSlack commented on #112
@angievanhegan re: 2 promos, Non-members should have a membership promo and members can have a A&A promo. Just concerned that for members the promos tend to sit at the bottom of the page and we want them to easily access A&A as it is one of their main benefits so replacing the RHS link might mean that they miss the option.
re: removing BGS groups - both members and non-members can be part of a SIG

[2018-01-30 10:57] StephMSlack commented on #114
@angievanhegan @cat-manta - the design doesn't seem to use the full width of the page. Could it? And possibly then use 2 columns of data to shorten the page?

[2018-01-30 11:16] StephMSlack commented on #77
@angievanhegan this makes sense. I'm checking with Recia that she is happy with this and will confirm

[2018-01-30 11:35] StephMSlack commented on #94
Thanks @cat-manta.
Also apologies - now that I am back in the UK on the BGS systems I can see that we have one already. I am guessing I hadn't sent this to you. Sorry! BGS favicon attached for your information. If you want the .eps version please let me know.
![bgs master favicon purple](https://user-images.githubusercontent.com/32127102/35564312-a4211a48-05b1-11e8-8777-61b9fdf85d4c.jpg)

[2018-01-30 11:40] cat-manta commented on #114
@StephMSlack @angievanhegan There seemed to be far too much space when it was full width with one textbox on each line. I have quickly done another version with some boxes on the right which makes the page a fair bit shorter, however there are a few different ways the content could be laid out to make the page shorter.

https://invis.io/4EDQ458R5#/276292235_Manage-My-Account-V0-2

[2018-01-30 11:56] StephMSlack commented on #116
Thanks @cat-manta

@angievanhegan I've spoken to the team here and their comments are below:
- Month tile - overwhelms the page and distracts from the title of the events. Users will equally be looking for the event name vs date (eg some will only attend the POPs meeting, so will just look for that)
- non-BGS events, they feel that the difference between the BGS and non-BGS events is too subtle an

[2018-01-30 12:00] StephMSlack commented on #94
@cat-manta I did notice that as well, but I cannot open the eps file on my system. Yes, please use the BGS purple and our Comms manager is now going back to the designer to find out why they are subtly different!

[2018-01-30 12:06] StephMSlack commented on #128
@cat-manta Is there a reason this is only 3/4 of the page? Will we be able to add something to the RHS? It feels a little off centre.
Will the title of the event also be a link to the events page on the site? If not, do we need a way for users to see more about the event?

[2018-01-30 12:17] StephMSlack commented on #77
@angievanhegan - Yes, this is fine. Programatically selected by topic with the option to turn off for a particular resource will be fine. Recia can "live with this" :)

[2018-01-30 12:25] cat-manta commented on #94
@StephMSlack Great I'll pass this onto the devs

@pipe-manta Could you update the favicon please? I have updated the info in the description at the top

[2018-01-30 15:12] cat-manta commented on #128
@StephMSlack It looks a bit odd full width, mainly because the CPD points and buttons are at the far right of the boxes, maybe instead we could have two events across rather than one?

They are basically the same as the event boxes on the Events page, so the titles will link to the event page.

[2018-01-30 15:24] StephMSlack commented on #128
Thanks @cat-manta, yes, could we try 2 across.

Also my colleague just pointed out that we might need a 'back to my account' button towards the top of the page content. Some of the users may not be as comfortable as others to follow the breadcrumb trail back or to use the MyAccount button at the top. What do you think? Will it be overkill to add this?

[2018-01-30 15:40] StephMSlack commented on #114
Thanks @cat-manta I definitely prefer the shorter version.
@angievanhegan I have realised that we are missing some information on this page - some extra fields within a couple of sections. I'm not sure if you will need to update the designs to ensure the devs know what fields to use?
Missing fields:
- update password
- address information (street, city, postcode, country)
- membership information

[2018-01-30 15:49] cat-manta commented on #128
@StephMSlack I have updated the design with 2 across

I've added a more subtle link back to my account as I think a button would be too much, although I'm not sure that I like it, as it looks a bit odd saying 'My account' directly below the same link in the crumb, what do you think @angievanhegan ?

[2018-01-30 16:23] StephMSlack commented on #128
thanks @cat-manta
I like the 2 across
Agree that the my account link looks a little odd just below the crumb. They do have 2 options on the page to get back and they can use the back button, so let lose that (if angie agrees)

[2018-01-30 21:22] angievanhegan commented on #102
@meldera no, there's no cover image for the series page.

[2018-01-30 21:41] angievanhegan commented on #112
There's lots to sort through here!

1. Do you want just a couple of lines of the biog with an elipsis? I think if we don't add a note on specifically how to edit it it might be a bit annoying. And if we add a button to edit it, it'd be more clutter. What do you want us to do?
2. We can try reducing the image size
3. I don't think this is necessarily the best place to show people the events they ha

[2018-01-30 22:39] angievanhegan commented on #116
1. We could try toning down the month tile a bit, but it needs emphasis to give the clear structure of a calendar.  The filters are there to enable people to filter their search based on their criteria - there's probably a bit too much showing on the calendar to enable them to filter in the same way.

2. Let's try to emphasise the BGS events more. I think a second calendar or another place for lis

[2018-01-30 22:46] angievanhegan commented on #114
@StephMSlack Yes, I noticed I'd missed those things off too! I'd made notes on the RT board and will transfer them all to GitHub when I'm creating the build tasks.

Are you happy to sign this off now? Thanks

[2018-01-30 22:50] angievanhegan commented on #128
@cat-manta @StephMSlack Yes - I agree! We already have a breadcrumb and a back button. I like this two column layout too. It was intentionally simple so that Veda can build it, but let's see what can be done.

@StephMSlack Are you happy to tick the boxes and sign this off?

[2018-01-30 23:01] angievanhegan commented on #77
@StephMSlack Neither did I! Good spot.

@russ-manta Please see Steph's comments. I hadn't realised that images needed to be added to the body copy in a resource and Steph had (not unreasonably) assumed it could be. Does this mean the text needs to be added in the 'main content' section of the page? And will that mean we need to recode the in page navigation links? Thanks

[2018-01-31 09:48] StephMSlack commented on #128
Thanks @angievanhegan All signed off

[2018-01-31 10:51] cat-manta commented on #116
@StephMSlack @angievanhegan I have updated the open search design to a previous design which used the light purple, which I prefer, what do you think?

I have also made all the event boxes the same colour, and emboldened and changed the colour of the BGS text on BGS events, do you think this is enough to differentiate BGS and non-BGS events?

[2018-01-31 10:59] StephMSlack commented on #114
@angievanhegan just getting final sign-off from the web group. Have stressed the need for speed!

[2018-01-31 14:24] StephMSlack commented on #116
Hi @angievanhegan @cat-manta,

I've had a chat with the team here and the response will simplify things in some ways, but complicate in others. Sorry!

a) they don't want non-BGS events to be listed on this page. They feel it places to much prominence on them and implies that BGS have endorsed these events and may be running them. They would like to have an event list for non-BGS events on a separ

[2018-01-31 15:59] angievanhegan opened #131 "BGS Groups"

[2018-01-31 16:03] angievanhegan opened #132 "Design for BGS Group page"
We only need a design for the very top part of this page:

- [x] Title (Aims and objectives)
- [x] Intro text with show more
- [x] Label for group type
- [x] Topics labels

**Design**
[Invision link](https://invis.io/4EDQ458R5#/276637857_BGS_Group_Page)

[2018-01-31 17:04] cat-manta commented on #132
@angievanhegan I have updated the description with a link to the design.

[2018-02-01 10:43] pipe-manta commented on #79
Hi @angievanhegan the drop down in the search for research series don't appear on the wireframes or on the design, do we need to add it?

[2018-02-01 13:17] angievanhegan commented on #132
@StephMSlack this is ready for you to sign off. Thnks

[2018-02-01 13:19] angievanhegan opened #133 "Build and style BGS groups landing page"
# Done criteria for BGS and Manta Ray
 # Build
- [x] **ISSUE 1** @StephMSlack to confirm if links to external sites are required - Yes
- [x] Build page with view of groups card content (grouped by type of group), sorted alphabetically. 'Professions' groups at top and SIGs below (opposite to the wirefames)
- [x] Regional / national groups not shown on this page (but under about)
- [ ] Cards need to

[2018-02-01 13:20] angievanhegan opened #134 "Build and style BGS group page"

[2018-02-01 13:32] angievanhegan opened #135 "Enable resources, events and news content to be 'tagged' by group"
- [x] **ISSUE 1** Ensure multiple groups can be added to News and Policy, Resources, Events and Blog items
- [x] Use taxonomy for Group names in the same way we did for Events etc with organisations on ALNAP
- [x] Rule to create taxonomy terms based on the group name

You can see this working here:
http://bgs-dev.mrmdev.co.uk/proactive-care-of-older-people-undergoing-surgery

[2018-02-01 14:40] angievanhegan commented on #79
@pipe-manta yes, we need to add the drop down please.

[2018-02-01 15:07] angievanhegan commented on #116
Hello

a) I'm a bit nervous about creating yet another silo of content. The more we separate it all out, the harder we make it to find. Also, I'm concerned it means building two events sections (one from Civi and one from Drupal). How about we try putting another filter at the top like we have for the clinical/research resources on the resource page. Let's talk.

b) we can definitely look at diffe

[2018-02-02 01:52] angievanhegan commented on #122
@StephMSlack Can you confirm you're happy with this done criteria? Thanks

[2018-02-02 02:43] angievanhegan commented on #79
@StephMSlack This is ready for you to sign off in Drupal. I think it's working really nicely now. :o)

[2018-02-02 17:17] angievanhegan opened #136 "Login page"
We updated the login page and now it'll need a bit of design.

# Done criteria
- [ ] ~TWEAK Link to 'become a member page to http://bgs-dev.mrmdev.co.uk/about/become-a-member~
- [ ] ~TWEAK 1 - Amend spacing (see notes below)~
- [ ] ~Build according to design~
- [x] ~~**BLOCKER** Awaiting feedback from Colin and Geraint~~
- [x] ~~**ISSUE 1** Review alignment of boxes/buttons~~
- [x]  ~~Page designe

[2018-02-02 17:23] angievanhegan commented on #79
@pipe-manta Sorry, Steve spotted a couple of things. I've added two new issues

[2018-02-05 11:36] cat-manta commented on #112
@StephMSlack I have updated the design that doesn't have the members directory to reflect the changes asked for.

[2018-02-05 13:21] cat-manta commented on #116
@StephMSlack I have updated both designs, the closed search uses the darker purple, and the open search uses BGS purple.

[2018-02-05 14:49] StephMSlack commented on #103
@angievanhegan @russ-manta @ican-icant
Hi, I have built 2x resource pages with the sticky nav. They are not appearing as in the design at the moment. (wrong colour, wrong font size, no box etc). http://bgs-dev.mrmdev.co.uk/improving-healthcare-support-in-care-homes
![screen shot 2018-02-05 at 14 49 02](https://user-images.githubusercontent.com/32127102/35810468-bea234b6-0a83-11e8-8aa0-c70f376152cb

[2018-02-05 14:50] StephMSlack commented on #103
Also - could the name sections be changed to Navigate to

[2018-02-05 15:04] StephMSlack commented on #104
@angievanhegan @ican-icant
The tag "deconditioning" changes to "another tag" when used.
What is the default view when an author is not included on the page. The topics should move left but the date published & date updated should both still stay on the next line down
![screen shot 2018-02-05 at 15 03 53](https://user-images.githubusercontent.com/32127102/35811214-d33ad4e4-0a85-11e8-8f2e-8dc29ecbe0

[2018-02-05 15:41] StephMSlack commented on #101
@angievanhegan @ican-icant
- should the members only icon should show information text (like the other icons here)
- The text "Members only content. Please log in." is not aligned with the rest of the content on the page. The text does not stand out & feels too small (especially in comparison with the larger intro text above)
- Can this members only message be changed by BGS? The current text need

[2018-02-05 15:42] cat-manta commented on #112
@StephMSlack I have updated the design again, moving the 'manage my account' and 'my events & certificates' buttons to the top of the column.

[2018-02-05 16:18] cat-manta commented on #136
@StephMSlack @ican-icant I have added a design for the login page:
https://invis.io/4EDQ458R5#/277452822_Login

[2018-02-05 16:38] StephMSlack commented on #112
thanks @cat-manta I really like that. I have a meeting with my web group tomorrow so should hopefully be able to sign this off then

[2018-02-05 17:01] StephMSlack commented on #116
Thanks @cat-manta. I will discuss with the team tomorrow and get back to you.

@angievanhegan @ican-icant - talking to the team here re: non-BGS events. They will not be putting these events into CiviCRM, so to have non-BGS events on the site, we will need to use drupal. Is there a way that we can have an online event application form that can turn the form content into an event page once approved

[2018-02-05 17:01] StephMSlack commented on #136
thanks @cat-manta
Will show the team tomorrow

[2018-02-06 13:48] russ-manta commented on #103
@dilwarhussain can you take a look at the two comments from @StephMSlack above please?

[2018-02-06 15:38] russ-manta opened #137 "Members updates on BGS group page"
This is a ['member update' type](http://bgs-dev.mrmdev.co.uk/member-update) and can be set to appear on whatever group page you specify. Good eh?

# Done criteria
- [x] **ISSUE 3** Please could this also link to an internal page
- [x] **ISSUE 2** Give Web Admin role permission to create and publish member updates
- [x] **ISSUE 1**  Make Angie, Steph and Recia Web Admin
- [x] Build content type wit

[2018-02-06 16:03] pipe-manta commented on #103
@dilwarhussain @russ-manta Both solved, but I have found another. After click on the first heading, when resize the window the sticky menu appear on top of the content region.

![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/711e38a2-4c6c-4c8b-82e6-10c8004cfa38)

[2018-02-06 16:46] pipe-manta commented on #104
Hi @StephMSlack , I have fixed both issues with the Deconditioning and the dates position, now both are displaying always in the same line.

[2018-02-06 17:24] ican-icant commented on #103
@pipe-manta  on resize the sub-section menu appears below the comments box rather at the top!

[2018-02-06 17:34] ican-icant commented on #68
@dilwarhussain table looks great but caption title needs to be left aligned

[2018-02-06 17:38] ican-icant commented on #79
@dilwarhussain          this is looking good now

[2018-02-07 16:40] pipe-manta commented on #103
@meldera Sometimes the sticky nav moves down over the postscript section

![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/77ddb0f1-d0d2-4708-98f1-811c43bd362d)

[2018-02-08 09:40] meldera commented on #103
@pipe-manta you'll need to show me how to reproduce this...

[2018-02-08 16:28] russ-manta opened #138 "Media browser - enable browsing of existing files when adding images to pages"
- [x] Someone to show Recia and Steph how this works
- [x] Add ability to browse existing files within the website when uploading a 'new' image to a page
- [ ] Roll out to all areas of the site
- [ ] Fix issue described below by Steph (sorry, i didn't quite understand it)

[2018-02-12 10:08] cutlern commented on #134
PHP in the twitter hashtag view needs Arseni to look at it

[2018-02-12 10:38] ican-icant commented on #79
@pipe-manta @dilwarhussain the text rollover for the resource card needs to have limited character limit (might be close to 300) and then go to ... the summaries are too long and we don't want to limit them as they are displayed on the node.

[2018-02-12 10:41] ican-icant commented on #79
![Screen Shot 2018-02-12 at 10.39.53.png](https://images.zenhubusercontent.com/598c61aff8b79f8376e2a502/364f617b-a6df-4cbb-a97f-513d7dfebfc0)

@pipe-manta @dilwarhussain

[2018-02-12 17:15] pipe-manta commented on #79
@meldera The issue with the RHS is still happening, look @ican-icant 's screenshot from today

[2018-02-13 15:34] ican-icant commented on #107
There's nothing I can test @pipe-manta

[2018-02-13 15:36] ican-icant commented on #137
@cutlern @russ-manta - how do I sign this off?

[2018-02-13 15:47] dilwarhussain commented on #107
@ican-icant Here's the link: http://bgs-dev.mrmdev.co.uk/resource-0
You need to be logged out for the popup box to work.

[2018-02-13 15:57] ican-icant commented on #133
Blocked - waiting on member civi and design of feeds at bottom of page are not yet built

[2018-02-14 09:54] ican-icant commented on #130
@StephMSlack the plan was always to have a groovy parallax promo http://bgs-dev.mrmdev.co.uk/parallax so we need to confirm your're happy with it, rather than the plain image version. The link takes you to a page with Parallax vs Centered

[2018-02-14 10:10] ican-icant commented on #79
@meldera          also after I filter this happens to some of the resources - ![image.png](https://images.zenhubusercontent.com/598c61aff8b79f8376e2a502/1f3d1459-be40-4824-878d-9b6b645a2617)

[2018-02-14 11:53] russ-manta opened #139 "News, Policy & Blogs"

[2018-02-14 11:55] russ-manta opened #140 "Build and theme blog content type (issues with comments)"
See wireframes, more details to follow
- [x] TWEAK All comments to require approval
- [ ] ~**ISSUE 13** Send editor message when new comment is posted, to be approved~
- [ ] ~**ISSUE 12** Add notification message on screen when comment posted~
- [ ] ~**ISSUE 11** Change 'Comments' to 'Add and view comments'~
- [ ] ~**ISSUE 10** Put 'Add comment' within expand box~
- [ ] ~**ISSUE 9** Comments behav

[2018-02-14 11:57] russ-manta opened #141 "Build News, Policy Update and Press release content types"
News already exists
See wireframes, more details to follow
Needs sidebar, additional and postscript regions
Same nuggets as standard page (hide some later)
Clone News content type display

[2018-02-14 11:59] russ-manta opened #142 "Build and theme blogs landing page"
See wireframes, design to follow resources landing page
# Done criteria
- [x] **ISSUE 1** Please put 20 Blog items on a page. Thanks
- [x] **ISSUE 2** All <a> links in .view-card-default-palette have the same background and color attributes
- [x] Add a 'submit a blog' link (top right)
- [x] confirm pagination added

# Wireframe, design, Drupal
- Drupal link http://bgs-dev.mrmdev.co.uk/blog
- Wiref

[2018-02-14 12:00] russ-manta opened #143 "Build News, Policy and Press Release landing page"
See wireframes
Build/design to follow resources landing page
Awaiting to find out if Policy updates have authors

[2018-02-14 12:48] StephMSlack commented on #104
Thanks @pipe-manta I've edited the dysphasia tag (changed from lowercase to upper case D) in structure/taxonomy/topics but the change has not been reflected on the resource page.

![screen shot 2018-02-14 at 12 33 29](https://user-images.githubusercontent.com/32127102/36205038-3df64588-1185-11e8-8200-f036a8ffc884.png)
![screen shot 2018-02-14 at 12 35 28](https://user-images.githubusercontent.com/

[2018-02-14 13:26] StephMSlack commented on #101
@ican-icant - do you have some alternate logins I can use to test this point - "Member only resources are only visible by users with the member role when logged in (not other non member roles)

[2018-02-14 13:30] StephMSlack commented on #101
@ican-icant when logged out and viewing a member only resource, we should not be able to see/download the resource in the RHS - this is also member only content.
![screen shot 2018-02-14 at 13 29 53](https://user-images.githubusercontent.com/32127102/36206678-30386da8-118b-11e8-866d-27d96549c364.png)

[2018-02-14 14:41] StephMSlack commented on #132
All good

[2018-02-14 16:41] StephMSlack commented on #130
@ican-icant happy with the parallax promo. Can we change the image for the promo ourselves or do you need to do that?

[2018-02-14 16:58] ican-icant commented on #130
@StephMSlack Yes, you can, but we will need to colour the images for you. Otherwise it will take on the original colour of the image

[2018-02-15 09:40] meldera commented on #95
block added: http://bgs-dev.mrmdev.co.uk/admin/structure/block/manage/block/4/configure
needs target urls...

[2018-02-15 10:47] StephMSlack commented on #102
@ican-icant - the box links for the series and related resources links and on the series landing page are all smaller than those on the resource landing page. It makes it harder for the user to read the card content. Should they all be the same size?

[2018-02-19 12:23] cutlern commented on #134
@meldera I think Nadia's the best to ask

[2018-02-19 17:53] angievanhegan commented on #112
@cat-manta the design with all the latest changes look great.

Please can you just do a version of this page with the members directory in it instead of the events (and delete any old versions in invision)?

Thanks

[2018-02-20 13:55] angievanhegan commented on #68
@dilwarhussain Is the table styling optional by the way? If it's something that can be applied, please can you show me how, I can't work it out. Thanks.

[2018-02-20 13:57] angievanhegan commented on #56
@cat-manta there needs to be a caption for the images in the slideshow. Can you add that to the design please? thanks.

[2018-02-20 13:58] angievanhegan commented on #90
Let's worry about this when we have real content rather than test pages.

[2018-02-20 13:58] #90 closed

[2018-02-20 14:14] angievanhegan commented on #104
@pipe-manta I've added another issue to the done criteria. Topics should always appear on the right and author should be mandatory. Thanks

[2018-02-20 14:21] angievanhegan commented on #101
@StephMSlack

- I don't think the members only tag needs any explanation
- What would you like the button text to prompt people to login to view the resource to say? We'll need to edit it. I've suggested 'Log in to view'

[2018-02-20 14:26] angievanhegan commented on #103
@StephMSlack Are you happy to sign this off and move it over to done? If any of these problems recurr as you're adding content we'll just create a new 'bug' issue.

[2018-02-20 14:30] dilwarhussain commented on #68
Hey @angievanhegan The table styles are applied everywhere at the moment, but I can create a class to strip the styles. Are the styles in the image below okay for the stripped down table?
![image](https://user-images.githubusercontent.com/29142647/36429298-3cab357a-164a-11e8-9be5-12ac3045c239.png)

[2018-02-20 14:31] angievanhegan commented on #107
@StephMSlack Are you happy to sign this off? It looks like this:

<img width="873" alt="screen shot 2018-02-20 at 08 29 59" src="https://user-images.githubusercontent.com/3796718/36429458-65451a46-1618-11e8-87e2-07c3da65258f.png">

[2018-02-20 14:50] angievanhegan commented on #103
@russ-manta this needs to be assigned to a dev

[2018-02-20 14:53] angievanhegan commented on #82
@russ-manta ready to be assigned to a dev

[2018-02-20 14:55] angievanhegan commented on #82
@StephMSlack Are you happy to sign this off and move it to done? There are some small changes in the feedback section on card

[2018-02-20 14:56] pipe-manta commented on #104
@angievanhegan Authors are already required, that mean that when they include the information Topic will be displayed on the right

[2018-02-20 14:56] angievanhegan commented on #96
@russ-manta Ready to be assigned to a dev

[2018-02-20 14:58] angievanhegan commented on #68
@dilwarhussain that stripped back style looks great to me. Thanks.

[2018-02-20 15:03] angievanhegan commented on #143
@ican-icant Can you confirm that you've not agreed with Steph to deviate from the wireframes? Thanks.

[2018-02-20 15:21] dilwarhussain commented on #68
@angievanhegan I've added the styles and class, see test page for two tables. How to apply the class will be covered in the training but if you need a quick demo how to apply I can show you over a zoom call. Thanks!

[2018-02-20 15:31] russ-manta commented on #77
@StephMSlack re inline images in the WYSIWYG we strongly feel this is not a way to go and it is best to use content blocks and then an image  followed by another content block.
The reason being that: 'styling becomes very tricky when clients have to manually float things and apply classes. Inline images can very easily break the layout of a page. Applying classes in a wysiwyg is not a nice process

[2018-02-20 15:45] angievanhegan commented on #77
@meldera Issue 2 (see list at the top) can be worked on) issue 3 still needs a reply from STeph.

[2018-02-20 15:51] angievanhegan commented on #133
@ican-icant there's no feed on this page. Can you explain?

[2018-02-20 15:52] angievanhegan commented on #133
@StephMSlack can you confirm if you need to be able to have some box links go to external sites?

[2018-02-20 17:05] meldera commented on #77
https://github.com/MantaRayMedia/bgs/issues/77#issuecomment-357303090

 - "we already have both options available in remora. how would either of these be different?"

[2018-02-20 17:19] angievanhegan commented on #104
@pipe-manta Can you make it a mandatory field in Drupal please so that they have to add at least one? Thanks

[2018-02-20 17:23] angievanhegan commented on #103
@meldera Did you fix anything? I've done a hard refresh but issues 4 and 5 are still there.

[2018-02-20 17:43] angievanhegan commented on #112
@StephMSlack Things for you to decide:

1. Are you happy to have the BGS groups under the member's alert? I think it's better here
2. Is the 'show more' ok for the biog
3. Is the picture size ok?

[FOR MEMBERS](https://invis.io/WSFH05EPFA6)
4. Are you happy to have the Age and Ageing link on the right hand side? It makes the right hand column longer, but If you keep it on the right, you can have a

[2018-02-20 17:44] angievanhegan commented on #56
@StephMSlack Are you happy to sign off this design? Thanks

[2018-02-20 17:46] angievanhegan commented on #77
@meldera Please can you @ the person you're asking the question to and assign the issue to them? Thanks

@russ-manta Presumably this question is for you.

[2018-02-20 18:18] meldera commented on #103
@angievanhegan I didn't. I also can't reproduce this. Will need screenshots, browser, version...

[2018-02-20 18:30] angievanhegan commented on #103
Latest version of Chrome.

<img width="1245" alt="screen shot 2018-02-20 at 12 29 22" src="https://user-images.githubusercontent.com/3796718/36441947-c097f348-1639-11e8-84f6-5467205c1a29.png">
<img width="311" alt="screen shot 2018-02-20 at 12 29 35" src="https://user-images.githubusercontent.com/3796718/36441948-c0fd954a-1639-11e8-92eb-42caeb793820.png">

[2018-02-20 20:05] meldera commented on #103
1) does the sidebar menu reappear when you scroll up?
2) there are extra spaces after the "National reports and drivers" heading

[2018-02-21 09:38] StephMSlack commented on #77
@russ-manta - Happy to add them whichever way, but we will need to have images/tables spaced within the resources text. Many clinical and research papers have diagrams that will need to be placed next to the associated text. Currently all the body text for the resources pages is sitting in the overview section, so not sure how adding a new content block will impact the in-page sticky nav.

Sample

[2018-02-21 10:18] pipe-manta commented on #104
@angievanhegan The Authors field is mandatory, you can't save any resource without an author

![image.png](https://images.zenhubusercontent.com/59ef62dca468affe6df7f840/1860a8a7-9bbf-44c8-968c-28f56c9e74ef)

[2018-02-21 11:59] russ-manta commented on #77
@StephMSlack Thanks, these layouts are all fine. I notice in this page http://www.bgs.org.uk/care-and-support-planning/cga-toolkit-category/cga-personal-care-plan-full there are some image maps with hovers.  We would probably need to recreate those as SVGs for you and insert them ourselves but for any standard images and tables etc there will be no problem with you being able to do what you need

[2018-02-21 12:10] StephMSlack commented on #107
Hi @angievanhegan - Reading the text above, you need to be logged out to see this pop-up. Including this function is to help us when evaluating the resource. Is there a way to track users who are logged in who also download this resource?

[2018-02-21 12:35] StephMSlack commented on #77
thanks @russ-manta. When I add an image in the content block it defaults to the bottom of the page. Could you/one of your team walk me through how I could insert it partway down the page and still have the sticky nav working?
EG I'd like to put an image within the reports and drivers section of this page - http://bgs-dev.mrmdev.co.uk/peri-operative-care-for-older-patients-undergoing-surgery

[2018-02-21 12:39] StephMSlack commented on #68
Thanks @dilwarhussain yes, around today. I could do a call now or after 2:30?

[2018-02-21 13:57] angievanhegan commented on #103
@meldera

1. Yes, it's actually sticky as you scroll up (once it's appeared on the page)
2. Removed. I'll let Steph know that's how it works.
3. Please can you @ the person you're asking questions to and assign the issue to them so they know there's an action for them. Thanks

[2018-02-21 14:01] meldera commented on #103
@angievanhegan may I move this to review now?

[2018-02-21 14:03] angievanhegan commented on #104
@pipe-manta did you just add this or was it there before? There were published pages without authors - honestly! I'll put this over for sign off. Thanks

[2018-02-21 14:04] angievanhegan commented on #104
@StephMSlack Are you happy to sign this one off?

[2018-02-21 14:11] angievanhegan commented on #107
@StephMSlack Sorry, communication mix up - I've added issue 4 above to request that this functionality works whether or not people are logged in.

Also, did you test the form and receive an email. ?

[2018-02-21 14:17] angievanhegan commented on #101
@dilwarhussain please can you remove the full stop on the button? Thanks

@StephMSlack this is ready for you to sign off.

[2018-02-21 14:21] meldera commented on #96
@angievanhegan yes, recaptcha should be used. this is a go-live task, as bgs need to sign up to use that.

[2018-02-21 14:21] angievanhegan commented on #103
@meldera not yet, because issue 4 still needs resolving

[2018-02-21 14:23] angievanhegan commented on #107
@StephMSlack This is ready for you to sign off now.

[2018-02-21 14:23] meldera commented on #96
/admin/config/people/captcha/recaptcha

[2018-02-21 14:24] angievanhegan commented on #96
@meldera thanks for the explanation - I'll create a go live task.

[2018-02-21 14:25] angievanhegan opened #144 "Go live tasks"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-02-21 14:27] angievanhegan opened #145 "Mop up [BGS: P1]"
- - -
**children:**

1. https://trello.com/c/Rb6W2hrb

[2018-02-21 14:28] angievanhegan commented on #96
@StephMSlack this is ready for sign off. I've added a task to include CAPTCHA as a go live task (#144) we'll style it when we add it.

[2018-02-21 15:02] meldera commented on #103
@angievanhegan "there are extra spaces after the "National reports and drivers" heading", i.e. #4 is a content issue

[2018-02-21 15:13] angievanhegan commented on #103
@meldera sorry, you're right. I fixed issue 4, it's issue 5 that needs resolving.

[2018-02-21 15:31] dilwarhussain commented on #102
@StephMSlack Are the boxes for related and series links the correct size now? I think fixing ISSUE 5 may have fixed this problem too.

http://bgs-dev.mrmdev.co.uk/resource-0
http://bgs-dev.mrmdev.co.uk/series

[2018-02-21 15:56] angievanhegan commented on #102
@StephMSlack this is ready for you to review.

[2018-02-21 15:58] russ-manta commented on #95
@meldera this is the url for the promo for logged in users: https://academic.oup.com/ageing

[2018-02-21 16:04] angievanhegan commented on #133
@dilwarhussain We do need box links to link to external sites (a few of the groups have their own site). There's a done criteria for this at the top. Thanks

[2018-02-21 16:09] russ-manta commented on #77
@StephMSlack sticky nav also works within the content blocks so you can just use those when you need to and intersperse images as needed.  I've added some more content to your article here to show you : http://bgs-dev.mrmdev.co.uk/peri-operative-care-for-older-patients-undergoing-surgery

[2018-02-21 17:29] angievanhegan opened #146 "Remove news and events from the bottom of angie's dog series page"
The series page is pulling in events and news at the bottom. It shouldn't be!

Please can you add an estimate to this when you do it so we have a record of the time spent.

Thanks

[2018-02-21 17:33] angievanhegan opened #147 "Don't repeat the resource you're viewing in the series listing at the bottom of the page"
If you're looking at a resource which is in a series, when you scroll down you see 'other resources in this series'. The one you're looking at should not appear in that list.

Please can you add an estimate to this too.

Thanks

[2018-02-21 17:33] angievanhegan opened #148 "Don't repeat the resource you're viewing in the series listing at the bottom of the page"
If you're looking at a resource which is in a series, when you scroll down you see 'other resources in this series'. The one you're looking at should not appear in that list.

Please can you add an estimate to this too.

Thanks

Example: http://bgs-dev.mrmdev.co.uk/boxni-the-dog

[2018-02-21 17:34] angievanhegan opened #149 "Remove the second promo on the resources landing page"
- [ ] Remove white background from promo

[2018-02-21 17:35] angievanhegan opened #150 "If there's no file to download on a resource page, the 'download' heading on the right hand side should not appear"
Please can you estimate this. Thanks

Drupal link: http://bgs-dev.mrmdev.co.uk/dysphagia-management-for-older-people-towards-the-end-of-life

[2018-02-21 17:38] angievanhegan opened #151 "Add link to the blog in the top right header (alongside the social media icons)"
Colin would like to have the Blog link in the header rather than in the global nav - please can you try adding this into the design

# Done criteria
- [ ] Blog link added to the header
- [ ] My BGS changed to 'My account'
- [ ] Membership added to the global nav

[2018-02-21 17:52] dilwarhussain commented on #146
@angievanhegan That was just a feed nuggets added to the postscript section. I've removed this now.

[2018-02-21 17:55] dilwarhussain commented on #148
@angievanhegan I think you may have created two cards for this issue? See #147

[2018-02-21 18:17] cat-manta commented on #151
@angievanhegan I have updated the header in [Our Purpose](https://invis.io/4EDQ458R5#/266149708_Our_Purpose) and [My Account](https://invis.io/4EDQ458R5#/273246366_My_Account) (logged out, and logged in on my account to show the active state)

I've made the 'Join' button the same as the other buttons, to see how this looks, as I prefer the new active state on the current 'My account' page, and hav

[2018-02-22 10:26] meldera commented on #134
Nothing wrong with the view... No tweets with a hashtag   -   no output.

[2018-02-22 10:36] cutlern commented on #134
@meldera does the view work with retweets? Because we retweeted RSTMH yesterday with #zika, so zika should be pulling in at least one tweet but the view is showing nothing?

[2018-02-22 10:42] ican-icant commented on #79
Re: ISSUE18 @angievanhegan @StephMSlack

TITLES:
We can fix the height of the resources box, but at the moment we are fixing the height for each row to cater for long titles, making it more flexible. We can also give you a short and long title field, so if the title is long you can add a short title for the card and display the long title on the node only.

SUMMARY:
If we limit the number of chara

[2018-02-22 11:26] StephMSlack commented on #79
@angievanhegan @ican-icant
Titles:
While more flexible, it looked odd having some short and some long cards, so please fix the height of the resource box.
It is fine to give us a short/long title field if this will make the cards display better.

Summary
I have been using the card content summary field (which currently has a limit of 300 characters) for the card info - I assume that is right? We h

[2018-02-22 11:39] dilwarhussain commented on #133
Hi @StephMSlack Could you check this is working for you. I've added a new field to use if you'd like to link off to an external site. If not used, default behaviour is to go to the node.

[2018-02-22 11:54] StephMSlack commented on #133
@dilwarhussain happy to check but I don't seem to have editing access to the groups function to see what is happening in Drupal.

[2018-02-22 11:57] dilwarhussain commented on #133
@StephMSlack Sorry about that, I've changed permissions if you could try again please. Thanks.

[2018-02-22 12:02] russ-manta commented on #77
@cutlern clarification of issue #3 above: 'first filter is to show content that also has that topic tag, then second filter of document type - so if they are looking at a good practice guide then they would see other good practices guides with the same topic, then other other types of resources after that. Does that make sense?' so in essence it's kind of ordering by document type

[2018-02-22 12:04] russ-manta commented on #134
@cutlern have you tried running cron?  Cron need to run to pul the tweets in - worth checking that

[2018-02-22 12:44] StephMSlack commented on #68
@angievanhegan all good to go

[2018-02-22 13:33] #146 closed

[2018-02-22 13:34] angievanhegan commented on #147
Dupe

[2018-02-22 13:34] #147 closed

[2018-02-22 13:38] angievanhegan commented on #151
Hello - sorry @cat-manta I wasn't very clear. We're not going to have a join button up here as we'll have membership in the navigation. The way we've got the login/logout/My account buttons on the site are fine for now. I wondered if we should put the blog to the left of the social media links so that it doesn't appear in the same 'set' as the account stuff?

[2018-02-22 13:41] angievanhegan commented on #149
@meldera thanks. Also, it didn't used to have a white background on the promo. Could you remove it please? Thanks

[2018-02-22 13:49] angievanhegan commented on #133
@dilwarhussain I've put this one back into the sprint backlog with a new issue at the top (2) to make sure we have all the parts on the page that are on the wireframe. Thanks

[2018-02-22 13:51] #47 closed

[2018-02-22 13:51] #67 closed

[2018-02-22 13:51] #68 closed

[2018-02-22 13:51] #78 closed

[2018-02-22 13:51] #89 closed

[2018-02-22 13:51] #91 closed

[2018-02-22 13:51] #92 closed

[2018-02-22 13:51] #128 closed

[2018-02-22 13:51] #129 closed

[2018-02-22 13:51] #132 closed

[2018-02-22 13:51] #11 closed

[2018-02-22 13:51] #76 closed

[2018-02-22 13:51] #84 closed

[2018-02-22 13:51] #105 closed

[2018-02-22 13:51] #113 closed

[2018-02-22 14:10] angievanhegan commented on #79
@StephMSlack @ican-icant @dilwarhussain The plan we proposed ought to work. The cards are just displaying a short title and a short summary to help people decide if they want to read more. I think four lines of title, plus the date and space for 3 labels should be a good fixed height for large and small screens. Can we go with that and then only look at modifying it if the content *really* can't f

[2018-02-22 14:23] meldera commented on #134
@cutlern don't think id does. cron job is working.

[2018-02-22 14:23] angievanhegan commented on #134
@cutlern Are you working on this one?

[2018-02-22 14:26] cutlern commented on #134
@angievanhegan I passed the twitter issue back to Arseni, but if it's working like Arseni says then I think it can be put into blocked because I think this is still blocked by the organisation civi stuff

[2018-02-22 14:39] StephMSlack commented on #102
@angievanhegan @dilwarhussain I'm still seeing different size boxes on the series landing page and then the series page. Might be linked to the work being done at the moment though.
![screen shot 2018-02-22 at 14 35 18](https://user-images.githubusercontent.com/32127102/36544291-0d1b3f22-17de-11e8-981b-0af8446d4a10.png)
![screen shot 2018-02-22 at 14 35 06](https://user-images.githubusercontent.co

[2018-02-22 14:46] StephMSlack commented on #56
yes the design is fine

[2018-02-22 14:47] angievanhegan commented on #137
@cutlern can you show me how I can add/edit this field on the members page please? I can't work it out.  Thanks

[2018-02-22 15:09] StephMSlack commented on #107
@angievanhegan I was looking at this and now I cannot seem to get it working (whether logged in or logged out)

[2018-02-22 15:10] StephMSlack commented on #107
@angievanhegan also, I did add my email address and press send, but no email has arrived (not sure where it was set to go though!)

[2018-02-22 16:40] angievanhegan commented on #79
@StephMSlack Are you happy to sign this off so far? I'm going to create a new issue for the 'related links' at the bottom of the resource page (I'm not sure what it's pulling in) and the the height of the list view on the landing page.

[2018-02-22 16:43] angievanhegan opened #152 "Reduce the height of the resources when shown in list view on the resources landing page"
<img width="1273" alt="screen shot 2018-02-22 at 10 41 56" src="https://user-images.githubusercontent.com/3796718/36551467-3afd3d80-17bd-11e8-95e3-7ffef1568a2a.png">
Please can you add an estimate to this to so that we have a record of the time. Thanks

[2018-02-22 16:43] angievanhegan commented on #152
@dilwarhussain another one for you. Thanks

[2018-02-22 16:46] angievanhegan commented on #77
@russ-manta Can you review this please ?Thanks

[2018-02-22 16:52] angievanhegan commented on #102
@StephMSlack the resource series landing page is using the standard size for those images for that type of layout. The resources cards on the series page are the same size as the landing page now.

[2018-02-22 16:55] angievanhegan commented on #56
@cutlern This is ready to be built and styled

[2018-02-22 16:58] angievanhegan commented on #107
@meldera The requirement was for the information in this form to be emailed. See issue 5 above to confirm the email address. Thanks

[2018-02-22 17:11] angievanhegan commented on #97
@meldera Can you send me details for an editor account please so I can test this (in addition to my angie vanhegan account)

[2018-02-22 17:28] angievanhegan commented on #137
@cutlern I can't edit the one you made (I'm not an admin) but actually, can you make me, Steph and Recia web admins). Please can you give Web Admins access to create and publish these notices. I created issues in the done criteria at the top. Ta.

[2018-02-22 18:04] meldera commented on #97
@angievanhegan angie@vanhegan.com

[2018-02-22 18:14] angievanhegan commented on #135
@StephMSlack This issue is just about the ability to tag resources, events, news and blogs with a group so that they appear in this page.

If you create a 'group' type page, then it creates a taxonomy item. If you cant tag a resource, event, news item with that group, you choose the 'related content' tab on the left hand side, then search for the group under the 'group' heading. Easy.

**Can you c

[2018-02-22 18:29] angievanhegan opened #153 "Add 'Section' to the group type (appears as a label on the groups landing page)"
Section behaves exactly as a SIG, it just has a different name (yes, this makes no sense at all)

# Done criteria
- [ ] A label which says 'section' should appear on the Group landing page

# Designs and Drupal pages
- [Drupal page](http://bgs-dev.mrmdev.co.uk/bgs-groups)
- [Design](https://invis.io/4EDQ458R5#/281120927_BGS_Groups)

[2018-02-22 18:30] angievanhegan commented on #153
@cat-manta Please can you design a label for the groups landing page which says 'section'? It will be applied to some of the special interest groups. Thanks

[2018-02-22 18:48] angievanhegan opened #154 "Confirm design for cards on BGS group landing page"
We need to ensure that we're displaying labels (e.g. dates) consistently between different resource types and across the site.

NOTE - labels required shown on wireframes
NOTE - you might want to have a look at the topics wireframe as the cards will all be used here too

# Done criteria
- [x] Confirm if the summary is displayed on the page (as it is now) or should be displayed on hover, as it is f

[2018-02-22 19:07] angievanhegan commented on #134
@cutlern Some of this is blocked by design in #154 (mostly for the cards) but I think there's lots you can do in the meantime. Thanks very much.

[2018-02-22 19:17] angievanhegan commented on #97
@meldera You've assigned this to me so I'm assuming it's ready to test? Can you move it to the Manta Ray Review column so I know it's ready? Thanks

[2018-02-23 10:48] cat-manta commented on #153
@angievanhegan I've added a link to the design at the top

[2018-02-23 11:37] dilwarhussain commented on #107
@angievanhegan I've added your email address as the destination for the emails. If you're having trouble seeing the popup again try using incognito mode on browser.

[2018-02-23 12:03] dilwarhussain commented on #137
@StephMSlack Could I get Recia's email address so I can create a web admin account please, thanks.

[2018-02-23 13:14] angievanhegan commented on #152
Hello @dilwarhussain They still look like they have lots of spare space and don't need to be that high (and like the 3 tags at the bottom could do with being on one line instead of stacked).  Also, the grid view has gone back to the same height it was yesterday.

<img width="1260" alt="screen shot 2018-02-23 at 07 12 33" src="https://user-images.githubusercontent.com/3796718/36595776-2d54a04a-1869

[2018-02-23 13:18] angievanhegan commented on #153
@cat-manta This is perfect. And the pictures are all great! Thank you.

[2018-02-23 13:21] angievanhegan commented on #153
@meldera One for you to do if you'd like it. There's an extra type of group that we need to add to the list in Drupal (you can see tihs when you create a group page). A section is exactly like a SIG and appears (in alphabetical order) under the 'special interest' heading on the BGS Groups landing page. The only difference with a section is that it adds the label onto the box link (see Cat's design

[2018-02-23 13:22] angievanhegan commented on #150
@dilwarhussain Nice! Thank you.
@StephMSlack this is ready for you to sign off.

[2018-02-23 13:24] #148 closed

[2018-02-23 13:25] #149 closed

[2018-02-23 13:28] angievanhegan commented on #137
@dilwarhussain Recia uses editor@bgs.org.uk

[2018-02-23 13:42] meldera commented on #97
@angievanhegan this was done a month ago when we spoke. I don't remember the password. Was something really simple. You can reset it: http://bgs-dev.mrmdev.co.uk/user/login

[2018-02-23 14:26] angievanhegan opened #155 "Review use of white backgrounds across the site"

[2018-02-23 14:29] angievanhegan commented on #134
@cutlern Design is now ready for you to use. See link above

[2018-02-23 14:30] #154 closed

[2018-02-23 15:41] dilwarhussain commented on #137
@StephMSlack Oh cool, in that case you all have editor accounts and permissions to create/edit/delete member updates.

[2018-02-23 15:47] dilwarhussain commented on #152
How's this now @StephMSlack ?

[2018-02-23 16:05] angievanhegan commented on #137
@dilwarhussain Could this also link to an internal page? Sorry if it can already do that and I'm just missing it. It's most likely to link to a news item or an event.

[2018-02-26 15:03] angievanhegan commented on #134
@cutlern Did I add the curated stuff at the bottom? There only needs to be three sections on the page: events, resources, news.

[2018-02-26 15:07] cutlern commented on #134
@angie I added them cause i'm doing some work on the content feeds, they need to be built with fields instead of teasers so that they can link to filter pages that are already filtered by the group

[2018-02-26 15:13] angievanhegan commented on #142
@cat-manta Please can you create a design to show how the author and topic details will appear on these cards? Sorry, I missed this one in the design list. Thanks

[2018-02-26 15:16] angievanhegan commented on #143
@StephMSlack Can you confirm if policy updates have a named author, or if they're just 'BGS'

[2018-02-26 15:19] angievanhegan opened #156 "Migrate blog posts and comment"
Estimate: 1.5 days @ £560 + VAT = £840 + VAT

An invite from WP has been sent to support@mantaraymedia.co.uk to create an account. Account has admin access, so you should be able to see what is needed.

- [x] Consolidate tags (according to spreadsheet sent by Steph
- [x] Migrate images in content into image nugget

[2018-02-26 15:19] angievanhegan commented on #156
@StephMSlack Can you provide us with details of the Blog and the comments please? I'm assuming we'll need some admin login details. Thanks

[2018-02-26 15:23] angievanhegan opened #157 "Migrate news and policy content"
Estimate: 1/2 day for this at £560 (+VAT) per day

# Done criteria
 - [x] All policy updates [(Media and Policy > Policy updates)](http://www.bgs.org.uk/policy-digest/resources/policy-digest)
 - [x] last 6 months of press releases [(Media and Policy > Press release)](http://www.bgs.org.uk/press-3/press-and-pr/bgs-press-releases)

(not the 'in the news' section)

[2018-02-26 15:24] angievanhegan commented on #157
@StephMSlack Can you provide extracts for these please?

[2018-02-26 15:37] angievanhegan commented on #137
@dilwarhussain would you be able to do this one this week, or should I assign it to Pipe? Thanks very much

[2018-02-26 15:48] angievanhegan opened #158 "Topics"

[2018-02-26 15:51] angievanhegan opened #159 "Mega drop down navigation for topics"
# Done criteria
- [x] ~~BLOCKER Need [mobile design](https://projects.invisionapp.com/share/4EDQ458R5#/screens/296384372)~~
- [x] ~~TWEAK - remove random peach~~
- [x] ~TWEAK - sort out mobile version~
- [x] ~TWEAK - add a link to a real topic page (cga-in-community-settings) in the menu so we can see it works~
- [x] ~~BLOCKER - need approval on categories from Steph~~
- [x] ~~BLOCKER - need final

[2018-02-26 15:54] angievanhegan opened #160 "Topics page (node)"
NOTE: Courses or Non BGS events will NOT appear on this page

# Done criteria
- [x] ~TWEAK Remove images from cards~
- [x] ~TWEAK Remove title 'tagged content'~
- [x] ~TWEAK Add 'Last updated field to 'blog', 'news' and 'policy updates'~
- [x] ~~TWEAK Have new date field auto populate with 'date published' date~~
- [ ] ~TWEAK - Group pages should only appear at the top and not in the results below

[2018-02-26 16:00] angievanhegan commented on #159
@StephMSlack Can you confirm how many categories there are going to be? Thanks

[2018-02-26 16:04] angievanhegan commented on #97
@meldera I requested a new password about an hour ago and it's not arrived. I don't know what to do. Can you help please ?

[2018-02-26 16:08] dilwarhussain commented on #137
@angievanhegan Would you like the whole box to be a link? Because currently you can have the option to add a link in the wysiwyg. http://bgs-dev.mrmdev.co.uk/proactive-care-of-older-people-undergoing-surgery

[2018-02-26 16:15] angievanhegan commented on #137
@dilwarhussain Got it! I'll put this for Steph to sign off. Thank you.

[2018-02-26 17:51] pipe-manta commented on #143
@angievanhegan issue 0 and 4 done

[2018-02-27 11:59] StephMSlack commented on #114
@angievanhegan Sorry, I'd ticked the boxes but not written anything. Yes, good to go

[2018-02-27 12:17] StephMSlack commented on #116
@angievanhegan Happy with the darker version of the design - https://projects.invisionapp.com/share/4EDQ458R5#/screens/275020065

The text 'updated with content' should change to be 'Post event content added' - this can be done in the build.

I think we will need an up arrow at the top (similar to the down arrow at the bottom of the listing) to enable people to see past events - at the moment ther

[2018-02-27 12:40] StephMSlack commented on #130
@cat-manta would you be able to send through the RGB/CMYK colours you are using to create the web promos?

[2018-02-27 13:33] angievanhegan commented on #160
@cat-manta This is ready to be designed. Hopefully it's bascially just checking that what you did for a group landing page will work for this page too. Thanks

[2018-02-27 13:35] angievanhegan opened #161 "Additional documents to download available at the bottom of the resource page"
(from Steph)Some of the things we produce are worksheets that people can use and adapt/reproduce as needed so they need to be word docs.

- [x] **ISSUE 2** Update margin (see notes below)
- [x] **ISSUE 1** Update the vertical grey line as per design (see Steph's comments below)
- [x] BLOCKED - Steph to see if the additional documents can go into the main body (possibly with a heading)
- [x] Design

[2018-02-27 13:35] angievanhegan commented on #161
@pipe-manta another one for you. Thanks

[2018-02-27 13:39] #114 closed

[2018-02-27 14:22] meldera commented on #56
http://bgs-dev.mrmdev.co.uk/test

only scheduling of nodes can be implemented, not fields.

[2018-02-27 14:23] meldera commented on #97
qwerty

[2018-02-27 14:24] meldera commented on #103
5 isn't an issue. works as designed.

[2018-02-27 14:24] StephMSlack commented on #143
@angievanhegan - answered issue 5 & 3 above

[2018-02-27 14:31] StephMSlack commented on #157
@angievanhegan Recia moved the site to a new support agency and I've been trying to get an xml extract for weeks. Now trying to get a login from Recia to access the sql database myself. Might not be able to resolve this instantly

[2018-02-27 14:34] StephMSlack commented on #156
@angievanhegan An invite from WP has been sent to support@mantaraymedia.co.uk to create an account. Account has admin access, so you should be able to see what is needed. Let me know if you have any problems

[2018-02-27 14:51] StephMSlack commented on #130
@angievanhegan - these are fine

[2018-02-27 15:05] pipe-manta commented on #141
@angievanhegan Are we including Press releases?

[2018-02-27 15:13] angievanhegan commented on #56
@StephMSlack This is ready for you to review and sign off. Let me know if you need any help editing it.

[2018-02-27 15:59] pipe-manta commented on #161
@angievanhegan At the moment it's possible to add any type of field using Sidebar Attachment nugget.

I have added an example on this resource http://bgs-dev.mrmdev.co.uk/princesa-the-pooch with both of the block on the RHS.

[2018-02-27 16:02] StephMSlack commented on #112
@angievanhegan Sorry, I missed this last week.
1) yes happy with groups under member alert (though for some people this may be quite sparse). This should show when we members and site registrants who are a member of a SIG are logged in. It shouldn't show for anyone else
2) show more is fine for bio
3) picture size is better
4) A&A is fine on the RHS - this should only be visible for members who ha

[2018-02-27 16:12] StephMSlack commented on #101
@angievanhegan just going through the final elements of this. Could you confirm which field is used for the download text? At the moment it seems to be using the document name but there is a field in the CMS which says it 'The description may be used as the label of the link to the file.' Some of the document names aren't great, so if we could use the text in the label field that would be great.

[2018-02-27 16:44] angievanhegan commented on #136
![login page](https://user-images.githubusercontent.com/3796718/36741539-62c40cf0-1bb3-11e8-8b5c-6a0b53126ca5.png)

Hello @cat-manta Please can you have a go with this new design? The presentation of the options wasn't quite working. Also, the headings of join and register were a bit confusing. Thanks

[2018-02-27 17:05] angievanhegan commented on #151
Note: Steph has options to discuss with Colin and will give us feedback.

![screen shot 2018-02-27 at 11 52 47](https://user-images.githubusercontent.com/3796718/36742729-6e168ce2-1bb6-11e8-8748-6dfb100ad157.png)

[2018-02-27 17:10] angievanhegan commented on #103
@meldera It doesn't work as it was designed for me. The sticky point is half way through the download image. @russ-manta Can you help out here please?

[2018-02-27 17:26] angievanhegan commented on #140
@pipe-manta I don't seem to be able to edit the blog to see if I can add inline images. What am I doing wrong? Thanks

[2018-02-27 17:27] angievanhegan commented on #161
@StephMSlack this is ready for you to sign off.

[2018-02-27 18:00] angievanhegan commented on #141
@cat-manta Sorry, this one went in when I was off and we didn't think about the design here. I think it just needs to show an author (optional) and needs a title for topics. You may also want to set the spacing of the things at the top (to make it the same as other pages?) Thanks

[2018-02-27 18:11] angievanhegan commented on #112
@StephMSlack

4. Wouldn't it be worth keeping the link to A&A as a trigger to people who don't have it? The link will prompt them to log in anyway
5. If you're not worried that the directory and events together will overwhelm the page?
6. I suspect this may be quite a bit of work but I'll ask
6.

[2018-02-27 18:14] angievanhegan commented on #101
@StephMSlack Yes, it does go where you think. I've raised another issue to sort out the alignment on this Drupal page.

![screen shot 2018-02-27 at 13 13 47](https://user-images.githubusercontent.com/3796718/36746355-24ad7bd8-1bc0-11e8-8b8d-869eb0d2870f.png)

[2018-02-27 18:15] angievanhegan opened #162 "Amend alignment on resource page to help editor understand the page"
Please can you make the File and Description appear underneath the Resource series heading so that the editors can see where to add the file description. At the moment it's confusing. Thanks

![screen shot 2018-02-27 at 13 13 47](https://user-images.githubusercontent.com/3796718/36746453-5b0e2aec-1bc0-11e8-97e3-fd9035bf530b.png)

[2018-02-28 10:22] StephMSlack commented on #161
![screen shot 2018-02-28 at 10 22 44](https://user-images.githubusercontent.com/32127102/36782599-5747170a-1c71-11e8-82e6-bd857e0065d4.png)

[2018-02-28 10:35] StephMSlack commented on #104
@pipe-manta @angievanhegan - re: authors being mandatory, I do not seem to have access to the full functionality, as I cannot add a new author. All I can do is add an existing author (different to Pipe's screen shot above) Could this be updated please?
Screen shot in the resource page
![screen shot 2018-02-28 at 10 33 25](https://user-images.githubusercontent.com/32127102/36783094-ee471104-1c72-11

[2018-02-28 11:00] StephMSlack commented on #101
@angievanhegan - its not just the alignment in drupal - could that field be the one we use for the link instead of the name of the downloadable file?

[2018-02-28 11:38] ican-icant commented on #136
@angievanhegan @cat-manta Not sure this work for me either, I suggest a quick chat before time is lost designing something without full brief. I think a line of text is needed above the three options below the login.

If you do not have a password for the BGS website, please select from the following options...

I am a member but do not have a password [Request new password]

I want to become a me

[2018-02-28 12:02] StephMSlack commented on #112
@angievanhegan
4 - OK
5 - we don't have a version with both, so its hard to tell if it will be overwhelming. But from a business point of view, we need members to be reminded to book on events, so at this point, yes they need to be there.
6 - this can just be a listing of events - but wouldnt it be the same function as what is on the members page? Or it could default to showing the next 4 events w

[2018-02-28 12:14] pipe-manta commented on #104
Hi @StephMSlack this has been fixed, you are able now to add new and existing authors.

[2018-02-28 12:19] pipe-manta commented on #140
@angievanhegan Permissions, fixed! :)

[2018-02-28 13:28] angievanhegan commented on #136
@StephMSlack (@cat-manta fyi) Steve's suggestions are a definite improvement. I've updated the wireframe. Do you think this is going to work for Colin and Geraint? If so, we'll go ahead and design it. Thanks.

![login page](https://user-images.githubusercontent.com/3796718/36789968-44d994d6-1c61-11e8-8474-44e41ad94fc7.png)

[2018-02-28 13:30] angievanhegan commented on #112
@StephMSlack I don't think we should create another design for the events cards. Let's go with it all as is and see how it works when people start using it.

[2018-02-28 13:33] angievanhegan commented on #97
@meldera It doesn't let me log in with username: angie@vanhegan.com and password: qwerty. And it still doesn't let me reset the password myself. It says it has then doesn't send anything. Even to my spam folder.

![screen shot 2018-02-27 at 13 13 47](https://user-images.githubusercontent.com/3796718/36790219-193e2c00-1c62-11e8-8d63-1c7c8cd84f73.png)

[2018-02-28 13:44] angievanhegan commented on #137
@dilwarhussain I forgot to mention, it's just right how you did it. Thanks

[2018-02-28 13:51] StephMSlack commented on #136
@angievanhegan - yes, definitely better. I've showed it to Geraint who also feels that this is clearer so yes, good to move to design @cat-manta

[2018-02-28 13:55] angievanhegan commented on #136
@cat-manta @ican-icant Steph has approved the wireframe so it's definitely ok to start the design now. We'll still need Colin to sign it off, but Steph feel's we've got a better chance of that if we show him a design rather than a wireframe. Thanks very much.

[2018-02-28 13:56] StephMSlack commented on #101
HI @angievanhegan for some reason that isnt working on one of my resources. 2 screen shots to show what I mean
![screen shot 2018-02-28 at 13 54 36](https://user-images.githubusercontent.com/32127102/36791249-2d6dcbae-1c8f-11e8-828b-9c1bdcef5473.png)
![screen shot 2018-02-28 at 13 54 54](https://user-images.githubusercontent.com/32127102/36791253-310055c0-1c8f-11e8-9e88-5b3705bd4dd0.png)