[2018-06-27 15:20] StephMSlack commented on #202
@angievanhegan @dilwarhussain I think some changes elsewhere may have caused the RHS programme download to fall over -
![screen shot 2018-06-27 at 16 18 17](https://user-images.githubusercontent.com/32127102/41983411-e9465e06-7a25-11e8-8aa9-56f4612fad9d.png)

[2018-06-27 15:32] StephMSlack commented on #248
@angievanhegan @dilwarhussain is there anyway that we can hide the name of the Civi Profile on the registration page?
![screen shot 2018-06-27 at 16 30 47](https://user-images.githubusercontent.com/32127102/41984038-89488ae0-7a27-11e8-96bc-44da8fe749d5.png)

[2018-06-27 15:39] angievanhegan commented on #264
@russ-manta Steph says 'Yes please!' Thanks

[2018-06-27 15:41] angievanhegan commented on #95
@russ-manta Steph says can it link from the My account page?

[2018-06-27 16:01] angievanhegan commented on #259
@russ-manta Please can you estimate this? Steph thinks Colin's going to want it for go live.

[2018-06-27 16:04] angievanhegan commented on #252
@russ-manta Colin would like this for Go Live too. Please can you provide a costing? thanks

[2018-06-27 16:05] #251 closed

[2018-06-28 08:49] russ-manta commented on #95
@steph do you want it to link for just the my account page then and not resources?

[2018-06-28 08:50] russ-manta commented on #95
@StephMSlack  do you want it to link for just the my account page then and not resources?****

[2018-06-28 09:32] StephMSlack commented on #95
Hi @russ-manta the users will all need to be signed in to view the journal, so having it in their MyAccount page makes sense. I'll create an A&A promo prompting them to sign into their account to access the journal.

Only certain BGS member types get the journal:
category A members - all
Category B members - Enhanced Benefits
Category C All overseas members

[2018-06-28 09:38] daniellaveda commented on #278
https://bgs-civicrm.vedacrm.co.uk/bgs_membership#overlay=node/1/webform
![screen shot 2018-06-28 at 10 37 47](https://user-images.githubusercontent.com/27422088/42026573-589a4882-7abf-11e8-8bb6-b9dc239ee3e4.png)

[2018-06-28 09:44] daniellaveda commented on #278
Renewal process - is the join process again. Yes join button - have you seen the current process on the live site @russ-manta ?

[2018-06-28 09:44] dilwarhussain commented on #181
@StephMSlack I have removed the emails. You can only have one email address when creating a 'mailto' link. Using just one email address fixes your attempt to create a mailto button in the RHS content block.

[2018-06-28 09:47] daniellaveda commented on #278
Will get back on drupal question

[2018-06-28 10:04] russ-manta commented on #278
@daniellaveda we have the same fields on the webform. looking at the code it seems the whole "billing-paymen-block" section is not rendering which is where the payment fields are pulled through on your staging and live sites.  Any ideas on why this might be (see image)?
![bgs-webform-payment](https://user-images.githubusercontent.com/25846670/42027919-c683d78e-7ac2-11e8-8a93-9c7b0d039f2e.jpg)

For

[2018-06-28 10:09] StephMSlack commented on #181
thanks @dilwarhussain

[2018-06-28 10:13] daniellaveda commented on #278
Re drupal account - its created in the my details section so its not part of the renewal or join processes at the moment. if the renewal links are behind the login, then you should pass in the check sum into the webform @russ-manta

[2018-06-28 10:17] daniellaveda commented on #278
re webform, im passing it on to Raj to look at @russ-manta

[2018-06-28 10:23] StephMSlack commented on #181
@dilwarhussain there is another relationship type (that is in the live version of Civi but not staging) it is called Group - Chair. Is it possible to add this now or will we need to wait until connected to the live version of Civi?

[2018-06-28 10:46] StephMSlack commented on #181
@dilwarhussain is it possible to hide the officers and contacts if there are no officers for that group? Also, since we have removed the contact details for them, could we rename it to Contacts (officers by itself sounds a little odd)

[2018-06-28 10:47] dilwarhussain commented on #181
@StephMSlack We would have to wait till that relation type is available to Drupal. But It's just a matter of checking a checkbox now so shouldn't be a problem when ready.

The relationship in civi there for the 'Chair of Nurses and AHPs Council' is to the 'Trustee Board' group. Is that the group that 'Chair of Nurses and AHPs Council' in Drupal should be linked to? There seems to a lot of officers

[2018-06-28 11:05] StephMSlack commented on #181
@dilwarhussain for some reason, that is showing all of the trustee board and we only need to show the chair of Nurse & AHP council (who is also on the trustee board)

[2018-06-28 11:07] dilwarhussain commented on #181
@StephMSlack To show that there needs to be a separate relationship to the Nurse & AHP council block group with that relationship type.

I've changed the title of the block and empty ones should now be showing now.

[2018-06-28 11:10] StephMSlack commented on #181
@dilwarhussain I've just updated Civi so that the chair of the nurse & AHP council is linked to the nurse & ahp group (not the trustee board). hopefully that should make it work better.
Thanks for the other changes!

![screen shot 2018-06-28 at 12 09 54](https://user-images.githubusercontent.com/32127102/42030903-3861f03a-7acc-11e8-8fbe-d01628f7c3b8.png)

[2018-06-28 11:13] russ-manta commented on #259
@angievanhegan @StephMSlack going to speak to @ican-icant  about this first. This could be quite a bit of work and there may be some usability issues

[2018-06-28 11:31] StephMSlack commented on #181
@dilwarhussain the emails are still appearing on:
trainee council, the SIG pages and the nation and region pages

[2018-06-28 11:32] dilwarhussain commented on #181
@StephMSlack Sorry! Fixed now.

[2018-06-28 11:51] StephMSlack commented on #259
@russ-manta the reason for this is that the blog content is overwhelming the resources content (which we need to prioritise). If we cannot tab the results (as per home page) can we group them by content type? Show resources at the top, then media & policy and then Blogs, with a header/title for each content type?

[2018-06-28 11:54] StephMSlack commented on #231
@dilwarhussain we are getting past events still appearing in the upcoming events section.
![screen shot 2018-06-28 at 12 53 24](https://user-images.githubusercontent.com/32127102/42032711-60bfa756-7ad2-11e8-99a5-b04266cd07a0.png)

[2018-06-28 12:00] dilwarhussain commented on #231
@StephMSlack The end date for these (which is now showing on the card) for these are 30 june and august.

[2018-06-28 12:12] russ-manta commented on #252
@StephMSlack @angievanhegan  we can probably do this without quoting but  it's slightly lower priority at the moment compared to other go live items

[2018-06-28 13:06] StephMSlack commented on #231
@dilwarhussain do you need us to add the region of the event in drupal or are you pulling this information over from Civi? (I was checking the search was working)

[2018-06-28 13:13] dilwarhussain commented on #231
@StephMSlack yes the region is to be set in Drupal so we have a specific set we can choose from.

[2018-06-28 13:28] StephMSlack commented on #231
thanks @dilwarhussain
@angievanhegan this is fine. I cannot check if the show more function (the small blue arrow) is working until we have more events in place, but otherwise this is good to go

[2018-06-28 13:32] angievanhegan commented on #259
@StephMSlack This has been estimated. Shall we go ahead?

[2018-06-28 13:37] angievanhegan commented on #95
@russ-manta Right hand promo appears here:
https://invis.io/WSFH05EPFA6

[2018-06-28 13:38] StephMSlack commented on #236
thanks @angievanhegan @russ-manta this is fine and good to go

@angievanhegan FYI I added a note on slack about the profiles users see, which links to the use of the membership details profile mentioned above

[2018-06-28 13:44] StephMSlack commented on #259
@angievanhegan @russ-manta would we be using the tab option or grouping the content? (just so I know what to expect!)

[2018-06-28 13:47] StephMSlack commented on #209
@dilwarhussain I've got 7 records in civi opted in to the directory but only 4 showing on the drupal page.
![screen shot 2018-06-28 at 14 45 44](https://user-images.githubusercontent.com/32127102/42038139-1e18c4e0-7ae2-11e8-8ace-53ba67132a37.png)
![screen shot 2018-06-28 at 14 47 07](https://user-images.githubusercontent.com/32127102/42038163-2be96eb2-7ae2-11e8-95c4-903687df94bd.png)

[2018-06-28 13:55] StephMSlack commented on #95
@russ-manta there is also a field in Civi under the users profession - Journal = with journal or without journal that you may be able to use for the SSO

![screen shot 2018-06-28 at 14 54 11](https://user-images.githubusercontent.com/32127102/42038567-2c65e91e-7ae3-11e8-9e88-add005bc4666.png)

[2018-06-28 13:59] StephMSlack commented on #209
@dilwarhussain the alignment of the search is out
![screen shot 2018-06-28 at 14 57 19](https://user-images.githubusercontent.com/32127102/42038837-d26d1972-7ae3-11e8-9388-9a23e9dfa3e2.png)

[2018-06-28 15:17] russ-manta opened #280 "Hide personal contact form on account edit page"
# Done criteria
- [ ] Hide personal contact form on account edit page

[2018-06-29 16:37] angievanhegan commented on #136
@StephMSlack Do you want to get this design signed off with Colin before we go ahead and build it, or are we ok to go ahead an do it?

https://invis.io/SKM74VCW6DH

[2018-06-29 16:39] #231 closed

[2018-07-02 15:06] russ-manta commented on #278
@daniellaveda did Raj have a chance to look at the webform payment issue?

[2018-07-02 15:19] daniellaveda commented on #278
Hi @russ-manta

yes - ticket updated here: https://support.vedaconsulting.co.uk/issues/7992

[2018-07-02 16:21] #236 closed

[2018-07-03 09:32] StephMSlack commented on #209
@dilwarhussain @russ-manta - just checking the search - I have added the staging user to two SIGS but when I choose those SIGS in the search, I dont get any results.

![screen shot 2018-07-03 at 10 31 16](https://user-images.githubusercontent.com/32127102/42211821-631173da-7eac-11e8-94c0-5c12f37cc309.png)

![screen shot 2018-07-03 at 10 31 51](https://user-images.githubusercontent.com/32127102/422

[2018-07-03 10:14] StephMSlack commented on #210
@angievanhegan @conferences-BGS @dilwarhussain
Stepping through the join form - can the table follow the design on the rest of the site? (remove the blue background for the header row)
Could we remove the bold from the text 'please do not....' the text remains, but if it could use one of our header styles that would be great

![screen shot 2018-07-03 at 11 11 13](https://user-images.githubusercont

[2018-07-03 10:37] StephMSlack commented on #210
@russ-manta @dilwarhussain this might link to the payment processor issue - but when people are joining we need to remove the pay later option from the form. (they can choose a pay later option over the phone but not online)
![screen shot 2018-07-03 at 11 35 37](https://user-images.githubusercontent.com/32127102/42215128-7163ca60-7eb5-11e8-8bd7-3712187af1aa.png)

[2018-07-03 10:55] StephMSlack commented on #210
@russ-manta @dilwarhussain something seems to have gone wrong with the payment amount when I chose the option category A, retired member - the individual cost and the total should be the same amount

![screen shot 2018-07-03 at 11 51 29](https://user-images.githubusercontent.com/32127102/42215922-ed30cc68-7eb7-11e8-8a3b-8621cf09095e.png)

[2018-07-03 11:46] StephMSlack commented on #248
@angievanhegan @dilwarhussain When logged out I went to register for an event and got stuck at this page http://bgs-staging.mrmdev2.co.uk/civicrm/event-landing?reset=1&eid=51

Would it be possible for this page to look more like the rest of the site? Text then a pink login button, and text and a pink create an account button?

[2018-07-03 11:50] StephMSlack commented on #248
@angievanhegan @dilwarhussain the 'search for address field is appearing twice.
![screen shot 2018-07-03 at 12 48 38](https://user-images.githubusercontent.com/32127102/42218169-96c353a2-7ebf-11e8-9045-91c90ece1d4e.png)

[2018-07-03 12:35] StephMSlack commented on #210
@angievanhegan We are happy with the page and styling. The comments above link to the process of joining #247 so not sure if you want me to move these across and close this issue?

[2018-07-03 12:41] StephMSlack commented on #247
@angievanhegan Could we update the text on the membership confirmation page? I am happy to do this if you can tell me where. If not, text is below:

Thank you for your application to join the British Geriatrics Society.

Your application has been accepted subject to review by the membership team and you will receive an email confirmation shortly.

You will be able to register for our events at the

[2018-07-03 12:45] StephMSlack commented on #237
thanks @dilwarhussain
@angievanhegan this is fine to sign off and close

[2018-07-03 12:53] StephMSlack commented on #122
![screen shot 2018-07-03 at 13 52 17](https://user-images.githubusercontent.com/32127102/42220956-581efd00-7ec8-11e8-90f7-2187a8b46987.png)
 @dilwarhussain I just tried to add a member alert and received the above error message

[2018-07-03 12:53] StephMSlack commented on #122
@dilwarhussain also - this way of adding an alert doesn't include a title for the alert (as it does in the SIGS). is it possible to include a title?

[2018-07-03 13:17] StephMSlack commented on #217
@russ-manta
I've joined as a student member. I've edited my account and become part of the members directory. But the member directory feed is not showing on my account page.

Once logged in, I should also not see the join button at the top of the page, as I am already a member

![screen shot 2018-07-03 at 14 14 00](https://user-images.githubusercontent.com/32127102/42221891-9338760c-7ecb-11e8-9b4

[2018-07-03 13:29] StephMSlack commented on #195
@angievanhegan this if fixed and fine to close

[2018-07-03 13:33] #195 closed

[2018-07-03 13:34] #237 closed

[2018-07-03 16:42] angievanhegan commented on #85
@russ-manta one for you. Thanks

[2018-07-03 21:40] StephMSlack commented on #202
@angievanhegan @russ-manta - for some reason the content blocks are repeating - even though they are only on the page once.

<img width="909" alt="screen shot 2018-07-03 at 22 38 45" src="https://user-images.githubusercontent.com/32127102/42245827-1ffe5b92-7f12-11e8-8823-75862809b577.png">
<img width="604" alt="screen shot 2018-07-03 at 22 39 14" src="https://user-images.githubusercontent.com/3212

[2018-07-03 22:06] StephMSlack commented on #248
@russ-manta when testing this form I wanted to register 2 people. This bought up another section of text (see screen shot below) 'tell us about the other participants'

do we have any control where/when this text appears or is this dependent on Civi? Ideally 'tell us about the other participants should show before the card details are added.

<img width="826" alt="screen shot 2018-07-03 at 23 03 1

[2018-07-03 22:23] StephMSlack commented on #248
@russ-manta also - when I add a second participant the cost for registration is not updating. So it is staying at £50 for the merseyside event when I choose multiple registrations or one registration. Would this be linked to the payment processing or the Civi price sets?

[2018-07-03 22:55] StephMSlack commented on #192
@angievanhegan The courses landing page should not be showing card content and images - it should be the same view as the external events landing page

<img width="813" alt="screen shot 2018-07-03 at 23 54 24" src="https://user-images.githubusercontent.com/32127102/42248243-7d87ad54-7f1c-11e8-9991-be56232b2ded.png">

[2018-07-03 22:57] StephMSlack commented on #192
@angievanhegan on the submit a course form, the card content information should not be visible
(logged in with an editor account)
<img width="935" alt="screen shot 2018-07-03 at 23 56 38" src="https://user-images.githubusercontent.com/32127102/42248318-dcea5364-7f1c-11e8-963f-ea3f848b591b.png">

[2018-07-04 09:31] russ-manta commented on #260
@conferences-BGS just adding these rules in for the sync. For 'Grace'  should they see a renew button? Are these people that should have renewed but haven't done so yet but remain active for a Grace period?

[2018-07-04 09:40] StephMSlack commented on #260
@russ-manta @conferences-BGS  Russ as I understand things, yes they should see a renew button and your understanding is correct re their role on Civi. (G is in a meeting at the moment...)

[2018-07-04 09:45] StephMSlack commented on #85
@russ-manta this is now essentially the 'create a website account' process (profile ID 32, GDPR, SIGs) if it easier to manage that way and the Sign up to e-bulletins button can link to the create a web account form.
We will still need to only show the bulletins listed above as part of this process.

[2018-07-04 09:47] conferences-BGS commented on #260
Grace is a default Civi term we don’t use at all currently, but it would be applied after someone joins before they have paid. A renew button should be included but we might need to see how this works in real life

From: StephMSlack [mailto:notifications@github.com]
Sent: 04 July 2018 10:41
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g.collingridge@bgs.org.uk>; Mention

[2018-07-04 12:54] #278 closed

[2018-07-04 12:56] russ-manta commented on #248
@StephMSlack this is all Civi stuff, probably best to follow up with @daniellaveda

[2018-07-04 13:11] daniellaveda commented on #248
@russ-manta cant log into the site to review the event
![screen shot 2018-07-04 at 14 11 09](https://user-images.githubusercontent.com/27422088/42278960-2ece91b4-7f94-11e8-8750-e1dff5322333.png)

[2018-07-04 13:17] angievanhegan commented on #122
@russ-manta One for you. I've added a tweak above.

[2018-07-04 13:22] StephMSlack commented on #248
@russ-manta @daniellaveda - I can see the pages when logged in to the site as an admin, or when not logged in at all, but I get this same error when logged in as an editor or web user

[2018-07-04 13:41] russ-manta commented on #85
@StephMSlack on which page(s) do you need to show all the email signups?

[2018-07-04 13:49] StephMSlack commented on #85
@russ-manta - do you mean the GDPR module?

I put this together which shows what we should need where - https://docs.google.com/document/d/17TupkxEw1taRdYP7G-p0xKi_P3Mn282Xlu5sVAkAbYU/edit

create an account process (people can sign up to the 4 bulletins above)
manage account  - non member manage account - edit the 4 bulletins above
manage account  - member manage account - edit the 4 bulletins ab

[2018-07-04 14:13] angievanhegan commented on #127
@russ-manta Should this still be in the sprint backlog

[2018-07-04 14:47] russ-manta commented on #248
@daniellaveda this should now be fixed. Can you take a nother look when you get a chance please?

[2018-07-04 14:58] russ-manta commented on #122
@StephMSlack this should work now - let me know if not

[2018-07-04 15:11] russ-manta commented on #252
@StephMSlack this is now done.  If you go to one of the professional group pages (eg. http://bgs-staging.mrmdev2.co.uk/nurse-and-ahps-council)and then click on the nodequeue tab (eg. http://bgs-staging.mrmdev2.co.uk/node/3324/nodequeue )

Click on the BGS groups link and you can then reorder the groups in the list.  Make sure you click the 'Save'button after making any changes and these will then

[2018-07-04 15:15] russ-manta commented on #127
@angievanhegan My events is covered under the My account card. I've renamed this card to My Certificates and CPD points and moved it to the backlog

[2018-07-04 15:19] StephMSlack commented on #252
Thanks so much @russ-manta
@angievanhegan this is fine to close

[2018-07-04 15:20] StephMSlack commented on #259
@angievanhegan @russ-manta to confirm - yes we would like this change to take place

[2018-07-04 15:32] russ-manta commented on #247
@StephMSlack I've changed the confirmation message at the end.  You should be able to edit it too: http://bgs-staging.mrmdev2.co.uk/node/298/webform/configure

[2018-07-04 15:35] angievanhegan commented on #259
@russ-manta One more for you. Do you think we need to rope in another developer for this one?

[2018-07-04 15:35] #252 closed

[2018-07-04 15:40] daniellaveda commented on #248
Hi @StephMSlack lets review tomorrow as i cant see how you created your price set - if you look at the one i just added to your price set it works fine
![screen shot 2018-07-04 at 16 37 34](https://user-images.githubusercontent.com/27422088/42285934-f8818f16-7fa8-11e8-8933-ea8e4d91d237.png)

[2018-07-05 09:15] StephMSlack commented on #247
@russ-manta walking through the join form - tried the Advanced clinical practitioner option and when I got to the payment I should have been able to pay by card and Direct debit, but I only received the card payment option,

I had a look in the civi join matrix and DD payment should be enabled. Would you mind having a quick look?

Screen shots
![screen shot 2018-07-05 at 10 03 46](https://user-ima

[2018-07-05 10:30] russ-manta commented on #217
@StephMSlack the two issues above should now be fixed

[2018-07-05 10:31] #280 closed

[2018-07-05 12:07] StephMSlack commented on #202
@russ-manta When we pull the sessions through from the price sets, would it be possible to give them a title - Session Overview

![screen shot 2018-07-05 at 13 05 01](https://user-images.githubusercontent.com/32127102/42322416-58fabba0-8054-11e8-8980-35bec98d7b9d.png)

[2018-07-05 13:02] StephMSlack commented on #249
@russ-manta thanks for the update. The change to the profile is fine. You suggested adding the membership number to the My Account page as well - could we go ahead with this please?

[2018-07-05 13:32] angievanhegan commented on #249
@StephMSlack I'm assuming that having the membership number on the account page isn't essential for go live so I've removed the 'for go live' label and put this in the backlog.

[2018-07-05 13:49] StephMSlack commented on #247
@russ-manta cab we make the T&C field mandatory, and is it possible for this to be a link to our Membership T&C on the website?

[2018-07-05 15:14] russ-manta commented on #85
@StephMSlack we discussed this a bit yesterday and Daniella menitoned that the email groups couldn't be added to the registration form as they bwere added to the GDPR form using custom code and this hadn't been factored in. Either Veda or us would need to quote I think to get these added to the registration form. I guess they caould potentially be added to the webform you go to after registering/l

[2018-07-05 15:24] russ-manta opened #281 "COSTING: CiviCRM Past events - import from live site"
Note from Steph: the priority will be the current events that will be open for booking (there are 13)
Steph to confirm the number of past events being migrated over over from Etouches. This can be done after go live
# Done criteria
- [x] Create events in Drupal automatically based on events from live Civi

[2018-07-05 15:25] angievanhegan commented on #281
@StephMSlack FYI

[2018-07-10 12:14] StephMSlack commented on #259
@pipe-manta @angievanhegan is it possible to have a message display if there is no content for one of the tabs? "we currently have no content associated with this topic, please visit one of the other tabs in this topic"

[2018-07-10 15:30] russ-manta commented on #122
@StephMSlack same method as before:  http://bgs-staging.mrmdev2.co.uk/admin/people Once users are filtered (for members/directory members etc) you can use the Operations dropdown to change value. Here you select the member alert field and remove what you put in before. This will change it for all the users selected.

[2018-07-10 15:34] StephMSlack commented on #122
@russ-manta it is coming up blank then I get an error on submission

![screen shot 2018-07-10 at 16 34 29](https://user-images.githubusercontent.com/32127102/42520814-299ae6c8-845f-11e8-80e3-fbcfe15650d2.png)

[2018-07-10 15:43] StephMSlack commented on #136
@angievanhegan @russ-manta discussed with Geraint and Recia - use the current version that has been built but please update the text (as in Invision)

Below login:
Are you already a member? If you haven’t used our website before, press the forgot your password button then enter your email address and we will send you an email with details of how to log in.

Become a member (change title, was Join)

[2018-07-11 03:21] angievanhegan commented on #136
@russ-manta Some amends for you, see tweak at the top

[2018-07-11 09:46] StephMSlack commented on #260
thanks @russ-manta I've tried this with a couple of different accounts, the renew button appears when expired/cancelled etc. @angievanhegan this is fine to close

[2018-07-11 10:05] StephMSlack commented on #208
@russ-manta when I am not logged in, the SIG button takes me to login, I login then get redirected to the personal details profile, except the profile is showing blank (as are the others)

![screen shot 2018-07-11 at 11 03 07](https://user-images.githubusercontent.com/32127102/42565004-2cf012c6-84fa-11e8-9146-7d78639a10b8.png)
It works correctly when I am already logged in

[2018-07-11 10:31] russ-manta commented on #210
@StephMSlack I can't replicate the retired member issue, can you let me know which series of options you got to make this happen?

[2018-07-11 10:32] russ-manta commented on #122
@StephMSlack which people/members were you trying to set this for?

[2018-07-11 10:34] StephMSlack commented on #122
@russ-manta all active members in drupal
![screen shot 2018-07-11 at 11 34 24](https://user-images.githubusercontent.com/32127102/42566416-68f63ca6-84fe-11e8-89fe-9e0a947ec0b7.png)

[2018-07-11 10:36] StephMSlack commented on #210
I think since then I've had Daniella update the membership price sets (they change to 50% rate on the 1st July) which may have resolved the double up issue.

[2018-07-11 10:39] russ-manta commented on #247
@StephMSlack direct debit is now fixed.  I've made T&C's required and added some text with a link to the terms and conditions

[2018-07-11 11:43] StephMSlack commented on #264
@russ-manta I'm not getting the GDPR options when I create the account. I can complete the form, create the account then get a message saying registration successful, you are now logged in.

[2018-07-11 12:33] russ-manta commented on #208
@StephMSlack please try this now

[2018-07-11 12:43] StephMSlack commented on #217
@russ thanks for the change. All members should see the member directory on the MyAccount landing page, even if the member hasn't opted in to share their details in the directory (they just cannot contact other members through the directory).

At the moment if I havent opted into the directory it doesnt appear on the My account page

Once I opt in to the directory, the member director feed appears

[2018-07-11 12:51] StephMSlack commented on #208
thanks @russ-manta this is working now
@angievanhegan this is fine to close

[2018-07-11 13:13] StephMSlack commented on #210
@russ-manta I'm just trying the direct debit option now - do you know if it is configured to the smart debit test environment or the live environment

[2018-07-11 13:15] russ-manta commented on #122
@StephMSlack the error message problem should now be sorted. You won't see the previous message when doing this, it will just appear blank. That is normal. If you go and look at your profile edit page you should be able to see any previous message there: http://bgs-staging.mrmdev2.co.uk/user/259/edit

[2018-07-11 13:22] conferences-BGS commented on #210
Live! Don't process any DD via staging

Geraint Collingridge. Sent from mobile

________________________________
From: StephMSlack <notifications@github.com>
Sent: Wednesday, July 11, 2018 2:13:25 PM
To: MantaRayMedia/bgs
Cc: Geraint Collingridge; Mention
Subject: Re: [MantaRayMedia/bgs] Become a member page (#210)

@russ-manta<https://github.com/russ-manta> I'm just trying the direct debit option

[2018-07-11 13:23] #260 closed

[2018-07-11 13:28] StephMSlack commented on #122
OK thanks @russ-manta
@angievanhegan this is fixed and good to close

[2018-07-11 13:33] #122 closed

[2018-07-11 15:14] angievanhegan opened #282 "Enable people to see events they've registered for or been to"
- [x] Ensure only members and attendees of a particular event can view past event coverage
- [ ] ~Add cpd points and certificate link to my events view~

Need to ask Veda about pulling through:
- [x] Invoice Inovice can be shown using this url: civicrm/contribute/invoice?reset=1&id=76666&cid=19251  where id is the invoice id and cid is the civi contact id)

Note: CPD points and downloading certifi

[2018-07-11 15:16] angievanhegan commented on #282
@russ-manta Has this one slipped through the net?

[2018-07-11 15:23] russ-manta commented on #282
@angievanhegan no, it's almost done but there's an issue with Civi permissions which I asked Veda about today and am going to follow up on with them

[2018-07-11 15:30] angievanhegan opened #283 "Courses submission currently not asking for payment"
Steph and I think this was there before!

The payment request is made, but if organisation submitting is a not for project they don't have to pay.
Await confirmation from Steph on how to check NFP status for Course organiser

[2018-07-11 15:30] angievanhegan commented on #283
@russ-manta This is a mixture of a bug and a tweak!

[2018-07-11 15:42] angievanhegan commented on #282
@russ-manta Feel free to delete if this is a dupe.

[2018-07-11 15:49] StephMSlack commented on #281
@russ-manta @angievanhegan there are now 14 live events. If you can let me know the level of work required to create the events in drupal and a cost that would be great.

[2018-07-11 15:54] StephMSlack commented on #264
@russ-manta Could give me a cost for adding the GDPR elements to this account creation process?

[2018-07-12 10:50] StephMSlack commented on #192
@russ-manta Same issue as #263 where the event start date is defaulting to the current date on publication. Also, the time should not be a required field.

Should get an email confirming that the course has been published and the URL

[2018-07-12 10:56] StephMSlack commented on #283
@angievanhegan @russ-manta I have discussed with team here this morning and we have updated the processes for courses. All courses are to be paid for. I have updated the content on the page and we will use the approved/payment required process already in place, which generates a contribution page.

[2018-07-12 10:56] #283 closed

[2018-07-12 10:57] StephMSlack commented on #136
@angievanhegan this has been approved by Geraint and Recia and is OK to close

[2018-07-12 12:20] StephMSlack commented on #282
@angievanhegan @russ-manta - re: modifying events. Currently people are unable to go back in and modify their event booking through Civi. BGS had asked for this function to be available in Civi, but it is not possible at this point.

If a registrant needs to make a payment or add an evening reception ticket they need to contact the BGS office.

All session choices are mandatory at booking and any

[2018-07-12 14:02] russ-manta commented on #217
@StephMSlack fixed - now appears for all members

[2018-07-12 14:04] russ-manta commented on #282
@StephMSlack thanks for this. For the CPD ceritifcates, are they being generated by Civi, has this work been done yet?

[2018-07-12 14:14] StephMSlack commented on #123
@russ-manta @angievanhegan Some things that I have noticed when working through the site

- the membership details profile should only show if you are a BGS member. It should not show for web account holders.

- Payment history - @russ-manta you enabled this, but I am only seeing it on my admin view, not when logged in as other users (who have made payments)

- My BGS Groups - Special interest gro

[2018-07-12 14:17] StephMSlack commented on #282
@russ-manta yes the CPD certificates are being generated in Civi. I will check with G/daniella to see if the work has been completed and let you know.

[2018-07-12 14:30] StephMSlack commented on #282
@russ-manta I think it will be in the event custom data, but I am not sure exactly what form this will take

![screen shot 2018-07-12 at 15 29 22](https://user-images.githubusercontent.com/32127102/42639638-659935f0-85e8-11e8-8032-87567b238095.png)

[2018-07-12 14:45] StephMSlack commented on #282
@russ-manta Daniella sent me the support ticket relating to this - https://support.vedaconsulting.co.uk/issues/6767

and a screen shot of where you find the certificate (once it has been generated) below
<img width="901" alt="screen shot 2018-07-12 at 15 43 29" src="https://user-images.githubusercontent.com/32127102/42640608-93ff167e-85ea-11e8-8ad3-49a3cb034610.png">

[2018-07-12 15:01] russ-manta commented on #202
@StephMSlack all done

[2018-07-12 15:22] russ-manta commented on #209
@StephMSlack can you try again, seems to be wokring ok now

[2018-07-12 16:07] angievanhegan commented on #95
@pipe-manta Where can I see the right hand promo? I thought it was going on the My Account page? Thanks

[2018-07-13 08:20] russ-manta commented on #264
@StephMSlack I think it will take 1 to 1.5 days at £560 + VAT to add this to the registration form and to the profile

[2018-07-13 08:23] russ-manta commented on #281
@StephMSlack I think we would make these 14 live events by hand.  It would probably take a couple of hours at most.  You would still need to add any drupal content afterwards of course.  Is there anywhere we can see these events?

[2018-07-13 08:54] pipe-manta commented on #95
Sorry @angievanhegan it's my fault, I didn't move that to the staging site. Now is ready to review.

[2018-07-13 13:07] angievanhegan commented on #95
@StephMSlack This is ready for you to review

[2018-07-17 08:58] StephMSlack commented on #95
@pipe-manta @angievanhegan I signed into my BGS account with an active, category a membership with the journal. I clicked the A&A SSO, got redirected to the OUP website, but I was denied access to the A&A content

Journal message
![screen shot 2018-07-17 at 09 53 36](https://user-images.githubusercontent.com/32127102/42807026-a6d394d0-89a7-11e8-86a1-3a23edd0edb0.png)

Civi record
![Uploading Scree

[2018-07-17 10:01] russ-manta commented on #95
@StephMSlack I've just asked for the new url to be allowed for SSO and we'll need to do this again when the site goes live

[2018-07-17 10:21] StephMSlack commented on #247
@russ-manta The last page in the webform is not pulling the address or job title through from Civi. If this something for you or for Veda?

![image](https://user-images.githubusercontent.com/32127102/42811531-bb2a2e2a-89b2-11e8-9275-8bceee396c8b.png)

Also, Geraint would like to make a small change to the help text. Are you happy to give me access to the webform to change it? Or, it is the helptex

[2018-07-17 10:49] StephMSlack commented on #281
@russ-manta some of the events have been created in the live site at the moment, the rest are on our system e-touches.

The issue is making sure we import the participants across from the current system we use and that the event links to the correct drupal page. If you are going to be creating them by hand, we can look at doing that here and creating the event once drupal is linked to our live Civ

[2018-07-17 11:49] StephMSlack commented on #264
@russ-manta @angievanhegan please can we go ahead with this?

When adding to the profile, is it possible to change which e-bulletins can be chosen, based on profession & membership? ie only trainee members can see the trainee bulletin, only nurse/AHP members see the Nurse AHP bulletin.

[2018-07-17 12:13] StephMSlack commented on #281
@russ-manta An update - could you manually link the 5 events that have already been created in the live version of Civi? Geraint is worried that deleting the events and participants will not delete the contributions that have already been added.

They are:
G4J ID 89
British Geriatrics Society Autumn Meeting 2018 ID 70
Mersey Region Autumn 2018 (ID: 90)
Yorkshire Region Autumn 2018 (ID: 91)
Falls 2

[2018-07-17 12:14] russ-manta commented on #247
@StephMSlack here's where you can edit the text: http://bgs-staging.mrmdev2.co.uk/node/298/webform/components/37?destination=node/298/webform I'll await your s and veda's feedback on the address and job title fields before making any changes there

[2018-07-17 12:49] StephMSlack commented on #247
@russ-manta my access to the webform has been removed :( Could you upgrade my permissions?

[2018-07-17 12:56] russ-manta commented on #247
@StephMSlack try now

[2018-07-17 13:04] StephMSlack commented on #247
@russ-manta I'm getting an error now
![screen shot 2018-07-17 at 14 03 06](https://user-images.githubusercontent.com/32127102/42819029-42ca45ce-89ca-11e8-94ef-a1cf6fa267a2.png)

[2018-07-17 13:21] StephMSlack commented on #209
@russ-manta I'm getting a page not found error when trying to click on the members directory

![screen shot 2018-07-17 at 14 20 34](https://user-images.githubusercontent.com/32127102/42819901-b5af032a-89cc-11e8-9265-4f6248949da6.png)

[2018-07-17 13:32] angievanhegan opened #284 "Infographic for CGA"
http://bgs-staging.mrmdev2.co.uk/resources/introduction-to-cga
To be done on T&M

[2018-07-17 14:14] StephMSlack commented on #210
@russ-manta @angievanhegan the become a member page / join page is fine and good to be closed. Still discussion around the join process styling, but that is on another task.

[2018-07-17 14:35] #210 closed

[2018-07-17 15:09] StephMSlack commented on #95
@russ-manta @angievanhegan the URL has been updated and is now working. This can be closed

[2018-07-18 08:33] StephMSlack commented on #209
@russ-manta once the link to the directory from the my account page is fixed, this is good to go.

[2018-07-18 08:59] StephMSlack commented on #95
@angievanhegan @russ-manta apologies - I hadnt tested the student membership. @russ-manta which field are you using to decide who sees the journal or not? Not all members see the journal. So a student member who has a current membership without journal should not see the SSO.

An example on drupal
![screen shot 2018-07-18 at 09 57 52](https://user-images.githubusercontent.com/32127102/42870958-164

[2018-07-18 11:13] StephMSlack commented on #248
@russ-manta some other things:
Search for address is coming through twice on the form - is this Civi or you?
I've updated the text in Civi for the event T&C. The T&C come from Civi, but the privacy policy is a link to the site (which isnt currently working). could we update the privacy link or remove the privacy policy link?

[2018-07-18 11:24] StephMSlack commented on #209
@russ-manta @angievanhegan one quick question - what is the default order for members to be displayed on the search page? Is it alphabetical by surname or something else?

[2018-07-18 12:04] StephMSlack commented on #248
@russ-manta just an FYI, when I tried booking as a speaker I got the error below. It may resolve itself when other issues are fixed, but just in case

![screen shot 2018-07-18 at 13 02 17](https://user-images.githubusercontent.com/32127102/42880108-02e971b6-8a8b-11e8-9cd0-066289da2d2f.png)

[2018-07-19 09:39] russ-manta commented on #95
@StephMSlack students have been removed. I think the confusion arose from the comment above saying 'Category A all'

[2018-07-19 13:33] #217 closed

[2018-07-19 13:38] angievanhegan commented on #209
@dilwarhussain Can you help with Steph's question? ^

[2018-07-19 13:42] dilwarhussain commented on #209
@angievanhegan @StephMSlack Yes this is using the 'Last Name' field from civi to sort.

[2018-07-19 13:58] StephMSlack commented on #95
thanks so much @russ-manta

[2018-07-19 13:58] #95 closed

[2018-07-19 14:20] angievanhegan commented on #230
@dilwarhussain There was a tweak here that I missed. See your comment on 12 June.

[2018-07-19 14:42] StephMSlack commented on #209
thanks @dilwarhussain

[2018-07-19 15:38] angievanhegan opened #285 "Link to Directory from My account page not working"

[2018-07-19 15:39] #209 closed

[2018-07-19 15:39] angievanhegan opened #286 "Confirm that members directory paginates after 20 members"

[2018-07-19 15:43] angievanhegan opened #287 "Enable insertion of line breaks within price matrix in Civi"
Post option help

[2018-07-19 15:45] StephMSlack commented on #287
![screen shot 2018-07-19 at 15 49 13](https://user-images.githubusercontent.com/32127102/42953789-1787c134-8b73-11e8-8d89-bbdd506fb5e8.png)
@angievanhegan

[2018-07-19 15:45] #202 closed

[2018-07-20 09:22] #286 closed

[2018-07-20 09:23] russ-manta commented on #286
Have change the view to 8 and confirmed it then shows 8 per page. Now changed back to 20. Happy it's working as it should without adding 20 members to the directory

[2018-07-20 09:25] russ-manta commented on #285
now fixed

[2018-07-20 10:29] russ-manta commented on #248
@StephMSlack that error was about missing pdf functionality so should now be working as I fixed that for cpd and receipt certificates

[2018-07-20 11:46] russ-manta commented on #248
@StephMSlack @daniellaveda I've just replicated the duplicate postcode field appearing on events on the Veda staging site: https://bgs-civicrm.vedacrm.co.uk/civicrm/event/register?reset=1&id=28  I'll create a new ticket for Veda in their system

[2018-07-20 15:14] angievanhegan opened #288 "Build and style member directory person page"
I think this one fell off the list. I hope it's not a big job? I think it's just a version of the My Account page with less on it.

https://projects.invisionapp.com/share/4EDQ458R5#/screens/261765901

[2018-07-20 15:14] angievanhegan commented on #288
@russ-manta @dilwarhussain Is it ok to assign this to Dilwar for next week?

[2018-07-23 10:18] russ-manta opened #289 "New event civi/drupal rule test"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-07-24 08:37] StephMSlack commented on #259
thanks @angievanhegan @dilwarhussain
Is it possible to change the text when there are no results? Could it please say - we currently have no content associated with this topic, please visit one of the other tabs

[2018-07-24 09:34] russ-manta commented on #192
@StephMSlack I can't replicate the event start date defaulting to the current date on publication. Is this if you create a new revision of the event when publishing?
For the time. The time is not currently shown when viewing an external event - does it need to be (if a time is added)?

[2018-07-24 09:53] russ-manta commented on #247
@StephMSlack that error is now fixed but it might be quicker for me to edit the text on the form - can you send me the text please?

[2018-07-24 10:40] dilwarhussain commented on #230
@StephMSlack Made the change to keep the event summary after the event has passed.

[2018-07-24 11:39] StephMSlack commented on #247
thanks @russ-manta
The text is linked to the Journal help text

New text
Category A and C – the Age and Ageing journal is mandatory.
Category B – the Age and Ageing journal is optional.
If you choose Category B: GPs, Nurses & AHPs (without Journal) Standard Benefits you would not receive the journal and if you choose Category B: GPs, Nurses & AHPs (with Journal) Enhanced Benefits you would receive

[2018-07-24 11:55] StephMSlack commented on #230
thanks @dilwarhussain @angievanhegan I'll close this again

[2018-07-24 11:55] #230 closed

[2018-07-24 11:57] StephMSlack commented on #285
thanks @russ-manta @angievanhegan I'll close this one

[2018-07-24 11:57] #285 closed

[2018-07-24 13:41] russ-manta commented on #85
@StephMSlack @conferences-BGS a few questions around the mailing list/GDPR preferences forms:
1. Are we still going to be using this GDPR form as is linked from the footer anyomore: http://bgs-staging.mrmdev2.co.uk/civicrm/gdpr/comms-prefs/update  given that there is no control here over hiding certain email groups from non logged in users or members or just manage with the registration form and a

[2018-07-24 15:46] dilwarhussain commented on #259
Hi @StephMSlack I've changed the no results text and added the intro above the content type tabs.

[2018-07-24 16:05] StephMSlack commented on #85
@russ-manta In response:

1) manage with the registration form please
2) yes, use the existing update password/email tab, but please can we rename it to Update Communication Preferences. Note - shouldnt the contact settings be hidden? And can the email preferences text be in the heading style?
3) G is responding to this
4) Yes, please include the privacy statement

[2018-07-24 16:11] conferences-BGS commented on #85
1.  Are we still going to be using this GDPR form as is linked from the footer anyomore: http://bgs-staging.mrmdev2.co.uk/civicrm/gdpr/comms-prefs/update given that there is no control here over hiding certain email groups from non logged in users or members or just manage with the registration form and an form linked to each users profile once they are logged in?
I understood that clicking “Regis

[2018-07-24 19:44] russ-manta commented on #247
@StephMSlack  thanks this has now been changed

[2018-07-24 19:46] russ-manta commented on #85
@StephMSlack @conferences-BGS thanks that's very helpful

[2018-07-24 19:48] russ-manta commented on #287
@StephMSlack not sure where you got to with this one but think it is between you and Veda at the moment

[2018-07-25 09:26] russ-manta opened #290 "Create drupal user accounts based on Civi accounts?"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-07-25 10:13] dilwarhussain commented on #259
@StephMSlack This is fixed now.

[2018-07-25 12:42] StephMSlack commented on #192
@russ-manta we don't need a time for the courses.
I'll create another test course and see if I am accidentally creating revisions.
Thanks!

[2018-07-25 14:15] angievanhegan opened #291 "Infographic"
Each box with pink text should link to another page on BGS, links are shown in pdf below:
http://bgs-staging.mrmdev2.co.uk/resources/the-elements-of-the-cga-process

The infographic svg file is on Sharepoint in the following location:
Manta Ray Media Ltd/Team Manta - Documents/PROJECTS/British Geriatric Society [585]/Content/Infographics [1229]/Graphic-assessment-v01.1.svg

[2018-07-25 15:02] angievanhegan commented on #291
Steph to sign off graphic. Then Angie can schedule dev work

[2018-07-25 15:11] angievanhegan opened #292 "Person creating a website account creates a blank members alert"
Even if they're not a member.

[2018-07-25 15:14] StephMSlack commented on #292
![screen shot 2018-07-25 at 14 19 31](https://user-images.githubusercontent.com/32127102/43209938-c80e2b5e-9025-11e8-9495-1aea075559a2.png)
@russ-manta FYI - not for go-live

[2018-07-25 15:14] angievanhegan opened #293 "Join button for logged in non members needs to link to start of membership process"
If you have an account and you are already logged in, and click the join button to become a member, you should go to the first step of the join process.

![Screen Shot 2018-07-25 at 10.14.14.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/d77a4dbb-18d3-4a47-bbf0-0705be28f41a)

[2018-07-25 15:15] angievanhegan commented on #293
@russ-manta Let me know if this isn't clear.

[2018-07-25 15:17] angievanhegan opened #294 "Link to privacy (page in Civi) showing blank page"
The link for the privacy document is opening a "page not found" page in a new tab

[2018-07-25 15:19] angievanhegan opened #295 "Text changes to login screen (requested by Colin)"

[2018-07-25 15:40] StephMSlack commented on #294
http://bgs-staging.mrmdev2.co.uk/sites/default/files/civicrm/persist/contribute/LIVE_BGS_Privacy_Statement_CRM.pdf

![screen shot 2018-07-25 at 16 40 37](https://user-images.githubusercontent.com/32127102/43211484-7dd8eec6-9029-11e8-8c9b-b12e2fed71d4.png)

[2018-07-25 15:41] StephMSlack commented on #294
![screen shot 2018-07-25 at 16 41 15](https://user-images.githubusercontent.com/32127102/43211528-98c2ff38-9029-11e8-8400-ca88f1dda07c.png)

[2018-07-25 15:51] StephMSlack commented on #295
Change header - 'Become a member' to 'Become a BGS member'
Change button - 'Join' to 'Join the BGS'
Change the header 'Create a website account' to 'Create a non BGS member account'
Change text below to
'Create a non-member account to register for a BGS event at full price, join a SIG, sign up for our blog updates or apply to promote an event on our website.
Change the button 'Register' to 'Set up

[2018-07-25 16:23] daniellaveda commented on #287
https://support.vedaconsulting.co.uk/issues/8302#change-29924 completed

[2018-07-25 16:52] dilwarhussain commented on #288
@angievanhegan This is using the existing styling of the user page with the Groups and roles exposed to other member directory users now.

[2018-07-26 12:16] StephMSlack commented on #259
Thanks @dilwarhussain
@angievanhegan this is signed off and OK to close

[2018-07-26 12:40] StephMSlack commented on #291
@angievanhegan we are happy with version 2 - graphic assessment v01.1. this has the blue visuals incorporated into it.
[Graphic-assessment-v01.1.pdf](https://github.com/MantaRayMedia/bgs/files/2231927/Graphic-assessment-v01.1.pdf)
Each of the pink elements are links to pages within the BGS site
[links for cga graphic.pdf](https://github.com/MantaRayMedia/bgs/files/2231943/links.for.cga.graphic.pdf

[2018-07-26 12:43] StephMSlack commented on #295
thank you @dilwarhussain

[2018-07-26 12:43] #295 closed

[2018-07-26 12:44] StephMSlack commented on #247
thanks @russ-manta

[2018-07-26 13:13] #259 closed

[2018-07-26 13:19] StephMSlack commented on #247
@russ-manta - a small thing - the text has managed to repeat itself in the first line. So in the first line remove from 'Category B to optional' and all category B info should be on line 2.
<img width="1248" alt="screen shot 2018-07-26 at 14 16 14" src="https://user-images.githubusercontent.com/32127102/43264770-df7b86a6-90de-11e8-8a11-a30dd626b4d6.png">

[2018-07-26 13:42] StephMSlack commented on #287
FYI @angievanhegan

[2018-07-26 14:01] angievanhegan commented on #291
@cat-manta Please can you add some notes at the top of this issues to make sure the developer requirements are clear? Thanks very much indeed.

[2018-07-26 14:07] angievanhegan commented on #288
@StephMSlack This is ready to test. For the sake of consistency of design, we've used the new layout of the My Account page. Professor Helen Rodgers is a good one to test this on.

[2018-07-26 14:09] angievanhegan commented on #287
@russ-manta Is there anything for us to do here, or can this be closed?

[2018-07-26 14:52] russ-manta commented on #294
@StephMSlack I think this is the link you need: http://bgs-staging.mrmdev2.co.uk/sites/default/files/civicrm/persist/contribute/LIVE%20Privacy%20Statement_Final%20.pdf

[2018-07-26 15:01] russ-manta commented on #287
@dilwarhussain can you take a look at the js error that is detailed here please?
https://support.vedaconsulting.co.uk/issues/8302#change-29924
https://support.vedaconsulting.co.uk/attachments/7358/8302-js-error.png

[2018-07-26 15:31] StephMSlack commented on #288
thanks @angievanhegan @dilwarhussain
Happy with the style/layout of the page
the SIG list is only showing if you have opted into the member directory or are an admin. the SIG list should still show for all members, its only the contact button that disappears if you have not opted into sharing your information.

[2018-07-26 15:32] russ-manta commented on #247
@StephMSlack done

[2018-07-26 15:35] StephMSlack commented on #294
@russ-manta I'm not sure where the link has come from (I didn't put it in!) or where to edit it. the pdf has been uploaded to Civi in the GDPR settings and there is no place to add a link in Civi, and I cannot edit the create an account page.

[2018-07-26 15:45] russ-manta commented on #294
@StephMSlack where are you clicking to get that error - which page/button is linking to the page not found?

[2018-07-26 15:46] StephMSlack commented on #247
thanks @russ-manta
@angievanhegan we can close this one now :)

[2018-07-26 15:57] StephMSlack commented on #294
@russ-manta its on the base of the create account page http://bgs-staging.mrmdev2.co.uk/user/register

[2018-07-26 16:05] angievanhegan commented on #288
@dilwarhussain One for you. Thanks

[2018-07-26 16:06] #247 closed

[2018-07-26 19:12] russ-manta commented on #294
@steph ok sorted looks like it's been edited more recently. Should really have kept the same filename and not added a filename with spaces but I've fixed the link so it's now using: http://bgs-staging.mrmdev2.co.uk/sites/default/files/civicrm/persist/contribute/LIVE%20Privacy%20Statement_Final%20.pdf

[2018-07-26 19:13] russ-manta commented on #294
@StephMSlack  ok sorted looks like it's been edited more recently. Should really have kept the same filename and not added a filename with spaces but I've fixed the link so it's now using: http://bgs-staging.mrmdev2.co.uk/sites/default/files/civicrm/persist/contribute/LIVE%20Privacy%20Statement_Final%20.pdf

[2018-07-26 19:16] russ-manta opened #296 "Show Tabs on user page (specifically payment history) for all logged in users"
# Done criteria
- [x] Is this region (tabs) hidden for non admin/web-admin users? - Can we show it?

[2018-07-26 19:17] #290 closed

[2018-07-26 20:04] russ-manta commented on #293
@dilwarhussain I assume it's the buttons on this page: http://bgs-staging.mrmdev2.co.uk/about/become-a-member. Perhaps we can show a different RH block for logged in non members at the top of the sidebar (using context?) and then hide the existing RH nugget for logged in users - not sure

[2018-07-27 09:22] russ-manta commented on #248
@StephMSlack Event booking links are now working in that when clicking the link you get the appropriate url based on your career stage. To add some kind of popup where you get to confirm career stage will need some more scoping and on reflection is probably out of the original scope - can we discuss if this is needed for go live?

[2018-07-27 10:36] dilwarhussain commented on #293
@russ-manta I think I have the correct blocks showing for logged in/out users now.

[2018-07-27 12:13] dilwarhussain commented on #288
@StephMSlack Can you check the SIG list is showing correctly now please.

[2018-07-27 13:36] dilwarhussain commented on #287
@russ-manta The JS error is fixed now

[2018-07-30 15:21] russ-manta opened #297 "Modal window to update and redirect to Event url based on Career stage"
Event booking (http://bgs-staging.mrmdev2.co.uk/events/bgs-yorkshire-region-spring-meeting) using the 'Register online' button currently presents different url's according to the logged in user's career stage. This is done using an api call in the views template for the user eg.

<code>
civicrm_initialize();
$uid = $user->uid;
// get CiviCRM Contact ID from Drupal User ID
$params = array('version'

[2018-07-31 10:15] StephMSlack commented on #293
@russ-manta @dilwarhussain
If a user is already logged in, all we really need is the button 'Join the BGS'
the text we have in the current RHS nugget is only because we need to explain (in detail apparently :) ) the create account/login options

[2018-07-31 10:17] StephMSlack commented on #293
@dilwarhussain @russ-manta Could this change also be reflected on the join page? http://bgs-staging.mrmdev2.co.uk/join-the-british-geriatrics-society (it is only on the become a member page at the moment)

[2018-07-31 10:37] dilwarhussain commented on #293
Hi @StephMSlack Made those changes for you.

[2018-07-31 10:48] StephMSlack commented on #248
@russ-manta thanks
When not logged in, the register online button currently takes you to the become a member page (which is not the right place). If a user is not logged in, is it possible to show a different RHS nugget which would be similar in style to the not logged in membership nugget?
<img width="578" alt="screen shot 2018-07-31 at 11 47 53" src="https://user-images.githubusercontent.com/321

[2018-07-31 10:51] StephMSlack commented on #293
thanks @dilwarhussain this is fine

[2018-07-31 10:52] StephMSlack commented on #293
@angievanhegan good to close :)

[2018-07-31 11:02] StephMSlack commented on #248
@russ-manta when going to make payment I am using the stripe test cards, I click continue, it processes and then returns to the same screen without progressing through to the confirmation page.

[2018-07-31 11:44] StephMSlack commented on #248
@russ-manta @angievanhegan is it possible to add a line of text underneath the event sessions title?

It is important that you indicate which sessions you will be attending as at times our sessions reach capacity. Your choice is also linked to the confirmation of your CPD point allocation.

[2018-07-31 13:46] StephMSlack commented on #288
@dilwarhussain @angievanhegan the membership directory has disappeared for each of my non-admin logins which have a valid membership. Once the directory is back, I can check this

[2018-07-31 13:49] russ-manta commented on #264
@StephMSlack these are added to the user registration form. Just finsihing up the other bits on card #85 now

[2018-07-31 14:01] StephMSlack commented on #287
thanks @dilwarhussain and @russ-manta this is fine

[2018-07-31 14:04] russ-manta commented on #296
@pipe-manta  can you look at this one please?

[2018-07-31 14:24] StephMSlack commented on #264
thanks @russ-manta
Is it possible to include an error message it the email is already in use in Civi? At the moment, the box outline turns red, but there is no other information.

possible error message - this email address is already in use on our database. Please login / use our forgotten password system or use a different email account.

[2018-07-31 14:39] russ-manta commented on #208
SIG sign up checkboxes have gone

[2018-07-31 15:02] russ-manta commented on #208
@StephMSlack now fixed

[2018-07-31 15:04] angievanhegan commented on #294
@russ-manta @StephMSlack What's the next step with this?

[2018-07-31 15:04] #293 closed

[2018-07-31 15:04] #287 closed

[2018-07-31 15:07] russ-manta opened #298 "Members directory not visible for any members"
# Done criteria
- [x] Check that this is all ok

[2018-07-31 15:32] angievanhegan opened #299 "Membership details on My account page (top right) should not appear for non member"
The profile - membership details (ID 24) should only be visible if you are a BGS Member. it should not be visible if you only have a web account

[2018-07-31 15:32] angievanhegan commented on #299
@russ-manta FYI - this is not one for go live

[2018-07-31 15:49] StephMSlack commented on #264
@russ-manta also - could we show the Blog on this list of e-bulletins to sign up for? (it was added to the GDPR profile last week - sorry!)

[2018-07-31 15:52] StephMSlack commented on #208
thanks @russ-manta this is back and working. @angievanhegan this is good to close again

[2018-07-31 16:10] #208 closed

[2018-07-31 19:00] angievanhegan opened #300 "Ask users to confirm profession in a dropdown list w/c 7 Aug [With Veda][BGS: P1]"
Estimated at half day

Please could we do the simpler/quicker option (which is more in line with the membership sign up as well - though not as ‘nice’) of adding a webform (once the user is logged in) with a single question - Please confirm your profession and then dropdown list. Then the user can progress to the Civi Profile and booking. (From Steph's Slack message)

linked to #297 which was the

[2018-07-31 19:07] angievanhegan opened #301 "Some group pages not picking up newly added feed content"
some of the groups pages are not picking up newly added feeds - eg this page http://bgs-staging.mrmdev2.co.uk/north-west-thames has a blog feed, there is a blog (or more) associated with this group, but neither blog feed (group curated or group latest) is working. I have cleared the cache and refreshed the browser (Steph in Slack 31 July)

[2018-07-31 19:07] angievanhegan commented on #301
@StephMSlack Can you add a specific example please? Thanks

[2018-08-01 08:57] StephMSlack commented on #248
@russ-manta - when we go to register additional participants the styling of one section of Civi doesnt seem to show/work in the same way. Is there anything that can be done? Screen shot below
![screen shot 2018-08-01 at 09 52 47](https://user-images.githubusercontent.com/32127102/43511803-45ac270a-9571-11e8-8581-740f917fe067.png)

[2018-08-01 09:26] russ-manta commented on #248
@StephMSlack the radio buttons, yes we can sort this. The extra text is normally more of a civi thing but we can probably do it using some javascript

[2018-08-01 09:30] StephMSlack commented on #248
@russ-manta I tried putting it in Civi in the pre help text field, but the formatting went awry... If there is somewhere better in Civi to put it, I can do that
![screen shot 2018-08-01 at 10 29 12](https://user-images.githubusercontent.com/32127102/43513521-d9acfa2a-9575-11e8-85a3-2bb5cbd0db89.png)

[2018-08-01 10:44] russ-manta commented on #264
@StephMSlack Blog has now been added and I've fixed the error I noticed when saving these preferences this morning

[2018-08-01 16:19] conferences-BGS opened #302 "Go live issues"
List of go-live issues raised by BGS

# Issues
- [x] Member Directory
-**DONE** too many users, linked to failed Drupal import. Also check parameters as only 2 records in Civi have opted in to the member directory
-  **DONE** blank cards showing in results
- **DONE**search function missing fields (see screenshot)

- [x] CiviCRM
**With Veda** Cron errors

- [x] Login
Staff users unable to reset pas

[2018-08-01 16:21] conferences-BGS opened #303 "Members DIrectory"
Reporting 8k members
![image.png](https://images.zenhubusercontent.com/5b21288239589c155032f05a/6a835d78-3ffb-4efd-a31c-9c6e736ec82f)

# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-08-01 22:54] StephMSlack commented on #302
Mandrill error - event confirmation email
<img width="1253" alt="screen shot 2018-08-01 at 23 41 42" src="https://user-images.githubusercontent.com/32127102/43553283-20e1e480-95e6-11e8-83c0-5a0d3f9cb84f.png">

[2018-08-01 22:54] StephMSlack commented on #302
Download PDF error
<img width="1232" alt="screen shot 2018-08-01 at 23 39 27" src="https://user-images.githubusercontent.com/32127102/43553295-36bb0958-95e6-11e8-9c37-dec0eb35ccd3.png">
<img width="1280" alt="screen shot 2018-08-01 at 23 39 46" src="https://user-images.githubusercontent.com/32127102/43553296-391204d6-95e6-11e8-96f4-044140e9fe68.png">

[2018-08-01 22:55] StephMSlack commented on #302
Event registration form - layout issue
<img width="1036" alt="screen shot 2018-08-01 at 22 56 41" src="https://user-images.githubusercontent.com/32127102/43553339-64322362-95e6-11e8-963a-907eeb2f3fd7.png">

[2018-08-01 22:56] StephMSlack commented on #302
Downloaded invoice with missing fields
[INV_80859.pdf](https://github.com/MantaRayMedia/bgs/files/2251382/INV_80859.pdf)

[2018-08-01 23:06] StephMSlack commented on #302
blank cards in member directory
<img width="1273" alt="screen shot 2018-08-02 at 00 01 56" src="https://user-images.githubusercontent.com/32127102/43553654-e934dd60-95e7-11e8-8819-7c58f638a9ea.png">

[2018-08-01 23:10] StephMSlack commented on #302
Members Directory - missing fields

Live
<img width="1154" alt="screen shot 2018-08-02 at 00 08 22" src="https://user-images.githubusercontent.com/32127102/43553751-7421a368-95e8-11e8-99aa-98a0c8e8847e.png">

Staging
<img width="1188" alt="screen shot 2018-08-02 at 00 08 06" src="https://user-images.githubusercontent.com/32127102/43553755-798d0734-95e8-11e8-93a2-8e8aba17565f.png">

[2018-08-02 05:51] russ-manta commented on #302
@StephMSlack have started looking at these will continue at 9

[2018-08-02 08:31] russ-manta commented on #302
@StephMSlack quick update
1. Emails/mandrill in Civi should be sorted
2. Members directory is now showing now.  I've added filters for is a member and opted into the members directory which were not there - let me know if this needs changing.
3. Styling in civi form - due to profile field ids changing - Arseni is looking at this now
4. Members directory blank cards
5. Members directory search opti

[2018-08-02 09:38] russ-manta commented on #302
@StephMSlack
1. Members directory search filters now fixed on main and my account pages
2. Styling in civi form. - done for 1st participant - checking 2nd participant
3. Looking at ebulltin preferences/permissions

[2018-08-02 09:42] StephMSlack commented on #302
@russ-manta re: download PDF button - the button needs to be removed. @daniellaveda checked with the team and the functionality should have been removed, so it may be a styling issue that the button is still visible.

[2018-08-02 09:52] russ-manta commented on #302
@StephMSlack will look at the download pdf button now.
Ebulletin preferences are now fixed so members/non-members see different options under manage my account - we don't have anything more granular than that at this stage

[2018-08-02 10:39] russ-manta commented on #302
@StephMSlack download pdf issue now done

[2018-08-02 10:41] StephMSlack commented on #302
thanks @russ-manta

[2018-08-02 10:42] StephMSlack commented on #302
@russ-manta the webform for the member join process is not providing any error messages when compulsory fields are not completed. Could this be enabled please?

[2018-08-02 10:56] russ-manta commented on #302
@StephMSlack will look at the webform now. The button/text changes on the become a member change are now done: https://bgs-live.mrmdev2.co.uk/about/become-a-member

[2018-08-02 11:15] russ-manta commented on #302
@StephMSlack for the webform it does provide errors on each field when you fail to complete (same in staging). Do you mean you want a list of all the errors for the incomplete fields?

[2018-08-02 11:28] StephMSlack commented on #302
@russ-manta it is just for the acceptance of the T&C at the end of the form. We tried to continue the booking without ticking them and the page would not progress

[2018-08-02 11:35] StephMSlack commented on #302
@russ-manta - will need to chat to you about the button/text change on the become a member page.

When a user is not logged in, and they click register online, they should not be redirected to the membership page as there is no reference to booking events on this page.

What I had hoped for, is that is a user is not logged in they would see two buttons "create an account and register' or 'login an

[2018-08-02 12:00] russ-manta commented on #292
@StephMSlack should be fixed now

[2018-08-02 12:01] #118 closed

[2018-08-02 12:02] russ-manta commented on #294
This is done I think. Seems to work fine

[2018-08-02 13:19] StephMSlack commented on #302
Hi @russ-manta  if you are happy with all your web checks, Colin is happy for us to turn the site to live.

[2018-08-02 13:37] StephMSlack commented on #281
thanks @russ-manta
@angievanhegan this has been done

[2018-08-02 13:38] StephMSlack commented on #294
@angievanhegan good to close

[2018-08-02 13:48] StephMSlack commented on #302
@russ-manta new account creation - all seem to show the BGS role box, even when a non member and no role in Civi
![screen shot 2018-08-02 at 14 47 10](https://user-images.githubusercontent.com/32127102/43587864-17bbaa76-9663-11e8-9f4d-cb9138a0f4ec.png)

[2018-08-02 14:10] StephMSlack commented on #292
thanks @russ-manta
@angievanhegan this is good to close

[2018-08-02 14:40] #303 closed

[2018-08-03 08:54] conferences-BGS opened #304 "Go Live Issues - Groups"
I have just looked at a couple of new joiners and noted that on their Drupal account they have been added to the Nurse and AHP council when they are in Category A (therefore should not be in this council as they are Doctors). Examples are:

•	Sohail, Sameira (70168) - Category A Registrar/ Specialty Doctor
•	Lim, Marie (70161) - Category A Student/Foundation
•	Fung, Berlinda (70172) - Category A S

[2018-08-03 08:55] conferences-BGS commented on #304
[2018_Council_Matrix1.xlsx](https://github.com/MantaRayMedia/bgs/files/2256692/2018_Council_Matrix1.xlsx)

[2018-08-03 08:55] #304 closed

[2018-08-03 09:30] russ-manta commented on #302
@StephMSlack I've hidden the member focussed groups from all for now until we work out what's going on with it

[2018-08-03 12:44] conferences-BGS opened #305 "Grant forms missing"
https://www.bgs.org.uk/about/what-we-do/research-opportunities-and-cpd

# Done criteria
- [ ] ? Add forms for d/l
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-08-03 12:54] conferences-BGS opened #306 "Bug - Communication preference text out of sync/ displayed badly"
Image displayed for members
![image.png](https://images.zenhubusercontent.com/5b21288239589c155032f05a/43509b16-7d02-419e-9fe6-52391b3628ae)

Current settings in GDPR dahboard
![image.png](https://images.zenhubusercontent.com/5b21288239589c155032f05a/79adeb9c-1adb-4478-a965-bdd7112c5273)

# Done criteria
- [x] ? Update text description in members account to reflect content in GDPR settings in bgs.

[2018-08-03 13:08] conferences-BGS opened #307 "Event Issues - Part 1"
Issues report:

1.	Email address during registration for event
a.	The account email address can be changed during the registration process which will modify the delegate's whole profile after registration. Could we block this field so delegate cannot change it during the registration process or add a cc’d email field and some text explaining why this field should not be changed unless they want pe

[2018-08-03 13:11] conferences-BGS opened #308 "Event issues - Part 2 Register online button pathway failure"
2.	Register online button if not log in an account bring you to join the BGS and not create an account / log in page
Delegates should be directed to a page given them the option to log into their account or create a new  one. They are currently directed to the page https://www.bgs.org.uk/join-the-british-geriatrics-society

 Second error
When clicking on register online (tested on Falls, Improving

[2018-08-03 13:25] StephMSlack commented on #305
@conferences-BGS this is a content issue, so I'm going to take it off git hub which is focussing on development issues.

[2018-08-03 13:26] #305 closed

[2018-08-03 13:45] russ-manta commented on #307
@conferences-BGS this is one for Veda I think. Needs a config change in Civi. Probably just an event profile change

[2018-08-03 13:45] russ-manta commented on #307
adding @daniellaveda

[2018-08-03 13:49] StephMSlack commented on #307
@conferences-BGS - Re: 1a - these are in your profiles in Civi. I've changed the email field to view only, and you can add another email address into the profile if you like and the appropriate help text there

[2018-08-03 13:54] russ-manta commented on #306
@conferences-BGS this is all held within separate drupal fields within Drupal as this was the only way we could get the forms embedded in the new user registration form.
Any changes to the value of the bulletins selected are synced automatically with the groups in Civi but the descriptions are not and need to be edited manually in Drupal if there is any change required.  At the moment this needs t

[2018-08-03 14:02] StephMSlack commented on #308
@conferences-BGS this was raised in #302. I don't think @russ-manta has had a chance to action this, as it involves the API calls.

[2018-08-03 14:04] #307 closed

[2018-08-03 14:14] conferences-BGS commented on #306
Thanks Russ
Will need to document these types of update (i.e. BGS, MRM or Veda) closely

From: Russell Urwin [mailto:notifications@github.com]
Sent: 03 August 2018 15:10
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g.collingridge@bgs.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MantaRayMedia/bgs] Bug - Communication preference text out of sync/ displayed

[2018-08-03 14:27] russ-manta commented on #308
@conferences-BGS @StephMSlack In the above 'Delegates should be directed to a page given them the option to log into their account or create a new one.' does this page exist at all? There was a page previously which you can still see if you log out and access this: https://www.bgs.org.uk/civicrm/event-landing?reset=1&eid=70  Is this basically the kind of thing you want but looking slightly differe

[2018-08-03 14:33] daniellaveda commented on #307
Ive been added - however the ticket is closed. Any action for me? @russ-manta @conferences-BGS

[2018-08-03 14:41] conferences-BGS commented on #307
I've ticketed in Veda support and already add a cc email option

Geraint Collingridge. Sent from mobile

________________________________
From: daniellaveda <notifications@github.com>
Sent: Friday, August 3, 2018 3:39:48 PM
To: MantaRayMedia/bgs
Cc: Geraint Collingridge; Mention
Subject: Re: [MantaRayMedia/bgs] Event Issues - Part 1 (#307)

Ive been added - however the ticket is closed. Any action

[2018-08-03 14:42] conferences-BGS commented on #308
Steph had spent more time designing the look of this but that's the function.
We don't want to copy Veda interim design though

Geraint Collingridge. Sent from mobile

________________________________
From: Russell Urwin <notifications@github.com>
Sent: Friday, August 3, 2018 3:34:42 PM
To: MantaRayMedia/bgs
Cc: Geraint Collingridge; Mention
Subject: Re: [MantaRayMedia/bgs] Event issues - Part 2 R

[2018-08-03 14:48] russ-manta commented on #308
@StephMSlack apologies if you have posted the design somewhere else but can you add it here too?

[2018-08-03 16:43] conferences-BGS opened #309 "strange Drupal activities"
The continence meeting and BGS wales 2018 are events Julie didn't worked on today but appears on the activity as updated by me at 4pm… Both events have not been created on Civi so not sure where the activity is coming from - is this automatic publishing

Also, Julie cannot find on drupal to publish Frailty Northern Ireland and SE&SW Thames joint meeting she have created on Civi today.

# Done crit

[2018-08-03 16:44] conferences-BGS opened #310 "Add Geraint, Disha and Julie as Civi Admins"
Currently limited in reports we can see, actions and processes. Urgent
# Done criteria
- [ ] ?Make us full Civi admins
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-08-04 07:34] conferences-BGS opened #311 "Bug Event error message"
Currently all bgs events showing error message
# Done criteria
- [ ] ? Restore event landing page or redirect/ display message about registering via etoiches
- [ ] ? Allow login and/ or event creation
- [ ] ? Allow registration

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-08-04 11:04] russ-manta commented on #311
@conferences-BGS @daniellaveda I'm not really looking at issues today but just noticed this one.  Should now be fixed.  It looks like a regression issue with a bug we patched a while back that may have been overwritten by a Civi release that Veda have done. I'll let them know. If you have any more issues can you try and put them in the 'Sprint backlog' or 'Backlog' pipeline?  Thanks Russ

[2018-08-06 09:25] StephMSlack commented on #308
@russ-manta when a user is not logged in, instead of see the register online button, they should see the RHS module below, and then once logged in/account created they then get directed either a) back to the event page where they see register online, or depending on how the API works, they go straight to the registration form.
<img width="362" alt="screen shot 2018-08-06 at 10 22 32" src="https://

[2018-08-06 14:09] #281 closed

[2018-08-06 14:09] #292 closed

[2018-08-06 14:09] #294 closed

[2018-08-06 19:31] conferences-BGS opened #312 "Falls Registration link directs to Join BGS"
Using the register online button
![image.png](https://images.zenhubusercontent.com/5b21288239589c155032f05a/b054ca39-ac63-4228-a0bc-5c655f499a87)
on page https://www.bgs.org.uk/events/falls-2018

Directs you to the following link
Have attempted registering with different profiles and logins, including from scratch with no web account
link  https://www.bgs.org.uk/join-the-british-geriatrics-society

[2018-08-06 19:33] conferences-BGS commented on #312
Same with https://www.bgs.org.uk/events/improving-continence-in-older-people-2018

[2018-08-06 19:35] #312 closed

[2018-08-07 10:47] StephMSlack opened #313 "Embed map on page"
# Done criteria
- [ ] Error message received when trying to embed google map
![Screen Shot 2018-08-07 at 11.45.38.png](https://images.zenhubusercontent.com/59c3dc2bb0222d5de4789f2d/ad01a2e7-7c05-46b3-8902-41c63d3efcf4)

Sample on https://www.bgs.org.uk/events/2019-spring-meeting-2019

[2018-08-07 13:16] #311 closed

[2018-08-07 13:18] #306 closed

[2018-08-07 13:40] russ-manta commented on #310
@StephMSlack @conferences-BGS can you give me an example of things you are missing?

[2018-08-07 13:41] #289 closed

[2018-08-07 13:45] #298 closed

[2018-08-07 13:51] conferences-BGS commented on #310
A whole series of reports built by Veda

[cid:image001.png@01D42E5D.C2DC4A00]

API Key for Outlook plugin

[cid:image002.png@01D42E5E.102B6570]

We specified and do need roles for the below, setting up in the medium term

1.    Admin for all areas – Geraint, Steph and Disha

2.    Super user – for most areas – Julie and Janet

3.    Staff user – all others with limited access to Administer setting

[2018-08-07 13:52] russ-manta commented on #302
@dilwarhussain can you take a look at this view and why the Member focussed groups are showing for all: https://www.bgs.org.uk/admin/structure/views/view/my_bgs_groups/edit/mfgs

[2018-08-07 13:54] StephMSlack commented on #123
@russ-manta @angievanhegan This still has the following outstanding:

the membership details profile should only show if you are a BGS member. It should not show for web account holders.
enabling payment history for non-admin users

[2018-08-07 13:59] russ-manta commented on #308
@dilwarhussain this needs to redirect back to the original event after logging in or creating a new account

[2018-08-07 14:05] russ-manta commented on #248
@cutlern can you look at this please ' Fix display of radios on Event additional participant:'

[2018-08-07 14:55] russ-manta commented on #310
@conferences-BGS ok I've given you all the civi permissions I can. Can you try logging out and back in and see if you have what you need?

[2018-08-07 15:02] conferences-BGS commented on #310
Thanks Russ
We can see the areas we need – will review later filtering for staff members

From: Russell Urwin [mailto:notifications@github.com]
Sent: 07 August 2018 15:56
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g.collingridge@bgs.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MantaRayMedia/bgs] Add Geraint, Disha and Julie as Civi Admins (#310)

@confe

[2018-08-07 15:02] #225 closed

[2018-08-07 15:03] StephMSlack commented on #310
thanks @russ-manta I'll close this ticket now.

[2018-08-07 15:03] #310 closed

[2018-08-07 15:07] russ-manta commented on #170
@cutlern can you take a look at this tomorrow? Perhaps call me me to discuss once you've had a read through

[2018-08-07 15:07] #269 closed

[2018-08-07 15:50] #309 closed

[2018-08-08 08:41] StephMSlack commented on #308
@dilwarhussain @russ-manta is it possible to add to the API call for the register now button? The buttons should only appear if online registrations are enabled on Civi. Ideally this would also link to the corresponding registrations start date. Screen shot below

Registrations open
![screen shot 2018-08-08 at 09 39 22](https://user-images.githubusercontent.com/32127102/43826348-06c1b0ae-9aef-11e8

[2018-08-08 08:49] StephMSlack commented on #308
@dilwarhussain @russ-manta - or is there a way in drupal we can manually show/hide the register online buttons?

[2018-08-08 10:54] StephMSlack commented on #308
@russ-manta @dilwarhussain  to add to this, we did have a requirement to be able to link the event register function to another site (eg if the event registration process is being handled by the royal college of nurses), which is I think why the register link (screenshot below) is available in drupal. At the moment, this link is being super-seeded by the register online button as well.
![screen sh

[2018-08-08 10:59] StephMSlack commented on #308
The logic would be

user logged out - see 2 options 'Create account and register' or 'login and register'
User logged in, event open for registrations - see 'register online'
user logged in/out & event not open for registrations - no button
user logged in/out and external registration process - use the drupal link from CMS

[2018-08-08 11:36] StephMSlack commented on #288
@angievanhegan - the contact button is not appearing when opted into the directory.

the list of group membership  is not showing consistently

![screen shot 2018-08-08 at 12 34 48](https://user-images.githubusercontent.com/32127102/43834868-b00b108e-9b07-11e8-956d-acfe046c3caa.png)

![screen shot 2018-08-08 at 11 47 33](https://user-images.githubusercontent.com/32127102/43834871-b6609f08-9b07-11e

[2018-08-08 11:49] StephMSlack commented on #192
@russ-manta @angievanhegan - the payment for the courses is still pointing to the development site

---------- Forwarded message ---------
From: British Geriatric Society <editor@bgs.org.uk>
Date: Wed, Aug 8, 2018 at 12:46 PM
Subject: Your paid content submission
To: <stephtestbgs2@gmail.com>

Your content has now been reviewed and will be published once payment has been received.

Please proceed

[2018-08-08 11:58] russ-manta commented on #192
@StephMSlack this one should be fixed now

[2018-08-08 13:26] #176 closed

[2018-08-08 14:55] StephMSlack commented on #192
thanks @russ-manta

I am having the same issue here as I have on the external event page.

The user is filling in the information and the date and pressing save.
When as an admin I go to view the page, the event date has changed to the date and time the user presses save, not the date they added initially.

Form on the website prior to submission
![screen shot 2018-08-08 at 15 00 27](https://user-

[2018-08-08 15:12] #253 closed

[2018-08-08 15:47] russ-manta commented on #192
@StephMSlack this is now fixed

[2018-08-08 15:49] russ-manta commented on #192
@StephMSlack do you need a start time for these courses or just the date? The problem is that when the person submits the course they don't get the chance to submit a time at the moment (although it is required) so the new date they have selected never saves.  We can fix either by removing the time altogether (if not required) or making sure the time field shows to the person adding the course.

[2018-08-08 15:56] StephMSlack commented on #192
@russ-manta for courses, just the start date, we can remove the time entirely.

This issue is also happening for the external events submission page.

[2018-08-08 15:57] russ-manta commented on #192
@StephMSlack ok great, fixed!

[2018-08-08 16:07] dilwarhussain commented on #302
Hi @StephMSlack Can you check if the correct Member focussed groups are coming through now. Thanks.

[2018-08-08 16:29] dilwarhussain commented on #299
@angievanhegan My membership on RHS will not show if you do not have a membership with BGS.

[2018-08-09 08:13] dilwarhussain commented on #308
@StephMSlack Can you test the functionality of the register links for this event on the staging site please: http://bgs-staging.mrmdev2.co.uk/events/british-geriatrics-society-autumn-meeting-2018
It is currently using the custom register link on the Drupal event node, if you remove this link, it will automatically link to the registration page from civi. Let me know if this is all working as requi

[2018-08-09 08:37] StephMSlack commented on #308
thanks @dilwarhussain

once logged in - could the link button say Register online (not custom link)
![screen shot 2018-08-09 at 09 23 23](https://user-images.githubusercontent.com/32127102/43887245-15d1d2f0-9bb6-11e8-8525-28018da459ef.png)

I got my wording slightly incorrect for the top button - it should be create account and register (not register online)
![screen shot 2018-08-09 at 09 26 30](h

[2018-08-09 08:40] StephMSlack commented on #308
@dilwarhussain I'm not sure what you mean re: if you remove the link it will automatically link to the registration page in Civi.
Is it possible to have either no button or a button saying Registration Closed if the event is not open for bookings?

[2018-08-09 09:02] russ-manta commented on #197
@StephMSlack do we need to revisit this still?

[2018-08-09 09:06] russ-manta commented on #288
@dilwarhussain this was the other card  I mentioned with a groups issue on it. See Stephs comments above

[2018-08-09 09:16] russ-manta commented on #189
@cutlern can you check if this is working please?

[2018-08-09 09:17] russ-manta commented on #301
@cutlern can you see if you can replicate this please?

[2018-08-09 09:17] russ-manta commented on #98
@cutlern can you look at this one too please?

[2018-08-09 09:57] dilwarhussain commented on #308
@StephMSlack I've changed the text for the button. The register buttons will only show while registration is open. So the civi event will need to have a start and end registration date.

[2018-08-09 10:01] StephMSlack commented on #308
thanks @dilwarhussain
I'm getting an error message when I try to view the event
![screen shot 2018-08-09 at 10 59 40](https://user-images.githubusercontent.com/32127102/43892312-849b7260-9bc3-11e8-85ba-48034efa222d.png)

[2018-08-09 10:03] StephMSlack commented on #308
Some of our events do have external booking processes - is it possible for us to add a link to an external site (if the registration has no start/end date in Civi) using the links section on the drupal event page?

[2018-08-09 10:06] dilwarhussain commented on #308
@StephMSlack Can you check again please, not getting any errors here.
And yes you can use the register link in the links section on the drupal event to use for external bookings.

[2018-08-09 10:34] dilwarhussain commented on #288
@StephMSlack From the above example the reason the Stroke SIG is not showing is because there is no corresponding 'Stroke' group node on Drupal. These links are linking through to the Drupal pages.

Are there other instances of SIGs with no Drupal node?
How would you like to treat these SIGs on the user page, keeping in mind all the others are linking through to Drupal pages?

[2018-08-09 11:25] StephMSlack commented on #308
@dilwarhussain I'm happy with the RHS buttons, happy with the external link working, but cannot seem to re-enact having the buttons not showing when a registration date is removed/in the past.

[2018-08-09 11:39] StephMSlack commented on #308
@dilwarhussain thanks for this, happy for you to push the changes to live.

[2018-08-09 13:12] StephMSlack commented on #308
@angievanhegan I'll need to re-check this one once it is on the live site

[2018-08-09 13:47] russ-manta commented on #299
@StephMSlack @dilwarhussain this is a bit misleading in staging at the moment as we have an old copy of the live database before I made all the Civi profile changes. Best to leave this until I restore last night's Civi database late on tonight

[2018-08-09 13:54] StephMSlack commented on #288
@dilwarhussain the stroke SIG is the only one that wont have a SIG drupal node and apparently it is correct that it is not showing up on the member page. Apologies for the confusion.

Additionally (looking on live) - the page is pulling through member focussed groups, but this member does not have a relationship with either organisation (nurse & AHP or Trainee)
![screen shot 2018-08-09 at 14 54 16

[2018-08-09 14:08] StephMSlack commented on #192
@russ Great - the course submission issue is now fixed.

@angievanhegan @russ-manta could the time also be removed from the external event end date? It has been removed from the start date but not the end date, so the end date is still being overwritten (linked to #263)

![screen shot 2018-08-09 at 15 05 39](https://user-images.githubusercontent.com/32127102/43904180-f68ba8aa-9be5-11e8-8072-c6196c

[2018-08-09 14:09] russ-manta commented on #192
@StephMSlack done

[2018-08-09 14:13] StephMSlack commented on #192
thanks @russ-manta
@angievanhegan this is good to close

[2018-08-09 14:44] StephMSlack commented on #301
thanks @dilwarhussain
@angievanhegan this is fine to close

[2018-08-09 14:59] StephMSlack commented on #197
@russ-manta @angievanhegan I'm just reconfirming this. Within the node, will they be able to edit the related tab?

[2018-08-09 15:36] StephMSlack commented on #197
@angievanhegan we are happy with the table in the google doc above, as long as they can also access/edit the related tab in Drupal

[2018-08-09 17:50] #301 closed

[2018-08-09 19:26] russ-manta commented on #300
@StephMSlack @conferences-BGS this is now working in the staging environment. If you go to one of the events eg: http://bgs-staging.mrmdev2.co.uk/events/falls-2018 click register online and then complete the following form you should get taken through to the correct Civi event page at the end.  Let me know what changes you want to the intermediate page in terms of any text or additional fields etc

[2018-08-09 19:28] russ-manta commented on #248
@StephMSlack ' Fix display of radios on Event additional participant:' is now fixed on staging.

[2018-08-10 09:24] dilwarhussain opened #314 "Civi cron not running"
"Last cron run at 9th August 2018 4:00 PM."

https://www.bgs.org.uk/civicrm/a#/status

[2018-08-10 09:28] dilwarhussain commented on #248
"It's related to the display of session choices for multiple day meetings
We shouldn't see Day 2 and Day 3 sessions if only Day 1 selected"

[Issues with Registration - Autumn meeting.docx](https://github.com/MantaRayMedia/bgs/files/2277390/Issues.with.Registration.-.Autumn.meeting.docx)

[2018-08-10 11:14] conferences-BGS commented on #95
@russ-manta @dilwarhussain Can I confirm that the SSO criteria includes Staff memberships?
Cat A - Consultant
Cat A - SpR
Cat A - CMT
Cat B - GPs, Nurses and AHPS (with journal) - enhanced benefits
Cat C - Overseas
Staff

[2018-08-10 14:50] dilwarhussain commented on #288
@StephMSlack This is ready to check

[2018-08-10 14:52] dilwarhussain commented on #123
@StephMSlack The 'My details' tab should be hidden for non members now.

[2018-08-10 14:52] dilwarhussain commented on #308
@StephMSlack I've made the changes to live, it is ready for you to test.

[2018-08-10 15:29] angievanhegan opened #315 "Topic categories shouldn't be links/pages"
I think this only happens when the screen is medium width. The four categories for topics should not be pages (e.g. Acute care, Primary and Community care, Specific conditions, General). There should only be pages for the topics themselves

![Screen Shot 2018-08-10 at 10.26.00.png](https://images.zenhubusercontent.com/596d095761b4ca3b0a74b803/bde05c67-cfc0-4575-872f-374df279d23f)

[2018-08-10 15:32] #192 closed

[2018-08-10 15:52] conferences-BGS opened #316 "Falls Meeting Issue with registrations for professions FY and CMT"
Issue with registrations for professions FY and CMT

These professions should map to event category 3
Nurse/AHP/FY/CMT
Currently showing as below
Example falls registration.png

This is the Falls Meeting https://www.bgs.org.uk/civicrm/event/manage/fee?action=update&reset=1&id=83

![Example falls registration.png](https://images.zenhubusercontent.com/5b21288239589c155032f05a/d65ea517-abd3-4cdd-8cc0

[2018-08-14 09:10] StephMSlack commented on #308
thanks @dilwarhussain all is fine
@angievanhegan good to close

[2018-08-14 09:46] StephMSlack commented on #288
@dilwarhussain weirdly, I am seeing when people are members of the trainee council, but not the nurse & AHP council.

![screen shot 2018-08-14 at 10 45 22](https://user-images.githubusercontent.com/32127102/44084672-3ab92fd0-9faf-11e8-80d6-5fc1c3f4ee03.png)
![screen shot 2018-08-14 at 10 45 32](https://user-images.githubusercontent.com/32127102/44084680-3fcb7244-9faf-11e8-8854-a56b267fcca2.png)

[2018-08-14 09:55] StephMSlack commented on #299
@dilwarhussain thanks for this - the change/removal of the profile for non-members is fine and can be pushed to live.

Also, the RHS nugget encouraging members to join the society has disappeared in the live site.

Staging
![screen shot 2018-08-14 at 10 50 35](https://user-images.githubusercontent.com/32127102/44085094-6f19682a-9fb0-11e8-80c4-0fa4baebd581.png)

Live
![screen shot 2018-08-14 at 10

[2018-08-14 09:59] StephMSlack commented on #300
@russ-manta when I try to check this I am getting an error page
![screen shot 2018-08-14 at 10 58 50](https://user-images.githubusercontent.com/32127102/44085320-10153858-9fb1-11e8-970e-b1f1e522faae.png)

[2018-08-14 10:02] StephMSlack commented on #123
thanks @dilwarhussain I have made a comment on #299. The change to showing the membership details tab can be added to live.

Note: the RHS nugget below that in staging has somehow gone missing when moving the site to the live environment.

staging
![screen shot 2018-08-14 at 10 50 35](https://user-images.githubusercontent.com/32127102/44085449-84ddf62a-9fb1-11e8-8ca9-98ab302a5fc6.png)

live
![scre

[2018-08-14 14:44] russ-manta commented on #248
@StephMSlack is this still a problem?

[2018-08-14 14:50] #308 closed

[2018-08-14 14:54] dilwarhussain commented on #288
@StephMSlack This is fixed now.

[2018-08-14 14:56] dilwarhussain commented on #313
@StephMSlack This is fixed now. I'm not sure why the embed code wasn't working, but recreating another iframe nugget seemed to have fixed it.

[2018-08-14 14:57] StephMSlack commented on #248
@russ-manta it is still an issue when logged in as a non-admin user. I am getting an error message when clicking register online

[2018-08-14 15:06] StephMSlack commented on #313
@dilwarhussain I'm trying to add the map on this page
https://www.bgs.org.uk/events/se-sw-thames-joint-autumn-meeting-2018. I removed the iframe nugget. Saved the page. then edited the page and added a new iframe nugget and still got the error message.
the Google iframe code is <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9934.0056881784!2d-0.1153927535829936!3d51.50401623304

[2018-08-14 15:38] StephMSlack commented on #300
@russ-manta Could you change the text on the page please? Wherever it says career stage, could we change that to profession? Thanks

[2018-08-15 08:37] StephMSlack commented on #313
@dilwarhussain I've managed to get this one working now with some changes to the map. @angievanhegan this can be closed now

[2018-08-16 11:53] dilwarhussain commented on #299
@StephMSlack The memberships sidebar is showing for all user now.

[2018-08-16 13:40] russ-manta commented on #314
This seems to be due to a token missing in one of the scheduled reminders causing one of the jobs not to complete. This has been referred to Veda, otherwise it looks as if cron is running ok

[2018-08-16 14:08] russ-manta commented on #316
Waiting on confirmation that this has been resolved from @StephMSlack even if not it seems like it's probably a Civi/Veda issue

[2018-08-16 14:18] conferences-BGS commented on #316
This was resolved by Veda and tested by BGS this week

It can be closed now - thanks

From: Russell Urwin [mailto:notifications@github.com]
Sent: 16 August 2018 15:09
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g.collingridge@bgs.org.uk>; Assign <assign@noreply.github.com>
Subject: Re: [MantaRayMedia/bgs] Falls Meeting Issue with registrations for professions FY and CM

[2018-08-21 15:07] StephMSlack commented on #299
thanks @dilwarhussain this is fine to go live

[2018-08-21 15:18] StephMSlack commented on #123
@angievanhegan I can no-longer see the my membership details tab in staging. I cannot see any of the content of the profile tabs... but I think this might just be a staging issue...

[2018-08-22 15:51] #288 closed

[2018-08-22 15:51] #313 closed

[2018-08-23 17:26] angievanhegan opened #317 "Topics changes {14 hours}[BGS:P2]"
2 days

# Move SIG into tab
Create new tab for SIGs with the label 'BGS groups' (to be placed after blogs in the tab order)
SIGs to be listed using card content (as with the rest of the content in topics)

# Add a fifth column to the topics mega drop down
We'd suggest that the topics menu is all reallly looking quite full with 4 columns and that the titles of a couple of topics are long and are li

[2018-08-23 17:36] angievanhegan opened #318 "Resources changes {7 hours}[BGS:P2]"
1 day

# Enable resource series to be tagged with topics
1. add a new tab  on topics page for resource series.
1. topics need to be visible on the resource series node (after the text)

- - -
**children:**

1. https://trello.com/c/nJOaJ7fo

[2018-08-23 17:40] angievanhegan opened #319 "External jobs {28 hours}[BGS:P2]"
4 days

# Enable BGS to publish external jobs
* [ ] Design and build using external events as a template (https://www.bgs.org.uk/events/external-events)
* [ ] To include payment function. Please include two payment options (two prices, using CiviContribute for payment processing)

## Landing page
* Cards show:
  * Job title
  * Location
  * Organisation
  * Deadline date
  * Salary
* Sort by
  * D

[2018-08-23 17:44] angievanhegan opened #320 "Payment history function {14 hours} [With Veda][BGS: P2]"
2 days

# Enable people to see what they've paid to BGS

- people may have paid for: events, membership, events submissions
- make the invoice/receipt available for download.

There is a payment history at the moment, which Russ has turned on but it needs some expansion to allow the users to download their payment receipts. It can only be seen as an admin.

Login 'Steph test BGS2' can be used for

[2018-08-24 16:31] #111 closed

[2018-08-24 16:33] #110 closed

[2018-08-24 16:34] angievanhegan opened #321 "Professions drop down {21 hours}[BGS: P1]"
3 days

- - -
**children:**

1. https://trello.com/c/544ow3Ed

[2018-08-24 16:36] angievanhegan commented on #189
@StephMSlack It looks like this is ready for you to check

[2018-08-24 16:37] angievanhegan commented on #98
@StephMSlack It looks like this one is ready for you to check too.

[2018-08-28 15:54] StephMSlack commented on #98
@angievanhegan Checking this today/tomorrow

You mentioned at the top the Cron job - this is definitely not running on the live site at the moment, and ideally should be

[2018-08-29 12:51] StephMSlack commented on #189
@angievanhegan this is working fine

[2018-08-29 12:52] StephMSlack commented on #98
@angievanhegan this is working as well.

[2018-08-29 13:23] matty-manta opened #322 "Add monitoring service"
Veda would like to add a monitoring service to the server so they can pick up issues like the GDPR log table being corrupted. If we could get this added as soon as possible it would be really helpful.

[2018-08-29 13:27] matty-manta opened #323 "Site performance"

[2018-08-29 13:40] angievanhegan opened #324 "Breadcrumb not working in My account section"

[2018-08-29 13:45] angievanhegan commented on #279
@russ-manta Please can you explain what @StephMSlack needs to test here? Thanks

[2018-08-29 13:47] angievanhegan commented on #127
@russ-manta Has the CPD elements been setup/tested yet? Thanks

[2018-08-29 13:57] angievanhegan commented on #282
@russ-manta What do you need to unblock this? Is there anything I can do to help?

[2018-08-29 14:10] #98 closed

[2018-08-29 14:11] #189 closed

[2018-08-29 15:13] angievanhegan opened #325 "Assigning editor role"
Editor role cannot be assigned by web admin and results in error message. Note was working on Development/Staging but not in live

[2018-08-29 15:13] matty-manta opened #326 "Events changes"
Booking online - some events are managed by external registration systems. To provide the book online button, the links section has been used. If the register link is not blank, then the register button should always appear (whether a user is logged in or out of the site). The events are still created in Civi (to create the drupal node) and the register start/end date fields are left blank. This i

[2018-08-29 15:14] angievanhegan opened #327 "Member directory changes"
Not all members visible, even when opted in, have a drupal and Civi account.
Reason - search fields are defaulting to response No for interest in research/speaking. Need to change the default to Any.

[2018-08-29 15:19] matty-manta opened #328 "Ordering of nuggets not working within the ‘latest’ section of the homepage"

[2018-08-29 15:20] angievanhegan opened #329 "Evaluate this resource"
BGS staff can no longer access evaluation information submitted to the website and had been able to in the development/staging site. Sample email notifying staff of submission below. When logged in as web admin, receive a blank page with access denied in the tab.

Submitted on Sunday, August 12, 2018 - 19:46
Submitted by anonymous user: 10.0.0.211
Submitted values are:

Name: Laura Reid
Email: lau

[2018-08-29 15:26] angievanhegan opened #330 "Group/Region/member directory pages include BGS role"
Update API calls to include relationship type - co-chair of section/SIG committee

[2018-08-29 15:29] matty-manta opened #331 "External events"
Notification of submission emails should also be going to Conferences@bgs.org.uk

[2018-08-29 15:29] angievanhegan opened #332 "Editor Permissions"
Editors have access to web forms,  but Web admins do not. Should be the other way around.

[2018-08-29 15:30] matty-manta opened #333 "Add staff memberships to the list of those that can access the SSO"

[2018-08-29 15:31] matty-manta opened #334 "GDPR Text change"
Update the text in the SIG/Section GDPR information in Drupal
New text - “These bulletins are for any Section or Special Interest Groups you join - anyone can join a Section or SIG.
These are sent in order to keep you informed about the Section or SIGs activities and events.”

Old text - You are receiving this email as you opted in to a Section or Special Interest Group. These emails are sent in o

[2018-08-29 15:34] angievanhegan opened #335 "Change tags label to interests"
Profile
Update text on Personal details profile - currently reads tags should read interests

[2018-08-29 15:36] angievanhegan opened #336 "Change order of resource series content"
Resource Series
Order of display within the series is currently oldest first, it should be latest first

[2018-08-29 15:38] angievanhegan opened #337 "Update news and policy content type names"
Change 'News article' to 'News'
Change 'Policy update' to 'Policy'

[2018-08-29 15:40] matty-manta opened #338 "Bouncing/jumping on roll over/hover with the box disappearing and reappearing (screen shots below taken less than 1s apart) [warranty]"
Equal heights must be set as default

┆Attachments: <a href="https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;TIoYXbzn">https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;TIoYXbzn</a>

[2018-08-29 15:51] angievanhegan opened #339 "Merging/removing duplicate Drupal accounts (7 hours)"
Currently some members have multiple accounts in Drupal (multiple emails in Civi and/or contact records). BGS have been merging the records on CiviCRM, but there are still multiple active drupal accounts for the merged contacts.
Process required to merge the drupal accounts or link to member account in civi, delink contact (nonmember record).

confirm what the create account form cross references

[2018-08-29 16:01] russ-manta opened #340 "Sponsor Registration not working - prices not showing for non admins"
Unique sponsor registration link is not displaying the sponsor fee from the price set, so when the user clicks continue, they receive an error message and then a different price is displayed.
eg. https://www.bgs.org.uk/civicrm/event/register?reset=1&id=70&participantrole=aab3238922bcc25a6f606eb525ffdc56 for the Autumn meeting

[2018-08-29 16:14] angievanhegan opened #341 "Hide 'none' option for events (2 hours)"
When booking on an event, the option ‘none’ is visible, but all fields are required.
BGS would like the users to confirm if they are attending sessions, so would like the none button to be hidden. Russ has mentioned in the past that it is possible to do this.

[2018-08-29 16:18] angievanhegan opened #342 "Joining changes (4 hours)"
# Changes to Join Webform
The following fields added to final page of form:
1.   	Date of Birth (mandatory)
2.   	Gender (Mandatory)
3.   	Phone number

# Add conditional formatting:
Members to provide RCN/professional registration number based on profession chosen. RCN/ Other professional mandatory for:
Advanced Clinical Practitioner, Advanced Nurse Practitioner, care home nurse, nurse, Occupatio

[2018-08-29 16:21] angievanhegan opened #343 "Add optional card image for resources {4 hours}[BGS:P2]"
To include image for card content allowing resources to be used on the home page as the main article (need to confirm where and when the image should appear)

- - -
**children:**

1. https://trello.com/c/x4OI24dx

[2018-08-29 17:11] angievanhegan opened #344 "Enable 'Page' and 'Resource series' to appear on home page"
Add content type ‘page’ and ‘Resource series’ to the content that can be displayed in the ‘latest’ section on the homepage.

[2018-08-29 17:12] angievanhegan commented on #344
@russ-manta Please can you add a cost/estimate to this? You were going to check it with Dilwar. Thanks very much

[2018-08-29 17:13] angievanhegan opened #345 "Abstracts (7 hours)"
Add a new file type - Abstract book - add as a file type (as with Programme, Registration Form)

Support uploading up to 3 organiser logos (for joint meetings)

[2018-08-29 17:14] angievanhegan opened #346 "Press release content type {7 hours}[BGS:P2]"
Option 1: What would be the cost of creating a new content type - Press Release. This content type would need to be available in the news and policy section, in the feeds that go on the groups pages, and on the homepage (featured, latest).

Option 2) Alternatively - is it possible to create and assign a label to the News article content type, one called news and one called press release. If you co

[2018-08-30 10:29] matty-manta opened #347 "Events page content region clipped on FF"
https://www.bgs.org.uk/events

Right side of far right cards are clipped, plus sign for search options filter also hidden

[2018-08-30 10:43] matty-manta opened #348 "Text change"
Groups page, change special interest to special interest groups

[2018-08-30 11:08] StephMSlack commented on #330
Please also add:
Chair of Section
Chair of SIG
Co - Chair of SIG
Co - Chair of Section
Chair of SIG
Chair of Section
the full list of relationships on Civi and whether they should be visible is attached.
[Civi relationships shown on website.xlsx](https://github.com/MantaRayMedia/bgs/files/2335891/Civi.relationships.shown.on.website.xlsx)

[2018-08-30 11:28] StephMSlack commented on #340
Users of all professions should be able to use the sponsor link.

[2018-08-30 11:41] StephMSlack commented on #299
thanks @matty-manta @dilwarhussain

[2018-08-30 11:41] #299 closed

[2018-08-30 11:47] matty-manta opened #349 "Removing the topics from blogs published before 01/01/2017"
@angievanhegan have created this issue from the spreadsheet - estimated as half an hour and approved on the 22.08.2018

[2018-08-30 13:33] StephMSlack commented on #345
@angievanhegan BGS plan to delay this work until they are implementing the abstract submission process.

[2018-08-30 14:15] matty-manta opened #350 "No results behaviour always visible:"
https://www.bgs.org.uk/topics/health-and-social-care-policy

Can't see this behaviour on any other topic.

[2018-08-30 15:34] StephMSlack commented on #346
Approved by BGS 30/08/18

[2018-08-30 22:33] angievanhegan commented on #349
@matty-manta This was part of Topic changes #317. I don't mind if it appears as part of that Epic or under support. Just let me know which you prefer.

[2018-08-31 10:25] russ-manta opened #351 "Civicrm duplicate contacts created on event registration"
# Done criteria
- [x] Duplicate contacts in Civi and Drupal reconciled

[2018-08-31 14:21] russ-manta opened #352 "Log out problem for members"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-09-03 14:39] matty-manta commented on #327
https://www.bgs.org.uk/about/our-purpose/members-directory

[2018-09-03 14:46] matty-manta commented on #335
Eg on personal details within editing your account:

https://i.imgur.com/7sKkA09.png

[2018-09-03 14:47] matty-manta commented on #336
eg https://www.bgs.org.uk/resources/resource-series/careers-and-workforce

[2018-09-03 15:56] dilwarhussain commented on #329
@StephMSlack Web admins should have access to all webforms and results here now: https://www.bgs.org.uk/admin/content/webform in the 'Content' dropdown.

[2018-09-03 16:11] dilwarhussain commented on #336
@StephMSlack Is this in the correct order now?

[2018-09-04 08:17] StephMSlack commented on #346
@angievanhegan - Option 1 please, create the new content type please.

[2018-09-04 08:41] russ-manta commented on #344
@angievanhegan we think 1 day. We are assuming that the pages and resource series would be added to the featured tab on home under latest - or would they need new tabs for either of those?

[2018-09-04 08:47] StephMSlack commented on #337
thanks @dilwarhussain
@matty-manta this is fine to close

[2018-09-04 08:56] matty-manta opened #353 "Changing of view page title"
https://www.bgs.org.uk/policy-and-media

Policy & media

to

Policy & Media

[2018-09-04 09:02] StephMSlack commented on #328
thanks @dilwarhussain. @matty-manta this can be closed

[2018-09-04 09:04] #328 closed

[2018-09-04 09:04] matty-manta commented on #328
Cheers @StephMSlack

[2018-09-04 09:05] #337 closed

[2018-09-04 09:26] StephMSlack commented on #325
this now seems to be working, thanks.
@matty-manta this is fine to close

[2018-09-04 09:52] StephMSlack commented on #315
thanks, this is fine to close @matty-manta

[2018-09-04 09:53] matty-manta commented on #315
Thanks @StephMSlack

[2018-09-04 09:53] #315 closed

[2018-09-04 13:11] angievanhegan commented on #344
@StephMSlack Can you look at Russ's question above? I'd assumed you wanted these to appear under featured, otherwise there's going to be a lot of tabs and it's veering towards an odd way of navigating the site rather than highlighting particular content.

Please can you let me know if you'd like to go ahead with this one? Thanks

[2018-09-04 13:30] dilwarhussain commented on #326
@StephMSlack Can you check this is showing now please!

[2018-09-04 13:43] StephMSlack commented on #326
@dilwarhussain I'm getting the register button when logged in, but also need to see the register button when logged out.
Its for this event - https://www.bgs.org.uk/events/living-well-in-older-age-preventative-and-anticipatory-care

Logged in view
![screen shot 2018-09-04 at 14 40 52](https://user-images.githubusercontent.com/32127102/45035025-82990380-b048-11e8-8f79-8b357a652317.png)

Logged out

[2018-09-04 13:46] StephMSlack commented on #326
@dilwarhussain - this is from the live site - let me know if I need to check your staging site instead

[2018-09-04 13:48] dilwarhussain commented on #326
@StephMSlack Can you check this on the live site again please. Should be showing now.

[2018-09-04 13:51] StephMSlack commented on #326
@dilwarhussain this is what I am getting on the live site now

![screen shot 2018-09-04 at 14 50 54](https://user-images.githubusercontent.com/32127102/45035491-a4df5100-b049-11e8-97bc-11efcb3842ac.png)

[2018-09-04 14:09] StephMSlack commented on #348
thanks @russ-manta

[2018-09-04 14:09] #348 closed

[2018-09-04 14:09] StephMSlack commented on #353
thanks @dilwarhussain

[2018-09-04 14:10] #353 closed

[2018-09-04 14:10] StephMSlack commented on #350
thanks @dilwarhussain

[2018-09-04 14:10] #350 closed

[2018-09-04 14:10] StephMSlack commented on #326
Fixed

[2018-09-04 14:10] #326 closed

[2018-09-04 14:11] StephMSlack commented on #332
thanks @dilwarhussain Recia has now successfully added editors

[2018-09-04 14:11] #332 closed

[2018-09-04 14:11] #325 closed

[2018-09-04 14:33] StephMSlack commented on #344
@angievanhegan @russ-manta yes, this is to be able to add them to featured. we would not need new tabs for pages or for resource series. I need to check budgets before I can confirm go-ahead.

[2018-09-04 14:34] StephMSlack commented on #347
fixed

[2018-09-04 14:34] #347 closed

[2018-09-04 14:47] StephMSlack commented on #327
completed

[2018-09-04 14:47] #327 closed

[2018-09-04 14:48] StephMSlack commented on #329
thanks @dilwarhussain

[2018-09-04 14:48] #329 closed

[2018-09-04 14:49] StephMSlack commented on #336
yes, thanks @dilwarhussain

[2018-09-04 14:49] #336 closed

[2018-09-04 14:56] matty-manta opened #354 "Equal heights inconsistent when in conjunction with ajax"
EG: https://www.bgs.org.uk/about/our-purpose/members-directory

NB - speak with Pipe as this has happened on tagged card content on Remora

[2018-09-05 12:43] russ-manta commented on #340
@StephMSlack I've created an issue for this in the Veda system https://support.vedaconsulting.co.uk/issues/8866

[2018-09-05 13:29] russ-manta commented on #323
Changes made to mysql server setup, cron jobs, caching and new relic added. Will review after hard launch for any  further changes

[2018-09-05 13:30] russ-manta commented on #351
Will need to monitor to see if this becomes a problem again

[2018-09-05 13:39] russ-manta commented on #264
@StephMSlack for the last point about an error message, this is the error I see at the moment when I try to create an account with the same email address as an existing Drupal account:
![bgs_register_email_error](https://user-images.githubusercontent.com/25846670/45096914-85aff480-b119-11e8-99e4-f332cfacd797.jpg)

[2018-09-05 14:07] russ-manta opened #355 "Issue importing sponsors and speakers to events in Civi in live"
# Done criteria
- [ ] See Veda issue here: https://support.vedaconsulting.co.uk/issues/8783#change-31680

[2018-09-05 14:08] russ-manta commented on #355
[import_participants.zip](https://github.com/MantaRayMedia/bgs/files/2353071/import_participants.zip)

Errors when importing, did not create new participants on live. Will need to check with a new event

[2018-09-05 15:04] russ-manta commented on #355
[TEST_Speaker_import_civi.zip](https://github.com/MantaRayMedia/bgs/files/2353313/TEST_Speaker_import_civi.zip)

Tried importing this test csv file on live and worked fine - unable to replicate. Need another example from BGS to test out any issues

[2018-09-05 15:27] russ-manta commented on #331
@StephMSlack they are now going to these 3: 'editor@bgs.org.uk, s.slack@bgs.org.uk, Conferences@bgs.org.uk'  should it just be Conferences@bgs.org.uk only ?

[2018-09-06 13:37] russ-manta commented on #249
@StephMSlack the membership number has now been added to the RHS on the my account page

[2018-09-06 13:59] StephMSlack commented on #123
@russ-manta No - there was a mention of CPD points in the done criteria, but that should be showing on the My events and CPD page, not the my account page. Everything else is done

[2018-09-06 14:01] StephMSlack commented on #249
@russ-manta - i'm getting 2 different IDs
my account page
<img width="1280" alt="screen shot 2018-09-06 at 14 58 41" src="https://user-images.githubusercontent.com/32127102/45162275-831ad100-b1e5-11e8-98e6-cf4ff2f820cd.png">

Membership details tab
<img width="1280" alt="screen shot 2018-09-06 at 14 58 34" src="https://user-images.githubusercontent.com/32127102/45162291-8c0ba280-b1e5-11e8-8b71-b75

[2018-09-06 14:51] russ-manta commented on #300
@StephMSlack I've changed the text for this on staging: http://bgs-staging.mrmdev2.co.uk/please-confirm-your-profession-below  was there  anything else or can we put this live and put this form in as the first step when registering for an event?

[2018-09-06 14:57] StephMSlack commented on #300
@conferences-BGS could you have a look at this on Staging when you have a moment and let me know if there is anything else that needs adding/changing? thanks

[2018-09-07 12:48] russ-manta commented on #302
@dilwarhussain is there anything left to do on this card?

[2018-09-07 12:51] russ-manta commented on #279
Have added this to #282 closing this card now

[2018-09-07 12:51] #279 closed

[2018-09-07 12:53] conferences-BGS commented on #314
Cron error gone now
But Civi Update message displayed
 CiviCRM Security Update Required
Unhide (Hidden permanently)
New security release 5.4.1 is available. The site is currently running 4.7.23.

How are updates being managed? @russ-manta

[2018-09-07 13:37] russ-manta commented on #314
@conferences-BGS all civi updates/upgrades are handled by Veda. We may end up pushing them out but Veda will tell us when one is required.

[2018-09-10 14:32] angievanhegan commented on #344
@StephMSlack Any update on this?

[2018-09-10 14:33] russ-manta commented on #300
@conferences-BGS I'll look at the error but this is likely because the staging version of Civi needs updating for the events to match those in staging Drupal. I'll update the databases to sort.

As for the admin registrations, how are you handling this, are you just sending the relevant people a specific link?

[2018-09-10 14:37] StephMSlack commented on #264
thanks @russ-manta

[2018-09-10 14:43] StephMSlack commented on #331
@russ-manta going to all 3 email addresses is fine. Thanks

[2018-09-10 14:43] #331 closed

[2018-09-10 14:45] conferences-BGS commented on #300
@russ-manta Admin Registrations:
1. We specified that a link would be sent to each category of attendee -

1. speaker link
2. non member speaker,
3. sponsor
4. Volunteer
5. Complimentary registration - covering grant recipient/ Associate editor/Trustee

The person would need to create a web account and then using the link be able to circumvent the need for a fee and register themselves as a delega

[2018-09-10 14:47] russ-manta commented on #300
@conferences-BGS fine thanks. The intermediate page will not be affected by or affect this functionality so I'll just make sure it's working as it should on staging and then we can push it live

[2018-09-10 15:03] StephMSlack commented on #355
@russ-manta this looks like it may have been resolved. The team are not importing speakers again until November, so I will close this ticket and it can be raised again if it becomes an issue then.

[2018-09-10 15:03] #355 closed

[2018-09-10 15:05] StephMSlack commented on #249
thanks @russ-manta

[2018-09-10 15:05] #249 closed

[2018-09-10 15:11] #123 closed

[2018-09-10 15:17] #314 closed

[2018-09-10 15:27] StephMSlack commented on #349
@matty-manta @russ-manta looking at this, all the topics have been removed from every blog (except those published in the last few days). The topics were only to be removed from those published **before** **01/01/2017**.
Can this change be rolled back and the topics re-added for those blogs published between 01/01/2017 and now?

[2018-09-10 15:34] StephMSlack commented on #333
thanks @russ-manta

[2018-09-10 15:35] #333 closed

[2018-09-10 15:42] StephMSlack commented on #349
@matty-manta Looks like the topics are still being used, (as the blogs are appearing in the topics pages) but the topics are not appearing on the Blog page or visible in the CMS

[2018-09-10 16:05] matty-manta opened #356 "Change order of related content at bottom of resource"
Bring "Other resources in this series" above "You may also be interested in"

[2018-09-11 12:27] #120 closed

[2018-09-11 13:18] russ-manta commented on #296
@StephMSlack this is now available under the manage my account section

[2018-09-12 10:26] #323 closed

[2018-09-12 10:27] #297 closed

[2018-09-12 12:39] StephMSlack commented on #330
Is it also possible to also display this information based on whether the relationship is active? Inactive relationships have an end date
![screen shot 2018-09-12 at 13 38 07](https://user-images.githubusercontent.com/32127102/45425416-30cc2b00-b691-11e8-9064-c156e42ff0c7.png)

[2018-09-12 15:10] russ-manta commented on #345
@StephMSlack @angievanhegan for the new abstracts file upload section we think perhaps 2-3 hours work

[2018-09-18 10:06] StephMSlack commented on #334
@russ-manta this is in the my account section, update communication preferences tab, for users who are logged in. They currently see this:

<img width="1135" alt="screen shot 2018-09-18 at 11 03 28" src="https://user-images.githubusercontent.com/32127102/45680455-da4c6a00-bb32-11e8-96c5-a7d5b636d737.png">

[2018-09-18 10:27] StephMSlack commented on #296
thanks @russ-manta

[2018-09-18 10:29] #296 closed

[2018-09-18 13:35] StephMSlack commented on #291
@dilwarhussain could the interactive infographic please go on the following pages - it will need a heading _How is CGA done_ so it appears in the RHS navigation
https://www.bgs.org.uk/resources/the-bgs-toolkit-for-comprehensive-geriatric-assessment-in-primary-care-settings

https://www.bgs.org.uk/resources/the-elements-of-the-cga-process (replace the current image, will also need the heading How i

[2018-09-19 09:51] russ-manta commented on #334
@StephMSlack so should it go beneath the title at the top?

I was confused because at the top of this card it says old text: 'You are receiving this email as you opted in to a Section or Special Interest Group. These emails are sent in order to keep you informed about the Section or SIGs activity.' but that doens't appear on the page.

[2018-09-19 10:56] russ-manta opened #357 "Error page - modify to include info about payments"
Add
'If you were attempting a payment please contact membership@bgs.org.uk before reapplying'

[2018-09-19 12:02] StephMSlack commented on #334
Hi @russ-manta When I am on the 'update communication preferences tab' and the 'create account' process, in the mail list sign up, under the text SIG & Section Bulletins heading is where the text needs to be replaced.

The screen shot below is what I see on the page when I am logged into one of my test accounts. This is the old text and needs to be replaced with the new text above.

![screen shot

[2018-09-19 12:10] StephMSlack commented on #344
@angievanhegan can we leave this on the board and come back to it in November? At the moment it hasn't been a major issue and people have been finding a way to work around the restriction. I'd rather save the £ for the abstract system and make sure there is enough in the pot for that.

[2018-09-19 13:17] russ-manta commented on #330
@StephMSlack I've added the other relationships listed above. Do you have a link you can point me to like the one you show in the screenshot above for Relationship end date?

[2018-09-19 13:35] dilwarhussain commented on #291
@StephMSlack The infographic has been added to the two pages

[2018-09-19 13:43] matty-manta opened #358 "Resource series download all"
Eg: https://www.bgs.org.uk/resources/resource-series/careers-and-workforce

This text:

"Download a PDF containing all the content in this series."

Should only appear if a file has been uploaded.

Currently - if no file is uploaded the text is the same, but the link just goes to the home page.

[2018-09-19 13:43] russ-manta commented on #330
@StephMSlack thanks that's helpful. Not sure how easy this is. For the end date are those relationships even if the end date is in the future? Should this contact Patricia Cantley be inactive even though the the current date falls within her start and end dates?

[2018-09-19 13:47] matty-manta opened #359 "Resource "You may also be interested in" no results behaviour"
Eg: https://www.bgs.org.uk/resources/bgs-newsletter-january-2018

https://i.imgur.com/Jjtfx1V.png

View still displays title when there are no results.

[2018-09-19 13:51] matty-manta opened #360 "Config of share via twitter feature"
eg: https://www.bgs.org.uk/resources/bgs-newsletter-january-2018

Clicking here:

https://i.imgur.com/9xgLl9c.png

Results in this:

https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.bgs.org.uk%2Fresources%2Fbgs-newsletter-january-2018&text=BGS%20Newsletter%20-%20January%202018&original_referer=https%3A%2F%2Ftwitter.com%2Fshare%3Furl%3Dhttps%3A%2F%2Fwww.bgs.org.uk%2Fresources%2Fbgs-newsletter

[2018-09-19 14:39] StephMSlack commented on #291
@dilwarhussain thanks for this - FYI the RHS menu/nuggets keep flickering on these pages (almost like strobe lighting) and the infographic isn't interactive when using Safari as a browser and the diagram runs under the RHS column.

<img width="1187" alt="screen shot 2018-09-19 at 15 37 03" src="https://user-images.githubusercontent.com/32127102/45760492-1a3e4a80-bc22-11e8-9041-1c8043e03a73.png">

[2018-09-19 14:43] angievanhegan commented on #344
@StephMSlack Absolutely.

[2018-09-19 14:45] StephMSlack commented on #330
@russ-manta the start and end date reflect their time in that role. So the relationship should show on the web page if the end date field is blank or has a date in the future. If the end date for the relationship is in the past, then the field shouldn't show on the web page.

Once the relationship is in the past, the team here will be moving it to an inactive relationship, so if the above is not s

[2018-09-20 08:42] StephMSlack commented on #324
@russ-manta the breadcrumb trail doesn't seem to exist here anymore - you just have the link back to home. Is there anyway that it could be home/my account/edit my details? (it used to be home / edit my details/ edit my details)

[2018-09-20 09:00] StephMSlack commented on #248
@angievanhegan @russ-manta did you see the comments @dilwarhussain added from Geraint on the 10th August "It's related to the display of session choices for multiple day meetings
We shouldn't see Day 2 and Day 3 sessions if only Day 1 selected" There is more detail around this comment in the word doc Dilwar added.

The other points in the document around content have been fixed, and is there anyth

[2018-09-20 09:02] russ-manta commented on #248
@StephMSlack yes I added something to the end of Dilwar's comment above. In short I think this is one for Veda and needs to be done via Civi.

[2018-09-20 09:09] StephMSlack commented on #248
@russ-manta if you could have a  quick look at consolidating the different fonts/font sizes on the confirmation screen that would be great.
I'll raise the ticket display issue with Veda

[2018-09-20 09:11] russ-manta commented on #330
@StephMSlack ok I can't do anything with the start end end date becuase some of the rationships don't have one but I've added a filter for Relationship = active so that the people will be removed form the group page if their relationship is set to inactive

[2018-09-20 09:16] #302 closed

[2018-09-20 11:00] #330 closed

[2018-09-20 11:05] StephMSlack commented on #317
fifth Column - list of headings and associated topics

[Topics V9 20.09.18.xlsx](https://github.com/MantaRayMedia/bgs/files/2400956/Topics.V9.20.09.18.xlsx)

[2018-09-21 10:32] russ-manta commented on #342
@StephMSlack this is all now ready to test on staging: http://bgs-staging.mrmdev2.co.uk/bgs_membership

[2018-09-21 10:46] russ-manta commented on #197
now done

[2018-09-21 11:45] russ-manta commented on #127
This is on the my events viewbut may be worth waiting until the final events card is done before reviewing

[2018-09-24 10:29] dilwarhussain commented on #291
Hey @StephMSlack Those issues are now fixed.

[2018-09-25 10:41] StephMSlack commented on #319
@angievanhegan
For the node/form:
*Advertising organisation: Text

Check box
NHS hospital - free text - hospital name
private agency -free text -  agency name
Other (other can be an overseas hospital) - Free text -company name

*Title of job being advertised: (e.g. geriatrician, professor of gerontology, nurse specialist)
Free text

Number of vacancies: Text

*Closing date for application/submissi

[2018-09-25 10:49] StephMSlack commented on #291
thanks @dilwarhussain

[2018-09-25 10:49] #291 closed

[2018-09-25 10:56] StephMSlack commented on #127
@russ-manta would it be best to close this then and ensure it is reviewed again with #282?

[2018-09-25 10:59] #197 closed

[2018-09-25 11:29] #341 closed

[2018-09-25 16:18] conferences-BGS commented on #319
My comments on the above
@StephMSlack
1. Headline description

1b Number of vacancies: Text

2. *Closing date for application/submissions:

*Closing date for application/submissions:
calendar /date

2b.Interview date:
calendar /date

3. Key information -
3a. Profession of job being advertised: can be pulled from Civi professions(e.g. geriatrician,, nurse specialist)
3b.Free text Job title, (Job ti

[2018-09-26 10:39] StephMSlack commented on #319
@angievanhegan I'm putting together a google doc to clarify the above - will add it here tomorrow once it has been agreed with CEO/Geraint.

[2018-09-26 10:41] StephMSlack commented on #342
thanks @russ-manta could the field GMC Number be mandatory for the Clinical Fellow profession type?
Otherwise, the rest of the form is fine. Thanks!

[2018-09-27 10:31] russ-manta commented on #334
now done

[2018-09-27 12:01] #324 closed

[2018-09-27 12:04] #334 closed

[2018-09-27 12:58] #357 closed

[2018-09-27 13:53] russ-manta opened #361 "Prevent multiple Civi accounts being created for Events"
This seems to happen if a person has a Civi account which is linked to the wrong Drupal account (or a deleted account) causing new Civi accounts to be created whenever they visit the Event page in Drupal

[2018-10-05 15:35] #351 closed

[2018-10-05 15:58] #352 closed

[2018-10-15 09:59] conferences-BGS commented on #319
@russ-manta At what stage is this? I have two jobs to list at this time and 1 is time sensitive

[2018-10-15 12:30] conferences-BGS commented on #282
@russ-manta @angievanhegan Testing this
1 invoices appear in some instances for staff and live members but others throw up errors
See attachments

Can't see CPD certificates at all
![view invoice - geraint collingridge](https://user-images.githubusercontent.com/40232743/46950986-760fbe00-d07e-11e8-8076-9517f927b753.PNG)
![view invoice - stephen lim- wm spring 2018](https://user-images.githubuserco

[2018-10-17 16:29] angievanhegan commented on #127
@conferences-BGS  can you add a comment here to explain why this is assigned back to Russ and me? Otherwise I'm not totally sure what to do with it. Thanks

[2018-10-17 16:32] angievanhegan commented on #339
@russ-manta Is this ready for Geraint to review? Thanks

[2018-10-17 17:49] russ-manta commented on #282
@conferences-BGS can you tell me which users (email addresses) this was for so I can troubleshoot please?

[2018-10-17 23:28] angievanhegan opened #362 "Data Studio access (2 hours)"

[2018-10-18 07:56] conferences-BGS commented on #127
@angievanhegan @russ-manta Not sure why my comment didn't save

Currently no CPD certificates are visible

[2018-10-18 13:20] conferences-BGS commented on #282
Dr Stephen Lim BM  for the REGION MEETING West Midlands Spring 2018
15 MARCH 2018
stephenlime@gmail.com Contact ID / User ID 5086  / 5230

This seems to be meetings where the attendee had no fee: many members and non members (in nurse, AHP, student professions) can attend meetings for free

[2018-10-19 11:10] conferences-BGS commented on #349
@angievanhegan @russ-manta Can you let us know if this task has been completed?

Also Recia thinks she is on the wrong github board - can you assist her? She's not on the list of contacts

[2018-10-22 12:18] pipe-manta commented on #356
Changes done on DEV

[2018-10-23 13:40] matty-manta opened #363 ""Get in touch" error [warranty]"
Members directory> Signed into directory but trying to contact a member produces this error
Error on andrea.geraint@gmail.com account as when masquerading as Stephen Abela

"Sorry you need to opt in to the members directory to contact fellow members."

[2018-10-25 13:54] matty-manta opened #364 "Group contacts only displaying surnames of contact people."
https://www.bgs.org.uk/diabetes

https://files.slack.com/files-pri/T8TD0NFFC-FDN3MU4TW/image.png

[2018-10-25 14:40] russ-manta commented on #356
now done on live

[2018-10-25 15:41] angievanhegan opened #365 "Resource card changes"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-10-25 15:45] conferences-BGS commented on #321
For event registrations: to allow members registering to confirm their profession.  Speak to Parvez and Daniella

[2018-10-25 15:50] #362 closed

[2018-10-25 15:51] angievanhegan opened #366 "Ensure non members can view resources from an event they attended [warranty]"
# Done criteria
- [x] Main content section/nuggets is only visible after the event to members, administrators/editors and attendees of the event

┆Attachments: <a href="https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;F4iiR2OB">https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f

[2018-10-25 15:54] conferences-BGS commented on #342
Close this task out

[2018-10-25 15:54] angievanhegan commented on #342
This has been signed off, it just needs making live @russ-manta

[2018-10-25 19:49] russ-manta commented on #127
await more testing from BGS

[2018-10-25 19:50] russ-manta commented on #282
View certificate link is now hidden for bookings where no payment was taken

[2018-10-25 20:14] russ-manta commented on #342
These changes are now live

[2018-10-26 09:55] russ-manta commented on #300
@conferences-BGS this is ready for retesting in staging, try one of the events: http://bgs-staging.mrmdev2.co.uk/events

[2018-10-26 10:30] russ-manta commented on #365
@conferences-BGS resource card image now added and can be seen on home here (1st item): http://bgs-staging.mrmdev2.co.uk/

[2018-10-26 10:33] russ-manta commented on #364
now fixed

[2018-10-26 13:32] #356 closed

[2018-10-26 13:34] angievanhegan commented on #342
@conferences-BGS Are you happy to sign this off?

[2018-10-26 13:41] angievanhegan commented on #339
This has been complete, but there are some outstanding problems. Russ has raised a support issue.

[2018-10-26 13:41] #339 closed

[2018-10-26 13:47] russ-manta opened #367 "Multiple Duplicate accounts being created in Civi"
There seems to be an issue with multiple Civi accounts sometimes created for users when they are trying to book events.
It generally seems to occur either:
1. When they have a drupal account linked with their civi record that is for a different drupal account (may have had drupl accounts but BGS have merged and removed one)
2. They don't have a civi account for some reason but do have a Drupal acc

[2018-10-26 13:47] russ-manta commented on #367
@conferences-BGS @matty-manta issue logged here

[2018-10-26 14:19] russ-manta opened #368 "Update personal details tab - some details not saving [with Veda] [Warranty]"
Reported by Disha - some of the details on this tab don't seem to save in Civi:
http://bgs-staging.mrmdev2.co.uk/user/1/edit/Personal_Details_28

It's a Civi profile 'embedded' in Drupal so it may be more of a Civi issue.
This is the Civi profile:
http://bgs-staging.mrmdev2.co.uk/civicrm/admin/uf/group/field?reset=1&action=browse&gid=28

┆Attachments: <a href="https:&#x2F;&#x2F;platform.harvestapp

[2018-10-26 14:20] russ-manta commented on #368
@conferences-BGS @matty-manta  as reported by Disha, may be one to fix with Veda but needs more inspection

[2018-10-26 15:20] conferences-BGS commented on #368
@russ-manta Have you ticketed it with Veda? If not, please do assigned to Daniella with Low Urgency/ Low importance

[2018-10-26 15:46] conferences-BGS commented on #342
@russ-manta @angievanhegan This is signed off

[2018-10-26 15:46] #342 closed

[2018-10-26 16:02] conferences-BGS commented on #300
@russ-manta Staging site appears to be down

[2018-10-26 19:32] russ-manta commented on #368
Now ticketed with Veda: https://support.vedaconsulting.co.uk/projects/veda-132/issues/new?issue%5Btracker_id%5D=1

[2018-10-31 10:08] conferences-BGS commented on #349
Tested - awaiting final sign off by CEO but closing for now

[2018-10-31 10:08] #349 closed

[2018-10-31 10:10] conferences-BGS commented on #359
Waiting final sign off by CEO but closing for now

[2018-10-31 10:10] #359 closed

[2018-10-31 10:11] #364 closed

[2018-10-31 10:14] conferences-BGS commented on #358
CLosing pending CEO Sign off

[2018-10-31 10:14] #358 closed

[2018-10-31 10:14] matty-manta commented on #322
@russ-manta any update on this?

Thanks

[2018-10-31 10:22] conferences-BGS commented on #366
All members and any one who attended the event should be able to see pdfs of the powerpoints from events
Eg.
https://www.bgs.org.uk/events/improving-continence-in-older-people-2018
Information behind login wall
Series of resources to all attendees of the event and members

[2018-10-31 10:52] conferences-BGS commented on #282
Tested - both CPD and invoices/ receipts now available.

[2018-10-31 12:43] dilwarhussain commented on #363
@russ-manta For this one I think the custom field for 'opt-in members directory' changed on civi. It was "custom_271" but now I've replaced all to "custom_367" which seems to be the new field ID.

[2018-11-02 17:33] conferences-BGS commented on #300
@russ-manta
Text change from "Please confirm your profession below
to
"Please confirm the profession of the lead delegate registering below"
This is to ensure the correct registration fee

Need to also beaware of this ticket in Veda support queue and potential impact overlap
I think that this change would be of benefit but can't approve until discussion had
https://support.vedaconsulting.co.uk/iss

[2018-11-09 14:55] russ-manta commented on #319
@conferences-BGS we're just working on this now. For the different payment types eg gold/platinum , how would this work?
Would the person submitting a job have an option to choose or it based on if they are a member?

[2018-11-09 15:00] russ-manta commented on #319
@conferences-BGS we're going to add a body/description section to the form which wasn't mentioned but must be needed I think. Where in the site will these external jobs live once some have been added?  Somewhere under about or somewhere else?

[2018-11-09 15:02] russ-manta commented on #320
@conferences-BGS this is now ready to look at in staging

[2018-11-09 15:58] #322 closed

[2018-11-09 16:08] conferences-BGS commented on #319
@russ-manta Already started manually adding here
https://www.bgs.org.uk/about/bgs-vacancies-and-external-job-vacancies
So yes under about us for the moment and probably require the menu expanding to include

-

- BGS Vacancies

- External vacancies

[2018-11-13 09:29] russ-manta commented on #319
@conferences-BGS we have a deadline field for this. Is the plan that the content would automatically be unpublished once the deadline is in the past?

[2018-11-13 09:43] conferences-BGS commented on #319
@russ-manta Yes. Listings for 6 weeks only so deadline is 6 weeks from date of publishing
This feature would also be required on the external events and courses process for paid listings
Currently I am manually adding an unpublish date

[2018-11-13 10:02] russ-manta commented on #319
@conferences-BGS if the deadline for a job is less than 6 weeks presumably it gets unpublished before then?

[2018-11-13 10:14] conferences-BGS commented on #319
@russ-manta in principle yes, but happy for a 6 week term to be applied as default

[2018-11-13 11:11] mrm-git opened #369 "Enable resource series to be tagged with topics[BGS: P2]"
# Done criteria
* [x] Add Topics to resource series
* [x] Add a new tab on topics page for resource series.
* [x] Topics need to be visible on the resource series node (after the text)

NB. Add topics field on content type and export topics view to put live

- - -
**parents:**

1. https://trello.com/c/dbhNsUTg

[2018-11-13 11:17] russ-manta commented on #346
@conferences-BGS should press releases also appear under Policy and Media (like news and policy) but just have a 'type' of Press release on these pages: https://www.bgs.org.uk/policy-and-media

[2018-11-13 11:23] mrm-git opened #370 "Create Press Releases[BGS: P2]"
Duplicate News CT. See Option 1 in epic. To appear in Policy and Media.

# Done criteria
* [x] Create CT fields (same fields as news)
* [x] Create views - latest/all feeds, homepage feature and curated views, policy and media landing page
* [x] Templates - node, teaser, teaser link (same as news)

- - -
**parents:**

1. https://trello.com/c/TIg2PnWI

┆Attachments: <a href="https:&#x2F;&#x2F;platfo

[2018-11-13 11:31] mrm-git opened #371 "Create view for SIGs tagged by topic.[BGS: P2]"
Create new tab for SIGs with the label 'BGS groups' (to be placed after blogs in the tab order) SIGs to be listed using card content (as with the rest of the content in topics)

# Done criteria
* [x] Create view - duplicate existing display
* [x] Theme as per SIGs on BGS Groups page

- - -
**parents:**

1. https://trello.com/c/bXfw3Bxu

[2018-11-13 11:36] mrm-git opened #372 "Add a fifth column to the topics mega drop down[BGS: P2]"
# Done criteria
* [x] Fifth column needs widths adjusting in the styles

- - -
**parents:**

1. https://trello.com/c/bXfw3Bxu

┆Attachments: <a href="https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;LP3DM2o0">https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;LP

[2018-11-13 11:36] russ-manta commented on #317
@conferences-BGS 1. presumably we display the cards for the groups with the same design as the SIGS on the bgs groups page: https://www.bgs.org.uk/bgs-groups
2. do you want a 5th column on the topics mega drop down or are you happy with the 4 as is when hovering over topics in the navigation menu?
__

[2018-11-13 11:39] mrm-git opened #373 "Theme external jobs"
# Done criteria
- [ ] Node form - move backend content
- [ ]  Create jobs template

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-11-13 11:42] mrm-git opened #374 "Featurise jobs"
# Done criteria
- [ ] ?
- [ ] ?
- [ ] ?

# Designs & Docs
- [Link goes here](http://)
- [Link goes here](http://)

# BGS review criteria
[Link to review goes here](http://)
- [ ] ?
- [ ] ?
- [ ] ?

[2018-11-13 14:28] angievanhegan commented on #372
Angie to talk to Geraint about the design impact of adding a 5th column

[2018-11-13 14:32] angievanhegan commented on #346
Angie to chase up Geraint on question above about press release fields.

[2018-11-13 15:54] angievanhegan commented on #370
@conferences-BGS These are the fields for the news page, can you confirm it's ok to use all of these for the press releases. You'll also be able to add modules on the right hand side.

-  Short title (used on cards)
- Full title (used on the page)
- Date
- Date updated
- Card image
- Body text

[2018-11-14 11:07] conferences-BGS commented on #346
@russ-manta Please copy the fields from News content

[2018-11-15 12:27] pipe-manta opened #375 "External Jobs - Landing page [BGS: P2]"
# Done criteria
* [ ] increase emphasis of gold highlight
* [x] Cards show:
  * [x] Job title
  * [x] Location
  * [x] Organisation
  * [x] Deadline date
  * [x] Salary
* [x] Sort by
  * [x] Deadline
  * [x] Most recent
* [x] Submit a job (button at the top)
* [x] Redirect page after job submitted
* [x] Same log in options as external events (interim page with details for submission on RHS)
* [x]

[2018-11-15 12:30] pipe-manta opened #376 "External Jobs - Node page [BGS: P2]"
# Done criteria
* [x] Deadline
* [x] Date Posted
* [x] Job type
* [x] Organisation
* [x] Location
* [x] Agency / Trust (who is advertising this)
* [x] RHS
  * [x] Attachments
* [x] Share

**parents:**

1. https://trello.com/c/7tze4UTs

┆Attachments: <a href="https:&#x2F;&#x2F;platform.harvestapp.com&#x2F;platform&#x2F;trello&#x2F;attachment&#x2F;5bf80cb7c844f61360b934b5&#x2F;SQQnEa8T">https:&#x2F;

[2018-11-15 14:19] #373 closed

[2018-11-16 11:31] russ-manta commented on #369
@conferences-BGS see the example Resource series here: http://bgs-staging.mrmdev2.co.uk/resources/resource-series/careers-and-workforce

and tab here: http://bgs-staging.mrmdev2.co.uk/topics/acute-care

[2018-11-16 11:34] russ-manta commented on #371
@cutlern Nelle should we be displaying images on the card here for SIGs? http://bgs-staging.mrmdev2.co.uk/topics/cga-in-acute-settings like on this page? http://bgs-staging.mrmdev2.co.uk/bgs-groups

[2018-11-16 14:33] cutlern commented on #371
@russ-manta done!

[2018-11-18 16:34] conferences-BGS commented on #372
@angievanhegan @russ-manta Can we see a mock up in staging of the 5th column? The request from Colin was 5 columns and no alternative appears to be offered above

[2018-11-18 16:53] conferences-BGS commented on #363
@russ-manta @angievanhegan Resolved

[2018-11-18 16:56] conferences-BGS commented on #320
@russ-manta @daniellaveda
[INV_83568-paymenthistory.pdf](https://github.com/MantaRayMedia/bgs/files/2592994/INV_83568-paymenthistory.pdf)
Payment History pulling through a template which looks like an invoice that is due rather than a receipt
Will discuss with Veda about if this is the correct receipt to be pulling through

[2018-11-18 19:46] conferences-BGS commented on #127
CPD and invoices available to view in test cases
Completed

[2018-11-18 19:52] conferences-BGS commented on #371
@russ-manta DOn't follow this ticket and when looking at http://bgs-staging.mrmdev2.co.uk/bgs-groups the images are broken
![image](https://user-images.githubusercontent.com/40232743/48677345-50893f00-eb6b-11e8-877a-e34ddbf47293.png)

Not sure why this ticket exists as in live site we have
![image](https://user-images.githubusercontent.com/40232743/48677353-6b5bb380-eb6b-11e8-8390-576e5a873806.png

[2018-11-19 03:05] #282 closed

[2018-11-19 03:08] angievanhegan commented on #372
@cat-manta Do you think you can squeeze this in this week please? We're focussed on getting all these issues completed by 22 Nov. If you could create a mockup of the 5 columns, that would be really helpful. Thanks

[2018-11-19 03:12] angievanhegan commented on #300
@russ-manta Please can you confirm for @conferences-BGS the next steps for this? I think you mentioned that it was in staging ready for sign off? Thanks

[2018-11-19 03:12] angievanhegan commented on #365
@conferences-BGS This one is definitely ready for you to check. Thanks

[2018-11-19 11:49] russ-manta commented on #320
@conferences-BGS we don't have any detail of where to get a receipt from. Will have to ask Veda ourselves. Should we create a new ticket?

[2018-11-19 13:06] conferences-BGS commented on #320
@russ-manta Existing ticket in Veda support already https://support.vedaconsulting.co.uk/issues/9585

[2018-11-19 13:16] russ-manta commented on #370
@mikeode I think there's an extra erroneous body field on the content type that can be deleted

[2018-11-19 13:48] russ-manta commented on #300
@conferences-BGS this text change ('Please confirm the profession of the lead delegate registering below') has now been made.  I can't see that this functionality would be affected by the Veda ticket but best to get this confirmed with them.

[2018-11-19 13:50] russ-manta commented on #371
@cutlern can you change the tab title to 'BGS groups' please?

[2018-11-19 14:19] cutlern commented on #371
@russ-manta done :)

[2018-11-19 14:53] angievanhegan commented on #372
@conferences-BGS it might be useful to know that we specifically discussed with Steph when we built this, that having this mega drop down would be a commitment to keeping the number of categories down to four, although I appreciate that that's a challenge.

However, here's a design showing what someone would see if they were using a laptop: https://projects.invisionapp.com/share/PENNUXHNXQY#/scree

[2018-11-19 14:55] angievanhegan commented on #371
Sorry @conferences-BGS it wasn't very clear. The change here is to add a tab for the SIG on the topics landing page:  http://bgs-staging.mrmdev2.co.uk/topics/cardiovascular

Because there is an image for the SIG on the live site, the image will appear above the SIG title.
![sig on topic page](https://user-images.githubusercontent.com/3796718/48684527-052d5b80-eb80-11e8-8b57-2f9410c16f55.PNG)

[2018-11-19 16:09] conferences-BGS commented on #318
@angievanhegan what are you looking for on this one? Is there a lack of clarity

[2018-11-19 16:11] angievanhegan commented on #318
@conferences-BGS There's nothing for you to do here. This is just a parent task. It's not been assigned to you and you've not been @'d so you can ignore it totally.  The child tasks in #369 which is in your column for you to look at.

[2018-11-19 16:12] conferences-BGS commented on #366
@russ-manta can you confirm if this is in live as well? Or will I need to test in staging ?

[2018-11-19 16:19] russ-manta commented on #366
@conferences-BGS yes sorry, it's in live too

[2018-11-19 16:20] #361 closed

[2018-11-19 16:21] russ-manta commented on #272
covered by #369

[2018-11-19 16:21] #272 closed

[2018-11-19 16:58] conferences-BGS commented on #371
@angievanhegan OK approved - please push to live

[2018-11-19 17:12] conferences-BGS commented on #369
@russ-manta @angievanhegan Approved - please move to live

[2018-11-19 17:15] conferences-BGS commented on #366
@russ-manta the function appears to work but need to discuss with Recia what she requested - currently this means we can only add to the event page as either

- content block
video
photo gallery
attachments
FAQ

- form

[2018-11-19 17:29] conferences-BGS commented on #366
@angievanhegan Then what Russ has delivered appears not to be this request.

[2018-11-19 17:31] conferences-BGS commented on #365
@BGS-Editor will test but just to confirm this is only in staging?

[2018-11-19 17:37] angievanhegan commented on #366
@russ-manta Let's chat about this one.

[2018-11-19 17:39] angievanhegan commented on #365
@conferences-BGS @BGS-Editor yes - this will only be in staging until you put it into the 'Move to live' column. Then @russ-manta will move it to the live server. Is that ok? Let me know if I missed something.

[2018-11-19 17:45] angievanhegan commented on #372
@conferences-BGS  It would be really great if you were able to let me have the content for the 5th category. Do you already have the name of the category and a list of the topics? Thanks

[2018-11-20 13:57] angievanhegan commented on #372
@conferences-BGS we've discussed this internally and we think that option A is to try with 5 columns and edited titles (and perhaps some styling tweak). Plan B is to try stacking 2 columns. We'll let you know when you can put in the details for the 5th column.

[2018-11-20 16:21] angievanhegan commented on #300
@russ-manta  what do we need @conferences-BGS to do here?

[2018-11-20 17:01] pipe-manta opened #377 "To move live[BGS: P2] [With Veda]"
# Done criteria
* [x] Add the new Group Related and Field Topic to Resouce Series content type
* [x] Export Topics view
* [x] CSS/JS/Templates
* [x] Rules
* [x] Import block: Button: See all external jobs
* [x] Press release:
  * [x] Add CT to the views page
  * [x] Top feature home page
  * [x] Search (permissions)
* [ ] External jobs
  * [x] RHS blocks configuration
  * [x] Double check context

[2018-11-21 09:45] russ-manta commented on #300
@angievanhegan it's ready to go live from our perspective. The text change that BGS requested is done 'Please confirm the profession of the lead delegate registering below' but I think we're waiting on Veda to confirm that this new functionality won't affect any changes they are making as Geraint mentioned above.

[2018-11-21 10:21] russ-manta commented on #372
@conferences-BGS you can now see this by hovering over topics in the menu on staging: http://bgs-staging.mrmdev2.co.uk/

[2018-11-21 12:32] BGS-Editor commented on #366
I am discussing this with G at the moment. In view of the structure of the presentation page, I envisage the powerpoints will be loaded as a resource on the main website (members and delegates only), with a link to this page from the 'past-event' page. Will come back to you when G and I have finished discussing.

[2018-11-21 12:37] BGS-Editor commented on #365
@conferences-BGS @angievanhegan  resource card image now added and can be seen on home here (1st item): http://bgs-staging.mrmdev2.co.uk/

Sorry folks, I can't access back-end of the staging site in order to test out posting up an image on a resource card.

[2018-11-21 13:34] conferences-BGS commented on #372
@russ-manta the 5th Column needs to be moved so that it is placed immediately after Primary/Community (so middle) and should be titled ‘Cross-cutting Primary/Acute’

[2018-11-21 14:01] angievanhegan commented on #365
@BGS-Editor I can see that you have an account on staging (http://bgs-staging.mrmdev2.co.uk/) with the email  editor@bgs.org.uk and you appear the have the correct privileges to edit that content.  Have you tried a password reset?

[2018-11-21 14:03] angievanhegan commented on #366
@BGS-Editor I think we both have exactly the same thing in mind Recia.

[2018-11-21 14:06] russ-manta commented on #372
@conferences-BGS done on staging. FYI, this is all controlled via the main menu which you have complete control of positioning and naming for:
http://bgs-staging.mrmdev2.co.uk/admin/structure/menu/manage/main-menu

[2018-11-21 14:18] BGS-Editor commented on #365
@angievanhegan  Thanks, Angie - but where does one log in (see screenshot)?
<img width="847" alt="screenshot 29" src="https://user-images.githubusercontent.com/43037203/48846961-50ba5200-ed98-11e8-98d7-2a40cdd876df.png">

[2018-11-21 14:29] angievanhegan commented on #365
@BGS-Editor This this: http://bgs-staging.mrmdev2.co.uk/user
@russ-manta Where has the login button gone?

[2018-11-21 16:11] BGS-Editor commented on #365
@angievanhegan   Sorry. I had to change my p.w on the live site. I have tried all the old and new logins on the staging site and none let me in. On the old staging site I was atkinsr and 'changeme'. My new login details are email address and BGS2018 on the live site.

[2018-11-21 16:13] mikeode commented on #375
@russ I've added the redirect. I've tested against a couple of accounts and it works ok. It's not particularly robust as it has to redirect to a specific content item. Additionally any new roles needing to be excluded from the redirect will have to be added to the custom code.

[2018-11-21 16:42] BGS-Editor commented on #365
@angievanhegan @conferences-BGS  I've tested the picture on the resource. I don't recall what the argument was about pictures on resources. I can see the pic if it appears in the featured content at the top of the home page. I can't see the pic on the 'Resources' catalogue page; or on the homepage under the 'Resources' tab. That is not an issue for me. What about you G?

[2018-11-21 16:48] conferences-BGS commented on #365
@russ-manta http://bgs-staging.mrmdev2.co.uk/resources no images appear on this page. Was this not the case

[2018-11-21 16:51] BGS-Editor commented on #365
@russ-manta @conferences-BGS Yes, that was it and whereas it is not an issue for me, it will be an issue for Colin as I think it was he who wanted it.

[2018-11-21 16:52] angievanhegan commented on #365
@conferences-BGS The top of each card shows the requirements we took from Steph. The main purpose for adding these card images is so that you can show the resources at the top of the home page.  They could theoretically also appear on the reources page or the 'Latest' section of the homepage. But, a decision was taken earlier on for these parts of the site not to have images. It might be strange f

[2018-11-21 16:56] BGS-Editor commented on #365
@conferences-BGS @angievanhegan  - I'm okay with that. I think I'm going to leave this in G's hands, to negotiate with Colin.

[2018-11-21 16:59] conferences-BGS commented on #365
@angievanhegan Was the decision made by Colin or Steph? If Steph, the latest view I think that images need to appear on these cards on this http://bgs-staging.mrmdev2.co.uk/resources

[2018-11-21 17:02] BGS-Editor commented on #365
@angievanhegan @conferences-BGS Okay. I don't think we need to worry about some pieces having pics and some not. We would treat non-pic pieces the same way that we treat policy and media page, where we just put holding images onto non-pic pieces.

[2018-11-21 17:11] angievanhegan commented on #365
@conferences-BGS I really appreciate that it would be lovely to have images on these resources cards, particularly if you had images for all of them, but are you sure you want to run the risk of having a page full of the 'blank' images? The main priority that Colin spoke of at the start was the make the content easier to find. Looking at the two examples side by side below, I think that resource t

[2018-11-21 17:55] BGS-Editor commented on #365
@conferences-BGS @angievanhegan . I must say, I agree that the blank blocks looks clearer, although the blocks with the holding images would also have a white block below the pics like this page: https://www.bgs.org.uk/policy-and-media. I'm going to leave it to G and Colin. I would select the pictureless blocks, but I'm not the one who is going to work with it in the future.

[2018-11-22 13:44] angievanhegan commented on #365
@BGS-Editor @conferences-BGS I thought it was worth clarifying, our recommendation is that no images is easier for users, then either some images + some blank spaces or some images + some coloured holding block.

[2018-11-22 15:54] russ-manta commented on #375
@mikeode A couple of things I've noticed so far
1. should we remove the field name 'description' from that field on display?  What do you think?
2. When creating an External job as a user I don't have access to the Description field, I get the message 'The field has been disabled because you do not have sufficient permissions to edit it' - presume we need to change the wysiwyg default input format

[2018-11-22 16:15] russ-manta commented on #376
I've added some comments to the other External jobs card which are also related to this one. Both interconnected

[2018-11-22 16:17] russ-manta commented on #370
@mikeode sorry, looks like the body field is still there - is that because we rolled back the database?  Can you remove it again?
Thanks

[2018-11-23 19:21] mrm-git commented on #300
➤ conferences-BGS commented:

@russ-manta Admin Registrations:

  1. We specified that a link would be sent to each category of attendee -
  2. speaker link
  3. non member speaker,
  4. sponsor
  5. Volunteer
  6. Complimentary registration - covering grant recipient/ Associate editor/Trustee

The person would need to create a web account and then using the link be able to circumvent the need for

[2018-11-26 12:53] mrm-git commented on #375
➤ Manta Ray Media commented:

@russurwin the first two should be addressed now. Can you please check and confirm? I'm still investigating the third. The standard permissions don't seem to be controlling this. Do you know where else this may be configured?

[2018-11-26 15:33] mrm-git commented on #370
➤ Manta Ray Media commented:

@russurwin the field is now removed.

[2018-11-26 15:33] mrm-git commented on #375
➤ Russ Urwin commented:

@mikeparmanand 1 & 2 look good. If you can unhide the Published checkbox then we're good to go with this one

[2018-11-26 16:14] conferences-BGS commented on #372
@russ-manta  can we add  a line divider if we keep 4 columns and move primary care below acute care?

[2018-11-26 16:52] angievanhegan commented on #319
@conferences-BGS This is the information we have in the requirements: Option for different payment types (gold/platinum) will send message via rules once approved with link to the correct payment page in Civi.*

[2018-11-26 17:01] mrm-git commented on #366
➤ Angie Vanhegan commented:

Recia - have you and Geraint finished discussing this yet? Thanks

[2018-11-27 09:46] conferences-BGS commented on #319
Options should be invoice or card
Costs are £250 + VAT or £350 + VAT

The process should follow the same as an event - fill out form and select payment method. Then fill out if invoice or pay by card
What further is required?

[2018-11-27 09:52] conferences-BGS commented on #319
Content payment and Job payment set up in MRM staging
![image](https://user-images.githubusercontent.com/40232743/49073166-bb044400-f229-11e8-8888-179fee1d6ae8.png)

Advertising page in staging here http://bgs-staging.mrmdev2.co.uk/civicrm/admin/contribute/settings?reset=1&action=update&id=3

[2018-11-27 09:52] russ-manta commented on #319
@conferences-BGS for external events the authoir is sent an automated email '
Your content will be reviewed before publishing. If approved for publication you will receive a further message with a link to payment details and your content will be published once we have received payment.'

Presumably that is the same here?

[2018-11-27 09:54] russ-manta commented on #319
@conferences-BGS this step above was to prevent people paying for content and then have it rejected and then BGS have to issue a refund

[2018-11-27 09:55] conferences-BGS commented on #319
@russ-manta Yes
Thank you for your submission.
Your vacancy content will be reviewed before publishing. If approved for publication you will receive a further message with a link to payment details and your content will be published once we have received payment.'

Presumably that is the same here? Yes - can you confirm though that people are getting the link to pay by card for external events and

[2018-11-27 10:04] conferences-BGS commented on #372
Signed off - please move to live

[2018-11-27 10:06] conferences-BGS commented on #365
Colin concurs with MRMs suggestions - no resource card images to be added . Leave as is

[2018-11-27 13:16] mrm-git commented on #365
➤ Angie Vanhegan commented:

@russurwin This one can be moved to live.

[2018-11-27 13:16] mrm-git commented on #372
➤ Angie Vanhegan commented:

@stevelacey @catjohnson2 Do you want to have a look at this and check you're happy with the presentation?

[2018-11-27 15:00] russ-manta commented on #319
@conferences-BGS ok this is pretty much done. A couple more questions before we finish:

1. There is a requirement for a logo:
Should it appear on the RHS above the attachment?
http://bgs-staging.mrmdev2.co.uk/russ-new-test-job
2. If there is no logo and no attachment then should the left hand side of the page go full width or should we keep a space on the RHS whether there is anything there or no

[2018-11-27 15:03] conferences-BGS commented on #319
@russ-manta
1. Yes
2. Default to rest of site action when no logo/ attachment - i think this is keep space?
3. Gold: we want to pin to the top of the page, have a prominent border on the card and around the page when opened

[2018-11-27 23:00] mrm-git opened #378 "Book support feedback meeting"
Contract needs back dating to go live date - 2 Aug

https://mantaraymedialtd.sharepoint.com/:w:/r/sites/mantlets/_layouts/15/Doc.aspx?sourcedoc=%7B98774649-be7b-4fe0-9077-15725bb5e8a7%7D&action=default

[2018-11-27 23:05] mrm-git opened #379 "Send final invoice?"

[2018-11-27 23:05] mrm-git opened #380 "Book close out meeting"

[2018-11-28 11:15] stevelacey commented on #372
uh hi. I have no idea what this is or why you're @ ing me – but you can consider me happy with the implementation, whatever it is

[2018-11-28 12:30] mrm-git opened #381 "External Jobs - Changes on Landing page and Node"
Changes on External jobs landing page and node

- - -
**parents:**

1. https://trello.com/c/7tze4UTs

[2018-11-28 14:51] russ-manta commented on #375
@conferences-BGS please review the landing page: http://bgs-staging.mrmdev2.co.uk/jobs/external-jobs  gold items are currently showing first but we still need to add some kind of styling for these.  Also please confirm which filters/order you want in terms of ordering the items on this page - thanks

[2018-11-28 14:57] conferences-BGS commented on #376
@russ-manta Will review internally but also need to see the

- submission process
- The communications sent out to the submitter - is this CIvi?
- The payment process - a link sent, but is this civi?

[2018-11-28 15:11] russ-manta commented on #376
@conferences-BGS you can test all this. There's a link to submit an External job here: http://bgs-staging.mrmdev2.co.uk/jobs/external-jobs  Once submitted an email is sent to BGS to review and approve and one also sent to the author.  Once payment is received BGS approve and publish the job and then the author is notified automatically by email

[2018-11-28 16:07] mrm-git commented on #381
➤ Angie Vanhegan commented:

@pipemanta Does this card need moving to a different column in Trello?

[2018-11-28 16:12] mrm-git commented on #381
➤ Angie Vanhegan commented:

@russurwin does this issue need allocating to anyone in Trello, or moving columns? Thanks

[2018-11-28 16:59] mrm-git opened #382 "Submit timesheet"

[2018-11-28 16:59] mrm-git opened #383 "Send Sales Force integration invoice?"
# Heading text here
* Part of enhancement work?
* And Schedule **1hr**

https://chrome.google.com/webstore/detail/hide-activity-details-for/hcgmjpjodnakphfpegldpbcajlmpfipa

[2018-11-28 16:59] #383 closed

[2018-11-28 16:59] mrm-git commented on #383
➤ Angie Vanhegan commented:

Dave is going to tell me what this is. One day

[2018-11-28 17:00] mrm-git opened #384 "Check all invoice dates"

[2018-11-28 17:00] mrm-git opened #385 "Read smashing magazine"

[2018-11-28 17:00] mrm-git opened #386 "How to improve time tracking categories?"
No cross cutting (for developers)?

[2018-11-28 17:00] mrm-git opened #387 "Send final invoice?"
Spoke with Geraint on Monday 10. He needs to get Colin to sign off on the final mopup issues next week.

[2018-11-28 17:00] mrm-git opened #388 "Everyone ticked done WPs?"

[2018-11-28 17:00] mrm-git opened #389 "Confirm FMLM meeting with Gareth"
28th at 4pm

[2018-11-28 17:00] #389 closed

[2018-11-28 17:00] mrm-git opened #390 "Scheduling meeting"

[2018-11-28 17:00] mrm-git opened #391 "------"

[2018-11-28 17:00] mrm-git opened #392 "Monday meeting"

[2018-11-28 17:00] mrm-git opened #393 "------"

[2018-11-28 17:00] mrm-git opened #394 "------"

[2018-11-28 17:00] mrm-git opened #395 "------"

[2018-11-28 17:00] mrm-git opened #396 "-------"

[2018-11-28 17:00] mrm-git opened #397 "Update everyone's projects"

[2018-11-28 17:00] mrm-git opened #398 "New projects on Air table"
PROVE is new - $70k to be done before March - plus 3 remoras and ESPEN (Gates contract). Need to line work up for March time now
Showcase of elimination of hepatitis (Drupal 8)

[2018-11-28 17:00] #398 closed

[2018-11-28 17:00] mrm-git opened #399 "Confirm date for support feedback"

[2018-11-28 17:00] mrm-git opened #400 "Move out of scope BGS tickets and setup BGS board"
Move them to the bgs-code so that the bgs public board can be closed
Wait until we know we're moving to Trello.

[2018-11-28 17:00] #400 closed

[2018-11-28 17:00] mrm-git opened #401 "Schedule Alumni?"

[2018-11-28 17:00] mrm-git opened #402 "Talk to Dave about estimates"

[2018-11-28 17:00] mrm-git opened #403 "Talk to Russ about #366"

[2018-11-28 17:00] #403 closed

[2018-11-28 17:00] mrm-git opened #404 "Research tips for tracking time"
https://clockify.me/time-tracking-best-practices

[2018-11-28 17:00] mrm-git opened #405 "Heard from ZenHub"

[2018-11-28 17:00] #405 closed

[2018-11-28 17:00] mrm-git opened #406 "Setup meeting with Thiago"

[2018-11-28 17:00] #406 closed

[2018-11-28 17:00] mrm-git opened #407 "Update LSTM board"

[2018-11-28 17:00] #407 closed

[2018-11-28 17:00] mrm-git opened #408 "Create 2 Tephinet boards"

[2018-11-28 17:00] mrm-git opened #409 "Email to Thiago"

[2018-11-28 17:00] #409 closed

[2018-11-28 17:00] mrm-git opened #410 "Trello Board for ACACIA"

[2018-11-28 17:00] mrm-git opened #411 "Setup meeting with Mike/Russ/Matty to talk about Remora boards"

[2018-11-28 17:00] #411 closed

[2018-11-28 17:00] mrm-git opened #412 "login details to lastpast"

[2018-11-28 17:00] #412 closed

[2018-11-28 17:00] mrm-git opened #413 "Get help from Matty on Last pass"

[2018-11-28 17:00] mrm-git opened #414 "Book close out meeting"

[2018-11-28 17:00] mrm-git opened #415 "Add link to ticket in GitHub"

[2018-11-28 17:00] #415 closed

[2018-11-28 17:01] mrm-git opened #416 "Rename epics in Harvest for BGS"

[2018-11-28 17:01] #416 closed

[2018-11-28 17:01] mrm-git opened #417 "Udpate Russ and Mike on what Geraint says"

[2018-11-28 17:01] #417 closed

[2018-11-28 17:01] mrm-git opened #418 "Create links in Harvest"

[2018-11-28 17:01] #418 closed

[2018-11-28 17:01] mrm-git opened #419 "Talk to Mike about Warranty issues"

[2018-11-28 17:01] #419 closed

[2018-11-28 17:01] mrm-git opened #420 "ESPEN board"

[2018-11-28 17:01] #420 closed

[2018-11-28 17:01] mrm-git opened #421 "Where does Mike track time for BGS warranty?"

[2018-11-28 17:01] #421 closed

[2018-11-28 17:01] mrm-git opened #422 "Schedule epics in Air table"
Dev is going to start in Feb. Plan is to schedule when we know the order we're going to work on.

[2018-11-28 17:01] mrm-git opened #423 "Setup meeting for design brief?"
- - -
**parents:**

1. https://trello.com/c/y1RFc1ha

[2018-11-28 17:01] mrm-git opened #424 "Setup Air table"
- - -
**parents:**

1. https://trello.com/c/y1RFc1ha

[2018-11-28 17:01] mrm-git commented on #424
➤ Angie Vanhegan commented:

Need to look for the financial proposal in SharePoint

[2018-11-28 17:01] mrm-git opened #425 "Pay for Unito"

[2018-11-28 17:01] mrm-git opened #426 "Setup scoping meeting with Steve and Nadia and Drupal 8"
Work out how we do the core site in 6 days

- - -
**parents:**

1. https://trello.com/c/y1RFc1ha

[2018-11-28 17:01] #426 closed

[2018-11-28 17:01] mrm-git opened #427 "Setup weekly catch up"
John
Steve
Nadia
Cat

[2018-11-28 17:01] mrm-git opened #428 "Setup meeting for agreeing Trello template"

[2018-11-28 17:01] mrm-git opened #429 "Housekeep time tracking"
Make sure it's all tracked to Epics.

[2018-11-28 17:01] mrm-git opened #430 "Book meeting to present mood boards to John"

[2018-11-28 17:01] mrm-git opened #431 "Re-do Drupal 8 meeting"

[2018-11-28 17:01] mrm-git opened #432 "Send Airtable link to John"

[2018-11-28 17:01] mrm-git opened #433 "Read wash up notes"
https://www.notion.so/mantaray/TEPHINET-debrief-744d07ecad95444989bc1087b46a8840

[2018-11-28 17:01] mrm-git opened #434 "Follow up on #445 and #419 for FMLM"
http://projects.mantaraymedia.co.uk/projects/177

[2018-11-28 17:40] mrm-git opened #435 "Check password"

[2018-11-28 17:45] mrm-git opened #436 "Invite Dave for 12"
russ, mike, steve

[2018-11-28 18:01] mrm-git opened #437 "Create a project setup checklist"

[2018-11-28 18:01] mrm-git opened #438 "Schedule Alumni work package"
- - -
**parents:**

1. https://trello.com/c/EMdR9Ho0

[2018-11-28 18:01] mrm-git opened #439 "Write instructions - how to create Trello boards"

[2018-11-28 18:01] mrm-git opened #440 "Agree a semi permanent Trello board template"
We need to do this before we start creating a lot of boards. People who need to agree to it:

* Stave
* Matty
* Russ
* Dilwar
* Nadia

[2018-11-28 18:01] mrm-git opened #441 "Unito sorted display of GitHub numbers?"
1. The numbers should appear on the client board
1. when you do a manual sync between internal and client boards, the numbers are removed from the internal board

[2018-11-28 18:01] mrm-git opened #442 "Trial with LSTM"
So that we cancel BugHerd subscription

- - -
**parents:**

1. https://trello.com/c/iV9hBVC7

[2018-11-28 18:01] mrm-git opened #443 "Trial with BGS"
So that we cancel BugHerd subscription

- - -
**parents:**

1. https://trello.com/c/iV9hBVC7

[2018-11-28 18:01] mrm-git opened #444 "Trial with Tephinet"
So that we cancel BugHerd subscription

- - -
**parents:**

1. https://trello.com/c/iV9hBVC7

[2018-11-28 18:01] mrm-git opened #445 "Decide if we want to have a board per project"

[2018-11-28 18:01] #387 closed

[2018-11-28 18:02] #414 closed

[2018-11-28 18:06] #401 closed

[2018-11-28 18:06] #408 closed

[2018-11-28 18:18] conferences-BGS commented on #376
@russ-manta added http://bgs-staging.mrmdev2.co.uk/ceo
Fields look OK but need wider input
No email received to author or me as reviewer (are external emails enabled in your staging?)

Went to content and updated to reviewed, payment requested (would prefer not to do this if required)

[2018-11-28 18:22] #437 closed

[2018-11-28 18:22] #438 closed

[2018-11-28 18:22] #439 closed

[2018-11-28 18:22] #440 closed

[2018-11-28 18:22] #441 closed

[2018-11-28 18:22] #442 closed

[2018-11-28 18:22] #443 closed

[2018-11-28 18:23] #444 closed

[2018-11-28 18:23] #436 closed

[2018-11-28 18:23] #445 closed

[2018-11-28 18:23] #435 closed

[2018-11-28 18:23] #382 closed

[2018-11-28 18:23] #384 closed

[2018-11-28 18:23] #385 closed

[2018-11-28 18:23] #386 closed

[2018-11-28 18:23] #388 closed

[2018-11-28 18:23] #390 closed

[2018-11-28 18:23] #391 closed

[2018-11-28 18:23] #392 closed

[2018-11-28 18:23] #393 closed

[2018-11-28 18:23] #394 closed

[2018-11-28 18:23] #395 closed

[2018-11-28 18:23] #396 closed

[2018-11-28 18:23] #397 closed

[2018-11-28 18:23] #399 closed

[2018-11-28 18:23] #402 closed

[2018-11-28 18:23] #404 closed

[2018-11-28 18:23] #410 closed

[2018-11-28 18:23] #413 closed

[2018-11-28 18:23] #422 closed

[2018-11-28 18:23] #423 closed

[2018-11-28 18:23] #424 closed

[2018-11-28 18:23] #425 closed

[2018-11-28 18:23] #427 closed

[2018-11-28 18:23] #428 closed

[2018-11-28 18:23] #429 closed

[2018-11-28 18:23] #430 closed

[2018-11-28 18:23] #431 closed

[2018-11-28 18:23] #432 closed

[2018-11-28 18:23] #433 closed

[2018-11-28 18:23] #434 closed

[2018-11-29 08:53] mikeode commented on #338
The problem arises when only one box has been added to a page. This has been resolved by checking how many boxs are on the page. If only one box, the 'card-with-summary' class is not added. This class is acted on by the mixin 'card-hidden-summary-paragraph-container' which is the source of the flickering. This mixin should be revisited as every entry in it is added as !important.

[2018-11-29 09:07] mikeode commented on #338
Go live: move bgs.behaviour.js

[2018-11-29 12:33] cat-manta commented on #372
Angie I think you @'d the wrong Steve. I don't love it on small screens but it's fine.
@angievanhegan @ican-icant

[2018-11-29 14:36] mrm-git commented on #354
➤ Dilwar Hussain commented:

@mikeparmanand AJAX also called when any filter/text search is applied.

[2018-11-30 15:02] russ-manta commented on #366
@conferences-BGS badge change has now been made but we just need to get access to the new server before pushing this live

[2018-12-03 15:10] mrm-git commented on #381
➤ Angie Vanhegan commented:

@russurwin Does this need moving across for BGS to review or can we just close this one? I think you've mentioned the things he needs to test on another card. Thanks

[2018-12-03 16:09] mrm-git opened #446 "Chase up Geraint on sign off and make sure he's watching his lists [BGS: P2]"

[2018-12-04 15:10] russ-manta commented on #300
@conferences-BGS re the admin registrations aren't these all done via Civi and a link sent by BGS to the person directly?

[2018-12-04 15:43] conferences-BGS commented on #338
@russ-manta Not sure what my action is? Is this deployed as a fix to live?

[2018-12-04 21:43] conferences-BGS commented on #376
@russ-manta  Feedback On the external page http://bgs-staging.mrmdev2.co.uk/add-an-external-job the RHS menu still shows content for external events. I assume we can replace this?

Submission guidelines
Reciprocal marketing can include:

Listing a BGS event on your website
Promoting a BGS event in newsletters or on Social Media
Circulating BGS flyers at your meetings
If you cannot undertake recipr

[2018-12-04 22:38] conferences-BGS commented on #300
@russ-manta We require the ability to send to speakers, sponsors, volunteers and other complimentary registrations a booking link that circumvents the price sets

We can't do all the registrations in the back end as administrators. Currently we send a

[2018-12-04 22:38] #300 closed

[2018-12-04 22:41] conferences-BGS commented on #300
@russ-manta We require the ability to send to speakers, sponsors, volunteers and other complimentary registrations a booking link that circumvents the price sets

We can't do all the registrations in the back end as administrators. Currently we send a complicated multi step process like below
This link is just for Autumn grant recipients

https://www.bgs.org.uk/civicrm/event/register?reset=1&id=70

[2018-12-05 18:07] #378 closed

[2018-12-10 18:28] mrm-git opened #447 "Support contract done? [BGS: P1]"

[2018-12-10 23:55] #379 closed

[2018-12-11 15:22] mrm-git commented on #338
➤ Angie Vanhegan commented:

@russurwin can you clarify what Geraint's action is please? Thanks

[2018-12-11 16:00] mrm-git commented on #377
➤ Angie Vanhegan commented:

Awaiting access to live server

[2018-12-11 17:35] mrm-git commented on #375
➤ Geraint Collingridge commented:

@angievanhegan Comments from this card https://trello.com/c/AWnuetqh/38-external-jobs-node-page-bgs-p2 are relevant here.

BGS have fed back but will repeat

Fields look OK

Needs attention
No email received by author (me) or me as reviewer (me) that the job had been submitted for review (are external emails enabled in your staging?)

As reviewer I went to conten

[2018-12-11 17:38] mrm-git commented on #370
➤ Geraint Collingridge commented:

@mantaraymedia1 @angievanhegan Feedback was push to live, using fields and settings like a news content item

Confirm what label will be attached (press release)

Query - what would need to be done to relist existing news content as press releases (BGS Assume create a new content type and cut and paste. We hope and dream of being able to move from news label to p

[2018-12-11 17:39] mrm-git commented on #376
➤ Angie Vanhegan commented:

@russurwin Do you need to do anything here?

[2018-12-11 17:40] mrm-git commented on #375
➤ Angie Vanhegan commented:

@russurwin Feedback for you.

[2018-12-11 17:42] mrm-git commented on #370
➤ Angie Vanhegan commented:

@russurwin Please can you answer Geraint's questions, then move this into the 'Ready for live' column. Thanks

[2018-12-11 17:44] #446 closed

[2018-12-11 20:35] mrm-git commented on #376
➤ Russ Urwin commented:

@angievanhegan the RHS content block can all be edited by BGS they just need to edit the page and edit the section: http://bgs-staging.mrmdev2.co.uk/node/4742/edit

The 'payment requested' radio button is for BGS to know where in the content workflow a specific item otherwise another editor couls easily come along and request payment again. This is the same as external eve

[2018-12-11 20:45] mrm-git commented on #375
➤ Russ Urwin commented:

@angievanhegan payment requested radio is part of workflow to indicate that someone at BGS has looked at the item and processed as mentioned on the other card and as external events already work.

Also it wasn't clear that an automated email link to the payment form should be sent but if that is the case there has to be something to trigger it and this has to be once BGS h

[2018-12-11 20:49] mrm-git commented on #338
➤ Russ Urwin commented:

@angievanhegan nothing really we just need to move live

[2018-12-11 20:49] mrm-git commented on #370
➤ Russ Urwin commented:

@angievanhegan
Label is press release, see here: http://bgs-staging.mrmdev2.co.uk/policy-and-media

To move to press release content would need to be cut and pasted - sorry it's a different content type.

[2018-12-11 20:49] mrm-git commented on #370
➤ Geraint Collingridge commented:

Thanks Russ @board push to live

[2018-12-13 03:35] mrm-git opened #448 "All BGS: P2 issues done? [BGS: P2)"

[2018-12-13 08:12] mrm-git commented on #375
➤ Geraint Collingridge commented:

@angievanhegan if you review something like charity jobs the payment is part of the submission process.  All jobs need to pay to advertise so all need to pay and introducing a review and then send for payment results in an unnecessary delay. Bgs will still review before publishing so accepting payments and refunding if needed would be preferable. Īf process remai

[2018-12-13 15:33] mrm-git commented on #375
➤ Angie Vanhegan commented:

@russurwin Are you ok with this?

[2018-12-14 15:51] #368 closed

[2018-12-14 15:51] mrm-git commented on #368
➤ Russ Urwin commented:

issue with Veda now: https://support.vedaconsulting.co.uk/issues/9529

[2018-12-14 15:51] #320 closed

[2018-12-14 15:51] mrm-git commented on #320
➤ Russ Urwin commented:

Receipt issue with Veda now: https://support.vedaconsulting.co.uk/issues/9585

[2018-12-17 14:46] mrm-git opened #449 "Send out final invoice [BGS: P2]"

[2018-12-18 09:46] #366 closed

[2018-12-18 09:46] mrm-git commented on #366
➤ Russ Urwin commented:

This is now live

[2018-12-18 12:46] mrm-git opened #450 "Topics resources cookie"

[2018-12-18 12:52] #450 closed

[2018-12-18 12:53] mrm-git opened #451 "Topics - Cookies for tabs"

[2018-12-18 12:54] mrm-git opened #452 "Topics cookies"

[2018-12-18 12:54] mrm-git commented on #452
➤ Pipe Salom commented:

We are using cookies to recognize on which topics tabs we are (Resources, News, Blogs...) but when we are coming to this page from a node eg Blogs we have an issue.

If the latest Topic's tabs that we have visited was Resources, we are redirected from Blog's node to the Resources tabs, that will be confusing for the user.

We need a solution for the cookies, to redirect al

[2018-12-18 13:15] #127 closed

[2018-12-18 13:43] #363 closed

[2018-12-18 15:12] mrm-git commented on #380
➤ Manta Ray Media commented:

Suggested wed 2 Jan to Colin. Waiting for reply.

[2018-12-18 20:10] #371 closed

[2018-12-18 20:11] #369 closed

[2018-12-18 20:19] #370 closed

[2018-12-18 20:20] #338 closed

[2018-12-19 14:00] #372 closed

[2018-12-19 14:00] mrm-git commented on #372
➤ Russ Urwin commented:

This is now live. Some topics need to be added to the new topics menu item .Cross cutting Primary/Acute.

[2018-12-19 14:32] #376 closed

[2018-12-19 14:32] mrm-git commented on #376
➤ Russ Urwin commented:

This is now live with the external jobs landing page hidden from the menu for now: https://www.bgs.org.uk/about/external-vacancies

Emails are now working and the submitter is currently sent an email as soon as the job has been submitted with a link to pay here (BGS are sent a notification email to review at the same time): https://www.bgs.org.uk/civicrm/contribute/transac

[2018-12-19 16:36] #377 closed

[2018-12-19 17:00] #448 closed

[2018-12-19 17:01] #145 closed

[2018-12-19 17:01] #317 closed

[2018-12-19 17:01] #318 closed

[2018-12-19 17:01] #321 closed

[2018-12-19 17:01] #343 closed

[2018-12-19 17:01] #346 closed

[2018-12-19 17:06] #319 closed

[2018-12-19 17:39] mrm-git commented on #380
➤ Manta Ray Media commented:

Suggest Steve call Colin at his desk. Or, asked if we need to wait for G to come back from sick leave?

[2018-12-21 15:31] #451 closed

[2019-01-07 14:33] mrm-git opened #453 "Ask Russ about external jobs testing [BGS: P1]"

[2019-01-07 15:53] mrm-git commented on #449
➤ Angie Vanhegan commented:

On Monday 7/1 I suggested Tues, Weds or Friday to Geraint.

[2019-01-07 16:45] mrm-git commented on #375
➤ Russ Urwin commented:

@Geraint @angievanhegan we pushed all the external jobs stuff live before Christmas which I'm sure I messaged about but now can't find the message (did I send it?!).
Anyway the upshot is that emails are now going out to the submitter and to editor@bgs.org.uk once a job is submitted and the submitter is currently directed to this page: https://www.bgs.org.uk/civicrm/contrib

[2019-01-07 16:49] #453 closed

[2019-01-07 16:52] mrm-git commented on #375
➤ Geraint Collingridge commented:

@mantaraymedia1
Can you change the notification email to me

How are submitters to pay: the request was for both this and external events to push to stripe gateway and the submitter pay instantly

Once directed to send confirmations to me I can test

[2019-01-07 16:54] mrm-git commented on #375
➤ Angie Vanhegan commented:

@russurwin see below

[2019-01-07 16:58] mrm-git commented on #375
➤ Russ Urwin commented:

@Geraint @angievanhegan email now changed. Which stripe gateway is that, we've never used it - can you send details?
All previous payments we have set up have gone via a Civi contribution page link.

[2019-01-07 17:02] conferences-BGS commented on #375
The contribution page for Civi is https://www.bgs.org.uk/civicrm/contribute/transact?reset=1&id=4 for events

And for jobs is https://www.bgs.org.uk/civicrm/contribute/transact?reset=1&id=3

When last tested this didn’t result in anything occurring

From: mrm-git [mailto:notifications@github.com]
Sent: 07 January 2019 16:59
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g

[2019-01-07 17:04] conferences-BGS commented on #375
Yes testing the contribution page that you link to it doesn’t take payment just a pledge to pay
Not whats needed: a link to stripe is

[cid:image001.png@01D4A6AB.181C6700]

From: mrm-git [mailto:notifications@github.com]
Sent: 07 January 2019 16:59
To: MantaRayMedia/bgs <bgs@noreply.github.com>
Cc: Geraint Collingridge <g.collingridge@bgs.org.uk>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-01-07 20:55] Geraint commented on #375
Could you guys would stop @ mentioning me, please?  I don't have anything to do with your project.

[2019-01-08 10:40] mrm-git commented on #375
➤ Russ Urwin commented:

Both these contribution pages should now work ok (I've reconfigured the pages and tested them both in test mode):
Test advertising page is here:
https://www.bgs.org.uk/civicrm/contribute/transact?reset=1&id=3&action=preview  and you can use the card number 4242424242424242 for testing
You can test the live one using a real card if you want and I've changed the Job listing

[2019-01-11 13:33] mrm-git commented on #376
➤ Amy commented:

Needs further discussion

[2019-01-11 15:59] mrm-git commented on #375
➤ Angie Vanhegan commented:

Feedback from Geraint:

  * invoices to Amy and cc in finance@bgs.org.uk
the issues are
  * Staging site not accessible
  * Jobs - Payment form and form for submission still appear separate and need to be joined (submit form and payment together)

[2019-01-14 14:44] mrm-git commented on #375
➤ Geraint Collingridge commented:

Jobs getting spammed with adverts for little blue pills as no payment wall
https://www.bgs.org.uk/node/4865/edit

[2019-01-14 16:38] mrm-git opened #454 "Amends for External jobs*"

[2019-01-14 17:18] mrm-git opened #455 "Members' Directory - button for members to opt in/out disappeared, also option to tag interests"

[2019-01-14 17:18] mrm-git opened #456 "Amends for External courses and external events"

[2019-01-14 17:19] #381 closed

[2019-01-14 17:19] mrm-git commented on #381
➤ Angie Vanhegan commented:

Outsanding issues https://trello.com/c/YKBcV60f

[2019-01-14 17:19] #375 closed

[2019-01-14 17:19] mrm-git commented on #375
➤ Angie Vanhegan commented:

All outstanding actions here: https://trello.com/c/YKBcV60f

[2019-01-15 15:42] mrm-git commented on #454
➤ Russ Urwin commented:

This is all now done and ready for testing

[2019-01-16 11:15] mrm-git commented on #456
➤ Russ Urwin commented:

This is all now done and ready for review on live

[2019-01-16 15:16] mrm-git commented on #455
➤ Matty commented:

Hi @amybrew

I'll chat with @russurwin about this one.

[2019-01-16 15:56] mrm-git commented on #455
➤ Russ Urwin commented:

@amybrew @mattys it looks like someone has made some change to the Civi profile https://www.bgs.org.uk/civicrm/admin/uf/group/update?action=update&id=24&context=group  can you check with Geraint/Veda to see if this is just a mistake?  The 'View/Edit Drupal User Account ' checkbox is set in our staging environment but not on live

[2019-01-16 16:11] mrm-git commented on #455
➤ Amy commented:

@geraintcollingridge1 Could you check this at the Civi end?

[2019-01-16 17:25] mrm-git commented on #455
➤ Geraint Collingridge commented:

No changes by BGS - will ask Veda
Just to confirm you want it to be changed to expose publically? As in screenshot attached

[2019-01-21 15:43] mrm-git opened #457 "Chase BGS"

[2019-01-21 16:32] mrm-git commented on #455
➤ Amy commented:

@russurwin @mattys @geraintcollingridge1 - where are we with this currently? Are we waiting on anything and can I help?

[2019-01-21 16:32] mrm-git commented on #455
➤ Geraint Collingridge commented:

@amybrew with Veda and Disha at this time

[2019-01-21 16:36] mrm-git commented on #455
➤ Amy commented:

@geraintcollingridge1 OK thanks for clarifying!

[2019-01-21 16:40] mrm-git opened #458 "Styling of 'gold' external jobs"
https://projects.invisionapp.com/share/PENNUXHNXQY#/screens/342022101_Vacancies

[2019-01-21 16:43] mrm-git commented on #458
➤ Angie Vanhegan commented:

@amybrew can you check you're happy with the styling for the 'gold' jobs shown on this invision design?

https://projects.invisionapp.com/share/PENNUXHNXQY#/screens/342022101_Vacancies

If you're happy, just @ me on here and I'll allocate it to someone to update the styling for you. Thanks

[2019-01-22 11:32] mrm-git commented on #454
➤ Amy commented:

[Job submission page.jpg](https://trello-attachments.s3.amazonaws.com/5bf84e2773acf829281471b2/5c3cbc0f071f7c678a212965/ba690c505e2af15863fda83d6d116a23/Job_submission_page.jpg)

[gold job display.jpg](https://trello-attachments.s3.amazonaws.com/5bf84e2773acf829281471b2/5c3cbc0f071f7c678a212965/6593e6112c3b1305bd99c0648b4c64fe/gold_job_display.jpg)

OK ignore this point about the

[2019-01-22 14:25] mrm-git commented on #454
➤ Angie Vanhegan commented:

FROM AMY

@russurwin @angievanhegan

I've been testing the job submission pages - we need to edit the text/buttons (also the payment amounts) to make it clearer for users, is this something we can do at the Drupal end or would it need to be implemented via Civi? (See first image).

The actual process of posting the job seems to work fine, payment page etc all coming up

[2019-01-22 14:45] mrm-git commented on #454
➤ Russ Urwin commented:

The button text is all changed within Civi and can be done here: https://www.bgs.org.uk/civicrm/admin/contribute/amount?reset=1&action=update&id=3

Re gold jobs on the main vacancies, as far as we understood it, external jobs were only to display on the new External jobs page and this supercedes any other pages that they are/were displaying.

[2019-01-22 15:30] mrm-git commented on #447
➤ Angie Vanhegan commented:

Geraint is checking if my accessing the site is going to be a problem.

[2019-01-23 16:54] mrm-git commented on #454
➤ Amy commented:

@russurwin OK thanks, this makes sense.

I've attached an image of how the gold/silver listings appear once they've clicked through - the headings are all a bit squashed up and running onto multiple lines

[gold job display.jpg](https://trello-attachments.s3.amazonaws.com/5bf84e2773acf829281471b2/5c3cbc0f071f7c678a212965/bcfa534abec018de2c3bcd5d1d183d99/gold_job_display.jpg)

[2019-01-23 17:06] mrm-git commented on #454
➤ Amy commented:

Hi again - sorry, yesterday when I was testing the payment form was loading as soon as a listing type was selected, which was great, but now you have to hit 'save' before you come to the payment page (and hitting 'save' triggers the email alert to editor@bgs.org.uk and the potential spamming issue).

It also shows the user the 'Status' options - I'm logged in as a non-member (not

[2019-01-24 11:52] mrm-git opened #459 "Could we have a login and URL for the staging site? (We're trying to a mock up a page for one of our Special Interest Groups which we want to be shareable but not live)."

[2019-01-26 02:26] mrm-git opened #461 "test2"

[2019-01-26 02:41] #461 closed

[2019-01-28 16:49] Mattys commented on #455
Hey, you guys keep tagging me instead of @Matty but I'm not part of your project ^^

[2019-01-28 16:53] matty commented on #455
Nothing to do with me!

[2019-01-28 18:41] mrm-git commented on #455
➤ Geraint Collingridge commented:

@matty @amybrew
From veda We will not be able to integrate with CiviCRM (contacts, cases, etc) without webform (as its own content type - not just enabled on the ‘Form’ Content type.

Can you also check with them if by disabling the webform content type, did they remove the following two webforms? 

https://bgs.org.uk/abstracts

https://bgs.org.uk/judges/abstract

[2019-01-28 20:39] mrm-git commented on #459
➤ Angie Vanhegan commented:

@mattys I'm assuming this is a support issue?

[2019-01-29 07:59] Mattys commented on #459
Please stop tagging me, I'm not part of this project and have no idea what you're talking about ^^

[2019-01-29 12:01] mrm-git commented on #455
➤ Russ Urwin commented:

@matty @geraintcollingridge1 @amybrew I've created the content type webform this was never there in our drupal installation as we normally use 'form'.  I'm not sure if abstracts or judges/abstract ever existed in our version of the site but I may be wrong on this..

[2019-01-29 15:31] mrm-git commented on #456
➤ Angie Vanhegan commented:

@russurwin This is ready to move to live. Thanks

[2019-01-29 15:32] mrm-git commented on #458
➤ Angie Vanhegan commented:

@russurwin This is ready to move to live. Thanks

[2019-01-29 15:35] mrm-git commented on #454
➤ Angie Vanhegan commented:

@amybrew Did you add a comment here to say what we need to look at? Thanks

[2019-01-29 15:38] mrm-git commented on #454
➤ Amy commented:

@angievanhegan

Amy Jan 23 at 5:07 PM
Hi again - sorry, yesterday when I was testing the payment form was loading as soon as a listing type was selected, which was great, but now you have to hit 'save' before you come to the payment page (and hitting 'save' triggers the email alert to editor@bgs.org.uk and the potential spamming issue).

It also shows the user the 'Status' option

[2019-01-29 15:39] mrm-git commented on #456
➤ Russ Urwin commented:

This is already live

[2019-01-29 15:46] mrm-git commented on #454
➤ Angie Vanhegan commented:

@russurwin Please can you look at this for Amy? Thanks

[2019-01-30 11:17] mrm-git commented on #454
➤ Russ Urwin commented:

@angievanhegan @amybrew the styling of the job form is now fixed. Sorry about that.  I think that's all the is needed but let let me know if any more issues, thanks.
https://www.bgs.org.uk/add-an-external-job

[2019-01-30 15:09] mrm-git commented on #454
➤ Amy commented:

@mantaraymedia1 @angievanhegan Thanks, looks great, moving across to ready for live! :thumbsup:

[2019-01-31 18:55] mrm-git commented on #455
➤ Geraint Collingridge commented:

@russurwin The work we’d already done on this appears to have been deleted by MRM. Is there anyway they can get this back?

Work we had already completed is documented here:

https://support.vedaconsulting.co.uk/issues/7393
https://support.vedaconsulting.co.uk/issues/9098

[2019-01-31 18:57] mrm-git commented on #459
➤ Geraint Collingridge commented:

@matty Please let us know an expected date for access so we can mock up some pages in order to bring into the site the Movement Disorders Site http://www.bgsmds.org.uk/ and https://bgscv.org.uk/

@angievanhegan Please remove matty s from the Trello board

[2019-01-31 18:59] matty commented on #459
@mrm-git This is nothing to do with me either, wrong person!

[2019-01-31 18:59] mrm-git commented on #458
➤ Geraint Collingridge commented:

@russurwin @angievanhegan When can we complete end to end testing on the job and advert submission and paymentparts?

cc@amybrew

[2019-01-31 19:00] mrm-git commented on #459
➤ Geraint Collingridge commented:

@angievanhegan can we have the correct Matty on this board please?

[2019-01-31 19:13] mrm-git commented on #454
➤ Geraint Collingridge commented:

@russurwin @angievanhegan When can we complete end to end testing on the job and advert submission and payment parts?

cc@amybrew

I can complete the form but no payment is taken - just creates a submission

[2019-02-01 11:59] mrm-git commented on #458
➤ Russ Urwin commented:

@angievanhegan @amybrew the gold styling is now done which you can see here:
https://www.bgs.org.uk/about/external-vacancies and you can now complete end to end testing

[2019-02-01 12:59] mrm-git commented on #458
➤ Geraint Collingridge commented:

@amybrew @russurwin  still not seeing the payment form. Not getting confirmation emails for listing or payment

[2019-02-01 13:03] mrm-git commented on #458
➤ Amy commented:

@geraintcollingridge1 @russurwin Works for me but I do have to be logged out of my admin account. Getting notifications for the listing, but as I haven't actually submitted a payment can't confirm that one.

[2019-02-01 13:08] mrm-git commented on #458
➤ Amy commented:

@geraintcollingridge1 For me the payment form appears once I've selected the listing type (after 'save'). payment page 1st feb.jpg ( https://trello-attachments.s3.amazonaws.com/5bf84e2773acf829281471b2/5c45f5fe1faaa26275eb9b54/80b07398cbd79a9d87c4810f32b8147a/payment_page_1st_feb.jpg )

[2019-02-01 14:19] mrm-git commented on #458
➤ Russ Urwin commented:

@geraintcollingridge1 which user account are you testing with can you give me the username or email address please?

[2019-02-01 14:24] mrm-git commented on #458
➤ Russ Urwin commented:

@geraintcollingridge1 all notifications re new content being added are going to editor@bgs.org.uk . For the contribution there was no receipting added on your advertising contribution page. I've added it here on the receipt tab, should be ok now but you may want to change the from and cc email address etc if these are not correct https://www.bgs.org.uk/civicrm/admin/contri

[2019-02-01 14:43] mrm-git commented on #458
➤ Geraint Collingridge commented:

@russurwin Andrea.geraint@gmail.com

[2019-02-06 14:38] mrm-git commented on #447
➤ Angie Vanhegan commented:

It's with BGS for a signature

[2019-02-06 14:56] #447 closed

[2019-02-06 14:56] mrm-git commented on #447
➤ Angie Vanhegan commented:

Sent by email on 6/2. Signed by new CEO

[2019-02-12 12:08] #456 closed

[2019-02-12 12:08] #458 closed

[2019-02-12 17:18] #457 closed

[2019-02-12 17:18] #449 closed

[2019-02-19 10:32] mrm-git commented on #454
➤ Amy commented:

Gold silver job listing.jpg ( https://trello-attachments.s3.amazonaws.com/5bf84e2773acf829281471b2/5c3cbc0f071f7c678a212965/6940d1179c60730fc63322606b7d3019/Gold_silver_job_listing.jpg )

Hi @russurwin @angievanhegan this issue is still showing up - could we have a look at this? Also there is still lack of differentiation between Gold and Silver jobs on the main External vacancie